Repository hortonworks/cloudbreak, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-wolf-backend, @cloudbreak/cloudbreak-duck, @cloudbreak/cloudbreak-armadillo, @tpopovics

CB-30508 Stack archiver job fails due to lazy collection issue on load balancer entity
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/LoadBalancerPersistenceService.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stack/StackServiceTest.java
Owners: none

CB-30513 restore accidentally deleted hierarchic authz logic from datalake service
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/EnvironmentService.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/EnvironmentServiceTest.java
Owners: @cloudbreak/cloudbreak-raven

CB-30484 Refactor subnet collector and consider endpoint gateways as well.
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/InstanceGroupSubnetCollector.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/multiaz/DataLakeAwareInstanceMetadataAvailabilityZoneCalculator.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/multiaz/InstanceMetadataAvailabilityZoneCalculator.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/cluster/InstanceGroupSubnetCollectorTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/multiaz/InstanceMetadataAvailabilityZoneCalculatorTest.java
Owners: none

CB-30505 Fix NPE in GcpInstanceProvider class because GCP can return null when no VM is available instead of an empty list
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/GcpInstanceProvider.java
  cloud-gcp/src/test/java/com/sequenceiq/cloudbreak/cloud/gcp/GcpInstanceProviderTest.java
Owners: none

CB-29811 Validate trust status for env and datahub operations
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/controller/DistroXV1Controller.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/service/DistroXCreateService.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/service/DistroXCreateServiceTest.java
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/environment/model/response/EnvironmentStatus.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/freeipa/stack/model/describe/TrustStatus.java
Owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-wolf-backend, @cloudbreak/cloudbreak-duck

CB-30442 upgrade bc-fips to 2.1.1
  dependencies.gradle
Owners: none

CB-25899 Freeipa node count should be in sync with upscale - Set node count to stack and env service when upscale flow fails. - Add new test case to check node count on flow failure.
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/upscale/action/AbstractUpscaleAction.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/upscale/action/FreeIpaUpscaleActions.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/freeipa/upscale/action/FreeIpaUpscaleFlowIntegrationTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-30392 validate availability zone distribution for public endpoint access gateway on AWS during env create/edit
  environment/src/main/java/com/sequenceiq/environment/environment/validation/network/aws/AwsEnvironmentNetworkValidator.java
  environment/src/test/java/com/sequenceiq/environment/environment/validation/network/NetworkTestUtils.java
  environment/src/test/java/com/sequenceiq/environment/environment/validation/network/aws/AwsEnvironmentNetworkValidatorTest.java
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-30427 Use getNotTerminatedInstanceMetaDataSet instead of getAllInstanceMetaDataList in FreeIpaStackHealthDetailsService
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/FreeIpaStackHealthDetailsService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/RepairInstancesService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/stack/FreeIpaStackHealthDetailsServiceTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-30504 NPE in StackTerminationService. We are now checking the cluster domain as well if exist.
  core-model/src/main/java/com/sequenceiq/cloudbreak/dto/StackDtoDelegate.java
  core-model/src/test/java/com/sequenceiq/cloudbreak/dto/StackDtoDelegateTest.java
Owners: none

CB-30520 - Add knox.token.renewer.group.whitelist in cdp-proxy
  orchestrator-salt/src/main/resources/salt/salt/gateway/config/cm/topology.xml.j2
Owners: none

CDPSDX-8847: Configure timeouts for backup restore.
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/dr/backup/DatabaseBackupHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/dr/restore/DatabaseRestoreHandler.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/backup/handler/DatalakeDatabaseBackupWaitHandler.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/backup/handler/DatalakeFullBackupWaitHandler.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/restore/handler/DatalakeDatabaseRestoreWaitHandler.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/restore/handler/DatalakeFullRestoreWaitHandler.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/dr/BackupRestoreTimeoutService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/dr/SdxBackupRestoreService.java
  datalake/src/test/java/com/sequenceiq/datalake/flow/dr/backup/handler/DatalakeDatabaseBackupWaitHandlerTest.java
  datalake/src/test/java/com/sequenceiq/datalake/flow/dr/restore/handler/DatalakeDatabaseRestoreWaitHandlerTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/dr/BackupRestoreTimeoutServiceTest.java
Owners: @cloudbreak/cloudbreak-raven

CDPSDX-9086: Fix Restore timeout error message.
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/restore/handler/DatalakeFullRestoreWaitHandler.java
Owners: @cloudbreak/cloudbreak-raven

CB-30249 - Remove nifi.nar.hotfix.provider.enabled from 7.3.2 templates
  core/src/main/resources/defaults/blueprints/7.3.2/cdp-flow-management-nifi-2.bp
  core/src/main/resources/defaults/blueprints/7.3.2/cdp-flow-management-small-nifi-2.bp
  template-manager-cmtemplate/src/test/resources/input/cdp-flow-management-small-nifi-2.bp
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-30285 Create an e2e Test for upgrade from Postgres 14 to 17 on runtime 7.3.2.
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CommonClusterManagerProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxUpgradeDatabaseServerTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxUpgradeDatabaseTestUtil.java
  integration-test/src/main/resources/application.yml
Owners: none

CB-29835: Upgrade tests are choosing non default and not listed images for test
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v4/imagecatalog/ImageCatalogGetImagesByNameAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/ImageCatalogTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/TestUpgradeCandidateProvider.java
Owners: none

CB-27786 Clarify the condition that determines whether to repair all nodes or only master nodes during forces OS upgrade, and improve the related log message
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/UpgradeDistroxFlowEventChainFactory.java
Owners: none

CB-30511 handling the case for repair without preserving disk when no proper AZ values on instance group level network
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/InstanceGroupSubnetCollector.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/multiaz/InstanceMetadataAvailabilityZoneCalculator.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/multiaz/DataLakeAwareInstanceMetadataAvailabilityZoneCalculatorTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/multiaz/InstanceMetadataAvailabilityZoneCalculatorTest.java
Owners: none

CB-30544 Fix failure during FreeIPA PGW change
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/repair/changeprimarygw/ChangePrimaryGatewayFlowConfig.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/repair/changeprimarygw/ChangePrimaryGatewayFlowEvent.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/poller/SaltBootstrap.java
Owners: @cloudbreak/cloudbreak-duck

CB-30515 add javadoc for authz interfaces
  authorization-common/src/main/java/com/sequenceiq/authorization/service/AuthorizationEnvironmentCrnListProvider.java
  authorization-common/src/main/java/com/sequenceiq/authorization/service/AuthorizationEnvironmentCrnProvider.java
  authorization-common/src/main/java/com/sequenceiq/authorization/service/AuthorizationResourceCrnListProvider.java
  authorization-common/src/main/java/com/sequenceiq/authorization/service/AuthorizationResourceCrnProvider.java
  authorization-common/src/main/java/com/sequenceiq/authorization/service/AuthorizationResourceNamesProvider.java
  authorization-common/src/main/java/com/sequenceiq/authorization/service/CompositeAuthResourcePropertyProvider.java
  authorization-common/src/main/java/com/sequenceiq/authorization/service/EnvironmentPropertyProvider.java
  authorization-common/src/main/java/com/sequenceiq/authorization/service/HierarchyAuthResourcePropertyProvider.java
  authorization-common/src/main/java/com/sequenceiq/authorization/service/ResourcePropertyProvider.java
Owners: @cloudbreak/cloudbreak-raven

CB-30579 - Fix Azure Single Server Validation
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/service/DistroXService.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/service/DistroXServiceTest.java
Owners: none

CB-30345 Enhance usage event info with running instance count for MEM (Metering Events Monitor)
  core/src/main/java/com/sequenceiq/cloudbreak/converter/StackDtoToMeteringEventConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/structuredevent/converter/InstanceGroupToInstanceGroupDetailsConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/structuredevent/converter/StackToStackDetailsConverter.java
  core/src/test/java/com/sequenceiq/cloudbreak/structuredevent/converter/InstanceGroupToInstanceGroupDetailsConverterTest.java
  structuredevent-model/src/main/java/com/sequenceiq/cloudbreak/structuredevent/event/InstanceGroupDetails.java
  structuredevent-service-legacy/src/test/java/com/sequenceiq/cloudbreak/structuredevent/service/telemetry/converter/StructuredEventToCDPClusterShapeConverterTest.java
Owners: none

CB-30501 Implement mock for classic cluster list/describe endpoints
  client-cm/src/main/java/com/sequenceiq/cloudbreak/cm/client/ClouderaManagerApiClientProvider.java
  common/src/main/java/com/sequenceiq/cloudbreak/auth/crn/CrnResourceDescriptor.java
  common/src/main/java/com/sequenceiq/cloudbreak/client/HttpClientConfig.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/scheduled/PrivateControlPlaneQueryJob.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/PrivateEnvironmentBaseClusterService.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/remotecluster/client/RemoteClusterServiceClientTest.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/scheduled/archiver/PrivateControlPlaneQueryJobTest.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/PrivateEnvironmentBaseClusterServiceTest.java
  mock-thunderhead/build.gradle
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/MockThunderheadApplication.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/config/GrpcServerConfig.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/controller/MockPvcControlPlaneApiController.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/entity/ClassicCluster.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/classiccluster/MockClassicClusterService.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/pem/MockPublicEndpointManagementService.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/repository/ClassicClusterRepository.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/repository/PrivateControlPlaneRepository.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/repository/PublicCertGenRepository.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/service/ClassicClusterService.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/service/LoadResourcesForAccountIdService.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/service/PrivateControlPlaneService.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/util/MockResponseLoader.java
  mock-thunderhead/src/main/resources/application.yml
  mock-thunderhead/src/main/resources/mock-responses/classiccluster/list.json
  remote-cluster-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/onpremises/OnPremisesApiGrpc.java
  remote-cluster-connector/src/generated/main/java/com/cloudera/thunderhead/service/onpremises/OnPremisesApiProto.java
  remote-cluster-connector/src/main/java/com/sequenceiq/remotecluster/client/GrpcRemoteClusterClient.java
  remote-cluster-connector/src/main/java/com/sequenceiq/remotecluster/client/RemoteClusterServiceClient.java
  remote-cluster-connector/src/main/java/com/sequenceiq/remotecluster/client/StubProvider.java
  remote-cluster-connector/src/main/proto/onpremisesapi.proto
Owners: @cloudbreak/cloudbreak-wolf-backend, @cloudbreak/cloudbreak-raven

CB-30529 Always skip rolling upgrade cluster size validation in case of a COD cluster
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/validation/service/ClusterSizeUpgradeValidator.java
  core/src/main/java/com/sequenceiq/cloudbreak/util/CodUtil.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/validation/service/ClusterSizeUpgradeValidatorTest.java
Owners: @tpopovics

CB-30374 Modify knox toopologies while downscaling. Without this we would let deleted nodes for example for solr service in the knox cdp-proxy topology file.
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/ClusterServiceRunner.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunner.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/DecommissionHandler.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/bootstrap/service/ClusterServiceRunnerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunnerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/reactor/DecommissionHandlerTest.java
  orchestrator-api/src/main/java/com/sequenceiq/cloudbreak/orchestrator/host/HostOrchestrator.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestrator.java
  orchestrator-salt/src/test/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestratorTest.java
Owners: none

CB-30544 Adjust bootstrapping to handle different salt versions
  orchestrator-api/src/main/java/com/sequenceiq/cloudbreak/orchestrator/exception/CloudbreakOrchestratorException.java
  orchestrator-api/src/main/java/com/sequenceiq/cloudbreak/orchestrator/exception/CloudbreakOrchestratorFailedException.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/poller/SaltBootstrap.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/poller/join/MinionAcceptor.java
  orchestrator-salt/src/test/java/com/sequenceiq/cloudbreak/orchestrator/salt/poller/join/MinionAcceptorTest.java
Owners: none

CB-30554 Remove the repository.cloudera.com repository from cloudbreak.
  build.gradle
  gradle.properties
Owners: none

CB-30395 Impore AWS client read timeout handling by catching socket timeout exception.
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/mapper/SdkClientExceptionMapper.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/mapper/SdkClientExceptionMapperTest.java
Owners: none

CB-30519: Create flow skeleton for Zookeeper to KRaft migration flow
  authorization-common-api/src/main/java/com/sequenceiq/authorization/resource/AuthorizationResourceAction.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/endpoint/DistroXV1Endpoint.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/AbstractMigrateZookeeperToKraftAction.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/MigrateZookeeperToKraftActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/MigrateZookeeperToKraftContext.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/MigrateZookeeperToKraftFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/MigrateZookeeperToKraftHandlerSelectors.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/MigrateZookeeperToKraftState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/MigrateZookeeperToKraftStateSelectors.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/event/MigrateZookeeperToKraftEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/event/MigrateZookeeperToKraftFailureEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/event/MigrateZookeeperToKraftTriggerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/handler/MigrateZookeeperToKraftHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/handler/MigrateZookeeperToKraftInitHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/handler/MigrateZookeeperToKraftUpscaleKraftNodesHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/handler/MigrateZookeeperToKraftValidationHandler.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/controller/DistroXV1Controller.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/MigrateZookeeperToKraftActionsTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/handler/MigrateZookeeperToKraftHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/handler/MigrateZookeeperToKraftInitHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/handler/MigrateZookeeperToKraftUpscaleKraftNodesHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/handler/MigrateZookeeperToKraftValidationHandlerTest.java
Owners: @cloudbreak/cloudbreak-raven

CB-30596 - update getLatestOperationStatusByEnvironmentAndType to accept calls when type is not necessarily specified
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/operation/OperationV1Endpoint.java
  freeipa/src/main/java/com/sequenceiq/freeipa/repository/OperationRepository.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/operation/OperationService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/operation/OperationServiceTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-30426 Cloudbreak 502 Response on uri:/as/api/v1/yarn_recommendation/cluster_crn/_clustercrn
  autoscale/src/main/java/com/sequenceiq/periscope/monitor/client/YarnMetricsClient.java
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-30579 the default Azure DB type should be Flexible server
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/request/database/DatabaseAzureRequest.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/model/database/DistroXDatabaseAzureRequest.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/converter/DistroXDatabaseRequestToStackDatabaseRequestConverterTest.java
Owners: none

CB-29706 Implement validation API on freeipa trust setup
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/freeipa/user/model/SuccessDetails.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/trust/action/AbstractTrustAction.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/trust/setup/OperationConstants.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/trust/setup/action/TrustSetupConfigureDnsAction.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/trust/setup/action/TrustSetupFailedAction.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/trust/setup/action/TrustSetupFinishedAction.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/trust/setup/action/TrustSetupPrepareIpaServerAction.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/trust/setup/event/TrustSetupFailureEvent.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/trust/setup/event/TrustSetupValidationFailed.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/trust/setup/event/TrustSetupValidationSuccess.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/trust/setup/handler/ValidationHandler.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/trust/operation/TaskResult.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/trust/operation/TaskResultConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/trust/operation/TaskResultType.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/trust/operation/TaskResults.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/trust/setup/TrustSetupValidationService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/operation/OperationService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/freeipa/trust/cancel/CancelTrustSetupFlowIntegrationTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/freeipa/trust/setup/FinishTrustSetupFlowIntegrationTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/freeipa/trust/setup/TrustSetupFlowIntegrationTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/freeipa/trust/setup/TrustSetupValidationServiceTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/operation/OperationServiceTest.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/utils/OrchestratorExceptionAnalyzer.java
  orchestrator-salt/src/test/java/com/sequenceiq/cloudbreak/orchestrator/salt/utils/OrchestratorExceptionAnalyzerTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-30472 SdxService refactor - part 1 removing stackV4Endpoint
  datalake/src/main/java/com/sequenceiq/datalake/controller/sdx/SdxController.java
  datalake/src/main/java/com/sequenceiq/datalake/controller/sdx/SdxInternalController.java
  datalake/src/main/java/com/sequenceiq/datalake/controller/sdx/SdxRecipeController.java
  datalake/src/main/java/com/sequenceiq/datalake/service/rotation/certificate/SdxDatabaseCertificateRotationService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/ProxyConfigService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/RecipeService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/StackService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/diagnostics/DiagnosticsService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/upgrade/ccm/SdxCcmUpgradeService.java
  datalake/src/test/java/com/sequenceiq/datalake/controller/sdx/SdxControllerTest.java
  datalake/src/test/java/com/sequenceiq/datalake/controller/sdx/SdxInternalControllerTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/rotation/certificate/SdxDatabaseCertificateRotationServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/ProxyConfigServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/RecipeServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/RotateRdsSslCertsSdxServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxServiceCreateSdxTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxTestUtil.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/StackServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/upgrade/ccm/SdxCcmUpgradeServiceTest.java
Owners: @cloudbreak/cloudbreak-raven

CB-30507 fix log for GCP in instance metadata zone selector logic
  core/src/main/java/com/sequenceiq/cloudbreak/service/multiaz/InstanceMetadataAvailabilityZoneCalculator.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/multiaz/InstanceMetadataAvailabilityZoneCalculatorTest.java
Owners: none

CB-30581 - Set single server reject entitlement in mock-thunderhead
  mock-thunderhead/src/main/resources/application.yml
Owners: none

CB-30594 Created CDP_PREFER_RHEL9_IMAGES entitlement which controlls whick image will be selected based on os when no image is selected.
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementService.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/model/Entitlement.java
  core/src/main/java/com/sequenceiq/cloudbreak/cloud/model/component/ImageBasedDefaultCDHEntries.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/image/ImageComparator.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/image/ImageOsService.java
  core/src/test/java/com/sequenceiq/cloudbreak/cloud/model/component/ImageBasedDefaultCDHEntriesTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/image/ImageCatalogServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/image/ImageComparatorTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/image/ImageOsServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/image/LatestDefaultImageUuidProviderTest.java
Owners: none

CB-29150 eliminite eddsa because it is vulnerable
  .github/workflows/pull-request/steps/real-ums-test-steps_real_ums_test.sh
  auth-connector/build.gradle
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/client/Ed25519HeaderSigner.java
  auth-connector/src/test/java/com/sequenceiq/cloudbreak/auth/client/Ed25519HeaderSignerTest.java
  common/src/main/java/com/sequenceiq/cloudbreak/common/base64/Base64Util.java
  integration-test/Makefile
  integration-test/scripts/fetch-ums-docker-gh-action.sh
  integration-test/src/main/java/com/sequenceiq/it/IntegrationTestApp.java
  sdx-connector/build.gradle
Owners: @cloudbreak/cloudbreak-raven

CB-30555 Salt master worker_threads count should have been set to a higher value but stuck to default
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/cost/AwsPricingCache.java
  cloud-reactor-api/src/main/java/com/sequenceiq/cloudbreak/cloud/event/platform/GetPlatformVmTypesResult.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/ClusterBootstrapper.java
Owners: none

CB-30618 Prepare remote environment service for multiple type of envs
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/controller/v1/controller/RemoteEnvironmentController.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/controller/v2/controller/RemoteEnvironmentV2Controller.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/scheduled/PrivateEnvironmentBaseClusterRegistrarJob.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/RemoteEnvironmentConnectorProvider.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/RemoteEnvironmentConnector.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/RemoteEnvironmentConnectorType.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterRemoteEnvironmentConnector.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/privatecontrolplane/PrivateControlPlaneCaller.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/privatecontrolplane/PrivateControlPlaneRemoteEnvironmentConnector.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/scheduled/PrivateEnvironmentBaseClusterRegistrarJobTest.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/RemoteEnvironmentConnectorProviderTest.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/connector/privatecontrolplane/PrivateControlPlaneRemoteEnvironmentConnectorTest.java
Owners: @cloudbreak/cloudbreak-wolf-backend

.github/CODEOWNERS:

# See https://help.github.com/en/articles/about-code-owners
# These people are automatically added as reviewers for PRs.
# At some point in the future they might be "required"

# Raven team should review authorization framework related changes
auth-internal/                                                                  @cloudbreak/cloudbreak-raven
auth-internal-api/                                                              @cloudbreak/cloudbreak-raven
authorization-common/                                                           @cloudbreak/cloudbreak-raven
authorization-common-api/                                                       @cloudbreak/cloudbreak-raven
grpc-common/                                                                    @cloudbreak/cloudbreak-raven

# Raven and Armadillo teams should review datalake and datalake-api modules
datalake/                                                                       @cloudbreak/cloudbreak-raven
datalake-api/                                                                   @cloudbreak/cloudbreak-raven
sdx-connector/                                                                  @cloudbreak/cloudbreak-raven

# Raven and Armadillo team should review datalake blueprint changes
core/src/main/resources/defaults/blueprints/*/cdp-sdx*.bp                       @cloudbreak/cloudbreak-raven

# Raven team should review quartz and sync job related PRs
common/src/java/com/sequenceiq/cloudbreak/quartz/*StatusCheckerJob.java         @cloudbreak/cloudbreak-raven

# Raven team should review how Controllers are authorized
*Controller.java                                                                @cloudbreak/cloudbreak-raven

# Wolf team should review environment and environment-api modules
environment/                                                                    @cloudbreak/cloudbreak-wolf-backend
environment-api/                                                                @cloudbreak/cloudbreak-wolf-backend
environment-common/                                                             @cloudbreak/cloudbreak-wolf-backend
environment-remote/                                                             @cloudbreak/cloudbreak-wolf-backend
environment-remote-api/                                                         @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review template modules
template-manager-blueprint/                                                     @cloudbreak/cloudbreak-wolf-backend
template-manager-cmteplate/                                                     @cloudbreak/cloudbreak-wolf-backend
template-manager-core/                                                          @cloudbreak/cloudbreak-wolf-backend
template-manager-recipe/                                                        @cloudbreak/cloudbreak-wolf-backend
template-manager-tag/                                                           @cloudbreak/cloudbreak-wolf-backend

# By default, unless overridden later,
# Wolf should review every policy change:
cloud-aws-cloudformation/src/main/resources/definitions/                        @cloudbreak/cloudbreak-wolf-backend
cloud-aws-common/src/main/resources/definitions/                                @cloudbreak/cloudbreak-wolf-backend
cloud-azure/src/main/resources/definitions/                                     @cloudbreak/cloudbreak-wolf-backend
cloud-gcp/src/main/resources/definitions/                                       @cloudbreak/cloudbreak-wolf-backend


# DB SSL related changes in core shall be assigned to Duck
core/**/ClusterDbCertRotationHandler.java                                       @cloudbreak/cloudbreak-duck
core/**/DatabaseSslService*.java                                                @cloudbreak/cloudbreak-duck
core/**/RedbeamsDbCertificateProvider*.java                                     @cloudbreak/cloudbreak-duck
core-api/**/DatabaseServerSsl*.java                                             @cloudbreak/cloudbreak-duck
core-model/**/DatabaseSslDetails*.java                                          @cloudbreak/cloudbreak-duck
core-model/**/RdsSslMode.java                                                   @cloudbreak/cloudbreak-duck

# Wolf team should review data hub blueprint changes
core/src/main/resources/defaults/blueprints/                                    @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review data hub template changes
core/src/main/resources/defaults/clustertemplates/                              @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review the network usage in IT
integration-test/scripts/check-results.sh                                       @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review template generation related changes
template-manager-blueprint/                                                     @cloudbreak/cloudbreak-wolf-backend
template-manager-cmtemplate/                                                    @cloudbreak/cloudbreak-wolf-backend
template-manager-tag/                                                           @cloudbreak/cloudbreak-wolf-backend
template-manager-recipe/                                                        @cloudbreak/cloudbreak-wolf-backend
template-manager-core/                                                          @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review autoscale changes
autoscale/                                                                      @cloudbreak/cloudbreak-wolf-backend
autoscale-api/                                                                  @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review audit related changes
audit-connector/                                                                @cloudbreak/cloudbreak-wolf-backend

# Duck team should review freeipa related changes
freeipa/                                                                        @cloudbreak/cloudbreak-duck
freeipa-api/                                                                    @cloudbreak/cloudbreak-duck
freeipa-client/                                                                 @cloudbreak/cloudbreak-duck

# DB SSL related changes in redbeams shall be assigned to Duck
redbeams/**/CertRotateInRedbeamsHandler*.java                                   @cloudbreak/cloudbreak-duck
redbeams/**/DatabaseServerSslCertificate*.java                                  @cloudbreak/cloudbreak-duck
redbeams/**/SslCertificateEntry*.java                                           @cloudbreak/cloudbreak-duck
redbeams/**/SslConfig*.java                                                     @cloudbreak/cloudbreak-duck
redbeams/**/SslContent*.java                                                    @cloudbreak/cloudbreak-duck
redbeams/src/main/resources/certs/                                              @cloudbreak/cloudbreak-duck
redbeams/src/test/resources/test_certs/                                         @cloudbreak/cloudbreak-duck
redbeams/scripts/import-aws-rds-root-certs.sh                                   @cloudbreak/cloudbreak-duck
redbeams-api/**/SslConfig*.java                                                 @cloudbreak/cloudbreak-duck
redbeams-api/**/SslMode*.java                                                   @cloudbreak/cloudbreak-duck

# Duck team should review other redbeams related changes
redbeams/                                                                       @cloudbreak/cloudbreak-duck
redbeams-api/                                                                   @cloudbreak/cloudbreak-duck

# Armadillo team should review changes to datalake related scripts
orchestrator-salt/src/main/resources/salt/salt/postgresql/disaster_recovery     @cloudbreak/cloudbreak-armadillo
orchestrator-salt/src/main/resources/salt/salt/datalake_metrics                 @cloudbreak/cloudbreak-armadillo

# DB SSL related changes in orchestrator-salt shall be assigned to Duck
orchestrator-salt/**/postgresql/root-certs.sls                                  @cloudbreak/cloudbreak-duck
orchestrator-salt/**/postgresql/scripts/conf_pgsql_ssl.sh                       @cloudbreak/cloudbreak-duck
orchestrator-salt/**/postgresql/scripts/create_embeddeddb_certificate.sh        @cloudbreak/cloudbreak-duck

core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/                   @tpopovics
core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/upgrade/ @tpopovics
