Repository hortonworks/cloudbreak, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-armadillo, @cloudbreak/cloudbreak-wolf, @lrodek, @cloudbreak/cloudbreak-bobcat, @cloudbreak/cloudbreak-duck

.github/CODEOWNERS:

# See https://help.github.com/en/articles/about-code-owners
# These people are automatically added as reviewers for PRs.
# At some point in the future they might be "required"

# Raven team should review authorization framework related changes
auth-internal/                                                                  @cloudbreak/cloudbreak-raven
auth-internal-api/                                                              @cloudbreak/cloudbreak-raven
authorization-common/                                                           @cloudbreak/cloudbreak-raven
authorization-common-api/                                                       @cloudbreak/cloudbreak-raven
grpc-common/                                                                    @cloudbreak/cloudbreak-raven

# Raven and Armadillo teams should review datalake and datalake-api modules
datalake/                                                                       @cloudbreak/cloudbreak-raven @cloudbreak/cloudbreak-armadillo
datalake-api/                                                                   @cloudbreak/cloudbreak-raven @cloudbreak/cloudbreak-armadillo
sdx-connector/                                                                  @cloudbreak/cloudbreak-raven

# Raven and Armadillo team should review datalake blueprint changes
core/src/main/resources/defaults/blueprints/*/cdp-sdx*.bp                       @cloudbreak/cloudbreak-raven @cloudbreak/cloudbreak-armadillo

# Raven team should review quartz and sync job related PRs
common/src/java/com/sequenceiq/cloudbreak/quartz/*StatusCheckerJob.java         @cloudbreak/cloudbreak-raven

# Raven team should review how Controllers are authorized
*Controller.java                                                                @cloudbreak/cloudbreak-raven

# Wolf team should review environment and environment-api modules
environment/                                                                    @cloudbreak/cloudbreak-wolf
environment-api/                                                                @cloudbreak/cloudbreak-wolf
environment-common/                                                             @cloudbreak/cloudbreak-wolf

# By default, unless overridden later,
# Wolf should review every policy change:
cloud-aws-cloudformation/src/main/resources/definitions/                        @cloudbreak/cloudbreak-wolf
cloud-aws-common/src/main/resources/definitions/                                @cloudbreak/cloudbreak-wolf
cloud-azure/src/main/resources/definitions/                                     @cloudbreak/cloudbreak-wolf

# DB SSL related changes in core shall be assigned to lrodek
core/**/ClusterDbCertRotationHandler.java                                       @lrodek
core/**/DatabaseSslService*.java                                                @lrodek
core/**/RedbeamsDbCertificateProvider*.java                                     @lrodek
core-api/**/DatabaseServerSsl*.java                                             @lrodek
core-model/**/DatabaseSslDetails*.java                                          @lrodek
core-model/**/RdsSslMode.java                                                   @lrodek

# Wolf team should review data hub blueprint changes
core/src/main/resources/defaults/blueprints/*/cdp-cod*.bp                       @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-data*.bp                      @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-dde*.bp                       @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-flink*.bp                     @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-flow*.bp                      @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-opdb*.bp                      @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-rt*.bp                        @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-streaming*.bp                 @cloudbreak/cloudbreak-wolf

# Wolf team should review data hub template changes
core/src/main/resources/defaults/clustertemplates/                              @cloudbreak/cloudbreak-wolf

# Wolf team should review the network usage in IT
integration-test/scripts/check-results.sh                                       @cloudbreak/cloudbreak-wolf

# Wolf team should review template generation related changes
template-manager-blueprint/                                                     @cloudbreak/cloudbreak-wolf
template-manager-cmtemplate/                                                    @cloudbreak/cloudbreak-wolf
template-manager-tag/                                                           @cloudbreak/cloudbreak-wolf
template-manager-recipe/                                                        @cloudbreak/cloudbreak-wolf
template-manager-core/                                                          @cloudbreak/cloudbreak-wolf

# Wolf team should review audit related changes
audit-connector/                                                                @cloudbreak/cloudbreak-wolf

# Bobcat team should review dataengineering related changes
core/src/main/resources/defaults/blueprints/*/cdp-data-engineering*.bp          @cloudbreak/cloudbreak-bobcat
core/src/main/resources/defaults/clustertemplates/*/*/dataengineering*.json     @cloudbreak/cloudbreak-bobcat

# Bobcat team should review autoscale related changes
autoscale/                                                                      @cloudbreak/cloudbreak-bobcat
autoscale-api/                                                                  @cloudbreak/cloudbreak-bobcat

# Duck team should review freeipa related changes
freeipa/                                                                        @cloudbreak/cloudbreak-duck
freeipa-api/                                                                    @cloudbreak/cloudbreak-duck
freeipa-client/                                                                 @cloudbreak/cloudbreak-duck

# DB SSL related changes in redbeams shall be assigned to lrodek
redbeams/**/CertRotateInRedbeamsHandler*.java                                   @lrodek
redbeams/**/DatabaseServerSslCertificate*.java                                  @lrodek
redbeams/**/SslCertificateEntry*.java                                           @lrodek
redbeams/**/SslConfig*.java                                                     @lrodek
redbeams/**/SslContent*.java                                                    @lrodek
redbeams/src/main/resources/certs/                                              @lrodek
redbeams/src/test/resources/test_certs/                                         @lrodek
redbeams/scripts/import-aws-rds-root-certs.sh                                   @lrodek
redbeams-api/**/SslConfig*.java                                                 @lrodek
redbeams-api/**/SslMode*.java                                                   @lrodek

# Duck team should review other redbeams related changes
redbeams/                                                                       @cloudbreak/cloudbreak-duck
redbeams-api/                                                                   @cloudbreak/cloudbreak-duck

# Armadillo team should review changes to datalake related scripts
orchestrator-salt/src/main/resources/salt/salt/postgresql/disaster_recovery     @cloudbreak/cloudbreak-armadillo
orchestrator-salt/src/main/resources/salt/salt/datalake_metrics                 @cloudbreak/cloudbreak-armadillo

# DB SSL related changes in orchestrator-salt shall be assigned to lrodek
orchestrator-salt/**/postgresql/root-certs.sls                                  @lrodek
orchestrator-salt/**/postgresql/scripts/conf_pgsql_ssl.sh                       @lrodek
orchestrator-salt/**/postgresql/scripts/create_embeddeddb_certificate.sh        @lrodek

CB-24109 wait env to be available as a first step before k8s cluster request sent to liftie
  externalized-compute/src/main/java/com/sequenceiq/externalizedcompute/flow/ExternalizedComputeClusterFlowInformation.java
  externalized-compute/src/main/java/com/sequenceiq/externalizedcompute/flow/create/ExternalizedComputeClusterCreateActions.java
  externalized-compute/src/main/java/com/sequenceiq/externalizedcompute/flow/create/ExternalizedComputeClusterCreateEnvWaitHandler.java
  externalized-compute/src/main/java/com/sequenceiq/externalizedcompute/flow/create/ExternalizedComputeClusterCreateEnvWaitRequest.java
  externalized-compute/src/main/java/com/sequenceiq/externalizedcompute/flow/create/ExternalizedComputeClusterCreateEnvWaitSuccessResponse.java
  externalized-compute/src/main/java/com/sequenceiq/externalizedcompute/flow/create/ExternalizedComputeClusterCreateEvent.java
  externalized-compute/src/main/java/com/sequenceiq/externalizedcompute/flow/create/ExternalizedComputeClusterCreateFlowConfig.java
  externalized-compute/src/main/java/com/sequenceiq/externalizedcompute/flow/create/ExternalizedComputeClusterCreateState.java
  externalized-compute/src/main/java/com/sequenceiq/externalizedcompute/service/ExternalizedComputeClusterCreateService.java
Owners: none

CB-24651 [MOW-Dev API E2E] cdp-doctor fluentd status throws error
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/action/SshJClientActions.java
Owners: none

[JENKINS-AUTOMATION] Update Base image for docker-private.infra.cloudera.com/cloudera_base/ubi8/cldr-openjdk-17-runtime-cis:1.18-2.1705573231-stig-05022024
  docker-autoscale/Dockerfile
  docker-cloudbreak/Dockerfile
  docker-datalake/Dockerfile
  docker-environment/Dockerfile
  docker-externalized-compute/Dockerfile
  docker-freeipa/Dockerfile
  docker-redbeams/Dockerfile
  integration-test/test-image/Dockerfile
  mock-infrastructure/Dockerfile
  mock-thunderhead/Dockerfile
Owners: none

CB-24692 [API E2E] Introduce await for STACK_AVAILABLE before DistroX Upgrade at testDistroXUpgradesWithEncryptedDisks
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXUpgradeTests.java
Owners: none

CB-24725 MD is not supported for ZDU
  core/src/main/resources/defaults/blueprints/7.2.16/cdp-sdx-medium-ha.bp
  core/src/main/resources/defaults/blueprints/7.2.17/cdp-sdx-medium-ha.bp
Owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-armadillo

CB-24710 Change query to native
  core/src/main/java/com/sequenceiq/cloudbreak/repository/StackRepository.java
  core/src/test/java/com/sequenceiq/cloudbreak/JpaTest.java
Owners: none

CB-24654 optimise the recipe validation part. We are doing now only one query.
  core/src/main/java/com/sequenceiq/cloudbreak/controller/StackCreatorService.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/RecipeViewRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/recipe/RecipeService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/recipe/RecipeValidatorService.java
  core/src/test/java/com/sequenceiq/cloudbreak/controller/StackCreatorServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/recipe/RecipeValidatorServiceTest.java
Owners: none

[JENKINS-AUTOMATION] Update SSL certs for the latest certs
  redbeams/src/main/resources/certs/aws/ap-northeast-1/0.yml
  redbeams/src/main/resources/certs/aws/ap-northeast-1/3.yml
  redbeams/src/main/resources/certs/aws/eu-west-3/0.yml
  redbeams/src/main/resources/certs/aws/eu-west-3/3.yml
  redbeams/src/main/resources/certs/aws/us-east-1/0.yml
  redbeams/src/main/resources/certs/aws/us-east-1/3.yml
Owners: @cloudbreak/cloudbreak-duck

CB-22393 Configure new username for all the services
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterApi.java
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterModificationService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationService.java
  common/src/main/java/com/sequenceiq/cloudbreak/event/ResourceEvent.java
  common/src/main/resources/messages/messages.properties
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunner.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/cluster/ClusterManagerUpgradeManagementService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/rds/upgrade/RdsSettingsMigrationService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/rds/upgrade/UpgradeRdsActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/rds/upgrade/UpgradeRdsEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/rds/upgrade/UpgradeRdsFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/rds/upgrade/UpgradeRdsService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/rds/upgrade/UpgradeRdsStartServicesResultToUpgradeRdsDataRestoreResultConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/rds/upgrade/UpgradeRdsState.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/upgrade/rds/UpgradeRdsMigrateServicesDBSettingsRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/upgrade/rds/UpgradeRdsMigrateServicesDBSettingsResponse.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/upgrade/rds/UpgradeRdsStartCMRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/upgrade/rds/UpgradeRdsStartCMResult.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/upgrade/rds/UpgradeRdsStartCMServicesRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/upgrade/rds/UpgradeRdsStartCMServicesResult.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/upgrade/rds/MigrateDatabaseSettingsHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/upgrade/rds/MigrateServicesDBSettingsHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/upgrade/rds/RdsConfigUpdateService.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/upgrade/rds/StartClusterManagerHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/upgrade/rds/StartServicesHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/context/provider/CMDBPasswordRotationContextProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/ClusterServicesRestartService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/cluster/ClusterManagerUpgradeManagementServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/rds/upgrade/RdsSettingsMigrationServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/rds/upgrade/UpgradeRdsActionsTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/rds/upgrade/UpgradeRdsServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/rds/upgrade/UpgradeRdsStartServicesResultToUpgradeRdsDataRestoreResultConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/upgrade/rds/MigrateServicesDBSettingsHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/upgrade/rds/RdsConfigUpdateServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/upgrade/rds/StartClusterManagerHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/upgrade/rds/StartServicesHandlerTest.java
Owners: none

CB-24581: Made AWS KMS key mandatory if secret encryption is enabled
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentCreationService.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentModificationService.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/EnvironmentValidatorService.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/validators/EncryptionKeyArnValidator.java
  environment/src/test/java/com/sequenceiq/environment/environment/service/EnvironmentCreationServiceTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/service/EnvironmentModificationServiceTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/validation/EnvironmentValidatorServiceTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/validation/validators/EncryptionKeyArnValidatorTest.java
Owners: @cloudbreak/cloudbreak-wolf

CB-24084 Implement Delete disk for attached volume on Datahub on Azure Implement Delete disk for attached volume on Datahub on Azure
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementService.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/model/Entitlement.java
  auth-connector/src/test/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementServiceTest.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzurePlatformParameters.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/AzurePlatformParametersTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/deletevolumes/handler/DeleteVolumesValidationHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/StackCommonService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/VerticalScalingValidatorService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/deletevolumes/handler/DeleteVolumesValidationHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/StackCommonServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/VerticalScalingValidatorServiceTest.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/auth/MockUserManagementService.java
Owners: none

CB-20691 Fix EDH use-case mapping for FreeIPA Upgrade
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/chain/UpgradeFlowEventChainFactory.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/chain/UpgradeFlowEventChainFactoryTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-24109 1.28 k8s + tags from env service
  externalized-compute/build.gradle
  externalized-compute/src/main/java/com/sequenceiq/externalizedcompute/service/AccountTagService.java
  externalized-compute/src/main/java/com/sequenceiq/externalizedcompute/service/ExternalizedComputeClusterCreateService.java
  externalized-compute/src/main/java/com/sequenceiq/externalizedcompute/service/ExternalizedComputeClusterService.java
Owners: none

CB-24124: Added secret encryption to secrets in freeipa EC2 user data
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/CloudConnector.java
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/CryptoConnector.java
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/encryption/EncryptRequest.java
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/encryption/EncryptionKeySource.java
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/encryption/EncryptionKeyType.java
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/encryption/UnexpectedKeyTypeException.java
  cloud-api/src/test/java/com/sequenceiq/cloudbreak/cloud/CryptoConnectorTest.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsConnector.java
  cloud-aws-common/build.gradle
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsClient.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/encryption/AwsEncryptionSdkCryptoConnector.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/encryption/AwsEncryptionSdkCryptoConnectorTest.java
  cloud-aws-native/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNativeConnector.java
  dependencies.gradle
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/credential/model/response/CredentialResponse.java
  freeipa/src/main/java/com/sequenceiq/freeipa/encryption/EncryptionUtil.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/image/userdata/UserDataBuilder.java
  freeipa/src/main/resources/encryption/secret-keys-and-names.json
  freeipa/src/main/resources/init/init.ftl
  freeipa/src/test/java/com/sequenceiq/freeipa/encryption/EncryptionUtilTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/image/userdata/UserDataBuilderTest.java
Owners: @cloudbreak/cloudbreak-wolf, @cloudbreak/cloudbreak-duck

CB-24494 Java 21 upgrade
  .github/workflows/pull-request.yaml
  README.md
  backup.circleci/config.yml
  build.gradle
  common/src/main/java/com/sequenceiq/cloudbreak/logger/LogVerifier.java
  common/src/main/java/com/sequenceiq/cloudbreak/logger/RestLoggerFilter.java
  common/src/test/java/com/sequenceiq/cloudbreak/logger/RestLoggerFilterTest.java
  common/src/test/java/com/sequenceiq/cloudbreak/util/StaticFieldManipulationTestHelper.java
  core-api/src/test/java/com/sequenceiq/cloudbreak/api/model/imagecatalog/ImageCatalogV4BaseTest.java
  core-api/src/test/java/com/sequenceiq/cloudbreak/validation/HttpContentSizeValidatorTest.java
  dependencies.gradle
  docker-autoscale/Dockerfile
  docker-autoscale/bootstrap/nss.cfg
  docker-cloudbreak/Dockerfile
  docker-cloudbreak/bootstrap/nss.cfg
  docker-datalake/Dockerfile
  docker-datalake/bootstrap/nss.cfg
  docker-environment/Dockerfile
  docker-environment/bootstrap/nss.cfg
  docker-externalized-compute/Dockerfile
  docker-externalized-compute/bootstrap/nss.cfg
  docker-freeipa/Dockerfile
  docker-freeipa/bootstrap/nss.cfg
  docker-redbeams/Dockerfile
  docker-redbeams/bootstrap/nss.cfg
  gradle/wrapper/gradle-wrapper.properties
  integration-test/docker-compose_template.yml
  integration-test/scripts/check-results.sh
  integration-test/scripts/docker-build.sh
  integration-test/test-image/Dockerfile
  mock-infrastructure/Dockerfile
  mock-thunderhead/Dockerfile
  scripts/update-image.sh
Owners: @cloudbreak/cloudbreak-wolf

CB-24618 - This is to modify DL disk update flow to make client call part of resize flow to avoid azure socket timeout exception
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/DiskUpdateController.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/disk/resize/DiskResizeActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/disk/resize/DiskResizeHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/disk/resize/request/DiskResizeHandlerRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/disk/resize/request/DiskResizeRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/datalake/DiskUpdateService.java
  core/src/test/java/com/sequenceiq/cloudbreak/controller/v4/DiskUpdateControllerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/disk/resize/DiskResizeHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/datalake/DiskUpdateServiceTest.java
Owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-armadillo

CB-22682 - Add handler for adding and attaching additional EBS disks to a DH instance
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/ResourceVolumeConnector.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/component/AwsLaunchTest.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/component/AwsRepairTest.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsClient.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/connector/resource/AwsResourceVolumeConnector.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/volume/AwsAttachmentResourceBuilder.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/volume/AwsVolumeResourceBuilder.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/service/AwsAdditionalDiskAttachmentService.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/service/AwsAdditionalDiskCreator.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/service/AwsCommonDiskUpdateService.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/service/AwsCommonDiskUtilService.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/service/CreateVolumesRequest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/connector/resource/AwsResourceVolumeConnectorTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/volume/AwsAttachmentResourceBuilderTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/volume/AwsVolumeResourceBuilderTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/service/AwsAdditionalDiskAttachmentServiceTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/service/AwsAdditionalDiskCreatorTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/service/AwsCommonDiskUpdateServiceTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/service/AwsCommonDiskUtilServiceTest.java
  cloud-aws-native/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNativeResourceVolumeConnector.java
  cloud-aws-native/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNativeResourceVolumeConnectorTest.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/util/CloudConnectResources.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/handler/AddVolumesHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/handler/AttachVolumesHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/AddVolumesService.java
  core/src/main/java/com/sequenceiq/cloudbreak/util/CloudConnectorHelper.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/handler/AddVolumesHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/handler/AttachVolumesHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/service/AddVolumesServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/util/CloudConnectorHelperTest.java
Owners: none

CB-24706 environments and structured events are occasionaly cleared up.
  common/src/main/java/com/sequenceiq/cloudbreak/util/TimeUtil.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/creation/EnvCreationActions.java
  environment/src/main/java/com/sequenceiq/environment/environment/repository/EnvironmentRepository.java
  environment/src/main/java/com/sequenceiq/environment/environment/scheduled/archiver/EnvironmentArchiverConfig.java
  environment/src/main/java/com/sequenceiq/environment/environment/scheduled/archiver/EnvironmentArchiverJob.java
  environment/src/main/java/com/sequenceiq/environment/environment/scheduled/archiver/EnvironmentArchiverJobInitializer.java
  environment/src/main/java/com/sequenceiq/environment/environment/scheduled/archiver/EnvironmentArchiverJobService.java
  environment/src/main/java/com/sequenceiq/environment/environment/scheduled/sync/AutoSyncConfig.java
  environment/src/main/java/com/sequenceiq/environment/environment/scheduled/sync/EnvironmentJobAdapter.java
  environment/src/main/java/com/sequenceiq/environment/environment/scheduled/sync/EnvironmentJobInitializer.java
  environment/src/main/java/com/sequenceiq/environment/environment/scheduled/sync/EnvironmentJobService.java
  environment/src/main/java/com/sequenceiq/environment/environment/scheduled/sync/EnvironmentStatusCheckerJob.java
  environment/src/main/java/com/sequenceiq/environment/environment/scheduled/sync/EnvironmentSyncService.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentDeletionService.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentService.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentViewService.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/cleanup/EnvironmentStructuredEventCleanupService.java
  environment/src/test/java/com/sequenceiq/environment/environment/flow/creation/EnvCreationActionsTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/scheduled/archiver/EnvironmentArchiverJobTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/scheduled/sync/EnforceStatusCheckerAnnotationTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/scheduled/sync/EnvironmentStatusCheckerJobTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/scheduled/sync/EnvironmentStatusTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/scheduled/sync/EnvironmentSyncServiceTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/service/EnvironmentDeletionServiceTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/service/cleanup/EnvironmentStructuredEventCleanupServiceTest.java
  structuredevent-service-cdp/src/main/java/com/sequenceiq/cloudbreak/structuredevent/service/db/CDPStructuredEventDBService.java
Owners: @cloudbreak/cloudbreak-wolf

CB-24724 fix the govCloud check for the telemetry publisher. When it's an govcloud we should not allow the DL's telemetry.
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerMgmtTelemetryService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerMgmtTelemetryServiceTest.java
Owners: none

CB-24722 Add extra logging for 'update_cnames.sh'
  freeipa/src/main/resources/defaults/vm-logs.json
  freeipa/src/main/resources/freeipa-salt/salt/freeipa/common-install.sls
  freeipa/src/main/resources/freeipa-salt/salt/freeipa/scripts/update_cnames.sh
Owners: @cloudbreak/cloudbreak-duck

CB-21146 Add retry to cert revocation
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/cleanup/CleanupService.java
Owners: @cloudbreak/cloudbreak-duck

CDPSDX-5106 update sdx protos.
  sdx-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/cdlcrud/CdlCrudGrpc.java
  sdx-connector/src/generated/main/java/com/cloudera/cdp/servicediscovery/ServiceDiscoveryProto.java
  sdx-connector/src/generated/main/java/com/cloudera/thunderhead/service/cdlcrud/CdlCrudProto.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/cdl/SdxCdlClient.java
  sdx-connector/src/main/proto/cdlcrud.proto
  sdx-connector/src/main/proto/servicediscovery.proto
Owners: @cloudbreak/cloudbreak-raven

CFM-3754 - CFM-2 update to use python3.11
  core/src/main/resources/defaults/blueprints/7.2.18/cdp-flow-management-nifi-2.bp
  core/src/main/resources/defaults/blueprints/7.2.18/cdp-flow-management-small-nifi-2.bp
Owners: @cloudbreak/cloudbreak-wolf

CB-24547 - Remove custom poller for Cloudera Manager and remove peek from delete volumes service and disk update service
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/Resource.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/ClouderaManagerPollingUtilService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/deletevolumes/DeleteVolumesService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/deletevolumes/handler/DeleteVolumesUnmountHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/ConfigUpdateUtilService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/datalake/DiskUpdateService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/ClouderaManagerPollingUtilServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/deletevolumes/DeleteVolumesServiceTest.java
Owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-armadillo

CB-24721 eliminate recursion from FreeIpaHealthDetailsDto
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIpaHealthDetailsDto.java
Owners: @cloudbreak/cloudbreak-duck

CB-23911 Add 1 min delay during redbeams startup on AWS
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/PlatformParameters.java
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/PlatformParametersConsts.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsPlatformParameters.java
  redbeams/src/main/java/com/sequenceiq/redbeams/flow/redbeams/start/handler/StartDatabaseServerHandler.java
  redbeams/src/test/java/com/sequenceiq/redbeams/flow/redbeams/start/handler/StartDatabaseServerHandlerTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-24666 Check for CUSTOM cluster shape SDX create request
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxService.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxServiceCreateSdxTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxServiceValidateInternalSdxRequestTest.java
Owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-armadillo

CB-24570 Add IMDSV2 support to CB
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementService.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/model/Entitlement.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/CloudFormationTemplateBuilder.java
  cloud-aws-cloudformation/src/main/resources/templates/aws-cf-stack-freeipa.ftl
  cloud-aws-cloudformation/src/main/resources/templates/aws-cf-stack.ftl
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/CloudFormationTemplateBuilderTest.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsImdsService.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/connector/resource/AwsModelService.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/ModelContext.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsImdsServiceTest.java
  cloud-aws-native/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/resource/instance/AwsNativeInstanceResourceBuilder.java
  cloud-aws-native/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/resource/instance/AwsNativeInstanceResourceBuilderTest.java
  freeipa/src/main/resources/freeipa-salt/salt/rotateccm/scripts/rotate-ccm.sh
  freeipa/src/main/resources/freeipa-salt/salt/upgradeccm/scripts/upgrade-ccm.sh
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/auth/MockUserManagementService.java
  mock-thunderhead/src/main/resources/application.yml
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/scripts/instanceid_retriever.py
  orchestrator-salt/src/main/resources/salt/salt/disks/mount/scripts/format-and-mount-common.sh
Owners: @cloudbreak/cloudbreak-duck

CB-24791 - initialize stack event properly
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/disk/resize/request/DiskResizeHandlerRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/disk/resize/request/DiskResizeRequest.java
Owners: none

CB-24737 Use dedicated scheduler (meteringSyncScheduler) and threadpool (meteringSyncQuartzTaskExecutor) for metering sync jobs
  common/src/main/java/com/sequenceiq/cloudbreak/quartz/configuration/SchedulerFactoryConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/job/metering/MeteringSyncSchedulerFactoryConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/job/metering/MeteringSyncTransactionalScheduler.java
  core/src/main/java/com/sequenceiq/cloudbreak/job/metering/sync/MeteringSyncJobService.java
  core/src/test/java/com/sequenceiq/cloudbreak/job/metering/sync/MeteringSyncJobServiceTest.java
Owners: none

CB-24795 Remove old dependency from sdx-connnector, start using the google protobuf dependnecy, which already used by the cloudbreak. Tested locally the RDC was casted to string successfully
  dependencies.gradle
  sdx-connector/build.gradle
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/cdl/CdlSdxService.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/cdl/GrpcServiceDiscoveryClient.java
Owners: @cloudbreak/cloudbreak-raven

CB-24754 Migrate e2e tests to new Ycloud
  integration-test/src/main/resources/application.yml
Owners: none

CDPCP-9227 - Track in CB what resources were created with Terraform
  common/src/main/java/com/sequenceiq/cloudbreak/common/request/CreatorClientConstants.java
  common/src/main/java/com/sequenceiq/cloudbreak/common/request/HeaderValueProvider.java
  common/src/main/java/com/sequenceiq/cloudbreak/logger/LoggerContextKey.java
  common/src/main/java/com/sequenceiq/cloudbreak/logger/MDCBuilder.java
  common/src/main/java/com/sequenceiq/cloudbreak/logger/MdcContext.java
  common/src/test/java/com/sequenceiq/cloudbreak/common/request/HeaderValueProviderTest.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/Stack.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/view/StackView.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/decorator/StackDecorator.java
  core/src/main/java/com/sequenceiq/cloudbreak/structuredevent/converter/StackToStackDetailsConverter.java
  core/src/main/resources/schema/app/20240105152322_CDPCP-9227_-_Track_in_CB_what_resources_were_created_with_Terraform.sql
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v4/stacks/StackV4RequestToStackConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/decorator/StackDecoratorTest.java
  core/src/test/resources/com/sequenceiq/cloudbreak/converter/v4/stacks/stack.json
  datalake/src/main/java/com/sequenceiq/datalake/entity/SdxCluster.java
  datalake/src/main/java/com/sequenceiq/datalake/events/DatalakeStructuredFlowEventFactory.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxService.java
  datalake/src/main/resources/schema/app/20240201150156_CDPCP-9227_-_Track_in_CB_what_resources_were_created_with_Terraform.sql
  datalake/src/test/java/com/sequenceiq/datalake/events/DatalakeStructuredFlowEventFactoryTest.java
  environment/src/main/java/com/sequenceiq/environment/environment/domain/Environment.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/EnvironmentCreationDto.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/EnvironmentDto.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/EnvironmentDtoBase.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/EnvironmentDtoConverter.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/converter/EnvironmentApiConverter.java
  environment/src/main/resources/schema/app/20231220145500_CDPCP-9227_-_Track_in_CB_what_resources_were_created_with_Terraform.sql
  structuredevent-model/src/main/java/com/sequenceiq/cloudbreak/structuredevent/event/StackDetails.java
  structuredevent-model/src/main/java/com/sequenceiq/cloudbreak/structuredevent/event/cdp/CDPOperationDetails.java
  structuredevent-model/src/main/java/com/sequenceiq/cloudbreak/structuredevent/event/cdp/environment/EnvironmentDetails.java
  structuredevent-service-cdp/src/main/java/com/sequenceiq/cloudbreak/structuredevent/service/telemetry/converter/EnvironmentDetailsToCDPEnvironmentDetailsConverter.java
  structuredevent-service-cdp/src/test/java/com/sequenceiq/cloudbreak/structuredevent/service/telemetry/converter/EnvironmentDetailsToCDPEnvironmentDetailsConverterTest.java
  usage-collection/src/main/proto/usage.proto
Owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-armadillo, @cloudbreak/cloudbreak-wolf

CB-24802 FMS get rid of unnecessary SecurityGroup/SecurityRule fetching
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/cloud/StackToCloudStackConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/entity/SecurityRule.java
  freeipa/src/main/java/com/sequenceiq/freeipa/repository/InstanceGroupRepository.java
  freeipa/src/main/java/com/sequenceiq/freeipa/repository/SecurityRuleRepository.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/SecurityRuleService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/converter/cloud/StackToCloudStackConverterTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-24726 adding cmek to environment service. Adding the new api field to env request and response. Also applying the changes on redbeams side.
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/PlatformParametersConsts.java
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/encryption/DiskEncryptionSetCreationRequest.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzureEncryptionResources.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzureFlexibleServerDatabaseTemplateModelBuilder.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/client/AzureClient.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/task/diskencryptionset/DiskEncryptionSetCreationCheckerContext.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/task/diskencryptionset/DiskEncryptionSetCreationCheckerTask.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/task/diskencryptionset/DiskEncryptionSetCreationPoller.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/view/AzureDatabaseServerView.java
  cloud-azure/src/main/resources/templates/arm-flexible-dbstack.ftl
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/AzureEncryptionResourcesTest.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/AzureTemplateBuilderDbTest.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/task/AzurePollTaskFactoryIntegrationTest.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/task/AzurePollTaskFactoryTest.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/task/diskencryptionset/DiskEncryptionSetCreationCheckerTaskTest.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/task/diskencryptionset/DiskEncryptionSetCreationPollerTest.java
  environment-api/src/main/java/com/sequenceiq/environment/api/doc/environment/EnvironmentModelDescription.java
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/environment/model/request/azure/AzureResourceEncryptionParameters.java
  environment/src/main/java/com/sequenceiq/environment/environment/encryption/EnvironmentEncryptionService.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentCreationService.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentModificationService.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/converter/EnvironmentApiConverter.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/converter/EnvironmentResponseConverter.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/EnvironmentValidatorService.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/cloudstorage/EnvironmentStorageConfigurationValidator.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/validators/EncryptionRoleValidator.java
  environment/src/main/java/com/sequenceiq/environment/parameters/dao/domain/AzureParameters.java
  environment/src/main/java/com/sequenceiq/environment/parameters/v1/converter/AzureEnvironmentParametersConverter.java
  environment/src/main/resources/schema/app/20240116103534_CB-24726_Add_CMEK_with_user_managed_identity_option_to_environment_service.sql
  environment/src/test/java/com/sequenceiq/environment/environment/service/EnvironmentCreationServiceTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/validation/EnvironmentValidatorServiceTest.java
  redbeams/src/main/java/com/sequenceiq/redbeams/converter/spi/DBStackToDatabaseStackConverter.java
  redbeams/src/test/java/com/sequenceiq/redbeams/converter/spi/DBStackToDatabaseStackConverterTest.java
  structuredevent-model/src/main/java/com/sequenceiq/environment/parameter/dto/AzureResourceEncryptionParametersDto.java
Owners: @cloudbreak/cloudbreak-wolf, @cloudbreak/cloudbreak-duck

CB-23824 Implement deletion step for FreeIPA rebuild
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsUpscaleService.java
  cloud-reactor-api/src/main/java/com/sequenceiq/cloudbreak/cloud/event/resource/DownscaleStackCollectResourcesRequest.java
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/environment/model/response/EnvironmentStatus.java
  environment/src/main/java/com/sequenceiq/environment/environment/EnvironmentStatus.java
  environment/src/main/java/com/sequenceiq/environment/environment/scheduled/sync/EnvironmentSyncService.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/freeipa/stack/model/common/DetailedStackStatus.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/freeipa/stack/model/common/Status.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v2/freeipa/FreeIpaV2Endpoint.java
  freeipa/src/main/java/com/sequenceiq/freeipa/controller/FreeIpaV2Controller.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/rebuild/action/AbstractRebuildAction.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/rebuild/action/RebuildCollectResourcesAction.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/rebuild/action/RebuildFailedAction.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/rebuild/action/RebuildRemoveInstancesAction.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/rebuild/action/RebuildStartAction.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/rebuild/action/RebuildUpdateMetadataForDeletionAction.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/rebuild/converter/UpscaleStackResultToRebuildFailureEvent.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/rebuild/RebuildService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/controller/FreeIpaV2ControllerTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/freeipa/rebuild/RebuildFlowIntegrationTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/freeipa/rebuild/action/AbstractRebuildActionTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/freeipa/rebuild/action/RebuildCollectResourcesActionTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/freeipa/rebuild/action/RebuildRemoveInstancesActionTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/freeipa/rebuild/action/RebuildStartActionTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/freeipa/rebuild/action/RebuildUpdateMetadataForDeletionActionTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/freeipa/rebuild/converter/UpscaleStackResultToRebuildFailureEventTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/rebuild/RebuildServiceTest.java
Owners: @cloudbreak/cloudbreak-wolf, @cloudbreak/cloudbreak-duck

CB-24085 - Adding e2e for datalake disk update
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxDiskUpdateAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/SdxTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxUpdateDiskTypeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxVolumesVerticalScaleTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/AzureCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/azurevm/action/AzureClientActions.java
  integration-test/src/main/resources/testsuites/e2e/aws-longrunning-e2e-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/azure-longrunning-e2e-tests.yaml
Owners: none

CB-24559 - misleading message upon health check during CCM upgrade
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/ccm/upgrade/UpgradeCcmService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/ccm/upgrade/UpgradeCcmServiceTest.java
Owners: none

[JENKINS-AUTOMATION] Update Base image for docker-private.infra.cloudera.com/cloudera_base/ubi8/cldr-openjdk-21-runtime-cis:1.18-2.1705519635-stig-11022024
  docker-autoscale/Dockerfile
  docker-cloudbreak/Dockerfile
  docker-datalake/Dockerfile
  docker-environment/Dockerfile
  docker-externalized-compute/Dockerfile
  docker-freeipa/Dockerfile
  docker-redbeams/Dockerfile
  integration-test/test-image/Dockerfile
  mock-infrastructure/Dockerfile
  mock-thunderhead/Dockerfile
Owners: none

CB-22848 - CB should validate Azure network name at environment creation
  environment/src/main/java/com/sequenceiq/environment/environment/validation/network/azure/AzureEnvironmentNetworkValidator.java
  environment/src/main/java/com/sequenceiq/environment/network/CloudNetworkService.java
  environment/src/test/java/com/sequenceiq/environment/environment/validation/network/azure/AzureEnvironmentNetworkValidatorTest.java
  environment/src/test/java/com/sequenceiq/environment/network/CloudNetworkServiceTest.java
Owners: @cloudbreak/cloudbreak-wolf
