Repository hortonworks/cloudbreak, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-armadillo, @cloudbreak/cloudbreak-wolf, @lrodek, @cloudbreak/cloudbreak-bobcat, @cloudbreak/cloudbreak-duck

CB-24598 use the PlatformAwareSdxConnector to gather dl information for the DH validation. Reason: The old DH validation used only the PaaS Dl which disable the DH integration with CDL
  core/src/main/java/com/sequenceiq/cloudbreak/controller/validation/environment/ClusterCreationEnvironmentValidator.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/validate/cloud/handler/ValidateCloudConfigHandler.java
  core/src/test/java/com/sequenceiq/cloudbreak/controller/validation/environment/ClusterCreationEnvironmentValidatorTest.java
Owners: @cloudbreak/cloudbreak-wolf

CB-24568 azure dl deployment is failed with java.lang.Boolean.booleanValue() error
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/validator/AzureHostEncryptionValidator.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/validator/AzureHostEncryptionValidatorTest.java
Owners: none

[JENKINS-AUTOMATION] Update Base image for docker-private.infra.cloudera.com/cloudera_base/ubi8/cldr-openjdk-17-runtime-cis:1.18-2.1705573231-stig-23012024
  docker-autoscale/Dockerfile
  docker-cloudbreak/Dockerfile
  docker-datalake/Dockerfile
  docker-environment/Dockerfile
  docker-freeipa/Dockerfile
  docker-redbeams/Dockerfile
  integration-test/test-image/Dockerfile
  mock-infrastructure/Dockerfile
  mock-thunderhead/Dockerfile
Owners: none

CB-24510 Remove relationship between Stack and Component Entity Remove relationship between Stack and Component Entity
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/Component.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/Stack.java
  core-model/src/test/java/com/sequenceiq/cloudbreak/domain/StackTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/ComponentRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/ComponentConfigProviderService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/StackService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/StackTemplateService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/template/ClusterTemplateService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/ClusterComponentUpdater.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/StackComponentUpdater.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/image/ClusterUpgradeTargetImageServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stack/StackServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/template/ClusterTemplateServiceCreationTest.java
Owners: none

CB-24109 start_externalizedcompute_app.sh jar fix
  docker-externalized-compute/bootstrap/start_externalizedcompute_app.sh
Owners: none

CB-24535 CMCA rotation should be in autotls rotation flow
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/base/CertificateRotationType.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/rotation/CloudbreakSecretType.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/certrotate/ClusterCertificatesRotationActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/certrotate/ClusterCertificatesRotationService.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/certrotate/ClusterCMCARotationRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/certrotate/ClusterCMCARotationHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/CMCAValidationService.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/CloudbreakSecretRotationFlowEventProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/context/provider/AbstractCMIntermediateCacertRotationContextProvider.java
  core/src/test/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/certrotate/ClusterCMCARotationHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/rotation/CMCAValidationServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/rotation/context/provider/AbstractCMIntermediateCacertRotationContextProviderTest.java
  datalake/src/main/java/com/sequenceiq/datalake/service/rotation/DatalakeSecretRotationFlowEventProvider.java
  orchestrator-salt/src/main/resources/salt/salt/cloudera/manager/rotate/cmca-renewal-cleanup.sls
  orchestrator-salt/src/main/resources/salt/salt/cloudera/manager/scripts/cmca_renewal.sh
  orchestrator-salt/src/main/resources/salt/salt/cloudera/manager/scripts/cmca_renewal_cleanup.sh
Owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-armadillo

CB-24622 Reduce logs on EntitlementService
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementService.java
Owners: none

CB-24623 Reduce logs on ResourceAuthorizationService
  authorization-common/src/main/java/com/sequenceiq/authorization/service/ResourceAuthorizationService.java
Owners: @cloudbreak/cloudbreak-raven

CB-24612 Reduce logs on RestLoggerFilter
  common/src/main/java/com/sequenceiq/cloudbreak/logger/RestLoggerFilter.java
  common/src/test/java/com/sequenceiq/cloudbreak/logger/RestLoggerFilterTest.java
Owners: none

CB-24624 Reduce logs on PermissionCheckService
  authorization-common/src/main/java/com/sequenceiq/authorization/service/PermissionCheckService.java
Owners: @cloudbreak/cloudbreak-raven

[JENKINS-AUTOMATION] Update Base image for docker-private.infra.cloudera.com/cloudera_base/ubi8/cldr-openjdk-17-runtime-cis:1.18-2.1705573231-stig-23012024
  docker-externalized-compute/Dockerfile
Owners: none

CB-24109 remove vault from externalized compute
  externalized-compute/build.gradle
  externalized-compute/src/main/resources/application.yaml
  freeipa-api/build.gradle
Owners: @cloudbreak/cloudbreak-duck

ENGESC-23485 making multiaz error much clear for endusers
  core/src/main/java/com/sequenceiq/cloudbreak/service/multiaz/ProviderBasedMultiAzSetupValidator.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/multiaz/ProviderBasedMultiAzSetupValidatorTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/multiaz/MultiAzCalculatorService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/multiaz/MultiAzCalculatorServiceTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-24638 Reduce logs on GrpcUmsClient
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/GrpcUmsClient.java
Owners: none

CB-24640 Reduce logs on ControllerLogContextAspects
  core/src/main/java/com/sequenceiq/cloudbreak/logger/ControllerLogContextAspects.java
  datalake/src/main/java/com/sequenceiq/datalake/logger/ControllerLogContextAspects.java
  environment/src/main/java/com/sequenceiq/environment/logger/ControllerLogContextAspects.java
  freeipa/src/main/java/com/sequenceiq/freeipa/logger/ControllerLogContextAspects.java
  redbeams/src/main/java/com/sequenceiq/redbeams/aspect/ControllerLogContextAspects.java
Owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-armadillo, @cloudbreak/cloudbreak-wolf, @cloudbreak/cloudbreak-duck

CB-24644 Reduce logs on InternalCrnModifier
  auth-internal/src/main/java/com/sequenceiq/cloudbreak/auth/security/internal/InternalCrnModifier.java
Owners: @cloudbreak/cloudbreak-raven

CB-24643 Reduce logs on ResourceCrnAthorizationFactory
  authorization-common/src/main/java/com/sequenceiq/authorization/service/ResourceCrnAthorizationFactory.java
Owners: @cloudbreak/cloudbreak-raven

CB-24642 Reduce logs on MDCRequestIdOnlyFilter
  common/src/main/java/com/sequenceiq/cloudbreak/logger/MDCRequestIdOnlyFilter.java
Owners: none

CB-24641 Reduce logs on CommonPermissionCheckingUtils
  authorization-common/src/main/java/com/sequenceiq/authorization/service/CommonPermissionCheckingUtils.java
Owners: @cloudbreak/cloudbreak-raven

CB-24621: Find the remote data context for CDL for DH provisioning.
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerSetupService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/cluster/ClusterBuilderService.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/upgrade/ClusterUpgradeHandler.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/cluster/ClusterBuilderServiceTest.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/cdl/CdlSdxService.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/cdl/SdxCdlClient.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/common/PlatformAwareSdxConnector.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/common/SdxService.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/paas/PaasSdxService.java
  sdx-connector/src/test/java/com/sequenceiq/cloudbreak/sdx/common/PlatformAwareSdxConnectorTest.java
Owners: @cloudbreak/cloudbreak-raven

CB-24560 freeipa to core recipe API call should be internal
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/recipes/RecipeV4Endpoint.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/RecipesV4Controller.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/recipe/FreeIpaRecipeService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/recipe/FreeIpaRecipeServiceTest.java
Owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-duck

CB-24656 userName and password should not be required in DistroXClusterV1Request
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/model/cluster/DistroXClusterV1Request.java
Owners: none

CB-24337 Flow infinite loop: Forbidden FreeIPA Marketplace VHD image access causes DL creation timeout
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/upscale/UpscaleFlowConfig.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/upscale/UpscaleFlowEvent.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/upscale/UpscaleState.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/upscale/action/FreeIpaUpscaleActions.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/upscale/event/UpscaleEvent.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/upscale/failure/ImageFallbackFailedToUpscaleFailureEventConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/provision/StackProvisionEvent.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/provision/StackProvisionFlowConfig.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/provision/StackProvisionState.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/provision/action/StackProvisionActions.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/provision/action/StackProvisionService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/provision/handler/ImageFallbackHandler.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/freeipa/upscale/action/FreeIpaUpscaleFlowIntegrationTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/stack/provision/action/StackProvisionFlowIntegrationTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/stack/provision/handler/ImageFallbackHandlerTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-24589 Check pillar files before referencing them
  orchestrator-salt/src/main/resources/salt/pillar/top.sls
Owners: none

CB-24637 Reduce logs on DefaultNetworkConnector
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/DefaultNetworkConnector.java
Owners: none

CB-24639 Reduce logs on TriggerMetricsListener
  common/src/main/java/com/sequenceiq/cloudbreak/quartz/metric/TriggerMetricsListener.java
Owners: none

CB-24627 Env API fails with "argument "content" is null" on mow-priv
  environment/src/main/java/com/sequenceiq/environment/environment/dto/credential/CredentialDetailsConverter.java
Owners: @cloudbreak/cloudbreak-wolf

[JENKINS-AUTOMATION] Update Base image for docker-private.infra.cloudera.com/cloudera_base/ubi8/cldr-openjdk-17-runtime-cis:1.18-2.1705573231-stig-27012024
  docker-autoscale/Dockerfile
  docker-cloudbreak/Dockerfile
  docker-datalake/Dockerfile
  docker-environment/Dockerfile
  docker-externalized-compute/Dockerfile
  docker-freeipa/Dockerfile
  docker-redbeams/Dockerfile
  integration-test/test-image/Dockerfile
  mock-infrastructure/Dockerfile
  mock-thunderhead/Dockerfile
Owners: none

[JENKINS-AUTOMATION] Update SSL certs for the latest certs
  redbeams/src/main/resources/certs/aws/af-south-1/0.yml
  redbeams/src/main/resources/certs/aws/af-south-1/3.yml
  redbeams/src/main/resources/certs/aws/ap-northeast-2/0.yml
  redbeams/src/main/resources/certs/aws/ap-northeast-2/3.yml
  redbeams/src/main/resources/certs/aws/ap-south-1/0.yml
  redbeams/src/main/resources/certs/aws/ap-south-1/3.yml
  redbeams/src/main/resources/certs/aws/eu-south-1/0.yml
  redbeams/src/main/resources/certs/aws/eu-south-1/3.yml
  redbeams/src/main/resources/certs/aws/eu-west-1/0.yml
  redbeams/src/main/resources/certs/aws/eu-west-1/3.yml
  redbeams/src/main/resources/certs/aws/me-south-1/0.yml
  redbeams/src/main/resources/certs/aws/me-south-1/3.yml
  redbeams/src/main/resources/certs/aws/sa-east-1/0.yml
  redbeams/src/main/resources/certs/aws/sa-east-1/3.yml
  redbeams/src/main/resources/certs/aws/us-west-1/0.yml
  redbeams/src/main/resources/certs/aws/us-west-1/3.yml
Owners: @cloudbreak/cloudbreak-duck

Revert "CB-24337 Flow infinite loop: Forbidden FreeIPA Marketplace VHD image access causes DL creation timeout"
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/upscale/UpscaleFlowConfig.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/upscale/UpscaleFlowEvent.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/upscale/UpscaleState.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/upscale/action/FreeIpaUpscaleActions.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/upscale/event/UpscaleEvent.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/upscale/failure/ImageFallbackFailedToUpscaleFailureEventConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/provision/StackProvisionEvent.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/provision/StackProvisionFlowConfig.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/provision/StackProvisionState.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/provision/action/StackProvisionActions.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/provision/action/StackProvisionService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/provision/handler/ImageFallbackHandler.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/freeipa/upscale/action/FreeIpaUpscaleFlowIntegrationTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/stack/provision/action/StackProvisionFlowIntegrationTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/stack/provision/handler/ImageFallbackHandlerTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-24650 QA AWS freeipa upgrade tests are failung during upscale with NPE
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/volume/AwsEfsResourceBuilder.java
  cloud-aws-gov/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/resource/volume/AwsGovEfsResourceBuilder.java
  cloud-aws-native/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/resource/volume/AwsNativeEfsResourceBuilder.java
Owners: none

CB-24535 autotls rotation flow should do CMCA <-> root cert validation only if CMCA rotated
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterSecurityService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerSecurityService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerSecurityServiceTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/certrotate/ClusterCertificateRotationAction.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/certrotate/ClusterCertificatesRotationActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/certrotate/ClusterCertificatesRotationService.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/certrotate/ClusterCertificateRotationContext.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/CMCAValidationService.java
  core/src/test/java/com/sequenceiq/cloudbreak/rotation/CMCAValidationServiceTest.java
Owners: none

CB-24675 - [E2E] update the FreeIPA tests to use more recent images
  integration-test/src/main/resources/application.yml
Owners: none

CB-24337 Flow infinite loop: Forbidden FreeIPA Marketplace VHD image access causes DL creation timeout
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/upscale/UpscaleFlowConfig.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/upscale/UpscaleFlowEvent.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/upscale/UpscaleState.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/upscale/action/FreeIpaUpscaleActions.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/upscale/event/UpscaleEvent.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/upscale/failure/ImageFallbackFailedToUpscaleFailureEventConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/provision/StackProvisionEvent.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/provision/StackProvisionFlowConfig.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/provision/StackProvisionState.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/provision/action/StackProvisionActions.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/provision/action/StackProvisionService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/provision/handler/ImageFallbackHandler.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/FlowIntegrationTestConfig.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/chain/UpgradeCcmFlowChainIntegrationTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/freeipa/rebuild/RebuildFlowIntegrationTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/freeipa/upscale/action/FreeIpaUpscaleFlowIntegrationTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/stack/provision/action/StackProvisionFlowIntegrationTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/stack/provision/handler/ImageFallbackHandlerTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/stack/update/UpdateUserDataFlowIntegrationTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/stack/upgrade/ccm/UpgradeCcmFlowIntegrationTest.java
Owners: @cloudbreak/cloudbreak-duck

[JENKINS-AUTOMATION] Update SSL certs for the latest certs
  redbeams/src/main/resources/certs/aws/ap-southeast-1/0.yml
  redbeams/src/main/resources/certs/aws/ap-southeast-1/3.yml
  redbeams/src/main/resources/certs/aws/ap-southeast-2/0.yml
  redbeams/src/main/resources/certs/aws/ap-southeast-2/3.yml
  redbeams/src/main/resources/certs/aws/ca-central-1/0.yml
  redbeams/src/main/resources/certs/aws/ca-central-1/3.yml
  redbeams/src/main/resources/certs/aws/eu-central-1/0.yml
  redbeams/src/main/resources/certs/aws/eu-central-1/3.yml
  redbeams/src/main/resources/certs/aws/eu-north-1/0.yml
  redbeams/src/main/resources/certs/aws/eu-north-1/3.yml
  redbeams/src/main/resources/certs/aws/eu-west-2/0.yml
  redbeams/src/main/resources/certs/aws/eu-west-2/3.yml
  redbeams/src/main/resources/certs/aws/us-east-2/0.yml
  redbeams/src/main/resources/certs/aws/us-east-2/3.yml
  redbeams/src/main/resources/certs/aws/us-west-2/0.yml
  redbeams/src/main/resources/certs/aws/us-west-2/3.yml
Owners: @cloudbreak/cloudbreak-duck

CB-24668 update openapi-diff image
  integration-test/scripts/openapi-check.sh
Owners: none

CB-24470 change the ZDU rejection message to align with the UI
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/image/BlueprintUpgradeOptionCondition.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/image/BlueprintUpgradeOptionConditionTest.java
Owners: none

CB-24078 Enhance cloud-azure to support Delete volume Enhance cloud-azure to support Delete volume
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/resource/AzureResourceVolumeConnector.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/resource/AzureVolumeResourceBuilder.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/resource/AzureResourceVolumeConnectorTest.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/resource/AzureVolumeResourceBuilderTest.java
Owners: none

CB-24688 Fix CM version comparison for graceful stop service feature detection when version is patch version
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/service/upgrade/DistroXUpgradeService.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/service/upgrade/DistroXUpgradeServiceTest.java
Owners: none

CB-24680 use operation initiator user CRN instead of resource's creator CRN for Flow based structured and audit events
  core/src/main/java/com/sequenceiq/cloudbreak/structuredevent/BaseLegacyStructuredFlowEventFactory.java
  core/src/test/java/com/sequenceiq/cloudbreak/structuredevent/BaseLegacyStructuredFlowEventFactoryTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/structuredevent/StructuredFlowEventFactoryTest.java
  environment/src/main/java/com/sequenceiq/environment/events/EnvironmentStructuredFlowEventFactory.java
  environment/src/test/java/com/sequenceiq/environment/events/EnvironmentStructuredFlowEventFactoryTest.java
Owners: @cloudbreak/cloudbreak-wolf

.github/CODEOWNERS:

# See https://help.github.com/en/articles/about-code-owners
# These people are automatically added as reviewers for PRs.
# At some point in the future they might be "required"

# Raven team should review authorization framework related changes
auth-internal/                                                                  @cloudbreak/cloudbreak-raven
auth-internal-api/                                                              @cloudbreak/cloudbreak-raven
authorization-common/                                                           @cloudbreak/cloudbreak-raven
authorization-common-api/                                                       @cloudbreak/cloudbreak-raven
grpc-common/                                                                    @cloudbreak/cloudbreak-raven

# Raven and Armadillo teams should review datalake and datalake-api modules
datalake/                                                                       @cloudbreak/cloudbreak-raven @cloudbreak/cloudbreak-armadillo
datalake-api/                                                                   @cloudbreak/cloudbreak-raven @cloudbreak/cloudbreak-armadillo
sdx-connector/                                                                  @cloudbreak/cloudbreak-raven

# Raven and Armadillo team should review datalake blueprint changes
core/src/main/resources/defaults/blueprints/*/cdp-sdx*.bp                       @cloudbreak/cloudbreak-raven @cloudbreak/cloudbreak-armadillo

# Raven team should review quartz and sync job related PRs
common/src/java/com/sequenceiq/cloudbreak/quartz/*StatusCheckerJob.java         @cloudbreak/cloudbreak-raven

# Raven team should review how Controllers are authorized
*Controller.java                                                                @cloudbreak/cloudbreak-raven

# Wolf team should review environment and environment-api modules
environment/                                                                    @cloudbreak/cloudbreak-wolf
environment-api/                                                                @cloudbreak/cloudbreak-wolf
environment-common/                                                             @cloudbreak/cloudbreak-wolf

# By default, unless overridden later,
# Wolf should review every policy change:
cloud-aws-cloudformation/src/main/resources/definitions/                        @cloudbreak/cloudbreak-wolf
cloud-aws-common/src/main/resources/definitions/                                @cloudbreak/cloudbreak-wolf
cloud-azure/src/main/resources/definitions/                                     @cloudbreak/cloudbreak-wolf

# DB SSL related changes in core shall be assigned to lrodek
core/**/ClusterDbCertRotationHandler.java                                       @lrodek
core/**/DatabaseSslService*.java                                                @lrodek
core/**/RedbeamsDbCertificateProvider*.java                                     @lrodek
core-api/**/DatabaseServerSsl*.java                                             @lrodek
core-model/**/DatabaseSslDetails*.java                                          @lrodek
core-model/**/RdsSslMode.java                                                   @lrodek

# Wolf team should review data hub blueprint changes
core/src/main/resources/defaults/blueprints/*/cdp-cod*.bp                       @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-data*.bp                      @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-dde*.bp                       @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-flink*.bp                     @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-flow*.bp                      @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-opdb*.bp                      @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-rt*.bp                        @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-streaming*.bp                 @cloudbreak/cloudbreak-wolf

# Wolf team should review data hub template changes
core/src/main/resources/defaults/clustertemplates/                              @cloudbreak/cloudbreak-wolf

# Wolf team should review the network usage in IT
integration-test/scripts/check-results.sh                                       @cloudbreak/cloudbreak-wolf

# Wolf team should review template generation related changes
template-manager-blueprint/                                                     @cloudbreak/cloudbreak-wolf
template-manager-cmtemplate/                                                    @cloudbreak/cloudbreak-wolf
template-manager-tag/                                                           @cloudbreak/cloudbreak-wolf
template-manager-recipe/                                                        @cloudbreak/cloudbreak-wolf
template-manager-core/                                                          @cloudbreak/cloudbreak-wolf

# Wolf team should review audit related changes
audit-connector/                                                                @cloudbreak/cloudbreak-wolf

# Bobcat team should review dataengineering related changes
core/src/main/resources/defaults/blueprints/*/cdp-data-engineering*.bp          @cloudbreak/cloudbreak-bobcat
core/src/main/resources/defaults/clustertemplates/*/*/dataengineering*.json     @cloudbreak/cloudbreak-bobcat

# Bobcat team should review autoscale related changes
autoscale/                                                                      @cloudbreak/cloudbreak-bobcat
autoscale-api/                                                                  @cloudbreak/cloudbreak-bobcat

# Duck team should review freeipa related changes
freeipa/                                                                        @cloudbreak/cloudbreak-duck
freeipa-api/                                                                    @cloudbreak/cloudbreak-duck
freeipa-client/                                                                 @cloudbreak/cloudbreak-duck

# DB SSL related changes in redbeams shall be assigned to lrodek
redbeams/**/CertRotateInRedbeamsHandler*.java                                   @lrodek
redbeams/**/DatabaseServerSslCertificate*.java                                  @lrodek
redbeams/**/SslCertificateEntry*.java                                           @lrodek
redbeams/**/SslConfig*.java                                                     @lrodek
redbeams/**/SslContent*.java                                                    @lrodek
redbeams/src/main/resources/certs/                                              @lrodek
redbeams/src/test/resources/test_certs/                                         @lrodek
redbeams/scripts/import-aws-rds-root-certs.sh                                   @lrodek
redbeams-api/**/SslConfig*.java                                                 @lrodek
redbeams-api/**/SslMode*.java                                                   @lrodek

# Duck team should review other redbeams related changes
redbeams/                                                                       @cloudbreak/cloudbreak-duck
redbeams-api/                                                                   @cloudbreak/cloudbreak-duck

# Armadillo team should review changes to datalake related scripts
orchestrator-salt/src/main/resources/salt/salt/postgresql/disaster_recovery     @cloudbreak/cloudbreak-armadillo
orchestrator-salt/src/main/resources/salt/salt/datalake_metrics                 @cloudbreak/cloudbreak-armadillo

# DB SSL related changes in orchestrator-salt shall be assigned to lrodek
orchestrator-salt/**/postgresql/root-certs.sls                                  @lrodek
orchestrator-salt/**/postgresql/scripts/conf_pgsql_ssl.sh                       @lrodek
orchestrator-salt/**/postgresql/scripts/create_embeddeddb_certificate.sh        @lrodek
