Repository hortonworks/cloudbreak, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-wolf-backend, @cloudbreak/cloudbreak-duck, @cloudbreak/cloudbreak-armadillo, @tpopovics

CB-31043 renaming notification service to websocketnotification. This will help us to prepare for CB-31034
  core/src/main/java/com/sequenceiq/cloudbreak/service/events/CloudbreakEventHandler.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/ccm/upgrade/UpgradeCcmFlowIntegrationTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/rds/rotaterdscert/RotateRdsCertificateFlowIntegrationTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/stack/update/userdata/FlowIntegrationTestConfig.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxNotificationService.java
  environment/src/main/java/com/sequenceiq/environment/events/EventSenderService.java
  environment/src/test/java/com/sequenceiq/environment/encryptionprofile/v1/controller/EncryptionProfileControllerTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/flow/hybrid/cancel/EnvironmentCrossRealmTrustCancelFlowIntegrationTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/flow/hybrid/repair/EnvironmentCrossRealmTrustRepairFlowIntegrationTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/flow/hybrid/setup/EnvironmentCrossRealmTrustSetupFlowIntegrationTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/flow/hybrid/setupfinish/EnvironmentCrossRealmTrustSetupFinishFlowIntegrationTest.java
  environment/src/test/java/com/sequenceiq/environment/service/integration/CredentialExperienceTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/FlowIntegrationTestConfig.java
  notification-sender/src/main/java/com/sequenceiq/notification/NotificationController.java
  notification-sender/src/main/java/com/sequenceiq/notification/WebSocketNotificationService.java
Owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-wolf-backend, @cloudbreak/cloudbreak-duck

CB-29763 Return detached data lake when includeDetached parameter is true
  datalake/src/main/java/com/sequenceiq/datalake/controller/sdx/SdxController.java
  datalake/src/test/java/com/sequenceiq/datalake/controller/sdx/SdxControllerTest.java
Owners: @cloudbreak/cloudbreak-raven

CB-30006 Add vertical scale capability for Datahub to modify only the DB disk size - Created a DATABASE_DISK DiskType. - If DATABASE_DISK specified, modify only the DB volume.
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/request/DiskType.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/disk/resize/DiskResizeHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/verticalscale/diskupdate/handler/DistroXDiskUpdateValidationHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/VerticalScalingValidatorService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/verticalscale/diskupdate/handler/DistroXDiskUpdateValidationHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/VerticalScalingValidatorServiceTest.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/verticalscale/diskupdate/event/DatalakeDiskUpdateEvent.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/verticalscale/diskupdate/handler/DatalakeDiskUpdateValidationHandler.java
Owners: @cloudbreak/cloudbreak-raven

30778 FlowTriggerCondition skip should skip only the actual flow and not the whole flowchain
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/ClusterRepairFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/DownscaleFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/MultiHostgroupDownscaleFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/UpscaleFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/event/StackDownscaleTriggerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/downscale/StackDownscaleConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/downscale/StackDownscaleFlowTriggerCondition.java
  flow/src/main/java/com/sequenceiq/flow/core/Flow2Handler.java
  flow/src/main/java/com/sequenceiq/flow/core/chain/FlowChains.java
  flow/src/main/java/com/sequenceiq/flow/core/exception/FlowNotTriggerableException.java
  flow/src/main/java/com/sequenceiq/flow/core/helloworld/config/HelloWorldFlowConfig.java
  flow/src/test/java/com/sequenceiq/flow/core/Flow2HandlerTest.java
Owners: none

CB-31051 Rename NotificationSender to WebSocketNotificationSender
  environment/src/main/java/com/sequenceiq/environment/credential/service/CredentialNotificationService.java
  environment/src/test/java/com/sequenceiq/environment/service/integration/CredentialExperienceTest.java
  notification-sender/src/main/java/com/sequenceiq/notification/HttpWebSocketNotificationSenderService.java
  notification-sender/src/main/java/com/sequenceiq/notification/WebSocketNotificationSender.java
  notification-sender/src/main/java/com/sequenceiq/notification/WebSocketNotificationService.java
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-30968 Stronger trust secret password with special characters
  freeipa/src/main/java/com/sequenceiq/freeipa/service/crossrealm/TrustSetupService.java
Owners: @cloudbreak/cloudbreak-duck

CB-30966 Handle different DNS and KDC server IPs
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/trust/TrustSaltStateParamsConstants.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/trust/setup/ConfigureDnsServerService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/trust/setup/TrustSetupValidationService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/trust/statusvalidation/TrustStatusValidationService.java
  freeipa/src/main/resources/freeipa-salt/salt/trustsetup/add_trust.sls
  freeipa/src/main/resources/freeipa-salt/salt/trustsetup/dns.sls
  freeipa/src/main/resources/freeipa-salt/salt/trustsetup/validation/ad_dns_validation.sls
  freeipa/src/main/resources/freeipa-salt/salt/trustsetup/validation/ad_reverse_dns_validation.sls
  freeipa/src/main/resources/freeipa-salt/salt/trustsetup/validation/scripts/trust_status_validation.sh.j2
  freeipa/src/main/resources/freeipa-salt/salt/trustsetup/validation/trust_status_validation.sls
  freeipa/src/test/java/com/sequenceiq/freeipa/service/freeipa/trust/setup/TrustSetupValidationServiceTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/freeipa/trust/statusvalidation/TrustStatusValidationServiceTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-31051 rename all notification endpoint related code to prepare for notification service integration
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/sync/MixedPackageWebSocketNotificationServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/structuredevent/converter/StructuredWebSocketNotificationEventToCloudbreakEventJsonConverterTest.java
  environment/src/main/java/com/sequenceiq/environment/credential/service/CredentialNotificationService.java
  environment/src/main/java/com/sequenceiq/environment/credential/v1/AuditCredentialV1Controller.java
  environment/src/main/java/com/sequenceiq/environment/credential/v1/CredentialInternalV1Controller.java
  environment/src/main/java/com/sequenceiq/environment/credential/v1/CredentialV1Controller.java
  environment/src/main/java/com/sequenceiq/environment/encryptionprofile/v1/controller/EncryptionProfileController.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/EnvironmentInternalV1Controller.java
  environment/src/main/java/com/sequenceiq/environment/marketplace/v1/controller/AzureMarketplaceTermsController.java
  environment/src/main/java/com/sequenceiq/environment/proxy/v1/controller/ProxyController.java
  environment/src/main/java/com/sequenceiq/environment/tags/v1/controller/AccountTagController.java
  environment/src/main/java/com/sequenceiq/environment/telemetry/v1/controller/AccountTelemetryController.java
  freeipa/src/main/java/com/sequenceiq/freeipa/kerberos/v1/KerberosConfigV1Controller.java
  freeipa/src/main/java/com/sequenceiq/freeipa/ldap/v1/LdapConfigV1Controller.java
  notification-sender/src/main/java/com/sequenceiq/notification/HttpWebSocketNotificationSenderService.java
  notification-sender/src/main/java/com/sequenceiq/notification/WebSocketNotification.java
  notification-sender/src/main/java/com/sequenceiq/notification/WebSocketNotificationAssemblingService.java
  notification-sender/src/main/java/com/sequenceiq/notification/WebSocketNotificationController.java
  notification-sender/src/main/java/com/sequenceiq/notification/WebSocketNotificationSender.java
  notification-sender/src/main/java/com/sequenceiq/notification/WebSocketNotificationService.java
Owners: @cloudbreak/cloudbreak-wolf-backend, @cloudbreak/cloudbreak-duck, @cloudbreak/cloudbreak-raven

CB-30333 Implement Rolling vertical scaling flow
  common/src/main/java/com/sequenceiq/cloudbreak/event/ResourceEvent.java
  common/src/main/resources/messages/messages.properties
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/common/DetailedStackStatus.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/FlowChainTriggers.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/RollingVerticalScaleFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/verticalscale/CoreVerticalScaleService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/verticalscale/rollingvs/RollingVerticalScaleActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/verticalscale/rollingvs/RollingVerticalScaleContext.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/verticalscale/rollingvs/RollingVerticalScaleEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/verticalscale/rollingvs/RollingVerticalScaleFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/verticalscale/rollingvs/RollingVerticalScaleResult.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/verticalscale/rollingvs/RollingVerticalScaleService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/verticalscale/rollingvs/RollingVerticalScaleState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/verticalscale/rollingvs/RollingVerticalScaleStatus.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/event/RollingVerticalScaleFlowChainTriggerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/event/RollingVerticalScaleTriggerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/ReactorFlowManager.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/upscale/StackUpscaleService.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/CoreVerticalScaleHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/resource/RollingVerticalScaleInstancesRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/resource/RollingVerticalScaleInstancesResult.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/resource/RollingVerticalScaleStartInstancesRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/resource/RollingVerticalScaleStartInstancesResult.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/resource/RollingVerticalScaleStopInstancesRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/resource/RollingVerticalScaleStopInstancesResult.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/rollingvs/RollingVerticalScaleInstancesHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/rollingvs/RollingVerticalScaleStartInstancesHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/rollingvs/RollingVerticalScaleStopInstancesHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/VerticalScalingValidatorService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/chain/RollingVerticalScaleFlowEventChainFactoryTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/verticalscale/rollingvs/RollingVerticalScaleActionsTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/verticalscale/rollingvs/RollingVerticalScaleServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/service/ReactorFlowManagerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/stack/upscale/StackUpscaleServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/reactor/handler/rollingvs/RollingVerticalScaleInstancesHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/reactor/handler/rollingvs/RollingVerticalScaleStartInstancesHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/reactor/handler/rollingvs/RollingVerticalScaleStopInstancesHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/VerticalScalingValidatorServiceTest.java
Owners: none

CB-8115 Enhance embedded DB SSL finalize script to handle missing old certificate's serial number
  orchestrator-salt/src/main/resources/salt/salt/postgresql/embeddeddb-cert-rotate/scripts/finalize_embeddeddb_certificate.sh
Owners: none

CB-31073 Should use cdp_default_fips_v1 as encriptionprofilename if the value of encryptionProfileName provided is null
  freeipa/src/main/java/com/sequenceiq/freeipa/service/client/CachedEncryptionProfileClientService.java
Owners: @cloudbreak/cloudbreak-duck

CB-31062 Set arm runtime limit to 7.3.1 instead of 7.3.2
  datalake/src/main/java/com/sequenceiq/datalake/configuration/CDPConfigService.java
  datalake/src/test/java/com/sequenceiq/datalake/configuration/CDPConfigServiceTest.java
Owners: @cloudbreak/cloudbreak-raven

CB-31077: Add timezone (UTC) to `DateTimeFormatter` in `SELinuxAssertions`
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/selinux/SELinuxAssertions.java
Owners: none

CB-31068 Freeipa changes for notification service integration
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/client/FreeIpaApiEndpoint.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/client/FreeIpaApiKeyEndpoints.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/client/FreeIpaApiUserCrnEndpoint.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/client/FreeIpaClient.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/client/internal/FreeIpaApiClientConfig.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/freeipa/stack/FreeIpaInternalV1Endpoint.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/freeipa/stack/doc/FreeIpaOperationDescriptions.java
  freeipa/src/main/java/com/sequenceiq/freeipa/configuration/EndpointConfig.java
  freeipa/src/main/java/com/sequenceiq/freeipa/controller/FreeIpaInternalV1Controller.java
Owners: @cloudbreak/cloudbreak-duck

CB-30629 adding notification entitlement and notification event
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementService.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/GrpcUmsClient.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/UmsClient.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/model/Entitlement.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/model/UserWithResourceRole.java
  auth-connector/src/test/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementServiceTest.java
  auth-connector/src/test/java/com/sequenceiq/cloudbreak/auth/altus/GrpcUmsClientTest.java
  grpc-common/src/generated/main/java/com/cloudera/thunderhead/service/common/options/Options.java
  grpc-common/src/main/proto/options.proto
  usage-collection/src/main/java/com/sequenceiq/cloudbreak/usage/UsageReportProcessor.java
  usage-collection/src/main/java/com/sequenceiq/cloudbreak/usage/UsageReporter.java
  usage-collection/src/main/proto/usage.proto
Owners: @cloudbreak/cloudbreak-raven

CB-31069 Core changes for integrating notification service
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/StackV4Endpoint.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/client/internal/CloudbreakApiClientConfig.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/endpoint/DistroXInternalV1Endpoint.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/controller/DistroXInternalV1Controller.java
Owners: @cloudbreak/cloudbreak-raven

Revert "30778 FlowTriggerCondition skip should skip only the actual flow and not the whole flowchain"
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/ClusterRepairFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/DownscaleFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/MultiHostgroupDownscaleFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/UpscaleFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/event/StackDownscaleTriggerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/downscale/StackDownscaleConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/downscale/StackDownscaleFlowTriggerCondition.java
  flow/src/main/java/com/sequenceiq/flow/core/Flow2Handler.java
  flow/src/main/java/com/sequenceiq/flow/core/chain/FlowChains.java
  flow/src/main/java/com/sequenceiq/flow/core/exception/FlowNotTriggerableException.java
  flow/src/main/java/com/sequenceiq/flow/core/helloworld/config/HelloWorldFlowConfig.java
  flow/src/test/java/com/sequenceiq/flow/core/Flow2HandlerTest.java
Owners: none

Revert "CB-30778 Refactor the Flow2Handler class to pass FlowParameters as a single argument instead of multiple variables, avoiding methods with 8+ parameters"
  flow/src/main/java/com/sequenceiq/flow/core/Flow.java
  flow/src/main/java/com/sequenceiq/flow/core/Flow2Handler.java
  flow/src/main/java/com/sequenceiq/flow/core/FlowAdapter.java
  flow/src/main/java/com/sequenceiq/flow/core/FlowLogService.java
  flow/src/main/java/com/sequenceiq/flow/core/FlowParameters.java
  flow/src/main/java/com/sequenceiq/flow/core/MessageFactory.java
  flow/src/main/java/com/sequenceiq/flow/service/flowlog/FlowLogDBService.java
  flow/src/test/java/com/sequenceiq/flow/core/Flow2HandlerTest.java
  flow/src/test/java/com/sequenceiq/flow/core/config/AbstractFlowConfigurationTest.java
  flow/src/test/java/com/sequenceiq/flow/service/flowlog/FlowLogDBServiceTest.java
Owners: none

CB-31067 adding notification service proto and generated files
  notification-connector/build.gradle
  notification-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/notification/NotificationApiGrpc.java
  notification-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/notificationadmin/NotificationAdminGrpc.java
  notification-connector/src/generated/main/java/com/cloudera/thunderhead/service/common/options/Options.java
  notification-connector/src/generated/main/java/com/cloudera/thunderhead/service/notificationadmin/NotificationAdminProto.java
  notification-connector/src/main/java/com/sequenceiq/cloudbreak/notification/client/GrpcNotificationClient.java
  notification-connector/src/main/java/com/sequenceiq/cloudbreak/notification/client/NotificationServiceClient.java
  notification-connector/src/main/java/com/sequenceiq/cloudbreak/notification/client/NotificationServiceConfig.java
  notification-connector/src/main/java/com/sequenceiq/cloudbreak/notification/client/StubProvider.java
  notification-connector/src/main/java/com/sequenceiq/cloudbreak/notification/client/converter/CreateOrUpdateDistributionListResponseConverter.java
  notification-connector/src/main/java/com/sequenceiq/cloudbreak/notification/client/converter/EventChannelPreferenceDtoConverter.java
  notification-connector/src/main/java/com/sequenceiq/cloudbreak/notification/client/converter/GetPublishedEventStatusResponseConverter.java
  notification-connector/src/main/java/com/sequenceiq/cloudbreak/notification/client/converter/ListDistributionListsResponseConverter.java
  notification-connector/src/main/java/com/sequenceiq/cloudbreak/notification/client/dto/ChannelTypeDto.java
  notification-connector/src/main/java/com/sequenceiq/cloudbreak/notification/client/dto/CreateOrUpdateAccountMetadataDto.java
  notification-connector/src/main/java/com/sequenceiq/cloudbreak/notification/client/dto/CreateOrUpdateDistributionListDto.java
  notification-connector/src/main/java/com/sequenceiq/cloudbreak/notification/client/dto/CreateOrUpdateDistributionListResponseDto.java
  notification-connector/src/main/java/com/sequenceiq/cloudbreak/notification/client/dto/DeleteDistributionListRequestDto.java
  notification-connector/src/main/java/com/sequenceiq/cloudbreak/notification/client/dto/DistributionListDetailsDto.java
  notification-connector/src/main/java/com/sequenceiq/cloudbreak/notification/client/dto/DistributionListDto.java
  notification-connector/src/main/java/com/sequenceiq/cloudbreak/notification/client/dto/EventChannelPreferenceDto.java
  notification-connector/src/main/java/com/sequenceiq/cloudbreak/notification/client/dto/GetPublishedEventStatusResponseDto.java
  notification-connector/src/main/java/com/sequenceiq/cloudbreak/notification/client/dto/ListDistributionListsRequestDto.java
  notification-connector/src/main/java/com/sequenceiq/cloudbreak/notification/client/dto/ListDistributionListsResponseDto.java
  notification-connector/src/main/java/com/sequenceiq/cloudbreak/notification/client/dto/PublishEventForResourceRequestDto.java
  notification-connector/src/main/proto/notificationadmin.proto
  notification-connector/src/main/proto/options.proto
  notification-connector/src/main/resources/application.yml
  notification-connector/src/test/java/com/sequenceiq/cloudbreak/notification/client/converter/CreateOrUpdateDistributionListResponseConverterTest.java
  notification-connector/src/test/java/com/sequenceiq/cloudbreak/notification/client/converter/EventChannelPreferenceDtoConverterTest.java
  notification-connector/src/test/java/com/sequenceiq/cloudbreak/notification/client/converter/GetPublishedEventStatusResponseConverterTest.java
  notification-connector/src/test/java/com/sequenceiq/cloudbreak/notification/client/converter/ListDistributionListsResponseConverterTest.java
  settings.gradle
Owners: none

CB-31047 Add domain-realm mapping to Kerberos config
  core/src/main/java/com/sequenceiq/cloudbreak/kerberos/KerberosPillarConfigGenerator.java
  core/src/test/java/com/sequenceiq/cloudbreak/kerberos/KerberosPillarConfigGeneratorTest.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/service/ClassicClusterService.java
  orchestrator-salt/src/main/resources/salt/salt/kerberos/config/trust.conf.j2
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/common/PlatformAwareSdxConnector.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/common/service/PlatformAwareSdxDescribeService.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/pdl/service/PdlSdxDescribeService.java
  sdx-connector/src/test/java/com/sequenceiq/cloudbreak/sdx/pdl/service/PdlSdxDescribeServiceTest.java
Owners: @cloudbreak/cloudbreak-raven

Revert "CB-29293 Use the PvC Jump-agent when connecting to Data Hubs"
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/provision/service/ClusterProxyService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/provision/service/ClusterProxyServiceTest.java
Owners: none

CB-30967 Backward incompatible API change: Active directory command set to not required in TrustSetupCommandsResponse
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/freeipa/stack/model/crossrealm/commands/TrustSetupCommandsResponse.java
Owners: @cloudbreak/cloudbreak-duck

CB-31106 Fix thread pool executor configuration for consistency
  cloud-template/src/main/java/com/sequenceiq/cloudbreak/cloud/template/compute/ComputeResourceService.java
Owners: none

CB-30839 Setup telemetry correctly for hybrid trust e2e test
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/trust/HybridTrustTests.java
Owners: none

CB-31087 - [CDP][mow-prod] Cloudbreak Quartz threadpool active thread count high [freeipa][quartztaskexecutor]
  common/src/main/java/com/sequenceiq/cloudbreak/service/Retry.java
  common/src/main/java/com/sequenceiq/cloudbreak/service/RetryService.java
  common/src/main/java/com/sequenceiq/cloudbreak/service/RetryType.java
  flow/src/test/java/com/sequenceiq/cloudbreak/service/HeartbeatServiceTest.java
  orchestrator-api/src/main/java/com/sequenceiq/cloudbreak/orchestrator/host/HostOrchestrator.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestrator.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/states/SaltStateService.java
  orchestrator-salt/src/test/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestratorTest.java
Owners: none

CB-30967 Extend trust setup/cleanup commands for MIT KDC
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/freeipa/stack/doc/FreeIpaModelDescriptions.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/freeipa/stack/model/crossrealm/commands/MitTrustSetupCommands.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/freeipa/stack/model/crossrealm/commands/TrustSetupCommandsResponse.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/crossrealm/AbstractFreemarkerTemplateBuilder.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/crossrealm/BaseClusterKrb5ConfBuilder.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/crossrealm/MitDnsInstructionsBuilder.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/crossrealm/MitKdcCommandsBuilder.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/crossrealm/StackHelper.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/crossrealm/TrustCommandsGeneratorService.java
  freeipa/src/main/resources/crossrealmtrust/activedirectory_cleanup_commands.ftl
  freeipa/src/main/resources/crossrealmtrust/activedirectory_setup_commands.ftl
  freeipa/src/main/resources/crossrealmtrust/ad/activedirectory_cleanup_commands.ftl
  freeipa/src/main/resources/crossrealmtrust/ad/activedirectory_setup_commands.ftl
  freeipa/src/main/resources/crossrealmtrust/basecluster/basecluster_krb5conf.ftl
  freeipa/src/main/resources/crossrealmtrust/mit/dns_cleanup_instructions.ftl
  freeipa/src/main/resources/crossrealmtrust/mit/dns_setup_instructions.ftl
  freeipa/src/main/resources/crossrealmtrust/mit/mit_kdc_cleanup_commands.ftl
  freeipa/src/main/resources/crossrealmtrust/mit/mit_kdc_setup_commands.ftl
  freeipa/src/test/java/com/sequenceiq/freeipa/service/crossrealm/ActiveDirectoryCommandsBuilderTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/crossrealm/MitDnsInstructionsBuilderTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/crossrealm/MitKdcCommandsBuilderTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/crossrealm/StackHelperTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/crossrealm/TrustCommandsGeneratorServiceTest.java
  freeipa/src/test/resources/crossrealmtrust/ad/activedirectory_commands_cleanup.bat
  freeipa/src/test/resources/crossrealmtrust/ad/activedirectory_commands_setup.bat
  freeipa/src/test/resources/crossrealmtrust/basecluster/basecluster_krb5conf_cleanup.sh
  freeipa/src/test/resources/crossrealmtrust/basecluster/basecluster_krb5conf_setup.sh
  freeipa/src/test/resources/crossrealmtrust/mit/dns_cleanup_instructions.txt
  freeipa/src/test/resources/crossrealmtrust/mit/dns_setup_instructions.txt
  freeipa/src/test/resources/crossrealmtrust/mit/mit_kdc_cleanup_commands.sh
  freeipa/src/test/resources/crossrealmtrust/mit/mit_kdc_setup_commands.sh
Owners: @cloudbreak/cloudbreak-duck

CB-31135 removing arm instance from gcp
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/DistroxEnabledInstanceTypes.java
Owners: none

CB-30603 Fixed failing FreeIPA rebuild and DL tests
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeIpaRebuildv2Action.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaRebuildv2Tests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/hybrid/HybridCloudE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/PreconditionSdxE2ETest.java
Owners: @cloudbreak/cloudbreak-duck

CB-30075 Prefer rhel9 os when entitlement is granted.
  environment/src/main/java/com/sequenceiq/environment/environment/service/SupportedOperatingSystemService.java
  environment/src/test/java/com/sequenceiq/environment/environment/service/SupportedOperatingSystemServiceTest.java
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-31048 Extend trust setup response for MIT KDC
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/freeipa/stack/doc/FreeIpaModelDescriptions.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/freeipa/stack/model/describe/TrustResponse.java
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/stack/StackToDescribeFreeIpaResponseConverter.java
  freeipa/src/test/java/com/sequenceiq/freeipa/converter/stack/StackToDescribeFreeIpaResponseConverterTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-30924 Fix null pointer exception when telemetry was not created during provision but user wants to edit it later.
  environment/src/main/java/com/sequenceiq/environment/environment/v1/converter/TelemetryApiConverter.java
  environment/src/test/java/com/sequenceiq/environment/environment/v1/converter/TelemetryApiConverterTest.java
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-31149 Only add ecs role if there are ecs nodes
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestrator.java
Owners: none

CB-30949 Fixed error message when after a failed flow state the failure handler fails too.
  flow/src/main/java/com/sequenceiq/flow/core/AbstractAction.java
  flow/src/main/java/com/sequenceiq/flow/core/config/AbstractFlowConfiguration.java
  flow/src/test/java/com/sequenceiq/flow/core/AbstractActionTest.java
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/en/articles/about-code-owners
# These people are automatically added as reviewers for PRs.
# At some point in the future they might be "required"

# Raven team should review authorization framework related changes
auth-internal/                                                                  @cloudbreak/cloudbreak-raven
auth-internal-api/                                                              @cloudbreak/cloudbreak-raven
authorization-common/                                                           @cloudbreak/cloudbreak-raven
authorization-common-api/                                                       @cloudbreak/cloudbreak-raven
grpc-common/                                                                    @cloudbreak/cloudbreak-raven

# Raven and Armadillo teams should review datalake and datalake-api modules
datalake/                                                                       @cloudbreak/cloudbreak-raven
datalake-api/                                                                   @cloudbreak/cloudbreak-raven
sdx-connector/                                                                  @cloudbreak/cloudbreak-raven

# Raven and Armadillo team should review datalake blueprint changes
core/src/main/resources/defaults/blueprints/*/cdp-sdx*.bp                       @cloudbreak/cloudbreak-raven

# Raven team should review quartz and sync job related PRs
common/src/java/com/sequenceiq/cloudbreak/quartz/*StatusCheckerJob.java         @cloudbreak/cloudbreak-raven

# Raven team should review how Controllers are authorized
*Controller.java                                                                @cloudbreak/cloudbreak-raven

# Wolf team should review environment and environment-api modules
environment/                                                                    @cloudbreak/cloudbreak-wolf-backend
environment-api/                                                                @cloudbreak/cloudbreak-wolf-backend
environment-common/                                                             @cloudbreak/cloudbreak-wolf-backend
environment-remote/                                                             @cloudbreak/cloudbreak-wolf-backend
environment-remote-api/                                                         @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review template modules
template-manager-blueprint/                                                     @cloudbreak/cloudbreak-wolf-backend
template-manager-cmteplate/                                                     @cloudbreak/cloudbreak-wolf-backend
template-manager-core/                                                          @cloudbreak/cloudbreak-wolf-backend
template-manager-recipe/                                                        @cloudbreak/cloudbreak-wolf-backend
template-manager-tag/                                                           @cloudbreak/cloudbreak-wolf-backend

# By default, unless overridden later,
# Wolf should review every policy change:
cloud-aws-cloudformation/src/main/resources/definitions/                        @cloudbreak/cloudbreak-wolf-backend
cloud-aws-common/src/main/resources/definitions/                                @cloudbreak/cloudbreak-wolf-backend
cloud-azure/src/main/resources/definitions/                                     @cloudbreak/cloudbreak-wolf-backend
cloud-gcp/src/main/resources/definitions/                                       @cloudbreak/cloudbreak-wolf-backend


# DB SSL related changes in core shall be assigned to Duck
core/**/ClusterDbCertRotationHandler.java                                       @cloudbreak/cloudbreak-duck
core/**/DatabaseSslService*.java                                                @cloudbreak/cloudbreak-duck
core/**/RedbeamsDbCertificateProvider*.java                                     @cloudbreak/cloudbreak-duck
core-api/**/DatabaseServerSsl*.java                                             @cloudbreak/cloudbreak-duck
core-model/**/DatabaseSslDetails*.java                                          @cloudbreak/cloudbreak-duck
core-model/**/RdsSslMode.java                                                   @cloudbreak/cloudbreak-duck

# Wolf team should review data hub blueprint changes
core/src/main/resources/defaults/blueprints/                                    @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review data hub template changes
core/src/main/resources/defaults/clustertemplates/                              @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review the network usage in IT
integration-test/scripts/check-results.sh                                       @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review template generation related changes
template-manager-blueprint/                                                     @cloudbreak/cloudbreak-wolf-backend
template-manager-cmtemplate/                                                    @cloudbreak/cloudbreak-wolf-backend
template-manager-tag/                                                           @cloudbreak/cloudbreak-wolf-backend
template-manager-recipe/                                                        @cloudbreak/cloudbreak-wolf-backend
template-manager-core/                                                          @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review autoscale changes
autoscale/                                                                      @cloudbreak/cloudbreak-wolf-backend
autoscale-api/                                                                  @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review audit related changes
audit-connector/                                                                @cloudbreak/cloudbreak-wolf-backend

# Duck team should review freeipa related changes
freeipa/                                                                        @cloudbreak/cloudbreak-duck
freeipa-api/                                                                    @cloudbreak/cloudbreak-duck
freeipa-client/                                                                 @cloudbreak/cloudbreak-duck

# DB SSL related changes in redbeams shall be assigned to Duck
redbeams/**/CertRotateInRedbeamsHandler*.java                                   @cloudbreak/cloudbreak-duck
redbeams/**/DatabaseServerSslCertificate*.java                                  @cloudbreak/cloudbreak-duck
redbeams/**/SslCertificateEntry*.java                                           @cloudbreak/cloudbreak-duck
redbeams/**/SslConfig*.java                                                     @cloudbreak/cloudbreak-duck
redbeams/**/SslContent*.java                                                    @cloudbreak/cloudbreak-duck
redbeams/src/main/resources/certs/                                              @cloudbreak/cloudbreak-duck
redbeams/src/test/resources/test_certs/                                         @cloudbreak/cloudbreak-duck
redbeams/scripts/import-aws-rds-root-certs.sh                                   @cloudbreak/cloudbreak-duck
redbeams-api/**/SslConfig*.java                                                 @cloudbreak/cloudbreak-duck
redbeams-api/**/SslMode*.java                                                   @cloudbreak/cloudbreak-duck

# Duck team should review other redbeams related changes
redbeams/                                                                       @cloudbreak/cloudbreak-duck
redbeams-api/                                                                   @cloudbreak/cloudbreak-duck

# Armadillo team should review changes to datalake related scripts
orchestrator-salt/src/main/resources/salt/salt/postgresql/disaster_recovery     @cloudbreak/cloudbreak-armadillo
orchestrator-salt/src/main/resources/salt/salt/datalake_metrics                 @cloudbreak/cloudbreak-armadillo

# DB SSL related changes in orchestrator-salt shall be assigned to Duck
orchestrator-salt/**/postgresql/root-certs.sls                                  @cloudbreak/cloudbreak-duck
orchestrator-salt/**/postgresql/scripts/conf_pgsql_ssl.sh                       @cloudbreak/cloudbreak-duck
orchestrator-salt/**/postgresql/scripts/create_embeddeddb_certificate.sh        @cloudbreak/cloudbreak-duck

core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/                   @tpopovics
core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/upgrade/ @tpopovics
