Repository hortonworks/cloudbreak, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-armadillo, @cloudbreak/cloudbreak-wolf, @lrodek, @cloudbreak/cloudbreak-bobcat, @cloudbreak/cloudbreak-duck

.github/CODEOWNERS:

# See https://help.github.com/en/articles/about-code-owners
# These people are automatically added as reviewers for PRs.
# At some point in the future they might be "required"

# Raven team should review authorization framework related changes
auth-internal/                                                                  @cloudbreak/cloudbreak-raven
auth-internal-api/                                                              @cloudbreak/cloudbreak-raven
authorization-common/                                                           @cloudbreak/cloudbreak-raven
authorization-common-api/                                                       @cloudbreak/cloudbreak-raven
grpc-common/                                                                    @cloudbreak/cloudbreak-raven

# Raven and Armadillo teams should review datalake and datalake-api modules
datalake/                                                                       @cloudbreak/cloudbreak-raven @cloudbreak/cloudbreak-armadillo
datalake-api/                                                                   @cloudbreak/cloudbreak-raven @cloudbreak/cloudbreak-armadillo
sdx-connector/                                                                  @cloudbreak/cloudbreak-raven

# Raven and Armadillo team should review datalake blueprint changes
core/src/main/resources/defaults/blueprints/*/cdp-sdx*.bp                       @cloudbreak/cloudbreak-raven @cloudbreak/cloudbreak-armadillo

# Raven team should review quartz and sync job related PRs
common/src/java/com/sequenceiq/cloudbreak/quartz/*StatusCheckerJob.java         @cloudbreak/cloudbreak-raven

# Raven team should review how Controllers are authorized
*Controller.java                                                                @cloudbreak/cloudbreak-raven

# Wolf team should review environment and environment-api modules
environment/                                                                    @cloudbreak/cloudbreak-wolf
environment-api/                                                                @cloudbreak/cloudbreak-wolf
environment-common/                                                             @cloudbreak/cloudbreak-wolf

# By default, unless overridden later,
# Wolf should review every policy change:
cloud-aws-cloudformation/src/main/resources/definitions/                        @cloudbreak/cloudbreak-wolf
cloud-aws-common/src/main/resources/definitions/                                @cloudbreak/cloudbreak-wolf
cloud-azure/src/main/resources/definitions/                                     @cloudbreak/cloudbreak-wolf

# DB SSL related changes in core shall be assigned to lrodek
core/**/ClusterDbCertRotationHandler.java                                       @lrodek
core/**/DatabaseSslService*.java                                                @lrodek
core/**/RedbeamsDbCertificateProvider*.java                                     @lrodek
core-api/**/DatabaseServerSsl*.java                                             @lrodek
core-model/**/DatabaseSslDetails*.java                                          @lrodek
core-model/**/RdsSslMode.java                                                   @lrodek

# Wolf team should review data hub blueprint changes
core/src/main/resources/defaults/blueprints/*/cdp-cod*.bp                       @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-data*.bp                      @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-dde*.bp                       @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-flink*.bp                     @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-flow*.bp                      @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-opdb*.bp                      @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-rt*.bp                        @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-streaming*.bp                 @cloudbreak/cloudbreak-wolf

# Wolf team should review data hub template changes
core/src/main/resources/defaults/clustertemplates/                              @cloudbreak/cloudbreak-wolf

# Wolf team should review the network usage in IT
integration-test/scripts/check-results.sh                                       @cloudbreak/cloudbreak-wolf

# Wolf team should review template generation related changes
template-manager-blueprint/                                                     @cloudbreak/cloudbreak-wolf
template-manager-cmtemplate/                                                    @cloudbreak/cloudbreak-wolf
template-manager-tag/                                                           @cloudbreak/cloudbreak-wolf
template-manager-recipe/                                                        @cloudbreak/cloudbreak-wolf
template-manager-core/                                                          @cloudbreak/cloudbreak-wolf

# Wolf team should review audit related changes
audit-connector/                                                                @cloudbreak/cloudbreak-wolf

# Bobcat team should review dataengineering related changes
core/src/main/resources/defaults/blueprints/*/cdp-data-engineering*.bp          @cloudbreak/cloudbreak-bobcat
core/src/main/resources/defaults/clustertemplates/*/*/dataengineering*.json     @cloudbreak/cloudbreak-bobcat

# Bobcat team should review autoscale related changes
autoscale/                                                                      @cloudbreak/cloudbreak-bobcat
autoscale-api/                                                                  @cloudbreak/cloudbreak-bobcat

# Duck team should review freeipa related changes
freeipa/                                                                        @cloudbreak/cloudbreak-duck
freeipa-api/                                                                    @cloudbreak/cloudbreak-duck
freeipa-client/                                                                 @cloudbreak/cloudbreak-duck

# DB SSL related changes in redbeams shall be assigned to lrodek
redbeams/**/CertRotateInRedbeamsHandler*.java                                   @lrodek
redbeams/**/DatabaseServerSslCertificate*.java                                  @lrodek
redbeams/**/SslCertificateEntry*.java                                           @lrodek
redbeams/**/SslConfig*.java                                                     @lrodek
redbeams/**/SslContent*.java                                                    @lrodek
redbeams/src/main/resources/certs/                                              @lrodek
redbeams/src/test/resources/test_certs/                                         @lrodek
redbeams/scripts/import-aws-rds-root-certs.sh                                   @lrodek
redbeams-api/**/SslConfig*.java                                                 @lrodek
redbeams-api/**/SslMode*.java                                                   @lrodek

# Duck team should review other redbeams related changes
redbeams/                                                                       @cloudbreak/cloudbreak-duck
redbeams-api/                                                                   @cloudbreak/cloudbreak-duck

# Armadillo team should review changes to datalake related scripts
orchestrator-salt/src/main/resources/salt/salt/postgresql/disaster_recovery     @cloudbreak/cloudbreak-armadillo
orchestrator-salt/src/main/resources/salt/salt/datalake_metrics                 @cloudbreak/cloudbreak-armadillo

# DB SSL related changes in orchestrator-salt shall be assigned to lrodek
orchestrator-salt/**/postgresql/root-certs.sls                                  @lrodek
orchestrator-salt/**/postgresql/scripts/conf_pgsql_ssl.sh                       @lrodek
orchestrator-salt/**/postgresql/scripts/create_embeddeddb_certificate.sh        @lrodek

CB-24503: Azure Flexible server permission validator should validate only the Flexible server related permissions
  cloud-azure/src/main/resources/definitions/azure-flexible-minimal-role-def.json
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/validator/AzureFlexibleServerPermissionValidatorTest.java
  cloud-azure/src/test/resources/json/azure-flexible-minimal-role-def-test.json
Owners: @cloudbreak/cloudbreak-wolf

CB-23997 modify DEFAULT_ROOT_VOLUME_SIZE constant in DefaultRootVolumeSizeProvider to 200G
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/DefaultRootVolumeSizeProvider.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stack/DefaultRootVolumeSizeProviderTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/mock/MockCloudProvider.java
Owners: none

CB-24354 Determine DB root cert outdated status for redbeams DB servers
  redbeams-api/src/main/java/com/sequenceiq/redbeams/api/endpoint/v4/databaseserver/requests/SslCertStatus.java
  redbeams-api/src/main/java/com/sequenceiq/redbeams/api/endpoint/v4/databaseserver/responses/SslConfigV4Response.java
  redbeams-api/src/main/java/com/sequenceiq/redbeams/doc/ModelDescriptions.java
  redbeams/src/main/java/com/sequenceiq/redbeams/configuration/DatabaseServerSslCertificateConfig.java
  redbeams/src/main/java/com/sequenceiq/redbeams/converter/v4/databaseserver/DatabaseServerConfigToDatabaseServerV4ResponseConverter.java
  redbeams/src/test/java/com/sequenceiq/redbeams/configuration/DatabaseServerSslCertificateConfigTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/converter/v4/databaseserver/DatabaseServerConfigToDatabaseServerV4ResponseConverterTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-24200 Modify the memory and timeout properties during the cluster creation, rather than only when scaling up
  core/src/main/java/com/sequenceiq/cloudbreak/core/cluster/ClusterManagerDefaultConfigAdjuster.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/cluster/ClusterManagerUpscaleService.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/orchestration/StartAmbariServicesHandler.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/cluster/ClusterManagerDefaultConfigAdjusterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/cluster/ClusterManagerUpscaleServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/chain/UpgradeCcmFlowChainIntegrationTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/reactor/handler/orchestration/StartAmbariServicesHandlerTest.java
Owners: none

CB-22685 - Add handler for mounting additional EBS disks to a DH instance
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/handler/AddVolumesOrchestrationHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/AddVolumesService.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/ResourceRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/resource/ResourceService.java
  core/src/main/resources/defaults/vm-logs.json
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/handler/AddVolumesOrchestrationHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/service/AddVolumesServiceTest.java
  orchestrator-api/src/main/java/com/sequenceiq/cloudbreak/orchestrator/host/HostOrchestrator.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestrator.java
  orchestrator-salt/src/main/resources/salt/salt/disks/mount-disks-after-adding-volumes.sls
  orchestrator-salt/src/main/resources/salt/salt/disks/mount/scripts/format-and-mount-common.sh
  orchestrator-salt/src/main/resources/salt/salt/disks/mount/scripts/mount-disks-after-adding-volumes.j2
  orchestrator-salt/src/test/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestratorTest.java
Owners: none

CB-22680 API for add volumes flow
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/doc/DistroXOpDescription.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/endpoint/DistroXV1Endpoint.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/ClusterCommonService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/StackCommonService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/VerticalScalingValidatorService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/flow/ClusterOperationService.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/StackOperations.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/controller/DistroXV1Controller.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/StackCommonServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/cluster/ClusterCommonServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/cluster/flow/ClusterOperationServiceTest.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/StackOperationsTest.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/controller/DistroXV1ControllerTest.java
Owners: @cloudbreak/cloudbreak-raven

CB-24492 Upgrade to latest Gradle 8.5
  build.gradle
  cloud-aws-common/build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Owners: none

CB-24301: Rolling restart CM services during rolling OS upgrade
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterApi.java
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterModificationService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerRestartService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerServiceManagementService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerRestartServiceTest.java
  common/src/main/java/com/sequenceiq/cloudbreak/event/ResourceEvent.java
  common/src/main/resources/messages/messages.properties
  core/src/main/java/com/sequenceiq/cloudbreak/core/cluster/ClusterUpscaleService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/ClusterRepairFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/OSUpgradeByUpgradeSetsFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/UpgradeDistroxFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/UpscaleFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/upscale/ClusterUpscaleActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/event/ClusterScaleTriggerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/event/StackAndClusterUpscaleTriggerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/AmbariRestartAllRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/UpscaleClusterRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/orchestration/ClusterRepairTriggerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/AmbariRestartAllHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/UpscaleClusterHandler.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/service/upgrade/DistroXUpgradeService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/cluster/ClusterUpscaleServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/chain/ClusterRepairFlowEventChainFactoryTest.java
Owners: none

CB-24343: Modify the DeleteVolumesService to put back the stack into pollable state before trying to stop CM services
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerServiceManagementService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerServiceManagementServiceTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/deletevolumes/DeleteVolumesService.java
Owners: none

CDPSDX-4774 change the CDL proto file, implement CdlSdxService to make proper communication between the Cloudbreak and the CdlCrudApp
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/model/Entitlement.java
  common/src/main/java/com/sequenceiq/cloudbreak/sdx/TargetPlatform.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/saas/SdxSaasCreateAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/saas/SdxSaasDeleteAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/SdxSaasTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxSaasTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/microservice/SdxSaasItClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/microservice/TestClients.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/MockSdxSaasTests.java
  sdx-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/cdlcrud/CdlCrudGrpc.java
  sdx-connector/src/generated/main/java/com/cloudera/thunderhead/service/cdlcrud/CdlCrudProto.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/cdl/CdlSdxService.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/cdl/GrpcSdxCdlClient.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/cdl/GrpcServiceDiscoveryClient.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/cdl/SdxCdlClient.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/cdl/ServiceDiscoveryClient.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/cdl/config/SdxCdlChannelConfig.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/cdl/config/ServiceDiscoveryChannelConfig.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/common/PlatformAwareSdxConnector.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/saas/SaasSdxService.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/saas/client/GrpcSdxSaasClient.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/saas/client/SdxSaasClient.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/saas/client/config/ServiceDiscoveryChannelConfig.java
  sdx-connector/src/main/proto/cdlcrud.proto
  sdx-connector/src/main/proto/kubedatalake.proto
  sdx-connector/src/test/java/com/sequenceiq/cloudbreak/sdx/cdl/CdlSdxServiceTest.java
  sdx-connector/src/test/java/com/sequenceiq/cloudbreak/sdx/common/PlatformAwareSdxConnectorTest.java
  sdx-connector/src/test/java/com/sequenceiq/cloudbreak/sdx/saas/SaasSdxServiceTest.java
Owners: @cloudbreak/cloudbreak-raven

CB-24459 return with 400 error code instead of 404 when blueprint could not be deleted due to a referring running cluster
  core/src/main/java/com/sequenceiq/cloudbreak/service/blueprint/BlueprintService.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/blueprint/BlueprintServiceTest.java
Owners: none

CB-24343: Put the Cluter into POLLABLE state to fix the pollers in CM module.
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/deletevolumes/DeleteVolumesService.java
Owners: none

Revert "CB-24343: Modify the DeleteVolumesService to put back the stack into pollable state before trying to stop CM services"
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerServiceManagementService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerServiceManagementServiceTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/deletevolumes/DeleteVolumesService.java
Owners: none

Revert "CB-24343: Put the Cluter into POLLABLE state to fix the pollers in CM module."
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/deletevolumes/DeleteVolumesService.java
Owners: none

CB-24524 Fix URI is `UNKNOWN` in Prometheus metrics
  build.gradle
  dependencies.gradle
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/clouderamanager/ClouderaManagerStackCreationTest.java
Owners: none

[JENKINS-AUTOMATION] Update Base image for docker-private.infra.cloudera.com/cloudera_base/ubi8/cldr-openjdk-17-runtime-cis:1.18-2-stig-18012024
  docker-autoscale/Dockerfile
  docker-cloudbreak/Dockerfile
  docker-datalake/Dockerfile
  docker-environment/Dockerfile
  docker-freeipa/Dockerfile
  docker-redbeams/Dockerfile
  integration-test/test-image/Dockerfile
  mock-infrastructure/Dockerfile
  mock-thunderhead/Dockerfile
Owners: none

CB-23855 Conclusion checker is not triggered when a STACK upscale failed
  common/src/main/resources/messages/messages.properties
  core/src/main/java/com/sequenceiq/cloudbreak/conclusion/ConclusionCheckerType.java
  core/src/main/java/com/sequenceiq/cloudbreak/conclusion/ConclusionStepTreeFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/conclusion/step/CmStatusCheckerConclusionStep.java
  core/src/main/java/com/sequenceiq/cloudbreak/conclusion/step/ConclusionMessage.java
  core/src/main/java/com/sequenceiq/cloudbreak/conclusion/step/VmStatusCheckerConclusionStep.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/upscale/StackUpscaleActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/stack/StackUpscaleFailedConclusionRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/stack/StackUpscaleFailedConclusionHandler.java
  core/src/test/java/com/sequenceiq/cloudbreak/conclusion/ConclusionStepTreeFactoryTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/conclusion/step/CmStatusCheckerConclusionStepTest.java
Owners: none

CB-23708 Adding new instancetypes to aws datahub instances
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/DistroxEnabledInstanceTypes.java
  dependencies.gradle
Owners: none

CB-24343: CM service start only wait for command execution if necessary
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterModificationService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerServiceManagementService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerServiceManagementServiceTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/deletevolumes/DeleteVolumesService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/ConfigUpdateUtilService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/deletevolumes/DeleteVolumesServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/ConfigUpdateUtilServiceTest.java
Owners: none

Revert "CB-24343: CM service start only wait for command execution if necessary"
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterModificationService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerServiceManagementService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerServiceManagementServiceTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/deletevolumes/DeleteVolumesService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/ConfigUpdateUtilService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/deletevolumes/DeleteVolumesServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/ConfigUpdateUtilServiceTest.java
Owners: none

CB-17625 Fix NPEs
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/CbEventParameterFactory.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/chain/UpgradeCcmFlowChainIntegrationTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/ccm/upgrade/UpgradeCcmFlowIntegrationTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/stack/update/userdata/UpdateUserDataFlowIntegrationTest.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/SdxEventParameterFactory.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/EnvEventParameterFactory.java
  environment/src/test/java/com/sequenceiq/environment/environment/flow/EnvEventParameterFactoryTest.java
  environment/src/test/java/com/sequenceiq/environment/service/integration/CredentialExperienceTest.java
  flow/src/main/java/com/sequenceiq/flow/core/EventParameterFactory.java
  flow/src/test/java/com/sequenceiq/flow/component/ComponentTestConfig.java
  flow/src/test/java/com/sequenceiq/flow/core/EventParameterFactoryTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/FreeIpaClientFactory.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/flow/FreeIpaEventParameterFactory.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/chain/UpgradeCcmFlowChainIntegrationTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/freeipa/rebuild/RebuildFlowIntegrationTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/stack/update/UpdateUserDataFlowIntegrationTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/stack/upgrade/ccm/UpgradeCcmFlowIntegrationTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/freeipa/flow/FreeIpaEventParameterFactoryTest.java
  redbeams/src/main/java/com/sequenceiq/redbeams/flow/RedbeamsEventParameterFactory.java
  redbeams/src/test/java/com/sequenceiq/redbeams/flow/RedbeamsEventParameterFactoryTest.java
  structuredevent-service-legacy/src/main/java/com/sequenceiq/cloudbreak/structuredevent/service/telemetry/converter/StructuredEventToCDPClusterDetailsConverter.java
  structuredevent-service-legacy/src/test/java/com/sequenceiq/cloudbreak/structuredevent/service/telemetry/converter/StructuredEventToCDPClusterDetailsConverterTest.java
Owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-armadillo, @cloudbreak/cloudbreak-wolf, @cloudbreak/cloudbreak-duck

CB-24056 set fqdn for disk resource as earlier as possible
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/ClusterBootstrapper.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/flow/MountDisks.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/bootstrap/service/ClusterBootstrapperTest.java
Owners: none

CB-24508 Add CDP_EXPRESS_ONBOARDING entitlement
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementService.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/model/Entitlement.java
  auth-connector/src/test/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementServiceTest.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/auth/MockUserManagementService.java
Owners: none

CB-24142 Add secret encryption flag to env
  environment-api/src/main/java/com/sequenceiq/environment/api/doc/environment/EnvironmentModelDescription.java
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/environment/model/response/DetailedEnvironmentResponse.java
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/environment/model/response/EnvironmentBaseResponse.java
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/environment/model/response/SimpleEnvironmentResponse.java
  environment-api/src/test/java/com/sequenceiq/environment/api/v1/environment/model/response/DetailedEnvironmentResponseTest.java
  environment-api/src/test/java/com/sequenceiq/environment/api/v1/environment/model/response/SimpleEnvironmentResponseTest.java
  environment/src/main/java/com/sequenceiq/environment/environment/domain/Environment.java
  environment/src/main/java/com/sequenceiq/environment/environment/domain/EnvironmentView.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/EnvironmentDto.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/EnvironmentDtoBase.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/EnvironmentDtoConverter.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/EnvironmentViewDto.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentCreationService.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/converter/EnvironmentResponseConverter.java
  environment/src/main/resources/schema/app/20240116103533_CB-24142_Add_secret_encryption_flag_to_env.sql
  environment/src/test/java/com/sequenceiq/environment/environment/dto/EnvironmentDtoConverterTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/dto/EnvironmentDtoTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/dto/EnvironmentViewDtoTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/service/EnvironmentCreationServiceTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/v1/converter/EnvironmentResponseConverterTest.java
Owners: @cloudbreak/cloudbreak-wolf

CB-24450 Determine DB root cert expiry date for redbeams DB servers
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/database/CloudDatabaseServerSslCertificate.java
  cloud-api/src/test/java/com/sequenceiq/cloudbreak/cloud/model/database/CloudDatabaseServerSslCertificateTest.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsRdsStatusLookupService.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsPlatformResources.java
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/sql/GcpDatabaseServerCertificateService.java
  cloud-mock/src/main/java/com/sequenceiq/cloudbreak/cloud/mock/MockPlatformResources.java
  common/src/main/java/com/sequenceiq/cloudbreak/common/mappable/CloudPlatform.java
  redbeams-api/src/main/java/com/sequenceiq/redbeams/api/endpoint/v4/databaseserver/responses/SslConfigV4Response.java
  redbeams-api/src/main/java/com/sequenceiq/redbeams/doc/ModelDescriptions.java
  redbeams/src/main/java/com/sequenceiq/redbeams/configuration/DatabaseServerSslCertificateConfig.java
  redbeams/src/main/java/com/sequenceiq/redbeams/configuration/SslCertificateEntry.java
  redbeams/src/main/java/com/sequenceiq/redbeams/converter/v4/databaseserver/DatabaseServerConfigToDatabaseServerV4ResponseConverter.java
  redbeams/src/main/java/com/sequenceiq/redbeams/domain/stack/SslConfig.java
  redbeams/src/main/java/com/sequenceiq/redbeams/service/sslcertificate/DatabaseServerSslCertificateSyncService.java
  redbeams/src/main/java/com/sequenceiq/redbeams/service/sslcertificate/SslConfigService.java
  redbeams/src/main/java/com/sequenceiq/redbeams/service/stack/DBStackUpdater.java
  redbeams/src/main/resources/schema/app/20230718115033_CB-24450_Determine_DB_root_cert_expiry_date_for_redbeams_DB_servers.sql
  redbeams/src/test/java/com/sequenceiq/redbeams/configuration/SslCertificateEntryTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/converter/v4/databaseserver/DatabaseServerConfigToDatabaseServerV4ResponseConverterTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/service/sslcertificate/DatabaseServerSslCertificateSyncServiceTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/service/sslcertificate/SslConfigServiceTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/service/stack/DBStackUpdaterTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-24529 Set `udp_preference_limit = 1` in krb5.conf
  orchestrator-salt/src/main/resources/salt/salt/kerberos/config/krb5.conf-existing
Owners: none

CB-23695: Fixed defaultBlueprintText not getting saved to DB causing unnecessary Vault calls
  core/src/main/java/com/sequenceiq/cloudbreak/init/blueprint/BlueprintLoaderService.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/blueprint/BlueprintLoaderServiceTest.java
Owners: none

CB-24521 Revisit kerberosmgmt/host DELETE endpoint to avoid client timeout for ipaserver with many hosts
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/kerberosmgmt/doc/KeytabModelDescription.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/kerberosmgmt/model/HostRequest.java
  freeipa-client/src/main/java/com/sequenceiq/freeipa/client/FreeIpaClient.java
  freeipa/src/main/java/com/sequenceiq/freeipa/kerberosmgmt/v1/KeytabCleanupService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/cleanup/CleanupService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/host/HostDeletionService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/kerberosmgmt/KeytabCleanupServiceTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/freeipa/host/HostDeletionServiceTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-24343: CM service start only wait for command execution if necessary
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterModificationService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerServiceManagementService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerServiceManagementServiceTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/deletevolumes/DeleteVolumesService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/ConfigUpdateUtilService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/deletevolumes/DeleteVolumesServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/ConfigUpdateUtilServiceTest.java
Owners: none

CB-23800 updating grpcVersion to avoid CVEs
  audit-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/audit/AuditGrpc.java
  auth-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/authorization/AuthorizationGrpc.java
  auth-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/personalresourceview/PersonalResourceViewGrpc.java
  auth-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/usermanagement/UserManagementGrpc.java
  auth-distributor-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/authdistributor/AuthDistributorGrpc.java
  ccm-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/clusterconnectivitymanagementv2/ClusterConnectivityManagementV2Grpc.java
  ccm-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/minasshd/MinaSshdGrpc.java
  ccm-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/minasshdmanagement/MinaSshdManagementGrpc.java
  cluster-dns-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/publicendpointmanagement/PublicEndpointManagementGrpc.java
  databus-connector/src/generated/main/grpc/com/cloudera/sigma/service/dbus/SigmaDbusGrpc.java
  datalake-dr-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/datalakedr/datalakeDRGrpc.java
  dependencies.gradle
  idbmms-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/idbrokermappingmanagement/IdBrokerMappingManagementGrpc.java
  integration-test/build.gradle
  metering-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/meteringingestion/MeteringIngestionGrpc.java
  metrics-client/build.gradle
  metrics-client/src/main/java/com/sequenceiq/cloudbreak/metrics/processor/MetricsRecordWorker.java
  sdx-connector/src/generated/main/grpc/com/cloudera/cdp/servicediscovery/ServiceDiscoveryGrpc.java
  sdx-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/cdlcrud/CdlCrudGrpc.java
  sdx-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/sdxsvcadmin/SDXSvcAdminGrpc.java
  wiam-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/workloadiam/WorkloadIamGrpc.java
Owners: @cloudbreak/cloudbreak-wolf, @cloudbreak/cloudbreak-raven

CB-23987 Made image fallback error message more straightforward if the current image is a redhat8 image
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/ImageFallbackService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/image/ImageFallbackService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/image/ImageFallbackServiceTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-23549: Add CDP_SKIP_ROLLING_UPGRADE_VALIDATION entitlement to mock UMS
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/auth/MockUserManagementService.java
Owners: none

CB-24179 Add EDH reporting for the secret encryption flag
  structuredevent-model/src/main/java/com/sequenceiq/cloudbreak/structuredevent/event/cdp/environment/EnvironmentDetails.java
  structuredevent-service-cdp/src/main/java/com/sequenceiq/cloudbreak/structuredevent/service/telemetry/converter/EnvironmentDetailsToCDPEnvironmentDetailsConverter.java
  structuredevent-service-cdp/src/test/java/com/sequenceiq/cloudbreak/structuredevent/service/telemetry/converter/EnvironmentDetailsToCDPEnvironmentDetailsConverterTest.java
  usage-collection/src/main/proto/usage.proto
Owners: @cloudbreak/cloudbreak-wolf

[JENKINS-AUTOMATION] Update Base image for docker-private.infra.cloudera.com/cloudera_base/ubi8/cldr-openjdk-17-runtime-cis:1.18-2-stig-22012024
  docker-autoscale/Dockerfile
  docker-cloudbreak/Dockerfile
  docker-datalake/Dockerfile
  docker-environment/Dockerfile
  docker-freeipa/Dockerfile
  docker-redbeams/Dockerfile
  integration-test/test-image/Dockerfile
  mock-infrastructure/Dockerfile
  mock-thunderhead/Dockerfile
Owners: none

CB-24563 fixing reactor-netty-http and snappy-java
  build.gradle
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/client/AzureClientFactory.java
  core/build.gradle
  core/src/main/java/com/sequenceiq/cloudbreak/conf/StructuredEventSenderConfig.java
  core/src/test/java/com/sequenceiq/cloudbreak/structuredevent/service/kafka/KafkaStructuredEventHandlerTest.java
  dependencies.gradle
  structuredevent-service-cdp/build.gradle
  structuredevent-service-cdp/src/main/java/com/sequenceiq/cloudbreak/structuredevent/service/kafka/CDPAsyncKafkaStructuredEventSender.java
  structuredevent-service-cdp/src/main/java/com/sequenceiq/cloudbreak/structuredevent/service/kafka/CDPKafkaStructuredEventHandler.java
  structuredevent-service-legacy/build.gradle
  structuredevent-service-legacy/src/main/java/com/sequenceiq/cloudbreak/structuredevent/service/kafka/LegacyAsyncKafkaStructuredEventSender.java
  structuredevent-service-legacy/src/main/java/com/sequenceiq/cloudbreak/structuredevent/service/kafka/LegacyKafkaStructuredEventHandler.java
Owners: none

CB-24556 Fix java11_dns_resolution_fix
  orchestrator-salt/src/main/resources/salt/salt/sssd/ipa.sls
Owners: none

CB-24524 Disable WebMvcObservationAutoConfiguration
  autoscale/src/main/java/com/sequenceiq/periscope/PeriscopeApplication.java
  core/src/main/java/com/sequenceiq/cloudbreak/CloudbreakApplication.java
  datalake/src/main/java/com/sequenceiq/datalake/DatalakeApplication.java
  environment/src/main/java/com/sequenceiq/environment/EnvironmentApplication.java
  freeipa/src/main/java/com/sequenceiq/freeipa/FreeIpaApplication.java
  redbeams/src/main/java/com/sequenceiq/redbeams/RedbeamsApplication.java
Owners: @cloudbreak/cloudbreak-bobcat, @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-armadillo, @cloudbreak/cloudbreak-wolf, @cloudbreak/cloudbreak-duck

CB-24572 fixing bcprov-jdk15on which is a medium cve
  auth-connector/build.gradle
  cloud-common/build.gradle
  common/build.gradle
  freeipa/build.gradle
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/user/kerberos/KrbKeySetEncoder.java
  mock-infrastructure/build.gradle
  sdx-connector/build.gradle
Owners: @cloudbreak/cloudbreak-duck, @cloudbreak/cloudbreak-raven

CB-24534 adding a break to template engine to avoid continue building the actual if anything fails.
  cloud-template/src/main/java/com/sequenceiq/cloudbreak/cloud/template/compute/ResourceCreationCallable.java
Owners: none

CB-24109 modify externalized compute app Dockerfile
  docker-externalized-compute/Dockerfile
Owners: none
