Repository hortonworks/cloudbreak, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hortonworks/cloudbreak-raven, @hortonworks/cloudbreak-armadillo, @hortonworks/cloudbreak-wolf, @hortonworks/cloudbreak-bobcat, @hortonworks/cloudbreak-duck

CB-21952: Added flow initialization event for CCMv1 key remapping to its flow config.
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/clusterproxy/reregister/ClusterProxyReRegistrationConfig.java
Owners: none

CDPSDX-4094: Modified the DR flow in CB to wait for validation to finish before moving onto DB backup.
  datalake-dr-connector/src/main/java/com/sequenceiq/cloudbreak/datalakedr/DatalakeDrClient.java
  datalake-dr-connector/src/main/java/com/sequenceiq/cloudbreak/datalakedr/converter/GrpcStatusResponseToDatalakeBackupRestoreStatusResponseConverter.java
  datalake-dr-connector/src/main/java/com/sequenceiq/cloudbreak/datalakedr/model/DatalakeBackupStatusResponse.java
  datalake-dr-connector/src/main/java/com/sequenceiq/cloudbreak/datalakedr/model/DatalakeOperationStatus.java
  datalake-dr-connector/src/main/java/com/sequenceiq/cloudbreak/datalakedr/model/DatalakeRestoreStatusResponse.java
  datalake-dr-connector/src/test/java/com/sequenceiq/cloudbreak/datalakedr/converter/GrpcStatusResponseToDatalakeBackupRestoreStatusResponseConverterTest.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/detach/SdxDetachEvent.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/backup/DatalakeBackupActions.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/backup/DatalakeBackupEvent.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/backup/DatalakeBackupFlowConfig.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/backup/DatalakeBackupState.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/backup/event/DatalakeBackupAwaitServicesStoppedRequest.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/backup/event/DatalakeDatabaseBackupStartEvent.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/backup/handler/DatalakeBackupAwaitServicesStoppedHandler.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/restore/DatalakeRestoreActions.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/restore/DatalakeRestoreEvent.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/restore/DatalakeRestoreFlowConfig.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/restore/DatalakeRestoreState.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/restore/event/DatalakeRestoreAwaitServicesStoppedRequest.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/restore/handler/DatalakeRestoreAwaitServicesStoppedHandler.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/dr/SdxBackupRestoreService.java
  datalake/src/test/java/com/sequenceiq/datalake/flow/dr/restore/DatalakeRestoreActionsTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/dr/SdxBackupRestoreServiceTest.java
Owners: @hortonworks/cloudbreak-raven, @hortonworks/cloudbreak-armadillo

CB-21938 [GOV-DEV E2E] BlueprintListAction is failing: Illegal base64 character 5c
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/actor/CloudbreakUserCache.java
Owners: none

CB-21763 Make error message more descriptive
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/AbstractClouderaManagerApiCheckerTask.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/upscale/ClusterUpscaleFlowService.java
Owners: none

CB-21943 do not allow the execution of regular expression language in validation messages that contains user input
  auth-internal-api/src/main/java/com/sequenceiq/cloudbreak/auth/security/internal/AccountIdValidator.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/validation/LoggingRequestValidator.java
  common-model/src/main/java/com/sequenceiq/common/api/util/ValidatorUtil.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/validation/DatalakeCrnValidator.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/validation/EnvironmentCrnValidator.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/validation/HttpContentSizeValidator.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/validation/ImageCatalogValidator.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/validation/UpgradeRequestValidator.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/model/upgrade/DistroXUpgradeRequestValidator.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/validation/RootVolumeSizeValidator.java
  datalake-api/src/main/java/com/sequenceiq/sdx/validation/UpgradeRequestValidator.java
Owners: @hortonworks/cloudbreak-raven, @hortonworks/cloudbreak-armadillo

CB-21842 Do not fetch network for Redbeams DBStack
  redbeams/src/main/java/com/sequenceiq/redbeams/converter/spi/DBStackToDatabaseStackConverter.java
  redbeams/src/main/java/com/sequenceiq/redbeams/converter/stack/AllocateDatabaseServerV4RequestToDBStackConverter.java
  redbeams/src/main/java/com/sequenceiq/redbeams/domain/stack/DBStack.java
  redbeams/src/main/java/com/sequenceiq/redbeams/flow/redbeams/termination/action/RedbeamsTerminationActions.java
  redbeams/src/main/java/com/sequenceiq/redbeams/repository/NetworkRepository.java
  redbeams/src/main/java/com/sequenceiq/redbeams/service/network/NetworkBuilderService.java
  redbeams/src/main/java/com/sequenceiq/redbeams/service/network/NetworkService.java
  redbeams/src/main/java/com/sequenceiq/redbeams/service/stack/RedbeamsTerminationService.java
  redbeams/src/main/java/com/sequenceiq/redbeams/service/stack/RedbeamsUpgradeService.java
  redbeams/src/main/resources/schema/app/20230515125404_CB-21842_Remove_'network_id_idx'_as_it_duplicates_pkey_index.sql
  redbeams/src/test/java/com/sequenceiq/redbeams/converter/spi/DBStackToDatabaseStackConverterTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/converter/stack/AllocateDatabaseServerV4RequestToDBStackConverterTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/domain/stack/DBStackTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/service/network/NetworkBuilderServiceTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/service/stack/RedbeamsUpgradeServiceTest.java
Owners: @hortonworks/cloudbreak-duck

CB-21943 do not allow the execution of regular expression language in validation messages that contains user input
  auth-internal-api/src/main/java/com/sequenceiq/cloudbreak/auth/security/internal/AccountIdValidator.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/validation/LoggingRequestValidator.java
  common-model/src/main/java/com/sequenceiq/common/api/util/ValidatorUtil.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/validation/DatalakeCrnValidator.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/validation/EnvironmentCrnValidator.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/validation/HttpContentSizeValidator.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/validation/ImageCatalogValidator.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/validation/UpgradeRequestValidator.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/model/upgrade/DistroXUpgradeRequestValidator.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/validation/RootVolumeSizeValidator.java
  datalake-api/src/main/java/com/sequenceiq/sdx/validation/UpgradeRequestValidator.java
Owners: @hortonworks/cloudbreak-raven, @hortonworks/cloudbreak-armadillo

CB-21938 [GOV-DEV E2E] BlueprintListAction is failing: Illegal base64 character 5c
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/actor/CloudbreakUserCache.java
Owners: none

CB-21839 Basic secret rotation flow
  common/src/main/java/com/sequenceiq/cloudbreak/rotation/secret/SecretRotationConfig.java
  common/src/main/java/com/sequenceiq/cloudbreak/rotation/secret/SecretRotationException.java
  common/src/main/java/com/sequenceiq/cloudbreak/rotation/secret/application/ApplicationSecretRotationInformation.java
  common/src/main/java/com/sequenceiq/cloudbreak/rotation/secret/type/CloudbreakSecretType.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/rotation/requests/StackV4SecretRotationRequest.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/model/DistroXSecretRotationRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/ReactorFlowManager.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/CloudbreakSecretRotationInformation.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/flow/StackOperationService.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/controller/DistroXV1Controller.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/ReactorFlowManagerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stack/flow/StackOperationServiceTest.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/model/SdxSecretRotationRequest.java
  flow/src/main/java/com/sequenceiq/flow/rotation/RotationFlowContext.java
  flow/src/main/java/com/sequenceiq/flow/rotation/SecretRotationActions.java
  flow/src/main/java/com/sequenceiq/flow/rotation/chain/SecretRotationFlowChainTriggerEvent.java
  flow/src/main/java/com/sequenceiq/flow/rotation/chain/SecretRotationFlowEventChainFactory.java
  flow/src/main/java/com/sequenceiq/flow/rotation/config/SecretRotationEvent.java
  flow/src/main/java/com/sequenceiq/flow/rotation/config/SecretRotationFlowConfig.java
  flow/src/main/java/com/sequenceiq/flow/rotation/config/SecretRotationState.java
  flow/src/main/java/com/sequenceiq/flow/rotation/event/ExecuteRotationFailedEvent.java
  flow/src/main/java/com/sequenceiq/flow/rotation/event/ExecuteRotationFinishedEvent.java
  flow/src/main/java/com/sequenceiq/flow/rotation/event/ExecuteRotationTriggerEvent.java
  flow/src/main/java/com/sequenceiq/flow/rotation/event/FinalizeRotationSuccessEvent.java
  flow/src/main/java/com/sequenceiq/flow/rotation/event/FinalizeRotationTriggerEvent.java
  flow/src/main/java/com/sequenceiq/flow/rotation/event/RollbackRotationTriggerEvent.java
  flow/src/main/java/com/sequenceiq/flow/rotation/event/RotationEvent.java
  flow/src/main/java/com/sequenceiq/flow/rotation/event/RotationFailedEvent.java
  flow/src/main/java/com/sequenceiq/flow/rotation/event/SecretRotationTriggerEvent.java
  flow/src/main/java/com/sequenceiq/flow/rotation/handler/ExecuteRotationHandler.java
  flow/src/main/java/com/sequenceiq/flow/rotation/handler/FinalizeRotationHandler.java
  flow/src/main/java/com/sequenceiq/flow/rotation/handler/RollbackRotationHandler.java
  flow/src/main/java/com/sequenceiq/flow/rotation/service/SecretRotationConfig.java
  flow/src/main/java/com/sequenceiq/flow/rotation/service/SecretRotationService.java
  flow/src/test/java/com/sequenceiq/flow/rotation/handler/ExecuteRotationHandlerTest.java
  flow/src/test/java/com/sequenceiq/flow/rotation/handler/FinalizeRotationHandlerTest.java
  flow/src/test/java/com/sequenceiq/flow/rotation/handler/RollbackRotationHandlerTest.java
  flow/src/test/java/com/sequenceiq/flow/rotation/service/SecretRotationServiceTest.java
Owners: @hortonworks/cloudbreak-raven, @hortonworks/cloudbreak-armadillo

CB-21943 updating hibernate validatior, to avoid execution of invalid expression language https://www.mend.io/vulnerability-database/CVE-2020-10693
  .github/dependabot.yml
  dependencies.gradle
Owners: none

CB-21937 VolumeSetAttributes can not be casted if flow restarted and the CloudResource is parsed from DB
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/generic/DynamicModel.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/volume/AwsAttachmentResourceBuilder.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/volume/AwsVolumeResourceBuilder.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/volume/AwsVolumeResourceBuilderTest.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/resource/AzureAttachmentResourceBuilder.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/resource/AzureVolumeResourceBuilder.java
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/compute/GcpAttachedDiskResourceBuilder.java
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/compute/GcpDiskResourceBuilder.java
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/compute/GcpInstanceResourceBuilder.java
  cloud-template/src/main/java/com/sequenceiq/cloudbreak/cloud/template/AbstractResourceConnector.java
  cloud-template/src/test/java/com/sequenceiq/cloudbreak/cloud/template/AbstractResourceConnectorTest.java
Owners: none

CB-21937 VolumeSetAttributes can not be casted if flow restarted and the CloudResource is parsed from DB
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/generic/DynamicModel.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/volume/AwsAttachmentResourceBuilder.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/volume/AwsVolumeResourceBuilder.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/volume/AwsVolumeResourceBuilderTest.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/resource/AzureAttachmentResourceBuilder.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/resource/AzureVolumeResourceBuilder.java
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/compute/GcpAttachedDiskResourceBuilder.java
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/compute/GcpDiskResourceBuilder.java
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/compute/GcpInstanceResourceBuilder.java
  cloud-template/src/main/java/com/sequenceiq/cloudbreak/cloud/template/AbstractResourceConnector.java
  cloud-template/src/test/java/com/sequenceiq/cloudbreak/cloud/template/AbstractResourceConnectorTest.java
Owners: none

CB-21906: Fixed failing E2E tests for EDL creation.
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/HostGroupType.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxRepairTests.java
Owners: none

CB-21875 Handle stack/cluster statuses in the secret rotation flow
  common/src/main/java/com/sequenceiq/cloudbreak/event/ResourceEvent.java
  common/src/main/resources/messages/messages.properties
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/common/DetailedStackStatus.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/StackSecretRotationStatusService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/StackUpdater.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/StackSecretRotationStatusServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stackpatch/MockPatchServiceTest.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/model/SdxClusterStatusResponse.java
  datalake/src/main/java/com/sequenceiq/datalake/entity/DatalakeStatusEnum.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/status/SdxSecretRotationStatusService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/status/SdxStatusService.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/status/SdxSecretRotationStatusServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/status/SdxStatusServiceTest.java
  flow/src/main/java/com/sequenceiq/flow/rotation/SecretRotationActions.java
  flow/src/main/java/com/sequenceiq/flow/rotation/chain/SecretRotationFlowEventChainFactory.java
  flow/src/main/java/com/sequenceiq/flow/rotation/status/SecretRotationStatusChangeActions.java
  flow/src/main/java/com/sequenceiq/flow/rotation/status/SecretRotationStatusChangeEvent.java
  flow/src/main/java/com/sequenceiq/flow/rotation/status/SecretRotationStatusChangeFlowConfig.java
  flow/src/main/java/com/sequenceiq/flow/rotation/status/SecretRotationStatusChangeFlowContext.java
  flow/src/main/java/com/sequenceiq/flow/rotation/status/SecretRotationStatusChangeState.java
  flow/src/main/java/com/sequenceiq/flow/rotation/status/event/RotationStatusChangeEvent.java
  flow/src/main/java/com/sequenceiq/flow/rotation/status/event/RotationStatusChangeFailHandledEvent.java
  flow/src/main/java/com/sequenceiq/flow/rotation/status/event/RotationStatusChangeFailedEvent.java
  flow/src/main/java/com/sequenceiq/flow/rotation/status/event/RotationStatusChangeFinishedEvent.java
  flow/src/main/java/com/sequenceiq/flow/rotation/status/event/RotationStatusChangeTriggerEvent.java
  flow/src/main/java/com/sequenceiq/flow/rotation/status/service/DefaultSecretRotationStatusService.java
  flow/src/main/java/com/sequenceiq/flow/rotation/status/service/SecretRotationStatusService.java
Owners: @hortonworks/cloudbreak-raven, @hortonworks/cloudbreak-armadillo

CB-21952: Added flow initialization event for CCMv1 key remapping to its flow config.
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/clusterproxy/reregister/ClusterProxyReRegistrationConfig.java
Owners: none

CB-21901 CB-21839 Secret rotation framework improvements
  common/src/main/java/com/sequenceiq/cloudbreak/rotation/secret/GenericPasswordSecretGenerator.java
  common/src/main/java/com/sequenceiq/cloudbreak/rotation/secret/RotationContextProvider.java
  common/src/main/java/com/sequenceiq/cloudbreak/rotation/secret/RotationExecutor.java
  common/src/main/java/com/sequenceiq/cloudbreak/rotation/secret/SecretGenerator.java
  common/src/main/java/com/sequenceiq/cloudbreak/rotation/secret/vault/VaultRotationContext.java
  common/src/main/java/com/sequenceiq/cloudbreak/vault/ThreadBasedVaultReadFieldProvider.java
  common/src/main/java/com/sequenceiq/cloudbreak/vault/VaultConstants.java
  datalake/src/main/java/com/sequenceiq/datalake/rotation/DatalakeSecretRotationInformation.java
  flow/src/main/java/com/sequenceiq/flow/rotation/event/RotationEvent.java
  flow/src/main/java/com/sequenceiq/flow/rotation/event/SecretTypeDeserializer.java
  flow/src/main/java/com/sequenceiq/flow/rotation/event/SecretTypeSerializer.java
  flow/src/main/java/com/sequenceiq/flow/rotation/service/SecretRotationConfig.java
  flow/src/main/java/com/sequenceiq/flow/rotation/service/SecretRotationService.java
  flow/src/test/java/com/sequenceiq/flow/rotation/service/SecretRotationServiceTest.java
  secret-engine/src/main/java/com/sequenceiq/cloudbreak/service/secret/SecretEngine.java
  secret-engine/src/main/java/com/sequenceiq/cloudbreak/service/secret/cache/VaultCache.java
  secret-engine/src/main/java/com/sequenceiq/cloudbreak/service/secret/service/SecretService.java
  secret-engine/src/main/java/com/sequenceiq/cloudbreak/service/secret/service/rotation/VaultRotationExecutor.java
  secret-engine/src/main/java/com/sequenceiq/cloudbreak/service/secret/service/rotation/context/VaultRotationContext.java
  secret-engine/src/main/java/com/sequenceiq/cloudbreak/service/secret/vault/VaultKvV1Engine.java
  secret-engine/src/main/java/com/sequenceiq/cloudbreak/service/secret/vault/VaultKvV2Engine.java
  secret-engine/src/test/java/com/sequenceiq/cloudbreak/service/secret/service/SecretServiceTest.java
  secret-engine/src/test/java/com/sequenceiq/cloudbreak/service/secret/service/rotation/VaultRotationExecutorTest.java
  secret-engine/src/test/java/com/sequenceiq/cloudbreak/service/secret/vault/VaultKvV1EngineTest.java
  secret-engine/src/test/java/com/sequenceiq/cloudbreak/service/secret/vault/VaultKvV2EngineTest.java
Owners: @hortonworks/cloudbreak-raven, @hortonworks/cloudbreak-armadillo

CB-21984 do not create ApacheClient for every AWS client, instead use a common shared ApacheClient
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsCloudFormationClient.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsValidatorsTest.java
  cloud-aws-common/build.gradle
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsClient.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsSessionCredentialClient.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/client/AwsApacheClient.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsAuthenticatorTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsInstanceConnectorTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsSessionCredentialClientTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/validator/AwsStorageValidatorsTest.java
  cloud-aws-native/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNativeMetadataCollectorApiIntegrationTest.java
Owners: none

CB-21984 do not create ApacheClient for every AWS client, instead use a common shared ApacheClient
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsCloudFormationClient.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsValidatorsTest.java
  cloud-aws-common/build.gradle
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsClient.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsSessionCredentialClient.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/client/AwsApacheClient.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsAuthenticatorTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsInstanceConnectorTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsSessionCredentialClientTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/validator/AwsStorageValidatorsTest.java
  cloud-aws-native/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNativeMetadataCollectorApiIntegrationTest.java
Owners: none

CB-21937 VolumeSetAttributes can not be casted if flow restarted and the CloudResource is parsed from DB
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/generic/DynamicModel.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/volume/AwsAttachmentResourceBuilder.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/volume/AwsVolumeResourceBuilder.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/volume/AwsVolumeResourceBuilderTest.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/resource/AzureAttachmentResourceBuilder.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/resource/AzureVolumeResourceBuilder.java
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/compute/GcpAttachedDiskResourceBuilder.java
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/compute/GcpDiskResourceBuilder.java
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/compute/GcpInstanceResourceBuilder.java
  cloud-template/src/main/java/com/sequenceiq/cloudbreak/cloud/template/AbstractResourceConnector.java
  cloud-template/src/test/java/com/sequenceiq/cloudbreak/cloud/template/AbstractResourceConnectorTest.java
Owners: none

CB-21987 Relax custom configs runtime check - runtime check when applying custom configs to a DH will be inaccurate after DH runtime upgrade - removed this runtime check to prevent DH start failure
  core/src/main/java/com/sequenceiq/cloudbreak/converter/StackToTemplatePreparationObjectConverter.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v2/StackToTemplatePreparationObjectConverterTest.java
Owners: none

[JENKINS-AUTOMATION] Update Base image for docker-private.infra.cloudera.com/cloudera_base/ubi8/cldr-openjdk-17-runtime-cis:1.15-1.1682053056-cis-24052023
  docker-autoscale/Dockerfile
  docker-cloudbreak/Dockerfile
  docker-consumption/Dockerfile
  docker-datalake/Dockerfile
  docker-environment/Dockerfile
  docker-freeipa/Dockerfile
  docker-redbeams/Dockerfile
  integration-test/test-image/Dockerfile
  mock-infrastructure/Dockerfile
  mock-thunderhead/Dockerfile
Owners: none

CB-21987 Relax custom configs runtime check - runtime check when applying custom configs to a DH will be inaccurate after DH runtime upgrade - removed this runtime check to prevent DH start failure
  core/src/main/java/com/sequenceiq/cloudbreak/converter/StackToTemplatePreparationObjectConverter.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v2/StackToTemplatePreparationObjectConverterTest.java
Owners: none

CDPSDX-4016 Enable compression for datalake database backup/restore, controlled by an entitlement
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementService.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/model/Entitlement.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/dr/BackupRestoreSaltConfigGenerator.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/dr/backup/DatabaseBackupHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/dr/restore/DatabaseRestoreHandler.java
  core/src/test/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/dr/BackupRestoreSaltConfigGeneratorTest.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/auth/MockUserManagementService.java
  mock-thunderhead/src/main/resources/application.yml
  orchestrator-salt/src/main/resources/salt/salt/postgresql/disaster_recovery/backup.sls
  orchestrator-salt/src/main/resources/salt/salt/postgresql/disaster_recovery/scripts/backup_db.sh
  orchestrator-salt/src/main/resources/salt/salt/postgresql/disaster_recovery/scripts/restore_db.sh
Owners: none

CB-20962 Elliminate the dependency on dhclient-enter-hooks
  orchestrator-salt/src/main/resources/salt/salt/java/init.sls
  orchestrator-salt/src/main/resources/salt/salt/java/scripts/set_default_java_version.sh
  orchestrator-salt/src/main/resources/salt/salt/sssd/ipa.sls
Owners: none

CDPSDX-4094: Modified the DR flow in CB to wait for validation to finish before moving onto DB backup.
  datalake-dr-connector/src/main/java/com/sequenceiq/cloudbreak/datalakedr/DatalakeDrClient.java
  datalake-dr-connector/src/main/java/com/sequenceiq/cloudbreak/datalakedr/converter/GrpcStatusResponseToDatalakeBackupRestoreStatusResponseConverter.java
  datalake-dr-connector/src/main/java/com/sequenceiq/cloudbreak/datalakedr/model/DatalakeBackupStatusResponse.java
  datalake-dr-connector/src/main/java/com/sequenceiq/cloudbreak/datalakedr/model/DatalakeOperationStatus.java
  datalake-dr-connector/src/main/java/com/sequenceiq/cloudbreak/datalakedr/model/DatalakeRestoreStatusResponse.java
  datalake-dr-connector/src/test/java/com/sequenceiq/cloudbreak/datalakedr/converter/GrpcStatusResponseToDatalakeBackupRestoreStatusResponseConverterTest.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/detach/SdxDetachEvent.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/backup/DatalakeBackupActions.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/backup/DatalakeBackupEvent.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/backup/DatalakeBackupFlowConfig.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/backup/DatalakeBackupState.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/backup/event/DatalakeBackupAwaitServicesStoppedRequest.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/backup/event/DatalakeDatabaseBackupStartEvent.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/backup/handler/DatalakeBackupAwaitServicesStoppedHandler.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/restore/DatalakeRestoreActions.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/restore/DatalakeRestoreEvent.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/restore/DatalakeRestoreFlowConfig.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/restore/DatalakeRestoreState.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/restore/event/DatalakeRestoreAwaitServicesStoppedRequest.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/restore/handler/DatalakeRestoreAwaitServicesStoppedHandler.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/dr/SdxBackupRestoreService.java
  datalake/src/test/java/com/sequenceiq/datalake/flow/dr/restore/DatalakeRestoreActionsTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/dr/SdxBackupRestoreServiceTest.java
Owners: @hortonworks/cloudbreak-raven, @hortonworks/cloudbreak-armadillo

CB-21113 - Upgrade Azure SDK in integration-test module
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/util/AzureExceptionHandler.java
  dependencies.gradle
  environment/src/test/java/com/sequenceiq/environment/service/integration/AzureCredentialIntegrationTest.java
  integration-test/build.gradle
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/AbstractE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXEncryptedVolumeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/AzureCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/AzureInstanceActionExecutor.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/AzureInstanceActionResult.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/azurecloudblob/AzureCloudBlobUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/azurecloudblob/action/AzureCloudBlobClientActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/azurecloudblob/client/AzureCloudBlobClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/azurevm/action/AzureClientActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/azurevm/client/AzureClientConfiguration.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/CompletableWaitUtil.java
Owners: @hortonworks/cloudbreak-wolf

CB-14698 FreeIpa sync should recognise available nodes after DELETED_ON_PROVIDER_SIDE state
  common/src/main/java/com/sequenceiq/cloudbreak/quartz/statuschecker/service/StatusCheckerJobService.java
  core/src/main/java/com/sequenceiq/cloudbreak/job/StackStatusCheckerJob.java
  core/src/test/java/com/sequenceiq/cloudbreak/job/StackStatusCheckerJobTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/entity/InstanceMetaData.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/FreeIpaInstanceHealthDetailsService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/StackService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/sync/StackStatusCheckerJob.java
  freeipa/src/test/java/com/sequenceiq/freeipa/sync/StackStatusTest.java
Owners: @hortonworks/cloudbreak-duck

CB-21842 Do not fetch network for Redbeams DBStack
  redbeams/src/main/java/com/sequenceiq/redbeams/converter/spi/DBStackToDatabaseStackConverter.java
  redbeams/src/main/java/com/sequenceiq/redbeams/converter/stack/AllocateDatabaseServerV4RequestToDBStackConverter.java
  redbeams/src/main/java/com/sequenceiq/redbeams/domain/stack/DBStack.java
  redbeams/src/main/java/com/sequenceiq/redbeams/flow/redbeams/termination/action/RedbeamsTerminationActions.java
  redbeams/src/main/java/com/sequenceiq/redbeams/repository/NetworkRepository.java
  redbeams/src/main/java/com/sequenceiq/redbeams/service/network/NetworkBuilderService.java
  redbeams/src/main/java/com/sequenceiq/redbeams/service/network/NetworkService.java
  redbeams/src/main/java/com/sequenceiq/redbeams/service/stack/RedbeamsTerminationService.java
  redbeams/src/main/java/com/sequenceiq/redbeams/service/stack/RedbeamsUpgradeService.java
  redbeams/src/main/resources/schema/app/20230515125404_CB-21842_Remove_'network_id_idx'_as_it_duplicates_pkey_index.sql
  redbeams/src/test/java/com/sequenceiq/redbeams/converter/spi/DBStackToDatabaseStackConverterTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/converter/stack/AllocateDatabaseServerV4RequestToDBStackConverterTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/domain/stack/DBStackTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/service/network/NetworkBuilderServiceTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/service/stack/RedbeamsUpgradeServiceTest.java
Owners: @hortonworks/cloudbreak-duck

CB-21875 Handle stack/cluster statuses in the secret rotation flow
  common/src/main/java/com/sequenceiq/cloudbreak/event/ResourceEvent.java
  common/src/main/resources/messages/messages.properties
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/common/DetailedStackStatus.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/StackSecretRotationStatusService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/StackUpdater.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/StackSecretRotationStatusServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stackpatch/MockPatchServiceTest.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/model/SdxClusterStatusResponse.java
  datalake/src/main/java/com/sequenceiq/datalake/entity/DatalakeStatusEnum.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/status/SdxSecretRotationStatusService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/status/SdxStatusService.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/status/SdxSecretRotationStatusServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/status/SdxStatusServiceTest.java
  flow/src/main/java/com/sequenceiq/flow/rotation/SecretRotationActions.java
  flow/src/main/java/com/sequenceiq/flow/rotation/chain/SecretRotationFlowEventChainFactory.java
  flow/src/main/java/com/sequenceiq/flow/rotation/status/SecretRotationStatusChangeActions.java
  flow/src/main/java/com/sequenceiq/flow/rotation/status/SecretRotationStatusChangeEvent.java
  flow/src/main/java/com/sequenceiq/flow/rotation/status/SecretRotationStatusChangeFlowConfig.java
  flow/src/main/java/com/sequenceiq/flow/rotation/status/SecretRotationStatusChangeFlowContext.java
  flow/src/main/java/com/sequenceiq/flow/rotation/status/SecretRotationStatusChangeState.java
  flow/src/main/java/com/sequenceiq/flow/rotation/status/event/RotationStatusChangeEvent.java
  flow/src/main/java/com/sequenceiq/flow/rotation/status/event/RotationStatusChangeFailHandledEvent.java
  flow/src/main/java/com/sequenceiq/flow/rotation/status/event/RotationStatusChangeFailedEvent.java
  flow/src/main/java/com/sequenceiq/flow/rotation/status/event/RotationStatusChangeFinishedEvent.java
  flow/src/main/java/com/sequenceiq/flow/rotation/status/event/RotationStatusChangeTriggerEvent.java
  flow/src/main/java/com/sequenceiq/flow/rotation/status/service/DefaultSecretRotationStatusService.java
  flow/src/main/java/com/sequenceiq/flow/rotation/status/service/SecretRotationStatusService.java
Owners: @hortonworks/cloudbreak-raven, @hortonworks/cloudbreak-armadillo

CB-21901 CB-21839 Secret rotation framework improvements
  common/src/main/java/com/sequenceiq/cloudbreak/rotation/secret/GenericPasswordSecretGenerator.java
  common/src/main/java/com/sequenceiq/cloudbreak/rotation/secret/RotationContextProvider.java
  common/src/main/java/com/sequenceiq/cloudbreak/rotation/secret/RotationExecutor.java
  common/src/main/java/com/sequenceiq/cloudbreak/rotation/secret/SecretGenerator.java
  common/src/main/java/com/sequenceiq/cloudbreak/rotation/secret/vault/VaultRotationContext.java
  common/src/main/java/com/sequenceiq/cloudbreak/vault/ThreadBasedVaultReadFieldProvider.java
  common/src/main/java/com/sequenceiq/cloudbreak/vault/VaultConstants.java
  datalake/src/main/java/com/sequenceiq/datalake/rotation/DatalakeSecretRotationInformation.java
  flow/src/main/java/com/sequenceiq/flow/rotation/event/RotationEvent.java
  flow/src/main/java/com/sequenceiq/flow/rotation/event/SecretTypeDeserializer.java
  flow/src/main/java/com/sequenceiq/flow/rotation/event/SecretTypeSerializer.java
  flow/src/main/java/com/sequenceiq/flow/rotation/service/SecretRotationConfig.java
  flow/src/main/java/com/sequenceiq/flow/rotation/service/SecretRotationService.java
  flow/src/test/java/com/sequenceiq/flow/rotation/service/SecretRotationServiceTest.java
  secret-engine/src/main/java/com/sequenceiq/cloudbreak/service/secret/SecretEngine.java
  secret-engine/src/main/java/com/sequenceiq/cloudbreak/service/secret/cache/VaultCache.java
  secret-engine/src/main/java/com/sequenceiq/cloudbreak/service/secret/service/SecretService.java
  secret-engine/src/main/java/com/sequenceiq/cloudbreak/service/secret/service/rotation/VaultRotationExecutor.java
  secret-engine/src/main/java/com/sequenceiq/cloudbreak/service/secret/service/rotation/context/VaultRotationContext.java
  secret-engine/src/main/java/com/sequenceiq/cloudbreak/service/secret/vault/VaultKvV1Engine.java
  secret-engine/src/main/java/com/sequenceiq/cloudbreak/service/secret/vault/VaultKvV2Engine.java
  secret-engine/src/test/java/com/sequenceiq/cloudbreak/service/secret/service/SecretServiceTest.java
  secret-engine/src/test/java/com/sequenceiq/cloudbreak/service/secret/service/rotation/VaultRotationExecutorTest.java
  secret-engine/src/test/java/com/sequenceiq/cloudbreak/service/secret/vault/VaultKvV1EngineTest.java
  secret-engine/src/test/java/com/sequenceiq/cloudbreak/service/secret/vault/VaultKvV2EngineTest.java
Owners: @hortonworks/cloudbreak-raven, @hortonworks/cloudbreak-armadillo

CB-17033 AWSConnector stop/start API enhanccements
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/InstanceStatus.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsInstanceConnector.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/util/AwsInstanceStatusMapper.java
Owners: none

Revert "CB-21113 - Upgrade Azure SDK in integration-test module"
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/util/AzureExceptionHandler.java
  dependencies.gradle
  environment/src/test/java/com/sequenceiq/environment/service/integration/AzureCredentialIntegrationTest.java
  integration-test/build.gradle
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/AbstractE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXEncryptedVolumeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/AzureCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/AzureInstanceActionExecutor.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/AzureInstanceActionResult.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/azurecloudblob/AzureCloudBlobUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/azurecloudblob/action/AzureCloudBlobClientActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/azurecloudblob/client/AzureCloudBlobClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/azurevm/action/AzureClientActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/azurevm/client/AzureClientConfiguration.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/CompletableWaitUtil.java
Owners: @hortonworks/cloudbreak-wolf

CB-21993 ProjectId is not returned from GCP credentials
  cloud-gcp/src/main/resources/definitions/gcp-credential.json
  environment/src/main/java/com/sequenceiq/environment/credential/v1/converter/CredentialToCredentialV1ResponseConverter.java
  environment/src/main/java/com/sequenceiq/environment/credential/v1/converter/gcp/GcpCredentialV1ParametersToGcpCredentialAttributesConverter.java
  environment/src/test/java/com/sequenceiq/environment/credential/v1/converter/gcp/GcpCredentialV1ParametersToGcpCredentialAttributesConverterTest.java
Owners: @hortonworks/cloudbreak-wolf

CB-21996 ASG creation waiter is not prepared for empty list in response
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/scheduler/acceptor/AutoscalingInstancesInServiceAcceptor.java
Owners: none

[JENKINS-AUTOMATION] Update Base image for docker-private.infra.cloudera.com/cloudera_base/ubi8/cldr-openjdk-17-runtime-cis:1.15-1.1682053056-cis-24052023
  docker-autoscale/Dockerfile
  docker-cloudbreak/Dockerfile
  docker-consumption/Dockerfile
  docker-datalake/Dockerfile
  docker-environment/Dockerfile
  docker-freeipa/Dockerfile
  docker-redbeams/Dockerfile
  integration-test/test-image/Dockerfile
  mock-infrastructure/Dockerfile
  mock-thunderhead/Dockerfile
Owners: none

CB-16279: Add an image update step to roll-forward
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/cmsync/handler/CmSyncHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/StackImageService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/sync/CmSyncImageFinderService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/sync/CmSyncImageUpdateService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/sync/CmSyncerService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/cmsync/handler/CmSyncHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/sync/CmSyncImageFinderServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/sync/CmSyncImageUpdateServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/sync/CmSyncerServiceTest.java
Owners: none

CB-21155: Added logging of stack status and status reason to instance wait object upon failure for E2E tests.
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/instance/cloudbreak/CloudbreakInstanceWaitObject.java
Owners: none

CB-21987 Relax custom configs runtime check - runtime check when applying custom configs to a DH will be inaccurate after DH runtime upgrade - removed this runtime check to prevent DH start failure
  core/src/main/java/com/sequenceiq/cloudbreak/converter/StackToTemplatePreparationObjectConverter.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v2/StackToTemplatePreparationObjectConverterTest.java
Owners: none

CB-17033 AWSConnector stop/start API enhanccements
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/InstanceStatus.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsInstanceConnector.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/util/AwsInstanceStatusMapper.java
Owners: none

CB-21862 Failures in DistroXStopStartScaleTest - sometimes azure takes longer time in starting the nodes and due to that we have increased the time to 8 minutes for azure and 6 for aws
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXScaleTestParameters.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXStopStartScaleTest.java
  integration-test/src/main/resources/testsuites/e2e/distrox-stopstartscale-tests.yaml
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/en/articles/about-code-owners
# These people are automatically added as reviewers for PRs.
# At some point in the future they might be "required"

# Raven team should review authorization framework related changes
auth-internal/                                                                  @hortonworks/cloudbreak-raven
auth-internal-api/                                                              @hortonworks/cloudbreak-raven
authorization-common/                                                           @hortonworks/cloudbreak-raven
authorization-common-api/                                                       @hortonworks/cloudbreak-raven
grpc-common/                                                                    @hortonworks/cloudbreak-raven

# Raven and Armadillo teams should review datalake and datalake-api modules
datalake/                                                                       @hortonworks/cloudbreak-raven @hortonworks/cloudbreak-armadillo
datalake-api/                                                                   @hortonworks/cloudbreak-raven @hortonworks/cloudbreak-armadillo

# Raven team should review datalake blueprint changes
core/src/main/resources/defaults/blueprints/*/cdp-sdx*.bp                       @hortonworks/cloudbreak-raven

# Raven team should review quartz and sync job related PRs
common/src/java/com/sequenceiq/cloudbreak/quartz/*StatusCheckerJob.java         @hortonworks/cloudbreak-raven

# Raven team should review how Controllers are authorized
*Controller.java                                                                @hortonworks/cloudbreak-raven

# Wolf team should review environment and environment-api modules
environment/                                                                    @hortonworks/cloudbreak-wolf
environment-api/                                                                @hortonworks/cloudbreak-wolf
environment-common/                                                             @hortonworks/cloudbreak-wolf

# By default, unless overridden later,
# Wolf should review every policy change:
cloud-aws-cloudformation/src/main/resources/definitions/                        @hortonworks/cloudbreak-wolf
cloud-aws-common/src/main/resources/definitions/                                @hortonworks/cloudbreak-wolf
cloud-azure/src/main/resources/definitions/                                     @hortonworks/cloudbreak-wolf

# Wolf team should review data hub blueprint changes
core/src/main/resources/defaults/blueprints/*/cdp-cod*.bp                       @hortonworks/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-data*.bp                      @hortonworks/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-dde*.bp                       @hortonworks/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-flink*.bp                     @hortonworks/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-flow*.bp                      @hortonworks/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-opdb*.bp                      @hortonworks/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-rt*.bp                        @hortonworks/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-streaming*.bp                 @hortonworks/cloudbreak-wolf

# Wolf team should review data hub template changes
core/src/main/resources/defaults/clustertemplates/                              @hortonworks/cloudbreak-wolf

# Wolf team should review the network usage in IT
integration-test/scripts/check-results.sh                                       @hortonworks/cloudbreak-wolf

# Wolf team should review template generation related changes
template-manager-blueprint/                                                     @hortonworks/cloudbreak-wolf
template-manager-cmtemplate/                                                    @hortonworks/cloudbreak-wolf
template-manager-tag/                                                           @hortonworks/cloudbreak-wolf
template-manager-recipe/                                                        @hortonworks/cloudbreak-wolf
template-manager-core/                                                          @hortonworks/cloudbreak-wolf

# Wolf team should review audit related changes
audit-connector/                                                                @hortonworks/cloudbreak-wolf

# Bobcat team should review dataengineering related changes
core/src/main/resources/defaults/blueprints/*/cdp-data-engineering*.bp          @hortonworks/cloudbreak-bobcat
core/src/main/resources/defaults/clustertemplates/*/*/dataengineering*.json     @hortonworks/cloudbreak-bobcat

# Bobcat team should review autoscale related changes
autoscale/                                                                      @hortonworks/cloudbreak-bobcat
autoscale-api/                                                                  @hortonworks/cloudbreak-bobcat

# Duck team should review freeipa related changes
freeipa/                                                                        @hortonworks/cloudbreak-duck
freeipa-api/                                                                    @hortonworks/cloudbreak-duck
freeipa-client/                                                                 @hortonworks/cloudbreak-duck

# Duck team should review redbeams related changes
redbeams/                                                                       @hortonworks/cloudbreak-duck
redbeams-api/                                                                   @hortonworks/cloudbreak-duck
