Repository hortonworks/cloudbreak, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-armadillo, @cloudbreak/cloudbreak-wolf, @lrodek, @cloudbreak/cloudbreak-bobcat, @cloudbreak/cloudbreak-duck

.github/CODEOWNERS:

# See https://help.github.com/en/articles/about-code-owners
# These people are automatically added as reviewers for PRs.
# At some point in the future they might be "required"

# Raven team should review authorization framework related changes
auth-internal/                                                                  @cloudbreak/cloudbreak-raven
auth-internal-api/                                                              @cloudbreak/cloudbreak-raven
authorization-common/                                                           @cloudbreak/cloudbreak-raven
authorization-common-api/                                                       @cloudbreak/cloudbreak-raven
grpc-common/                                                                    @cloudbreak/cloudbreak-raven

# Raven and Armadillo teams should review datalake and datalake-api modules
datalake/                                                                       @cloudbreak/cloudbreak-raven @cloudbreak/cloudbreak-armadillo
datalake-api/                                                                   @cloudbreak/cloudbreak-raven @cloudbreak/cloudbreak-armadillo
sdx-connector/                                                                  @cloudbreak/cloudbreak-raven

# Raven and Armadillo team should review datalake blueprint changes
core/src/main/resources/defaults/blueprints/*/cdp-sdx*.bp                       @cloudbreak/cloudbreak-raven @cloudbreak/cloudbreak-armadillo

# Raven team should review quartz and sync job related PRs
common/src/java/com/sequenceiq/cloudbreak/quartz/*StatusCheckerJob.java         @cloudbreak/cloudbreak-raven

# Raven team should review how Controllers are authorized
*Controller.java                                                                @cloudbreak/cloudbreak-raven

# Wolf team should review environment and environment-api modules
environment/                                                                    @cloudbreak/cloudbreak-wolf
environment-api/                                                                @cloudbreak/cloudbreak-wolf
environment-common/                                                             @cloudbreak/cloudbreak-wolf

# By default, unless overridden later,
# Wolf should review every policy change:
cloud-aws-cloudformation/src/main/resources/definitions/                        @cloudbreak/cloudbreak-wolf
cloud-aws-common/src/main/resources/definitions/                                @cloudbreak/cloudbreak-wolf
cloud-azure/src/main/resources/definitions/                                     @cloudbreak/cloudbreak-wolf

# DB SSL related changes in core shall be assigned to lrodek
core/**/ClusterDbCertRotationHandler.java                                       @lrodek
core/**/DatabaseSslService*.java                                                @lrodek
core/**/RedbeamsDbCertificateProvider*.java                                     @lrodek
core-api/**/DatabaseServerSsl*.java                                             @lrodek
core-model/**/DatabaseSslDetails*.java                                          @lrodek
core-model/**/RdsSslMode.java                                                   @lrodek

# Wolf team should review data hub blueprint changes
core/src/main/resources/defaults/blueprints/*/cdp-cod*.bp                       @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-data*.bp                      @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-dde*.bp                       @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-flink*.bp                     @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-flow*.bp                      @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-opdb*.bp                      @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-rt*.bp                        @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-streaming*.bp                 @cloudbreak/cloudbreak-wolf

# Wolf team should review data hub template changes
core/src/main/resources/defaults/clustertemplates/                              @cloudbreak/cloudbreak-wolf

# Wolf team should review the network usage in IT
integration-test/scripts/check-results.sh                                       @cloudbreak/cloudbreak-wolf

# Wolf team should review template generation related changes
template-manager-blueprint/                                                     @cloudbreak/cloudbreak-wolf
template-manager-cmtemplate/                                                    @cloudbreak/cloudbreak-wolf
template-manager-tag/                                                           @cloudbreak/cloudbreak-wolf
template-manager-recipe/                                                        @cloudbreak/cloudbreak-wolf
template-manager-core/                                                          @cloudbreak/cloudbreak-wolf

# Wolf team should review audit related changes
audit-connector/                                                                @cloudbreak/cloudbreak-wolf

# Bobcat team should review dataengineering related changes
core/src/main/resources/defaults/blueprints/*/cdp-data-engineering*.bp          @cloudbreak/cloudbreak-bobcat
core/src/main/resources/defaults/clustertemplates/*/*/dataengineering*.json     @cloudbreak/cloudbreak-bobcat

# Bobcat team should review autoscale related changes
autoscale/                                                                      @cloudbreak/cloudbreak-bobcat
autoscale-api/                                                                  @cloudbreak/cloudbreak-bobcat

# Duck team should review freeipa related changes
freeipa/                                                                        @cloudbreak/cloudbreak-duck
freeipa-api/                                                                    @cloudbreak/cloudbreak-duck
freeipa-client/                                                                 @cloudbreak/cloudbreak-duck

# DB SSL related changes in redbeams shall be assigned to lrodek
redbeams/**/CertRotateInRedbeamsHandler*.java                                   @lrodek
redbeams/**/DatabaseServerSslCertificate*.java                                  @lrodek
redbeams/**/SslCertificateEntry*.java                                           @lrodek
redbeams/**/SslConfig*.java                                                     @lrodek
redbeams/**/SslContent*.java                                                    @lrodek
redbeams/src/main/resources/certs/                                              @lrodek
redbeams/src/test/resources/test_certs/                                         @lrodek
redbeams/scripts/import-aws-rds-root-certs.sh                                   @lrodek
redbeams-api/**/SslConfig*.java                                                 @lrodek
redbeams-api/**/SslMode*.java                                                   @lrodek

# Duck team should review other redbeams related changes
redbeams/                                                                       @cloudbreak/cloudbreak-duck
redbeams-api/                                                                   @cloudbreak/cloudbreak-duck

# Armadillo team should review changes to datalake related scripts
orchestrator-salt/src/main/resources/salt/salt/postgresql/disaster_recovery     @cloudbreak/cloudbreak-armadillo
orchestrator-salt/src/main/resources/salt/salt/datalake_metrics                 @cloudbreak/cloudbreak-armadillo

# DB SSL related changes in orchestrator-salt shall be assigned to lrodek
orchestrator-salt/**/postgresql/root-certs.sls                                  @lrodek
orchestrator-salt/**/postgresql/scripts/conf_pgsql_ssl.sh                       @lrodek
orchestrator-salt/**/postgresql/scripts/create_embeddeddb_certificate.sh        @lrodek

CB-24839 docker-compose is deprecated, we should switch docker-compose to docker compose
  integration-test/docker-compose_template.yml
  integration-test/scripts/docker-compose.sh
  integration-test/scripts/stop-containers.sh
Owners: none

CB-24802 Add index for securitygroup_id column in securityrule table
  freeipa/src/main/resources/schema/app/20240212125644_CB-24802_Add_index_for_securitygroup_id_column_in_securityrule_table.sql
Owners: @cloudbreak/cloudbreak-duck

CB-23648 set upgrade limits according to NFQE-238 results. 800 should be the new default.
  core/src/main/resources/application.yml
Owners: none

[JENKINS-AUTOMATION] Update Base image for docker-private.infra.cloudera.com/cloudera_base/ubi8/cldr-openjdk-21-runtime-cis:1.18-2.1705519635-stig-13022024
  docker-autoscale/Dockerfile
  docker-cloudbreak/Dockerfile
  docker-datalake/Dockerfile
  docker-environment/Dockerfile
  docker-externalized-compute/Dockerfile
  docker-freeipa/Dockerfile
  docker-redbeams/Dockerfile
  integration-test/test-image/Dockerfile
  mock-infrastructure/Dockerfile
  mock-thunderhead/Dockerfile
Owners: none

CB-24367 model, domain and entity changes to support custom docker registry configs on environment requests
  environment-api/src/main/java/com/sequenceiq/environment/api/doc/dataservices/DataServicesModelDescription.java
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/environment/model/CustomDockerRegistryV1Parameters.java
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/environment/model/base/BaseDataServicesV1Parameters.java
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/environment/model/base/DataServicesBase.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/dataservices/CustomDockerRegistryParameters.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/dataservices/EnvironmentDataServices.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/creation/handler/EnvironmentValidationHandler.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/converter/DataServicesConverter.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/EnvironmentFlowValidatorService.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/validators/EnvironmentDataServicesValidator.java
  environment/src/main/java/com/sequenceiq/environment/experience/liftie/requests/DescribeCustomConfigRequest.java
  environment/src/main/java/com/sequenceiq/environment/experience/liftie/responses/DescribeCustomConfigResponse.java
Owners: @cloudbreak/cloudbreak-wolf

CB-24740 client generation with OpenApi for ThunderheadCompute-API, client set up in Env service, mock endpoint implementation
  environment/.gitignore
  environment/build.gradle
  environment/src/main/java/com/sequenceiq/environment/client/thunderhead/computeapi/ThunderheadComputeApiClientConfig.java
  environment/src/main/java/com/sequenceiq/environment/client/thunderhead/computeapi/ThunderheadComputeApiClientFactory.java
  environment/src/main/java/com/sequenceiq/environment/client/thunderhead/computeapi/ThunderheadComputeApiService.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/converter/DataServicesConverter.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/validators/EnvironmentDataServicesValidator.java
  environment/src/main/resources/application.yml
  environment/src/main/resources/compute-api.yaml
  environment/src/test/java/com/sequenceiq/environment/client/thunderhead/computeapi/ThunderheadComputeApiServiceTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/validation/validators/EnvironmentDataServicesValidatorTest.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/controller/MockThunderheadComputeApiController.java
Owners: @cloudbreak/cloudbreak-wolf, @cloudbreak/cloudbreak-raven

CB-24535 CB-24497 disable gateway and cmca rotation for gov until further notice
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/AbstractTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXRepairTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/InternalSdxRepairWithRecipeTest.java
Owners: none

CB-24839 during IT runs use the thunderhead-mock from CBD and let CBD manage the network through compose
  integration-test/docker-compose_template.yml
  integration-test/integcb/Profile_template
  integration-test/scripts/docker-compose.sh
  integration-test/scripts/stop-containers.sh
Owners: none

CB-23648 correct DistroXClusterUpscaleDownscaleTest.testNodeCountLimit to our new 1000 node limit
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/DistroXClusterUpscaleDownscaleTest.java
Owners: none

CB-24815 - update instance storage count, instance storage size and temporary storage values in template table
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/request/StackVerticalScaleV4Request.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/verticalscale/CoreVerticalScaleActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/verticalscale/CoreVerticalScaleService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/upscale/StackUpscaleService.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/CoreVerticalScaleHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/resource/CoreVerticalScaleResult.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/metering/MismatchedInstanceHandlerService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/verticalscale/CoreVerticalScaleActionsTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/stack/upscale/StackUpscaleServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/metering/MismatchedInstanceHandlerServiceTest.java
Owners: none

CB-22243 Update all docker images in project
  scripts/update-image.sh
Owners: none

CB-24871 Use CDL k8s configs for k8s provision
  externalized-compute/build.gradle
  externalized-compute/src/main/java/com/sequenceiq/externalizedcompute/service/ExternalizedComputeClusterCreateService.java
  externalized-compute/src/main/resources/compute-cluster.json
  externalized-compute/src/test/java/com/sequenceiq/externalizedcompute/service/ExternalizedComputeClusterCreateServiceTest.java
Owners: none

CB-24125: Added secret encryption to secrets in core EC2 user data generation
  core/src/main/java/com/sequenceiq/cloudbreak/encryption/EncryptionUtil.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/image/userdata/UserDataBuilder.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/image/userdata/UserDataBuilderParams.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/image/userdata/UserDataService.java
  core/src/main/resources/application.yml
  core/src/main/resources/init/init.ftl
  core/src/test/java/com/sequenceiq/cloudbreak/encryption/EncryptionUtilTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/image/userdata/UserDataBuilderTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/image/userdata/UserDataServiceTest.java
  core/src/test/resources/aws-core-init-secret-encryption.sh
  core/src/test/resources/aws-core-init.sh
  core/src/test/resources/aws-gateway-init-secret-encryption.sh
  core/src/test/resources/aws-gateway-init.sh
  core/src/test/resources/azure-core-ccm-init.sh
  core/src/test/resources/azure-core-init.sh
  core/src/test/resources/azure-gateway-ccm-v2-init.sh
  core/src/test/resources/azure-gateway-ccm-v2-jumpgate-init.sh
  core/src/test/resources/azure-gateway-init-authproxy.sh
  core/src/test/resources/azure-gateway-init-noauthproxy.sh
  core/src/test/resources/azure-gateway-init.sh
  freeipa/src/main/java/com/sequenceiq/freeipa/service/image/userdata/UserDataBuilder.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/image/userdata/UserDataBuilderParams.java
  freeipa/src/main/resources/application.yml
  freeipa/src/main/resources/encryption/secret-keys-and-names.json
  freeipa/src/test/java/com/sequenceiq/freeipa/service/image/userdata/UserDataBuilderTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-24550 Fixed cloud parameter service to return bad request if we get authorization issue from azure.
  cloud-reactor/src/main/java/com/sequenceiq/cloudbreak/cloud/service/CloudParameterService.java
  cloud-reactor/src/test/java/com/sequenceiq/cloudbreak/cloud/service/CloudParameterServiceTest.java
Owners: none

CB-24803 fixing sql statements to make sure we dont fetch more than what is required
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/view/BaseBlueprintClusterView.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/view/BlueprintClusterView.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/InstanceMetaDataRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/StackRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/cluster/ClusterRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/blueprint/BlueprintService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/ClusterService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/StackApiViewService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/user/UserService.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/blueprint/BlueprintServiceTest.java
  workspace/src/main/java/com/sequenceiq/cloudbreak/workspace/repository/workspace/UserRepository.java
Owners: none

CB-24734 Deprecated a redbeams flexible field due to typo and introduced another with correct spelling
  core/src/main/java/com/sequenceiq/cloudbreak/service/externaldatabase/AzureDatabaseServerParameterDecorator.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/database/AzureDatabaseServerParameterSetter.java
  redbeams-api/src/main/java/com/sequenceiq/redbeams/api/endpoint/v4/stacks/azure/AzureDatabaseServerV4Parameters.java
  redbeams/src/main/java/com/sequenceiq/redbeams/converter/stack/DatabaseServerV4StackRequestToDatabaseServerConverter.java
Owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-armadillo, @cloudbreak/cloudbreak-duck

CB-24851 add imds version to fms image entity
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/catalog/ImagePackageVersion.java
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/image/ImageConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/image/ImageToImageEntityConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/entity/ImageEntity.java
  freeipa/src/main/resources/schema/app/20240213110223_CB-24851_Add_imdsversion_column_to_image_table.sql
  freeipa/src/test/java/com/sequenceiq/freeipa/converter/image/ImageConverterTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/converter/image/ImageToImageEntityConverterTest.java
Owners: @cloudbreak/cloudbreak-duck

[JENKINS-AUTOMATION] Update Base image for docker-private.infra.cloudera.com/cloudera_base/ubi8/cldr-openjdk-21-runtime-cis:1.18-2.1705519635-stig-15022024
  docker-autoscale/Dockerfile
  docker-cloudbreak/Dockerfile
  docker-datalake/Dockerfile
  docker-environment/Dockerfile
  docker-externalized-compute/Dockerfile
  docker-freeipa/Dockerfile
  docker-redbeams/Dockerfile
  integration-test/docker-compose_template.yml
  integration-test/scripts/docker-build.sh
  integration-test/test-image/Dockerfile
  mock-infrastructure/Dockerfile
  mock-thunderhead/Dockerfile
Owners: none

CB-24876 Add CDP_CONTAINER_READY_ENV entitlement
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementService.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/model/Entitlement.java
  auth-connector/src/test/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementServiceTest.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/auth/MockUserManagementService.java
  mock-thunderhead/src/main/resources/application.yml
Owners: none
