Repository hortonworks/cloudbreak, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-wolf-backend, @cloudbreak/cloudbreak-duck, @cloudbreak/cloudbreak-armadillo, @tpopovics

CB-30222 Environment creation should fail when the Encryption Profile name is not found
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentCreationService.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentResourceService.java
  environment/src/test/java/com/sequenceiq/environment/environment/service/EnvironmentResourceServiceTest.java
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-30446 Add Feature flag to enable TLS/Cipher control for CM (Enabled by entitlement)
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunner.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunnerTest.java
  orchestrator-salt/src/main/resources/salt/salt/cloudera/manager/init.sls
Owners: none

CB-30790 Adjust password generation to include special characters and be at least 32 chars
  common/src/main/java/com/sequenceiq/cloudbreak/util/PasswordUtil.java
  common/src/test/java/com/sequenceiq/cloudbreak/util/PasswordUtilTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/IdBrokerConverterUtil.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/util/GatewayConvertUtil.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/StackV4RequestToStackConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/certrotate/ClusterCMCARotationHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/context/provider/AbstractCMRelatedDatabasePasswordContextProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/context/provider/CBCMAdminPasswordRotationContextProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/context/provider/MonitoringCredentialsRotationContextProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/ClusterService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/rdsconfig/AbstractRdsConfigProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/rdsconfig/RedbeamsDbServerConfigurer.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/StackRequestManifester.java
Owners: @cloudbreak/cloudbreak-raven

Revert "Revert "CB-30472 SdxService refactor - part 2 - Removing Raz, Ccm, Salt, SdxInstances""
  datalake/src/main/java/com/sequenceiq/datalake/controller/sdx/SdxController.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/SdxHaApplication.java
  datalake/src/main/java/com/sequenceiq/datalake/job/salt/SdxSaltStatusCheckerJob.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/CcmService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/EnvironmentService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/MultiAzDecorator.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/RangerRazService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SaltService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxInstanceService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/StorageValidationService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/status/SdxStatusService.java
  datalake/src/test/java/com/sequenceiq/datalake/controller/sdx/SdxControllerTest.java
  datalake/src/test/java/com/sequenceiq/datalake/flow/SdxHaApplicationTest.java
  datalake/src/test/java/com/sequenceiq/datalake/job/salt/SdxSaltStatusCheckerJobTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/CcmServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/RangerRazServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SaltServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxInstanceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxServiceCreateSdxTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/StorageValidationServiceTest.java
Owners: @cloudbreak/cloudbreak-raven

CB-30472 SdxService refactor - part 2 - Removing Raz, Ccm, Salt, SdxInstances
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxService.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxServiceTest.java
Owners: @cloudbreak/cloudbreak-raven

CB-30473 Add CDP_CB_VERTICAL_SCALE_HA Entitlement
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementService.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/model/Entitlement.java
  auth-connector/src/test/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementServiceTest.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/auth/MockUserManagementService.java
  mock-thunderhead/src/main/resources/application.yml
  mock-thunderhead/src/test/java/com/sequenceiq/thunderhead/grpc/service/auth/MockUserManagementServiceTest.java
Owners: none

CB-30818: Compress the SELinux deny reports generated during E2E tests
  dependencies.gradle
  integration-test/build.gradle
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/selinux/SELinuxAssertions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/AbstractE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/util/CompressUtil.java
Owners: none

CB-30838 Filter by account id for classic cluster listing in mock
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/entity/ClassicCluster.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/classiccluster/MockClassicClusterService.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/repository/ClassicClusterRepository.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/service/ClassicClusterService.java
Owners: none

CB-30843 Validate cross realm trust with krbtgt service principal
  freeipa/src/main/resources/freeipa-salt/salt/trustsetup/validation/scripts/trust_status_validation.sh.j2
Owners: @cloudbreak/cloudbreak-duck

CB-30842 Use correct HDFS service name for Classic Cluster
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterDatalakeServicesProvider.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterDatalakeServicesProviderTest.java
Owners: @cloudbreak/cloudbreak-wolf-backend

Reapply "CB-30410 Adding rhel9 image selection support to freeipa code"
  common-model/src/main/java/com/sequenceiq/common/model/OsType.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/image/FreeIpaImageFilter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/image/FreeIpaImageProvider.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/image/ImageCatalogProvider.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/image/PreferredOsService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/image/SupportedOsService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/FreeIpaCreationService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/upgrade/UpgradeImageService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/upgrade/UpgradeService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/upgrade/UpgradeValidationService.java
  freeipa/src/main/resources/application.yml
  freeipa/src/test/java/com/sequenceiq/freeipa/service/image/FreeIpaImageProviderTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/image/PreferredOsServiceTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/upgrade/UpgradeImageServiceTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/upgrade/UpgradeValidationServiceTest.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/auth/MockUserManagementService.java
  mock-thunderhead/src/main/resources/application.yml
Owners: @cloudbreak/cloudbreak-duck

CB-30785 Validate that selected On-Premises environment is kerberized
  environment/src/main/java/com/sequenceiq/environment/environment/flow/hybrid/setup/handler/EnvironmentCrossRealmTrustSetupHandler.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/freeipa/stack/model/crossrealm/PrepareCrossRealmTrustRequest.java
  freeipa-api/src/main/java/com/sequenceiq/service/api/doc/ModelDescriptions.java
  freeipa/build.gradle
  freeipa/src/main/java/com/sequenceiq/freeipa/configuration/RemoteEnvironmentConfig.java
  freeipa/src/main/java/com/sequenceiq/freeipa/configuration/ServiceEndpointConfig.java
  freeipa/src/main/java/com/sequenceiq/freeipa/entity/CrossRealmTrust.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/crossrealm/TrustSetupService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/trust/operation/TaskResults.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/trust/setup/TrustSetupValidationService.java
  freeipa/src/main/resources/application.yml
  freeipa/src/main/resources/schema/app/20251014131420_CB-30785_Add_remoteEnvironmentCrn_field_to_CrossRealmTrust_entity.sql
  freeipa/src/test/java/com/sequenceiq/freeipa/service/freeipa/trust/setup/TrustSetupValidationServiceTest.java
Owners: @cloudbreak/cloudbreak-wolf-backend, @cloudbreak/cloudbreak-duck

CB-30850 FMS recommendation endpoint should throw bad request when there is a provider credential issue as CB core does
  freeipa/src/main/java/com/sequenceiq/freeipa/controller/mapper/GetCloudParameterExceptionMapper.java
Owners: @cloudbreak/cloudbreak-duck

CB-30824 Move upgrade recovery behind an entitlement
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementService.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/model/Entitlement.java
  auth-connector/src/test/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementServiceTest.java
  datalake/src/main/java/com/sequenceiq/datalake/service/upgrade/recovery/SdxUpgradeRecoveryService.java
  datalake/src/test/java/com/sequenceiq/datalake/service/upgrade/recovery/SdxUpgradeRecoveryServiceTest.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/auth/MockUserManagementService.java
  mock-thunderhead/src/main/resources/application.yml
Owners: @cloudbreak/cloudbreak-raven

CB-30866 proto generation should not depend on version
  audit-connector/build.gradle
  audit-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/audit/AuditGrpc.java
  auth-connector/build.gradle
  auth-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/authorization/AuthorizationGrpc.java
  auth-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/personalresourceview/PersonalResourceViewGrpc.java
  auth-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/usermanagement/UserManagementGrpc.java
  auth-distributor-connector/build.gradle
  auth-distributor-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/authdistributor/AuthDistributorGrpc.java
  ccm-connector/build.gradle
  ccm-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/clusterconnectivitymanagementv2/ClusterConnectivityManagementV2Grpc.java
  ccm-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/minasshd/MinaSshdGrpc.java
  ccm-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/minasshdmanagement/MinaSshdManagementGrpc.java
  cluster-dns-connector/build.gradle
  cluster-dns-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/publicendpointmanagement/PublicEndpointManagementGrpc.java
  databus-connector/build.gradle
  databus-connector/src/generated/main/grpc/com/cloudera/sigma/service/dbus/SigmaDbusGrpc.java
  datalake-dr-connector/build.gradle
  datalake-dr-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/datalakedr/datalakeDRGrpc.java
  grpc-common/build.gradle
  idbmms-connector/build.gradle
  idbmms-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/idbrokermappingmanagement/IdBrokerMappingManagementGrpc.java
  liftie-connector/build.gradle
  metering-connector/build.gradle
  metering-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/meteringingestion/MeteringIngestionGrpc.java
  metrics-client/build.gradle
  remote-cluster-connector/build.gradle
  remote-cluster-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/onpremises/OnPremisesApiGrpc.java
  remote-cluster-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/remotecluster/RemoteClusterGrpc.java
  remote-cluster-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/remotecluster/RemoteClusterInternalGrpc.java
  sdx-connector/build.gradle
  sdx-connector/src/generated/main/grpc/com/cloudera/cdp/servicediscovery/ServiceDiscoveryGrpc.java
  sdx-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/cdlcrud/CdlCrudGrpc.java
  usage-collection/build.gradle
  wiam-connector/build.gradle
  wiam-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/workloadiam/WorkloadIamGrpc.java
Owners: @cloudbreak/cloudbreak-wolf-backend, @cloudbreak/cloudbreak-raven

CB-30761: Modify Azure E2E instance type from Standard_DS13_v2 to Standard_D16s_v3 to utilize more v3 quota
  integration-test/src/main/resources/application.yml
Owners: none

CB-30673 Generate and configure ECDSA certificate for NGINX
  common/src/main/java/com/sequenceiq/cloudbreak/certificate/PkiUtil.java
  common/src/test/java/com/sequenceiq/cloudbreak/certificate/PkiUtilTest.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/SecurityConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunner.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/TlsSecurityService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/publicendpoint/GatewayPublicEndpointManagementService.java
  core/src/main/resources/schema/app/20250930114339_CB-30673_add_alternative_user_facing_cert_and_private_key_to_security_config.sql
  core/src/test/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunnerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/reactor/handler/kerberos/CmServiceKeytabRequestFactoryTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/rotation/context/provider/NginxClusterSslCertPrivateKeyRotationContextProviderTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/publicendpoint/GatewayPublicEndpointManagementServiceTest.java
  environment/src/main/java/com/sequenceiq/environment/encryptionprofile/service/EncryptionProfileService.java
  environment/src/test/java/com/sequenceiq/environment/encryptionprofile/EncryptionProfileTestConstants.java
  environment/src/test/java/com/sequenceiq/environment/encryptionprofile/service/EncryptionProfileServiceTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/TlsSecurityService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/rotation/nginxclusterkey/NginxClusterSslCertPrivateKeyRotationContextProviderTest.java
  orchestrator-api/src/main/java/com/sequenceiq/cloudbreak/orchestrator/model/GatewayConfig.java
  orchestrator-salt/src/main/resources/salt/salt/nginx/conf/clouderamanager-ssl-user-facing.conf
  orchestrator-salt/src/main/resources/salt/salt/nginx/init.sls
  orchestrator-salt/src/test/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestratorTest.java
  orchestrator-salt/src/test/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltPartialStateUpdaterTest.java
  orchestrator-salt/src/test/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltTelemetryOrchestratorTest.java
  orchestrator-salt/src/test/java/com/sequenceiq/cloudbreak/orchestrator/salt/poller/SaltBootstrapTest.java
Owners: @cloudbreak/cloudbreak-wolf-backend, @cloudbreak/cloudbreak-duck

CB-30849 Reverse DNS validation does not work when multiple hostnames are returned
  freeipa/src/main/resources/freeipa-salt/salt/trustsetup/validation/scripts/ad_reverse_dns_validation.sh.j2
Owners: @cloudbreak/cloudbreak-duck

CB-30448: Upgrade `handlebars` to `4.5.0`
  dependencies.gradle
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/ConfigUtils.java
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-29179 Use the NetworkManager to configure the loopback interface on GCP for the Loadbalancer on RedHat 9
  freeipa/src/main/resources/freeipa-salt/salt/loadbalancer/loadbalancer_ip.sls
Owners: @cloudbreak/cloudbreak-duck

CB-29890: Implement KRaft migration finalization flow
  authorization-common-api/src/main/java/com/sequenceiq/authorization/resource/AuthorizationResourceAction.java
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterApi.java
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterModificationService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerKraftMigrationService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/ClouderaManagerPollingServiceProvider.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerKraftMigrationServiceTest.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationServiceTest.java
  common/src/main/java/com/sequenceiq/cloudbreak/event/ResourceEvent.java
  common/src/main/resources/messages/messages.properties
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/common/DetailedStackStatus.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/endpoint/DistroXV1Endpoint.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/MigrateZookeeperToKraftFinalizationActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/MigrateZookeeperToKraftFinalizationHandlerSelectors.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/MigrateZookeeperToKraftFinalizationState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/MigrateZookeeperToKraftFinalizationStateSelectors.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/MigrateZookeeperToKraftMigrationActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/config/MigrateZookeeperToKraftFinalizationFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/event/MigrateZookeeperToKraftFinalizationEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/event/MigrateZookeeperToKraftFinalizationFailureEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/event/MigrateZookeeperToKraftFinalizationTriggerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/handler/MigrateZookeeperToKraftFinalizationHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/ReactorFlowManager.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/flow/StackOperationService.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/controller/DistroXV1Controller.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/MigrateZookeeperToKraftFinalizationActionsTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/handler/MigrateZookeeperToKraftFinalizationHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/service/ReactorFlowManagerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stack/flow/StackOperationServiceTest.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/controller/DistroXV1ControllerTest.java
Owners: @cloudbreak/cloudbreak-raven

CB-29891: Implement KRaft migration rollback command
  authorization-common-api/src/main/java/com/sequenceiq/authorization/resource/AuthorizationResourceAction.java
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterApi.java
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterModificationService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerKraftMigrationService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/ClouderaManagerPollingServiceProvider.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerKraftMigrationServiceTest.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationServiceTest.java
  common/src/main/java/com/sequenceiq/cloudbreak/event/ResourceEvent.java
  common/src/main/resources/messages/messages.properties
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/common/DetailedStackStatus.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/endpoint/DistroXV1Endpoint.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/MigrateZookeeperToKraftRollbackActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/MigrateZookeeperToKraftRollbackHandlerSelectors.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/MigrateZookeeperToKraftRollbackState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/MigrateZookeeperToKraftRollbackStateSelectors.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/config/MigrateZookeeperToKraftRollbackFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/event/MigrateZookeeperToKraftRollbackEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/event/MigrateZookeeperToKraftRollbackFailureEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/event/MigrateZookeeperToKraftRollbackTriggerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/handler/MigrateZookeeperToKraftRollbackHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/ReactorFlowManager.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/flow/StackOperationService.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/controller/DistroXV1Controller.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/MigrateZookeeperToKraftRollbackActionsTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/handler/MigrateZookeeperToKraftRollbackHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/service/ReactorFlowManagerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stack/flow/StackOperationServiceTest.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/controller/DistroXV1ControllerTest.java
Owners: @cloudbreak/cloudbreak-raven

CB-30761: Modify Azure E2E instance type from Standard_DS13_v2 to Standard_D16s_v3 to utilize more v3 quota
  integration-test/src/main/resources/application.yml
Owners: none

CB-30772 Faster timeout for Private Control Plane environment list
  cluster-proxy/build.gradle
  cluster-proxy/src/main/java/com/sequenceiq/cloudbreak/clusterproxy/ClusterProxyConfiguration.java
  cluster-proxy/src/main/java/com/sequenceiq/cloudbreak/clusterproxy/ClusterProxyHybridClient.java
  cluster-proxy/src/main/java/com/sequenceiq/cloudbreak/clusterproxy/ClusterProxyProxyClient.java
  cluster-proxy/src/main/java/com/sequenceiq/cloudbreak/clusterproxy/ClusterProxyProxyClientFactory.java
  cluster-proxy/src/main/java/com/sequenceiq/cloudbreak/clusterproxy/ClusterProxyRegistrationClient.java
  cluster-proxy/src/main/java/com/sequenceiq/cloudbreak/clusterproxy/ClusterProxyRegistrationServiceConfig.java
  cluster-proxy/src/main/java/com/sequenceiq/cloudbreak/clusterproxy/ClusterProxyRestTemplateConfig.java
  cluster-proxy/src/test/java/com/sequenceiq/cloudbreak/clusterproxy/ClusterProxyHybridClientTest.java
  cluster-proxy/src/test/java/com/sequenceiq/cloudbreak/clusterproxy/ClusterProxyProxyClientTest.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/privatecontrolplane/PrivateControlPlaneClient.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/privatecontrolplane/PrivateControlPlaneClientConfiguration.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/privatecontrolplane/PrivateControlPlaneRemoteEnvironmentConnector.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/connector/privatecontrolplane/PrivateControlPlaneClientTest.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/connector/privatecontrolplane/PrivateControlPlaneRemoteEnvironmentConnectorTest.java
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-30863 Handle the case when CM is not available
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/controller/mapper/BadRequestExceptionMapper.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/controller/mapper/OnPremCMApiExceptionMapper.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/exception/OnPremCMApiException.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/RemoteEnvironmentService.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterClouderaManagerApiClientProvider.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterDatalakeServicesProvider.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterDescribeService.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterRemoteDataContextProvider.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterRootCertificateProvider.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/controller/mapper/OnPremCMApiExceptionMapperTest.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/RemoteEnvironmentServiceTest.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterDatalakeServicesProviderTest.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterDescribeServiceTest.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterRemoteDataContextProviderTest.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterRootCertificateProviderTest.java
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-30749 - e2e tests uses embedded db instead of external where possible
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxInternalTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/AbstractIntegrationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/AbstractE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXArmImageTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXAwsMigrationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXDeleteAndAddVolumesTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXEncryptedVolumeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXMarketplaceImageTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXMultiAzUpgradeTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXRestartInstancesTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXScaleTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXUpgradeTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXVolumesModificationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/environment/EnvironmentStopStartTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaArmTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaMarketplaceUpgradeTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaUpgradeTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/gov/BasicSdxTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/gov/PreconditionGovTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/imagevalidation/BaseImageValidatorE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/imagevalidation/PrewarmImageValidatorE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/DatalakeCcmUpgradeAndRotationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/MonitoringTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/InternalSdxRepairWithRecipeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/InternalSdxTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxCloudStorageTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxImagesTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxRangerRazEnabledTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxRefreshEntitlementTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxRestartInstancesTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxRootVolumeModificationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxSecurityTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxUpgradeTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxVolumesVerticalScaleTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/spot/AwsSdxSpotInstanceTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/resize/SdxResizeTestUtil.java
Owners: @cloudbreak/cloudbreak-wolf-backend, @cloudbreak/cloudbreak-duck

CB-30903 Use proper json fields of Classic Cluster describe
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterListService.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterListServiceTest.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/classiccluster/MockClassicClusterService.java
  remote-cluster-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/onpremises/OnPremisesApiGrpc.java
  remote-cluster-connector/src/generated/main/java/com/cloudera/thunderhead/service/onpremises/OnPremisesApiProto.java
  remote-cluster-connector/src/main/proto/onpremisesapi.proto
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-30443: Upgrade `tomcat-embed-core` to `10.1.48` and force it for all services
  autoscale/build.gradle
  datalake/build.gradle
  dependencies.gradle
  externalized-compute/build.gradle
  freeipa/build.gradle
  redbeams/build.gradle
Owners: @cloudbreak/cloudbreak-wolf-backend, @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-duck

CB-30901 Ignore salt error when changing FreeIPA PGW
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/repair/changeprimarygw/ChangePrimaryGatewayFlowConfig.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/repair/changeprimarygw/handler/SwitchFreeIpaMasterToPrimaryGatewayHandler.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/freeipa/repair/changeprimarygw/handler/SwitchFreeIpaMasterToPrimaryGatewayHandlerTest.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestrator.java
  orchestrator-salt/src/test/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestratorTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-30351 Send EDH event about getting in degraded cluster mode
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/skumigration/SkuMigrationActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/job/provider/ProviderSyncService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/StackUpdater.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/StackService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/skumigration/SkuMigrationActionsTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/job/provider/ProviderSyncServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/repository/StackUpdaterTest.java
  usage-collection/src/main/java/com/sequenceiq/cloudbreak/usage/UsageReportProcessor.java
  usage-collection/src/main/java/com/sequenceiq/cloudbreak/usage/UsageReporter.java
  usage-collection/src/main/java/com/sequenceiq/cloudbreak/usage/service/ProviderSyncStateChangeUsageSenderService.java
  usage-collection/src/main/proto/usage.proto
  usage-collection/src/test/java/com/sequenceiq/cloudbreak/usage/service/ProviderSyncStateChangeUsageSenderServiceTest.java
Owners: none

CB-30449: Upgrade `hadoop-yarn-api` to `3.4.2`
  dependencies.gradle
Owners: none

CB-30878 catch sdx salt password rotation job validation related bad request exceptions
  datalake/src/main/java/com/sequenceiq/datalake/job/salt/SdxSaltStatusCheckerJob.java
  datalake/src/test/java/com/sequenceiq/datalake/job/salt/SdxSaltStatusCheckerJobTest.java
Owners: @cloudbreak/cloudbreak-raven

CB-29889 - Disable runtime upgrade if the target runtime is using Kafka 4.0
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/validation/service/RuntimeUpgradeValidator.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/validation/service/RuntimeUpgradeValidatorTest.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/CMRepositoryVersionUtil.java
Owners: @tpopovics, @cloudbreak/cloudbreak-wolf-backend

CB-30816 Add architecture support to image catalog API and services
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/imagecatalog/ImageCatalogV4Endpoint.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/ImageCatalogV4Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/image/DefaultImageCatalogService.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/image/DefaultImageCatalogServiceTest.java
Owners: @cloudbreak/cloudbreak-raven

CB-30882 Use the NetworkManager to configure the loopback interface on Azure and GCP for the Loadbalancer on RedHat 9
  orchestrator-salt/src/main/resources/salt/salt/gateway/floating_ip_loadbalancer.sls
Owners: none

CB-30812 PEM DNS entry managment changes: remove unnecessary rollback, fail hard during start operation and enable gRPC re-trying for client
  cluster-dns-connector/src/main/java/com/sequenceiq/cloudbreak/client/ClusterDnsConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/start/ClusterStartFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/publicendpoint/ClusterPublicEndpointManagementService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/publicendpoint/dns/BaseDnsEntryService.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/publicendpoint/dns/BaseDnsEntryServiceTest.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/start/SdxStartActions.java
Owners: @cloudbreak/cloudbreak-raven

CB-30908 - add external db to InternalSdxRepairWithRecipeTest
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/InternalSdxRepairWithRecipeTest.java
Owners: none

CB-29877: Implement common validation for migration and finalization flows
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/MigrateZookeeperToKraftValidationActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/MigrateZookeeperToKraftValidationHandlerSelectors.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/MigrateZookeeperToKraftValidationState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/MigrateZookeeperToKraftValidationStateSelectors.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/config/MigrateZookeeperToKraftValidationFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/event/MigrateZookeeperToKraftValidationEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/event/MigrateZookeeperToKraftValidationFailureEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/event/MigrateZookeeperToKraftValidationTriggerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/handler/MigrateZookeeperToKraftValidationHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/flow/StackOperationService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/validation/ZookeeperToKraftMigrationValidator.java
  core/src/main/resources/application.yml
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/MigrateZookeeperToKraftValidationActionsTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/migration/kraft/handler/MigrateZookeeperToKraftValidationHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stack/flow/StackOperationServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/validation/ZookeeperToKraftMigrationValidatorTest.java
Owners: none

CB-30874, CB-30876 - Introduce shouldSync everywhere + handle exceptions in syncer
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/provision/ClusterCreationActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/start/ClusterStartActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/job/provider/ProviderSyncJobInitializer.java
  core/src/main/java/com/sequenceiq/cloudbreak/job/provider/ProviderSyncJobService.java
  core/src/main/java/com/sequenceiq/cloudbreak/job/provider/ProviderSyncService.java
  core/src/test/java/com/sequenceiq/cloudbreak/job/provider/ProviderSyncJobInitializerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/job/provider/ProviderSyncJobServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/job/provider/ProviderSyncServiceTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/provision/action/FreeIpaProvisionActions.java
  freeipa/src/main/java/com/sequenceiq/freeipa/sync/crossrealmtrust/CrossRealmTrustStatusSyncJob.java
  freeipa/src/main/java/com/sequenceiq/freeipa/sync/provider/ProviderSyncJob.java
  freeipa/src/main/java/com/sequenceiq/freeipa/sync/provider/ProviderSyncJobService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/sync/provider/ProviderSyncService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/sync/crossrealmtrust/CrossRealmTrustStatusSyncJobTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/sync/provider/ProviderSyncJobServiceTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/sync/provider/ProviderSyncJobTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/sync/provider/ProviderSyncServiceTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-30850 Introduce MdcVirtualThreadFactory for improved MDC context propagation
  cloud-template/src/main/java/com/sequenceiq/cloudbreak/cloud/template/compute/ComputeResourceService.java
  common/src/main/java/com/sequenceiq/cloudbreak/concurrent/MdcVirtualThreadFactory.java
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/en/articles/about-code-owners
# These people are automatically added as reviewers for PRs.
# At some point in the future they might be "required"

# Raven team should review authorization framework related changes
auth-internal/                                                                  @cloudbreak/cloudbreak-raven
auth-internal-api/                                                              @cloudbreak/cloudbreak-raven
authorization-common/                                                           @cloudbreak/cloudbreak-raven
authorization-common-api/                                                       @cloudbreak/cloudbreak-raven
grpc-common/                                                                    @cloudbreak/cloudbreak-raven

# Raven and Armadillo teams should review datalake and datalake-api modules
datalake/                                                                       @cloudbreak/cloudbreak-raven
datalake-api/                                                                   @cloudbreak/cloudbreak-raven
sdx-connector/                                                                  @cloudbreak/cloudbreak-raven

# Raven and Armadillo team should review datalake blueprint changes
core/src/main/resources/defaults/blueprints/*/cdp-sdx*.bp                       @cloudbreak/cloudbreak-raven

# Raven team should review quartz and sync job related PRs
common/src/java/com/sequenceiq/cloudbreak/quartz/*StatusCheckerJob.java         @cloudbreak/cloudbreak-raven

# Raven team should review how Controllers are authorized
*Controller.java                                                                @cloudbreak/cloudbreak-raven

# Wolf team should review environment and environment-api modules
environment/                                                                    @cloudbreak/cloudbreak-wolf-backend
environment-api/                                                                @cloudbreak/cloudbreak-wolf-backend
environment-common/                                                             @cloudbreak/cloudbreak-wolf-backend
environment-remote/                                                             @cloudbreak/cloudbreak-wolf-backend
environment-remote-api/                                                         @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review template modules
template-manager-blueprint/                                                     @cloudbreak/cloudbreak-wolf-backend
template-manager-cmteplate/                                                     @cloudbreak/cloudbreak-wolf-backend
template-manager-core/                                                          @cloudbreak/cloudbreak-wolf-backend
template-manager-recipe/                                                        @cloudbreak/cloudbreak-wolf-backend
template-manager-tag/                                                           @cloudbreak/cloudbreak-wolf-backend

# By default, unless overridden later,
# Wolf should review every policy change:
cloud-aws-cloudformation/src/main/resources/definitions/                        @cloudbreak/cloudbreak-wolf-backend
cloud-aws-common/src/main/resources/definitions/                                @cloudbreak/cloudbreak-wolf-backend
cloud-azure/src/main/resources/definitions/                                     @cloudbreak/cloudbreak-wolf-backend
cloud-gcp/src/main/resources/definitions/                                       @cloudbreak/cloudbreak-wolf-backend


# DB SSL related changes in core shall be assigned to Duck
core/**/ClusterDbCertRotationHandler.java                                       @cloudbreak/cloudbreak-duck
core/**/DatabaseSslService*.java                                                @cloudbreak/cloudbreak-duck
core/**/RedbeamsDbCertificateProvider*.java                                     @cloudbreak/cloudbreak-duck
core-api/**/DatabaseServerSsl*.java                                             @cloudbreak/cloudbreak-duck
core-model/**/DatabaseSslDetails*.java                                          @cloudbreak/cloudbreak-duck
core-model/**/RdsSslMode.java                                                   @cloudbreak/cloudbreak-duck

# Wolf team should review data hub blueprint changes
core/src/main/resources/defaults/blueprints/                                    @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review data hub template changes
core/src/main/resources/defaults/clustertemplates/                              @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review the network usage in IT
integration-test/scripts/check-results.sh                                       @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review template generation related changes
template-manager-blueprint/                                                     @cloudbreak/cloudbreak-wolf-backend
template-manager-cmtemplate/                                                    @cloudbreak/cloudbreak-wolf-backend
template-manager-tag/                                                           @cloudbreak/cloudbreak-wolf-backend
template-manager-recipe/                                                        @cloudbreak/cloudbreak-wolf-backend
template-manager-core/                                                          @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review autoscale changes
autoscale/                                                                      @cloudbreak/cloudbreak-wolf-backend
autoscale-api/                                                                  @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review audit related changes
audit-connector/                                                                @cloudbreak/cloudbreak-wolf-backend

# Duck team should review freeipa related changes
freeipa/                                                                        @cloudbreak/cloudbreak-duck
freeipa-api/                                                                    @cloudbreak/cloudbreak-duck
freeipa-client/                                                                 @cloudbreak/cloudbreak-duck

# DB SSL related changes in redbeams shall be assigned to Duck
redbeams/**/CertRotateInRedbeamsHandler*.java                                   @cloudbreak/cloudbreak-duck
redbeams/**/DatabaseServerSslCertificate*.java                                  @cloudbreak/cloudbreak-duck
redbeams/**/SslCertificateEntry*.java                                           @cloudbreak/cloudbreak-duck
redbeams/**/SslConfig*.java                                                     @cloudbreak/cloudbreak-duck
redbeams/**/SslContent*.java                                                    @cloudbreak/cloudbreak-duck
redbeams/src/main/resources/certs/                                              @cloudbreak/cloudbreak-duck
redbeams/src/test/resources/test_certs/                                         @cloudbreak/cloudbreak-duck
redbeams/scripts/import-aws-rds-root-certs.sh                                   @cloudbreak/cloudbreak-duck
redbeams-api/**/SslConfig*.java                                                 @cloudbreak/cloudbreak-duck
redbeams-api/**/SslMode*.java                                                   @cloudbreak/cloudbreak-duck

# Duck team should review other redbeams related changes
redbeams/                                                                       @cloudbreak/cloudbreak-duck
redbeams-api/                                                                   @cloudbreak/cloudbreak-duck

# Armadillo team should review changes to datalake related scripts
orchestrator-salt/src/main/resources/salt/salt/postgresql/disaster_recovery     @cloudbreak/cloudbreak-armadillo
orchestrator-salt/src/main/resources/salt/salt/datalake_metrics                 @cloudbreak/cloudbreak-armadillo

# DB SSL related changes in orchestrator-salt shall be assigned to Duck
orchestrator-salt/**/postgresql/root-certs.sls                                  @cloudbreak/cloudbreak-duck
orchestrator-salt/**/postgresql/scripts/conf_pgsql_ssl.sh                       @cloudbreak/cloudbreak-duck
orchestrator-salt/**/postgresql/scripts/create_embeddeddb_certificate.sh        @cloudbreak/cloudbreak-duck

core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/                   @tpopovics
core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/upgrade/ @tpopovics
