Repository hortonworks/cloudbreak, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-armadillo, @cloudbreak/cloudbreak-wolf, @lrodek, @cloudbreak/cloudbreak-bobcat, @cloudbreak/cloudbreak-duck

CB-24249 Clear shutdown flag of the testcontext for ephemeral tests
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/ephemeral/DistroXEphemeralTests.java
Owners: none

CB-22462 Network related metrics not available for VM based clusters
  common/src/main/resources/common-config.yml
Owners: none

CB-24228 Failed to create SDX with error "Version '14' is not supported."
  common/src/main/java/com/sequenceiq/cloudbreak/service/database/DatabaseDefaultVersionProvider.java
  common/src/test/java/com/sequenceiq/cloudbreak/service/database/DatabaseDefaultVersionProviderTest.java
Owners: none

CB-21907 Fix too long azure retry when the returned exception is authorization issue and retry doesn't solve the problem.
  cloud-reactor/build.gradle
  cloud-reactor/src/main/java/com/sequenceiq/cloudbreak/cloud/service/CloudParameterService.java
  cloud-reactor/src/test/java/com/sequenceiq/cloudbreak/cloud/service/CloudParameterServiceTest.java
Owners: none

CB-24210 use json writer fallback in every case in DynamicModel
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/generic/DynamicModel.java
  cloud-api/src/test/java/com/sequenceiq/cloudbreak/cloud/model/generic/DynamicModelTest.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/volume/AwsAttachmentResourceBuilder.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/volume/AwsVolumeResourceBuilder.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/volume/AwsVolumeResourceBuilderTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/volume/VolumeResourceCollectorTest.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/resource/AzureAttachmentResourceBuilder.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/resource/AzureVolumeResourceBuilder.java
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/compute/GcpAttachedDiskResourceBuilder.java
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/compute/GcpDiskResourceBuilder.java
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/compute/GcpInstanceResourceBuilder.java
  cloud-reactor/src/main/java/com/sequenceiq/cloudbreak/cloud/transform/CloudResourceHelper.java
  cloud-reactor/src/test/java/com/sequenceiq/cloudbreak/cloud/transform/CloudResourceHelperTest.java
  cloud-template/src/main/java/com/sequenceiq/cloudbreak/cloud/template/AbstractResourceConnector.java
  cloud-template/src/test/java/com/sequenceiq/cloudbreak/cloud/template/AbstractResourceConnectorTest.java
Owners: none

CB-22831 Attempt to sign vhd source image if exists
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzureResourceConnector.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/upscale/AzureUpscaleService.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/AzureResourceConnectorTest.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/upscale/AzureUpscaleServiceTest.java
Owners: none

CB-24242 Increase parcel distribution timeout as 7.2.18 parcels are larger
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/ClouderaManagerPollingServiceProvider.java
Owners: none

Revert "CDPSDX-4778 change the CDL proto file, implement CdlSdxService to make proper communication between the Cloudbreak and the CdlCrudApp"
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/model/Entitlement.java
  common/src/main/java/com/sequenceiq/cloudbreak/sdx/TargetPlatform.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/saas/SdxSaasCreateAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/saas/SdxSaasDeleteAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/SdxSaasTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxSaasTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/microservice/SdxSaasItClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/microservice/TestClients.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/MockSdxSaasTests.java
  sdx-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/cdlcrud/CdlCrudGrpc.java
  sdx-connector/src/generated/main/java/com/cloudera/thunderhead/service/cdlcrud/CdlCrudProto.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/cdl/CdlSdxService.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/cdl/GrpcSdxCdlClient.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/cdl/SdxCdlClient.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/common/PlatformAwareSdxConnector.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/saas/SaasSdxService.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/saas/client/GrpcSdxSaasClient.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/saas/client/GrpcServiceDiscoveryClient.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/saas/client/SdxSaasClient.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/saas/client/ServiceDiscoveryClient.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/saas/client/config/SdxSaasChannelConfig.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/saas/client/config/ServiceDiscoveryChannelConfig.java
  sdx-connector/src/main/proto/cdlcrud.proto
  sdx-connector/src/main/proto/kubedatalake.proto
  sdx-connector/src/test/java/com/sequenceiq/cloudbreak/sdx/cdl/CdlSdxServiceTest.java
  sdx-connector/src/test/java/com/sequenceiq/cloudbreak/sdx/common/PlatformAwareSdxConnectorTest.java
  sdx-connector/src/test/java/com/sequenceiq/cloudbreak/sdx/saas/SaasSdxServiceTest.java
Owners: @cloudbreak/cloudbreak-raven

CB-24220 Follow redirects of image catalog url
  common/src/main/java/com/sequenceiq/cloudbreak/client/ConfigKey.java
  common/src/main/java/com/sequenceiq/cloudbreak/client/RestClientFactory.java
  common/src/main/java/com/sequenceiq/cloudbreak/client/RestClientUtil.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/helper/HttpHelper.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/validation/HttpContentSizeValidator.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/validation/ImageCatalogValidator.java
  core-api/src/test/java/com/sequenceiq/cloudbreak/api/model/imagecatalog/ImageCatalogV4BaseTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/image/CachedImageCatalogWrapperProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/parcel/ParcelService.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/image/CachedImageCatalogWrapperProviderTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/parcel/ParcelServiceIntTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/image/ImageCatalogProvider.java
Owners: @cloudbreak/cloudbreak-duck

CB-24258 Fix NullpointerException for incorrect volumeType
  core/src/main/java/com/sequenceiq/cloudbreak/controller/validation/template/TemplateValidatorAndUpdater.java
Owners: none

CB-24254 fix NPE in launch template block device name change logic if the instance type has ephemeral volume
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/mapper/LaunchTemplateBlockDeviceMappingToRequestConverter.java
Owners: none

CB-24234 volumeType should be optional for resizing disk in CB volumeType should be optional for resizing disk in CB
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/request/DiskUpdateRequest.java
Owners: none

CB-23489 Prometheus Agent Self-Monitoring Metrics Not available
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/template/prometheus.yml.j2
Owners: none

Revert "Merge pull request #141 from cloudbreak/CB-22667-create-add-volumes-flow-skeleton"
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/PlatformParametersConsts.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzurePlatformParameters.java
  cloud-reactor/src/main/java/com/sequenceiq/cloudbreak/cloud/service/CloudParameterCache.java
  common/src/main/java/com/sequenceiq/cloudbreak/event/ResourceEvent.java
  common/src/main/resources/messages/messages.properties
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/common/DetailedStackStatus.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/request/StackAddVolumesRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/AbstractAddVolumesAction.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/AddVolumesActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/AddVolumesEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/AddVolumesFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/AddVolumesState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AddVolumesCMConfigHandlerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AddVolumesFinalizedEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AddVolumesFinishedEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AddVolumesHandlerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AddVolumesOrchestrationFinishedEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AddVolumesOrchestrationHandlerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AddVolumesRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AttachVolumesFinishedEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/handler/AddVolumesCMConfigHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/handler/AddVolumesHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/handler/AddVolumesOrchestrationHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/handler/AttachVolumesHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/request/AddVolumesCMConfigFinishedEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/request/AddVolumesCMConfigHandlerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/request/AddVolumesFailedEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/ReactorFlowManager.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/ReactorFlowManagerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/AddVolumesActionsTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/handler/AddVolumesCMConfigHandlerTest.java
Owners: none

CB-24244 CM memory adjuster does not handle multiple line with CMF_JAVA_OPTS
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/states/SaltStateService.java
  orchestrator-salt/src/test/java/com/sequenceiq/cloudbreak/orchestrator/salt/states/SaltStateServiceTest.java
Owners: none

CFM-3626: Introduce new nifi templates for Nifi-2 tech preview
  core/src/main/resources/application.yml
  core/src/main/resources/defaults/blueprints/7.2.18/cdp-flow-management-nifi-2.bp
  core/src/main/resources/defaults/blueprints/7.2.18/cdp-flow-management-small-nifi-2.bp
  core/src/main/resources/defaults/clustertemplates/7.2.18/aws/flow-management-nifi-2.json
  core/src/main/resources/defaults/clustertemplates/7.2.18/aws/flow-management-small-nifi-2.json
  core/src/main/resources/defaults/clustertemplates/7.2.18/azure/flow-management-nifi-2.json
  core/src/main/resources/defaults/clustertemplates/7.2.18/azure/flow-management-small-nifi-2.json
  core/src/main/resources/defaults/clustertemplates/7.2.18/gcp/flow-management-nifi-2.json
  core/src/main/resources/defaults/clustertemplates/7.2.18/gcp/flow-management-small-nifi-2.json
  core/src/main/resources/defaults/clustertemplates/7.2.18/yarn/flow-management-nifi-2.json
  core/src/main/resources/defaults/clustertemplates/7.2.18/yarn/flow-management-small-nifi-2.json
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/ClusterTemplateTest.java
Owners: @cloudbreak/cloudbreak-wolf

CB-23999 Filter out deprecated DB root certs in Redbeams cert queries
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/database/CloudDatabaseServerSslCertificate.java
  cloud-aws-common/build.gradle
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsPlatformResourcesTestSupport.java
  config/checkstyle/checkstyle-suppressions.xml
  config/checkstyle/checkstyle.xml
  redbeams/build.gradle
  redbeams/src/main/java/com/sequenceiq/redbeams/configuration/DatabaseServerSslCertificateConfig.java
  redbeams/src/main/java/com/sequenceiq/redbeams/configuration/SslCertificateEntry.java
  redbeams/src/main/java/com/sequenceiq/redbeams/configuration/SslContent.java
  redbeams/src/main/java/com/sequenceiq/redbeams/controller/v4/support/SupportController.java
  redbeams/src/main/java/com/sequenceiq/redbeams/service/sslcertificate/DatabaseServerSslCertificateSyncService.java
  redbeams/src/main/java/com/sequenceiq/redbeams/service/sslcertificate/SslConfigService.java
  redbeams/src/main/java/com/sequenceiq/redbeams/service/stack/DBStackUpdater.java
  redbeams/src/main/resources/certs/azure/default/1.yml
  redbeams/src/main/resources/certs/azure/default/2.yml
  redbeams/src/test/java/com/sequenceiq/redbeams/configuration/DatabaseServerSslCertificateConfigIntegrationTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/configuration/DatabaseServerSslCertificateConfigTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/configuration/SslCertificateEntryTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/configuration/SslContentTest.java
  redbeams/src/test/resources/test_certs/configReadTestWhenAwsHasOneCertAndAzureHasTwoCertsAndUppercaseIdentifiersShouldReturnThreeCerts/AWS/default/0.yml
  redbeams/src/test/resources/test_certs/configReadTestWhenAwsHasTwoGlobalCertsAndThreeRegionalCertButTwoDeprecatedShouldReturnThreeCerts/aws/default/1.yml
  redbeams/src/test/resources/test_certs/configReadTestWhenAwsHasTwoGlobalCertsAndThreeRegionalCertButTwoDeprecatedShouldReturnThreeCerts/aws/default/2.yml
  redbeams/src/test/resources/test_certs/configReadTestWhenAwsHasTwoGlobalCertsAndThreeRegionalCertButTwoDeprecatedShouldReturnThreeCerts/aws/myRegion1/-1.yml
  redbeams/src/test/resources/test_certs/configReadTestWhenAwsHasTwoGlobalCertsAndThreeRegionalCertButTwoDeprecatedShouldReturnThreeCerts/aws/myRegion1/0.yml
  redbeams/src/test/resources/test_certs/configReadTestWhenAwsHasTwoGlobalCertsAndThreeRegionalCertButTwoDeprecatedShouldReturnThreeCerts/aws/myRegion2/0.yml
  redbeams/src/test/resources/test_certs/setupCertsCacheTestWhenErrorBadVersionRangeAndDeprecated/aws/default/0.yml
  redbeams/src/test/resources/test_certs/setupCertsCacheTestWhenErrorBadVersionRangeAndDeprecated/aws/default/1.yml
  redbeams/src/test/resources/test_certs/setupCertsCacheTestWhenErrorBadVersionRangeAndDeprecated/aws/default/2.yml
Owners: @cloudbreak/cloudbreak-duck

CB-17531 Check SDX status at the end of the validation to avoid false positive result.
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/imagevalidation/PrewarmImageValidatorE2ETest.java
Owners: none

CB-24266 Add KMS Re-encrypt action in the GOV policy
  cloud-aws-common/src/main/resources/definitions/aws-gov-cb-policy.json
Owners: @cloudbreak/cloudbreak-wolf

CB-23687: Create validation for rolling upgrade based on cluster size
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/validation/service/ClusterSizeUpgradeValidator.java
  core/src/main/resources/application.yml
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/validation/service/ClusterSizeUpgradeValidatorTest.java
Owners: none

CB-22667 - adding skeleton flow for add additional block storages in AWS
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/PlatformParametersConsts.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzurePlatformParameters.java
  cloud-reactor/src/main/java/com/sequenceiq/cloudbreak/cloud/service/CloudParameterCache.java
  common/src/main/java/com/sequenceiq/cloudbreak/event/ResourceEvent.java
  common/src/main/resources/messages/messages.properties
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/common/DetailedStackStatus.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/request/StackAddVolumesRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/AbstractAddVolumesAction.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/AddVolumesActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/AddVolumesEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/AddVolumesFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/AddVolumesState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AddVolumesCMConfigFinishedEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AddVolumesCMConfigHandlerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AddVolumesFailedEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AddVolumesFinalizedEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AddVolumesFinishedEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AddVolumesHandlerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AddVolumesOrchestrationFinishedEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AddVolumesOrchestrationHandlerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AddVolumesRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AttachVolumesFinishedEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AttachVolumesHandlerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/handler/AddVolumesCMConfigHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/handler/AddVolumesHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/handler/AddVolumesOrchestrationHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/handler/AttachVolumesHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/ReactorFlowManager.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/ReactorFlowManagerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/AddVolumesActionsTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/handler/AddVolumesCMConfigHandlerTest.java
Owners: none

CB-24184 delete the ssh keypair in case of environment deletion.
  common/src/main/java/com/sequenceiq/cloudbreak/event/ResourceEvent.java
  common/src/main/resources/messages/messages.properties
  environment/src/main/java/com/sequenceiq/environment/environment/flow/deletion/handler/PublicKeyDeleteHandler.java
  environment/src/test/java/com/sequenceiq/environment/environment/flow/deletion/handler/PublicKeyDeleteHandlerTest.java
Owners: @cloudbreak/cloudbreak-wolf

Revert "CB-23622 Ephemeral tests run on a single cluster, single thread sequentially"
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/ephemeral/DistroXEphemeralTests.java
Owners: none

Revert "CB-24249 Clear shutdown flag of the testcontext for ephemeral tests"
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/ephemeral/DistroXEphemeralTests.java
Owners: none

CB-22043 Rotate LDAP bind user password and update CM config, e2e test
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxRotateSecretAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v1/distrox/DistroXRotateSecretAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/DistroXTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/SdxTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXRepairTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXSecretRotationTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/InternalSdxRepairWithRecipeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/SecretRotationCheckUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/action/SshJClientActions.java
Owners: none

CB-24203: Redbeams should not throw HTTP 500 when database creation fails with a general error
  redbeams/src/main/java/com/sequenceiq/redbeams/service/dbserverconfig/DatabaseServerConfigService.java
Owners: @cloudbreak/cloudbreak-duck

Revert "CB-24249 Clear shutdown flag of the testcontext for ephemeral tests"
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/ephemeral/DistroXEphemeralTests.java
Owners: none

Revert "CB-23622 Ephemeral tests run on a single cluster, single thread sequentially"
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/ephemeral/DistroXEphemeralTests.java
Owners: none

CB-24037 Set workload password in YarnImageValidatorE2ETest
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/hybrid/HybridCloudAssertions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/AbstractIntegrationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/imagevalidation/YarnImageValidatorE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/DistroXRepairTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/EnvironmentPrivilegedUserTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/InternalSdxSshAndCmAccessTest.java
Owners: none

CB-24290 Fix CredentialVerificationExceptionMapper status code
  environment/src/main/java/com/sequenceiq/environment/exception/mapper/CredentialVerificationExceptionMapper.java
  environment/src/main/java/com/sequenceiq/environment/exception/mapper/CredentialVerificationInnerExceptionMapper.java
  environment/src/test/java/com/sequenceiq/environment/exception/mapper/SearchCauseExceptionMapperTest.java
Owners: @cloudbreak/cloudbreak-wolf

CB-24272 updating CVEs to avoid aquasec alerts
  dependencies.gradle
Owners: none

CB-24146 Implement cloud specific validations for modify disk operation Cloud specific validations for Vertical scaling request Validate entitlement for disk change on Azure
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementService.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/model/Entitlement.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzurePlatformParameters.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/AzurePlatformParametersTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/datalake/DiskUpdateService.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/datalake/DiskUpdateServiceTest.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/auth/MockUserManagementService.java
Owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-armadillo

CB-23817 Create metrics about cluster statuses by cloudprovider and tunnel in core and in freeipa
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerClusterStatusService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerClusterStatusServiceTest.java
  common/src/main/java/com/sequenceiq/cloudbreak/common/metrics/status/StackCountByStatusAndCloudPlatform.java
  common/src/main/java/com/sequenceiq/cloudbreak/common/metrics/status/StackCountByStatusAndTunnel.java
  common/src/main/java/com/sequenceiq/cloudbreak/common/metrics/status/StackCountByStatusView.java
  common/src/main/java/com/sequenceiq/cloudbreak/common/metrics/status/StatusMetricCollector.java
  common/src/main/java/com/sequenceiq/cloudbreak/quartz/metric/JobCountMetricConfigurator.java
  common/src/main/java/com/sequenceiq/cloudbreak/quartz/metric/statusmetric/StatusMetricCollectorConfiguration.java
  common/src/main/java/com/sequenceiq/cloudbreak/quartz/metric/statusmetric/StatusMetricCollectorJob.java
  common/src/main/java/com/sequenceiq/cloudbreak/quartz/metric/statusmetric/StatusMetricCollectorJobInitializer.java
  common/src/main/java/com/sequenceiq/cloudbreak/quartz/metric/statusmetric/StatusMetricCollectorJobService.java
  common/src/test/java/com/sequenceiq/cloudbreak/quartz/metric/statusmetric/StatusMetricCollectorJobInitializerTest.java
  common/src/test/java/com/sequenceiq/cloudbreak/quartz/metric/statusmetric/StatusMetricCollectorJobServiceTest.java
  common/src/test/java/com/sequenceiq/cloudbreak/quartz/metric/statusmetric/StatusMetricCollectorJobTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/StackStatusRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stackstatus/StackStatusMetricCollector.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stackstatus/StackStatusService.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stackstatus/StackStatusMetricCollectorTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stackstatus/StackStatusServiceTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/repository/StackStatusRepository.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/StackStatusService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/status/StackStatusMetricCollector.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/stack/StackStatusServiceTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/stack/status/StackStatusMetricCollectorTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-22043 during e2e get cluster name based on e2e id
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/InternalSdxRepairWithRecipeTest.java
Owners: none

CB-24264 - Create E2E for disk update
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v1/distrox/DistroXDiskUpdateAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/DistroXTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXDeleteVolumesTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXVolumesVerticalScaleTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/CloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/AwsCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/amazonec2/AmazonEC2Util.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/amazonec2/action/EC2ClientActions.java
  integration-test/src/main/resources/testsuites/e2e/aws-longrunning-e2e-tests.yaml
Owners: none

CB-24076 - Enhance cloud-azure to support modify disk size for volume
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/ResourceVolumeConnector.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzureConnector.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/client/AzureClient.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/resource/AzureResourceVolumeConnector.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/resource/AzureVolumeResourceBuilder.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/client/AzureClientTest.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/resource/AzureResourceVolumeConnectorTest.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/resource/AzureVolumeResourceBuilderTest.java
Owners: none

CB-24062 Extend CMCA rotation to include vault and salt pillar change too
  core-api/src/main/java/com/sequenceiq/cloudbreak/rotation/CloudbreakSecretType.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunner.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/context/provider/AbstractCMIntermediateCacertRotationContextProvider.java
  core/src/test/java/com/sequenceiq/cloudbreak/rotation/context/provider/AbstractCMIntermediateCacertRotationContextProviderTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXRepairTests.java
  orchestrator-salt/src/main/resources/salt/salt/cloudera/manager/rotate/cmca-renewal.sls
Owners: none

CB-24293 Update workloadIam proto
  wiam-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/workloadiam/WorkloadIamGrpc.java
  wiam-connector/src/generated/main/java/com/cloudera/thunderhead/service/workloadiam/WorkloadIamProto.java
  wiam-connector/src/main/proto/workloadiam.proto
Owners: none

CB-24305 Add Missing Labels To VM Infra Metrics
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/template/prometheus.yml.j2
Owners: none

CB-23817 Add missing @Param to @Named query method parameters
  core/src/main/java/com/sequenceiq/cloudbreak/repository/StackStatusRepository.java
  freeipa/src/main/java/com/sequenceiq/freeipa/repository/StackStatusRepository.java
Owners: @cloudbreak/cloudbreak-duck

.github/CODEOWNERS:

# See https://help.github.com/en/articles/about-code-owners
# These people are automatically added as reviewers for PRs.
# At some point in the future they might be "required"

# Raven team should review authorization framework related changes
auth-internal/                                                                  @cloudbreak/cloudbreak-raven
auth-internal-api/                                                              @cloudbreak/cloudbreak-raven
authorization-common/                                                           @cloudbreak/cloudbreak-raven
authorization-common-api/                                                       @cloudbreak/cloudbreak-raven
grpc-common/                                                                    @cloudbreak/cloudbreak-raven

# Raven and Armadillo teams should review datalake and datalake-api modules
datalake/                                                                       @cloudbreak/cloudbreak-raven @cloudbreak/cloudbreak-armadillo
datalake-api/                                                                   @cloudbreak/cloudbreak-raven @cloudbreak/cloudbreak-armadillo
sdx-connector/                                                                  @cloudbreak/cloudbreak-raven

# Raven and Armadillo team should review datalake blueprint changes
core/src/main/resources/defaults/blueprints/*/cdp-sdx*.bp                       @cloudbreak/cloudbreak-raven @cloudbreak/cloudbreak-armadillo

# Raven team should review quartz and sync job related PRs
common/src/java/com/sequenceiq/cloudbreak/quartz/*StatusCheckerJob.java         @cloudbreak/cloudbreak-raven

# Raven team should review how Controllers are authorized
*Controller.java                                                                @cloudbreak/cloudbreak-raven

# Wolf team should review environment and environment-api modules
environment/                                                                    @cloudbreak/cloudbreak-wolf
environment-api/                                                                @cloudbreak/cloudbreak-wolf
environment-common/                                                             @cloudbreak/cloudbreak-wolf

# By default, unless overridden later,
# Wolf should review every policy change:
cloud-aws-cloudformation/src/main/resources/definitions/                        @cloudbreak/cloudbreak-wolf
cloud-aws-common/src/main/resources/definitions/                                @cloudbreak/cloudbreak-wolf
cloud-azure/src/main/resources/definitions/                                     @cloudbreak/cloudbreak-wolf

# DB SSL related changes in core shall be assigned to lrodek
core/**/ClusterDbCertRotationHandler.java                                       @lrodek
core/**/DatabaseSslService*.java                                                @lrodek
core/**/RedbeamsDbCertificateProvider*.java                                     @lrodek
core-api/**/DatabaseServerSsl*.java                                             @lrodek
core-model/**/DatabaseSslDetails*.java                                          @lrodek
core-model/**/RdsSslMode.java                                                   @lrodek

# Wolf team should review data hub blueprint changes
core/src/main/resources/defaults/blueprints/*/cdp-cod*.bp                       @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-data*.bp                      @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-dde*.bp                       @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-flink*.bp                     @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-flow*.bp                      @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-opdb*.bp                      @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-rt*.bp                        @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-streaming*.bp                 @cloudbreak/cloudbreak-wolf

# Wolf team should review data hub template changes
core/src/main/resources/defaults/clustertemplates/                              @cloudbreak/cloudbreak-wolf

# Wolf team should review the network usage in IT
integration-test/scripts/check-results.sh                                       @cloudbreak/cloudbreak-wolf

# Wolf team should review template generation related changes
template-manager-blueprint/                                                     @cloudbreak/cloudbreak-wolf
template-manager-cmtemplate/                                                    @cloudbreak/cloudbreak-wolf
template-manager-tag/                                                           @cloudbreak/cloudbreak-wolf
template-manager-recipe/                                                        @cloudbreak/cloudbreak-wolf
template-manager-core/                                                          @cloudbreak/cloudbreak-wolf

# Wolf team should review audit related changes
audit-connector/                                                                @cloudbreak/cloudbreak-wolf

# Bobcat team should review dataengineering related changes
core/src/main/resources/defaults/blueprints/*/cdp-data-engineering*.bp          @cloudbreak/cloudbreak-bobcat
core/src/main/resources/defaults/clustertemplates/*/*/dataengineering*.json     @cloudbreak/cloudbreak-bobcat

# Bobcat team should review autoscale related changes
autoscale/                                                                      @cloudbreak/cloudbreak-bobcat
autoscale-api/                                                                  @cloudbreak/cloudbreak-bobcat

# Duck team should review freeipa related changes
freeipa/                                                                        @cloudbreak/cloudbreak-duck
freeipa-api/                                                                    @cloudbreak/cloudbreak-duck
freeipa-client/                                                                 @cloudbreak/cloudbreak-duck

# DB SSL related changes in redbeams shall be assigned to lrodek
redbeams/**/CertRotateInRedbeamsHandler*.java                                   @lrodek
redbeams/**/DatabaseServerSslCertificate*.java                                  @lrodek
redbeams/**/SslCertificateEntry*.java                                           @lrodek
redbeams/**/SslConfig*.java                                                     @lrodek
redbeams/**/SslContent*.java                                                    @lrodek
redbeams/src/main/resources/certs/                                              @lrodek
redbeams/src/test/resources/test_certs/                                         @lrodek
redbeams/scripts/import-aws-rds-root-certs.sh                                   @lrodek
redbeams-api/**/SslConfig*.java                                                 @lrodek
redbeams-api/**/SslMode*.java                                                   @lrodek

# Duck team should review other redbeams related changes
redbeams/                                                                       @cloudbreak/cloudbreak-duck
redbeams-api/                                                                   @cloudbreak/cloudbreak-duck

# Armadillo team should review changes to datalake related scripts
orchestrator-salt/src/main/resources/salt/salt/postgresql/disaster_recovery     @cloudbreak/cloudbreak-armadillo
orchestrator-salt/src/main/resources/salt/salt/datalake_metrics                 @cloudbreak/cloudbreak-armadillo

# DB SSL related changes in orchestrator-salt shall be assigned to lrodek
orchestrator-salt/**/postgresql/root-certs.sls                                  @lrodek
orchestrator-salt/**/postgresql/scripts/conf_pgsql_ssl.sh                       @lrodek
orchestrator-salt/**/postgresql/scripts/create_embeddeddb_certificate.sh        @lrodek
