Repository hortonworks/cloudbreak, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-wolf-backend, @cloudbreak/cloudbreak-duck, @cloudbreak/cloudbreak-armadillo, @tpopovics

CB-30698 Jumpgate rotation causes npe in case of older clusters because cannot access userdata
  freeipa/src/main/java/com/sequenceiq/freeipa/entity/ImageEntity.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/rotation/jumpgate/contextprovider/CcmV2JumpgateAgentAccessKeyRotationContextProvider.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/rotation/jumpgate/executor/CcmV2JumpgateRotationExecutor.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/rotation/jumpgate/executor/CcmV2JumpgateRotationExecutorTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-30707 Accept Classic Cluster crn for getRootCertificateByCrn endpoint
  environment-remote-api/src/main/java/com/sequenceiq/remoteenvironment/api/v1/environment/endpoint/RemoteEnvironmentEndpoint.java
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-30614 Extend remote environment list endpoint with classic clusters
  environment-remote-api/src/main/java/com/sequenceiq/remoteenvironment/api/v1/environment/endpoint/RemoteEnvironmentEndpoint.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/controller/v1/controller/RemoteEnvironmentController.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/RemoteEnvironmentService.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/RemoteEnvironmentConnector.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/RemoteEnvironmentConnectorType.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterListService.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterRemoteEnvironmentConnector.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/privatecontrolplane/PrivateControlPlaneRemoteEnvironmentConnector.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/RemoteEnvironmentServiceTest.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterListServiceTest.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/connector/privatecontrolplane/PrivateControlPlaneRemoteEnvironmentConnectorTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/remoteenvironment/RemoteEnvironmentListAction.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/classiccluster/MockClassicClusterService.java
  mock-thunderhead/src/main/resources/mock-responses/classiccluster/list.json
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-30531 Freeipa healthcheck retry settings improvement - Increase retries to the configured FreeIpa defaults.
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/FreeIpaInstanceHealthDetailsService.java
Owners: @cloudbreak/cloudbreak-duck

CB-30387 execute sudo commands with double quoted passwords and disabling root user switcher test assertions of privileged user test
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/EnvironmentPrivilegedUserTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/action/SshSudoCommandActions.java
  integration-test/src/test/java/com/sequenceiq/it/cloudbreak/util/ssh/action/SshSudoCommandActionsTest.java
Owners: none

CB-30709 Do not fail during java version validation when cluster started with base image
  core/src/main/java/com/sequenceiq/cloudbreak/service/java/vm/AllowableJavaConfigurations.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/flow/DefaultJavaVersionUpdateValidator.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stack/flow/DefaultJavaVersionUpdateValidatorTest.java
Owners: none

CB-30586 Added environment type and shared services response to datahub describe response
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/response/DataLakeV4Response.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/response/StackV4Response.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/views/ClusterViewV4Response.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/doc/ModelDescriptions.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/sharedservice/DatalakeService.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/StackOperations.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/service/EnvironmentServiceDecorator.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/stack/StackToStackV4ResponseConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/sharedservice/DatalakeServiceTest.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/StackOperationsTest.java
Owners: none

CB-30627 do not use stackapi for mock tests
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v1/distrox/DistroXAttachRecipeAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v4/stack/StackAttachRecipeAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v4/stack/StackScalePostAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/kerberos/KerberosTestAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/DistroXTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/StackTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/DistroXTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXVolumesModificationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/InternalSdxRepairWithRecipeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxRepairTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/storage/AzureAdlsGen2Tests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/EnvironmentClusterTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/EnvironmentDatalakeClusterTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/ImageCatalogPrewarmedTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/KerberizedStackCreationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/KerberosConfigTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/LdapClusterTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/MockStackCreationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/RecipeClusterTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/ShowBlueprintTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/ShowStackCliRequestTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/clouderamanager/ClouderaManagerSetupTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/clouderamanager/ClouderaManagerShowBlueprintTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/clouderamanager/ClouderaManagerStackCreationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ShowBlueprintUtil.java
Owners: none

CB-30410 Adding rhel9 image selection support to freeipa code
  common-model/src/main/java/com/sequenceiq/common/model/OsType.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/image/FreeIpaImageFilter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/image/FreeIpaImageProvider.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/image/ImageCatalogProvider.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/image/PreferredOsService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/image/SupportedOsService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/FreeIpaCreationService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/upgrade/UpgradeImageService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/upgrade/UpgradeService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/upgrade/UpgradeValidationService.java
  freeipa/src/main/resources/application.yml
  freeipa/src/test/java/com/sequenceiq/freeipa/service/image/FreeIpaImageProviderTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/image/PreferredOsServiceTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/upgrade/UpgradeImageServiceTest.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/auth/MockUserManagementService.java
  mock-thunderhead/src/main/resources/application.yml
Owners: @cloudbreak/cloudbreak-duck

CB-30479 FreeIPA actions should extend AbstractFreeIpaAction which has retry for starting flows
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/stop/StackStopFlowConfig.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/stop/StackStopFlowTriggerCondition.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/stop/StackStopService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/FreeIpaStartService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/FreeIpaStopService.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/AbstractFreeIpaAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeIpaCreateAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeIpaDeleteAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeIpaDiskUpdateAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeIpaDownscaleAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeIpaRebuildAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeIpaRebuildv2Action.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeIpaRepairAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeIpaRotateSecretAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeIpaRotateSecretInternalAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeIpaUpgradeAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeIpaUpscaleAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeipaInstanceMetadataUpdateAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeipaRotateSaltPasswordAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/AbstractIntegrationTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-30506 db server status check in spi should be retryable
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsResourceConnector.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzureResourceConnector.java
  cloud-template/src/main/java/com/sequenceiq/cloudbreak/cloud/template/AbstractResourceConnector.java
Owners: none

CB-30703 We should hide Gen2 images on freeipa creation page as those are not supported
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzurePlatformResources.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/AzurePlatformResourcesTest.java
Owners: none

CB-30617 Extend remote environment describe with classic clusters
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterDescribeService.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterRemoteEnvironmentConnector.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterDescribeServiceTest.java
Owners: @cloudbreak/cloudbreak-wolf-backend

Revert "CB-30410 Adding rhel9 image selection support to freeipa code"
  common-model/src/main/java/com/sequenceiq/common/model/OsType.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/image/FreeIpaImageFilter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/image/FreeIpaImageProvider.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/image/ImageCatalogProvider.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/image/PreferredOsService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/image/SupportedOsService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/FreeIpaCreationService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/upgrade/UpgradeImageService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/upgrade/UpgradeService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/upgrade/UpgradeValidationService.java
  freeipa/src/main/resources/application.yml
  freeipa/src/test/java/com/sequenceiq/freeipa/service/image/FreeIpaImageProviderTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/image/PreferredOsServiceTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/upgrade/UpgradeImageServiceTest.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/auth/MockUserManagementService.java
  mock-thunderhead/src/main/resources/application.yml
Owners: @cloudbreak/cloudbreak-duck

CB-30535 Allow upper case in tenant tag key
  environment/src/main/java/com/sequenceiq/environment/tags/service/DefaultInternalAccountTagService.java
  environment/src/test/java/com/sequenceiq/environment/tags/service/DefaultInternalAccountTagServiceTest.java
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-30535 Allow upper case in tenant tag key
  environment/src/main/resources/application.yml
  environment/src/test/java/com/sequenceiq/environment/tags/service/DefaultInternalAccountTagServiceTest.java
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-30700 include all the gateway nodes FQDN in the public certificates SAN section
  core/src/main/java/com/sequenceiq/cloudbreak/service/publicendpoint/GatewayPublicEndpointManagementService.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/publicendpoint/GatewayPublicEndpointManagementServiceTest.java
Owners: none

CB-30708 Map CM error for RangerAdmin command
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerSetupService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/error/mapper/ClouderaManagerErrorMapper.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/error/mapper/ClouderaManagerErrorMapperService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/error/mapper/ClouderaManagerStorageErrorMapper.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/error/mapper/ClouderaManagerTrustedRealmsErrorMapper.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/ClouderaManagerPollingServiceProvider.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerTemplateInstallationChecker.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/error/mapper/ClouderaManagerErrorMapperServiceTest.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/error/mapper/ClouderaManagerStorageErrorMapperTest.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/error/mapper/ClouderaManagerTrustedRealmsErrorMapperTest.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerTemplateInstallationCheckerTest.java
  common/src/main/java/com/sequenceiq/cloudbreak/util/DocumentationLinkProvider.java
Owners: none

CB-30732 Ensure FreeIPA replication topology update is retried in cas of validation error
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/flow/FreeIpaTopologyService.java
Owners: @cloudbreak/cloudbreak-duck

CB-30744 Skip DNS deregistration in FreeIPA if FreeIPA status is not AVAILABLE
  core/src/main/java/com/sequenceiq/cloudbreak/service/publicendpoint/FreeIPAEndpointManagementService.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/publicendpoint/FreeIPAEndpointManagementServiceTest.java
Owners: none

CB-30771 Skip status check for embedded db cert rotation
  core-api/src/main/java/com/sequenceiq/cloudbreak/rotation/CloudbreakSecretType.java
  datalake-api/src/main/java/com/sequenceiq/sdx/rotation/DatalakeSecretType.java
  secret-rotation-api/src/main/java/com/sequenceiq/cloudbreak/rotation/SecretType.java
  secret-rotation-api/src/main/java/com/sequenceiq/cloudbreak/rotation/SecretTypeFlag.java
  secret-rotation-api/src/test/java/com/sequenceiq/cloudbreak/rotation/common/TestSecretType.java
  secret-rotation/src/main/java/com/sequenceiq/cloudbreak/rotation/service/SecretRotationValidationService.java
  secret-rotation/src/test/java/com/sequenceiq/cloudbreak/rotation/service/SecretRotationValidationServiceTest.java
Owners: @cloudbreak/cloudbreak-raven

CB-30265 Add support to Splunk search
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/AbstractTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/DistroXTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/environment/EnvironmentTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIpaTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxInternalTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/listener/ReportListener.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/search/SearchUrlFactory.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/search/SplunkProps.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/search/SplunkSearchUrl.java
  integration-test/src/main/resources/application.yml
Owners: @cloudbreak/cloudbreak-wolf-backend, @cloudbreak/cloudbreak-duck

CB-30472 SdxService refactor - part 2 - Removing Raz, Ccm, Salt, SdxInstances
  datalake/src/main/java/com/sequenceiq/datalake/controller/sdx/SdxController.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/SdxHaApplication.java
  datalake/src/main/java/com/sequenceiq/datalake/job/salt/SdxSaltStatusCheckerJob.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/CcmService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/EnvironmentService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/MultiAzDecorator.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/RangerRazService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SaltService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxInstanceService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/StorageValidationService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/status/SdxStatusService.java
  datalake/src/test/java/com/sequenceiq/datalake/controller/sdx/SdxControllerTest.java
  datalake/src/test/java/com/sequenceiq/datalake/flow/SdxHaApplicationTest.java
  datalake/src/test/java/com/sequenceiq/datalake/job/salt/SdxSaltStatusCheckerJobTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/CcmServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/RangerRazServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SaltServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxInstanceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxServiceCreateSdxTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/StorageValidationServiceTest.java
Owners: @cloudbreak/cloudbreak-raven

Revert "CB-30472 SdxService refactor - part 2 - Removing Raz, Ccm, Salt, SdxInstances"
  datalake/src/main/java/com/sequenceiq/datalake/controller/sdx/SdxController.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/SdxHaApplication.java
  datalake/src/main/java/com/sequenceiq/datalake/job/salt/SdxSaltStatusCheckerJob.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/CcmService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/EnvironmentService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/MultiAzDecorator.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/RangerRazService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SaltService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxInstanceService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/StorageValidationService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/status/SdxStatusService.java
  datalake/src/test/java/com/sequenceiq/datalake/controller/sdx/SdxControllerTest.java
  datalake/src/test/java/com/sequenceiq/datalake/flow/SdxHaApplicationTest.java
  datalake/src/test/java/com/sequenceiq/datalake/job/salt/SdxSaltStatusCheckerJobTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/CcmServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/RangerRazServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SaltServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxInstanceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxServiceCreateSdxTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/StorageValidationServiceTest.java
Owners: @cloudbreak/cloudbreak-raven

CB-29761 removing manager group and adding the services to master group.
  core/src/main/resources/defaults/blueprints/7.3.1/cdp-hybrid-data-engineering-spark3-ha.bp
  core/src/main/resources/defaults/blueprints/7.3.2/cdp-hybrid-data-engineering-spark3-ha.bp
  core/src/main/resources/defaults/clustertemplates/7.3.1/aws/hybrid-dataengineering-spark3-arm-ha.json
  core/src/main/resources/defaults/clustertemplates/7.3.1/aws/hybrid-dataengineering-spark3-ha.json
  core/src/main/resources/defaults/clustertemplates/7.3.1/azure/hybrid-dataengineering-spark3-ha.json
  core/src/main/resources/defaults/clustertemplates/7.3.1/gcp/hybrid-dataengineering-spark3-ha.json
  core/src/main/resources/defaults/clustertemplates/7.3.1/yarn/hybrid-dataengineering-spark3-ha.json
  core/src/main/resources/defaults/clustertemplates/7.3.2/aws/hybrid-dataengineering-spark3-ha-arm.json
  core/src/main/resources/defaults/clustertemplates/7.3.2/aws/hybrid-dataengineering-spark3-ha.json
  core/src/main/resources/defaults/clustertemplates/7.3.2/azure/hybrid-dataengineering-spark3-ha.json
  core/src/main/resources/defaults/clustertemplates/7.3.2/gcp/hybrid-dataengineering-spark3-ha.json
  core/src/main/resources/defaults/clustertemplates/7.3.2/yarn/hybrid-dataengineering-spark3-ha.json
  freeipa/src/main/resources/crossrealmtrust/activedirectory_cleanup_commands.ftl
  freeipa/src/main/resources/crossrealmtrust/activedirectory_setup_commands.ftl
  freeipa/src/test/resources/crossrealmtrust/activedirectory_commands_lb_cleanup.bat
  freeipa/src/test/resources/crossrealmtrust/activedirectory_commands_lb_setup.bat
  freeipa/src/test/resources/crossrealmtrust/activedirectory_commands_nolb_cleanup.bat
  freeipa/src/test/resources/crossrealmtrust/activedirectory_commands_nolb_setup.bat
Owners: @cloudbreak/cloudbreak-wolf-backend, @cloudbreak/cloudbreak-duck

CB-30753 Extend mock Classic Cluster with pvcCrn and environmentCrn
  environment-public-api-client/src/main/yaml/environments2.yaml
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterDescribeService.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/entity/ClassicCluster.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/classiccluster/MockClassicClusterService.java
  mock-thunderhead/src/main/resources/mock-responses/classiccluster/list.json
  remote-cluster-connector/src/generated/main/java/com/cloudera/thunderhead/service/onpremises/OnPremisesApiProto.java
  remote-cluster-connector/src/main/proto/onpremisesapi.proto
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-30657 Move remote environment entitlement check to common place
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/RemoteEnvironmentException.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/controller/v1/controller/RemoteEnvironmentController.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/controller/v2/controller/RemoteEnvironmentV2Controller.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/RemoteEnvironmentService.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/privatecontrolplane/PrivateControlPlaneRemoteEnvironmentConnector.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/RemoteEnvironmentServiceTest.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/connector/privatecontrolplane/PrivateControlPlaneRemoteEnvironmentConnectorTest.java
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-30754 remove delete datalake state from environment deletion in case of hybrid cloud to avoid customer confusion.
  environment/src/main/java/com/sequenceiq/environment/environment/flow/deletion/EnvClustersDeleteActions.java
  environment/src/main/java/com/sequenceiq/environment/environment/repository/EnvironmentRepository.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentService.java
  environment/src/test/java/com/sequenceiq/environment/environment/flow/deletion/EnvClustersDeleteActionsTest.java
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-30776 Set MDCContext in remote env list parallelStream threads
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/RemoteEnvironmentService.java
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-30741 Optimize remote environment service with parallel calls
  client-cm/src/main/java/com/sequenceiq/cloudbreak/cm/client/retry/ApiExceptionRetryPolicy.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/component/TestConfig.java
  common/src/main/java/com/sequenceiq/cloudbreak/util/test/AsyncTaskExecutorTestImpl.java
  common/src/main/java/com/sequenceiq/cloudbreak/util/test/FutureTestImpl.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/config/AppConfig.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterDescribeService.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/privatecontrolplane/PrivateControlPlaneRemoteEnvironmentConnector.java
  environment-remote/src/main/resources/application.yaml
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterDescribeServiceTest.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/connector/privatecontrolplane/PrivateControlPlaneRemoteEnvironmentConnectorTest.java
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-30625 OS upgrade by upgrade sets changed to trigger repair instead of explicit down- and up-scales
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/OSUpgradeByUpgradeSetsFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/OSUpgradeByUpgradeSetsService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/chain/OSUpgradeByUpgradeSetsFlowEventChainFactoryTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/cluster/OSUpgradeByUpgradeSetsServiceTest.java
Owners: none

CB-30671 Map Unauthorized to BadRequest, when querying remote environments
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/exception/mapper/BadRequestExceptionMapper.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/privatecontrolplane/PrivateControlPlaneRemoteEnvironmentConnector.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/pdl/service/PdlSdxDescribeService.java
Owners: @cloudbreak/cloudbreak-wolf-backend, @cloudbreak/cloudbreak-raven

CB-30751 CB-30752 Fetch classic cluster details from PvC CP
  environment-public-api-client/src/main/java/com/sequenceiq/remoteenvironment/DescribeEnvironmentV2Response.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/RemoteEnvironmentService.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/RemoteEnvironmentConnector.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterRemoteEnvironmentConnector.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/privatecontrolplane/PrivateControlPlaneRemoteEnvironmentConnector.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/RemoteEnvironmentServiceTest.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterRemoteEnvironmentConnectorTest.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/connector/privatecontrolplane/PrivateControlPlaneRemoteEnvironmentConnectorTest.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/pdl/service/PdlSdxDescribeService.java
Owners: @cloudbreak/cloudbreak-wolf-backend, @cloudbreak/cloudbreak-raven

CB-30775: Save SELinux denies to files which can be saved as job artifacts, instead of failing the test
  common/src/main/java/com/sequenceiq/cloudbreak/common/json/JsonUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/selinux/SELinuxAssertions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/DistroXTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIpaTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxInternalTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/AbstractE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXVolumesModificationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaTests.java
Owners: @cloudbreak/cloudbreak-duck

CB-30794 Fix e2e Monitoring tests related encryption profile cipher suites
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/encryptionprofile/EncryptionProfileAssertions.java
  integration-test/src/test/java/com/sequenceiq/it/cloudbreak/encryptionprofile/EncryptionProfileAssertionsTest.java
Owners: none

CB-30802 Mock Classic Cluster bugfixes/improvements
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/entity/ClassicCluster.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/classiccluster/MockClassicClusterService.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/service/ClassicClusterService.java
  mock-thunderhead/src/main/resources/mock-responses/classiccluster/list.json
Owners: none

CB-30445: Upgrade `reactor-netty-http` to `1.2.10` for all services
  freeipa/build.gradle
  redbeams/build.gradle
Owners: @cloudbreak/cloudbreak-duck

CB-30448: Upgrade `commons-lang3` to `3.19.0` across all services
  datalake/build.gradle
  dependencies.gradle
  externalized-compute/build.gradle
  freeipa/build.gradle
  redbeams/build.gradle
Owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-duck

CB-30808: Upgrade `grpc-all` to `1.75.0`
  dependencies.gradle
Owners: none

CB-30783: Replace `systemctl restart` with `systemctl reload` in embedded DB cert rotation scripts
  orchestrator-salt/src/main/resources/salt/salt/postgresql/embeddeddb-cert-rotate/scripts/rollback_embeddeddb_certificate.sh
  orchestrator-salt/src/main/resources/salt/salt/postgresql/embeddeddb-cert-rotate/scripts/rotate_embeddeddb_certificate.sh
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/en/articles/about-code-owners
# These people are automatically added as reviewers for PRs.
# At some point in the future they might be "required"

# Raven team should review authorization framework related changes
auth-internal/                                                                  @cloudbreak/cloudbreak-raven
auth-internal-api/                                                              @cloudbreak/cloudbreak-raven
authorization-common/                                                           @cloudbreak/cloudbreak-raven
authorization-common-api/                                                       @cloudbreak/cloudbreak-raven
grpc-common/                                                                    @cloudbreak/cloudbreak-raven

# Raven and Armadillo teams should review datalake and datalake-api modules
datalake/                                                                       @cloudbreak/cloudbreak-raven
datalake-api/                                                                   @cloudbreak/cloudbreak-raven
sdx-connector/                                                                  @cloudbreak/cloudbreak-raven

# Raven and Armadillo team should review datalake blueprint changes
core/src/main/resources/defaults/blueprints/*/cdp-sdx*.bp                       @cloudbreak/cloudbreak-raven

# Raven team should review quartz and sync job related PRs
common/src/java/com/sequenceiq/cloudbreak/quartz/*StatusCheckerJob.java         @cloudbreak/cloudbreak-raven

# Raven team should review how Controllers are authorized
*Controller.java                                                                @cloudbreak/cloudbreak-raven

# Wolf team should review environment and environment-api modules
environment/                                                                    @cloudbreak/cloudbreak-wolf-backend
environment-api/                                                                @cloudbreak/cloudbreak-wolf-backend
environment-common/                                                             @cloudbreak/cloudbreak-wolf-backend
environment-remote/                                                             @cloudbreak/cloudbreak-wolf-backend
environment-remote-api/                                                         @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review template modules
template-manager-blueprint/                                                     @cloudbreak/cloudbreak-wolf-backend
template-manager-cmteplate/                                                     @cloudbreak/cloudbreak-wolf-backend
template-manager-core/                                                          @cloudbreak/cloudbreak-wolf-backend
template-manager-recipe/                                                        @cloudbreak/cloudbreak-wolf-backend
template-manager-tag/                                                           @cloudbreak/cloudbreak-wolf-backend

# By default, unless overridden later,
# Wolf should review every policy change:
cloud-aws-cloudformation/src/main/resources/definitions/                        @cloudbreak/cloudbreak-wolf-backend
cloud-aws-common/src/main/resources/definitions/                                @cloudbreak/cloudbreak-wolf-backend
cloud-azure/src/main/resources/definitions/                                     @cloudbreak/cloudbreak-wolf-backend
cloud-gcp/src/main/resources/definitions/                                       @cloudbreak/cloudbreak-wolf-backend


# DB SSL related changes in core shall be assigned to Duck
core/**/ClusterDbCertRotationHandler.java                                       @cloudbreak/cloudbreak-duck
core/**/DatabaseSslService*.java                                                @cloudbreak/cloudbreak-duck
core/**/RedbeamsDbCertificateProvider*.java                                     @cloudbreak/cloudbreak-duck
core-api/**/DatabaseServerSsl*.java                                             @cloudbreak/cloudbreak-duck
core-model/**/DatabaseSslDetails*.java                                          @cloudbreak/cloudbreak-duck
core-model/**/RdsSslMode.java                                                   @cloudbreak/cloudbreak-duck

# Wolf team should review data hub blueprint changes
core/src/main/resources/defaults/blueprints/                                    @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review data hub template changes
core/src/main/resources/defaults/clustertemplates/                              @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review the network usage in IT
integration-test/scripts/check-results.sh                                       @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review template generation related changes
template-manager-blueprint/                                                     @cloudbreak/cloudbreak-wolf-backend
template-manager-cmtemplate/                                                    @cloudbreak/cloudbreak-wolf-backend
template-manager-tag/                                                           @cloudbreak/cloudbreak-wolf-backend
template-manager-recipe/                                                        @cloudbreak/cloudbreak-wolf-backend
template-manager-core/                                                          @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review autoscale changes
autoscale/                                                                      @cloudbreak/cloudbreak-wolf-backend
autoscale-api/                                                                  @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review audit related changes
audit-connector/                                                                @cloudbreak/cloudbreak-wolf-backend

# Duck team should review freeipa related changes
freeipa/                                                                        @cloudbreak/cloudbreak-duck
freeipa-api/                                                                    @cloudbreak/cloudbreak-duck
freeipa-client/                                                                 @cloudbreak/cloudbreak-duck

# DB SSL related changes in redbeams shall be assigned to Duck
redbeams/**/CertRotateInRedbeamsHandler*.java                                   @cloudbreak/cloudbreak-duck
redbeams/**/DatabaseServerSslCertificate*.java                                  @cloudbreak/cloudbreak-duck
redbeams/**/SslCertificateEntry*.java                                           @cloudbreak/cloudbreak-duck
redbeams/**/SslConfig*.java                                                     @cloudbreak/cloudbreak-duck
redbeams/**/SslContent*.java                                                    @cloudbreak/cloudbreak-duck
redbeams/src/main/resources/certs/                                              @cloudbreak/cloudbreak-duck
redbeams/src/test/resources/test_certs/                                         @cloudbreak/cloudbreak-duck
redbeams/scripts/import-aws-rds-root-certs.sh                                   @cloudbreak/cloudbreak-duck
redbeams-api/**/SslConfig*.java                                                 @cloudbreak/cloudbreak-duck
redbeams-api/**/SslMode*.java                                                   @cloudbreak/cloudbreak-duck

# Duck team should review other redbeams related changes
redbeams/                                                                       @cloudbreak/cloudbreak-duck
redbeams-api/                                                                   @cloudbreak/cloudbreak-duck

# Armadillo team should review changes to datalake related scripts
orchestrator-salt/src/main/resources/salt/salt/postgresql/disaster_recovery     @cloudbreak/cloudbreak-armadillo
orchestrator-salt/src/main/resources/salt/salt/datalake_metrics                 @cloudbreak/cloudbreak-armadillo

# DB SSL related changes in orchestrator-salt shall be assigned to Duck
orchestrator-salt/**/postgresql/root-certs.sls                                  @cloudbreak/cloudbreak-duck
orchestrator-salt/**/postgresql/scripts/conf_pgsql_ssl.sh                       @cloudbreak/cloudbreak-duck
orchestrator-salt/**/postgresql/scripts/create_embeddeddb_certificate.sh        @cloudbreak/cloudbreak-duck

core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/                   @tpopovics
core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/upgrade/ @tpopovics
