Repository hortonworks/cloudbreak, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-wolf-backend, @cloudbreak/cloudbreak-duck, @cloudbreak/cloudbreak-armadillo, @tpopovics

CB-30778 Refactor the Flow2Handler class to pass FlowParameters as a single argument instead of multiple variables, avoiding methods with 8+ parameters
  flow/src/main/java/com/sequenceiq/flow/core/Flow.java
  flow/src/main/java/com/sequenceiq/flow/core/Flow2Handler.java
  flow/src/main/java/com/sequenceiq/flow/core/FlowAdapter.java
  flow/src/main/java/com/sequenceiq/flow/core/FlowLogService.java
  flow/src/main/java/com/sequenceiq/flow/core/FlowParameters.java
  flow/src/main/java/com/sequenceiq/flow/core/MessageFactory.java
  flow/src/main/java/com/sequenceiq/flow/service/flowlog/FlowLogDBService.java
  flow/src/test/java/com/sequenceiq/flow/core/Flow2HandlerTest.java
  flow/src/test/java/com/sequenceiq/flow/core/config/AbstractFlowConfigurationTest.java
  flow/src/test/java/com/sequenceiq/flow/service/flowlog/FlowLogDBServiceTest.java
Owners: none

CB-30879 Unschedule sdx stack sync if status is deleted, deleted time stamp is present but it is still scheduled.
  datalake/src/main/java/com/sequenceiq/datalake/job/SdxClusterStatusCheckerJob.java
Owners: @cloudbreak/cloudbreak-raven

CSA-5952 increase default httpclient timeouts to 2m for SSB-SSE-API
  orchestrator-salt/src/main/resources/salt/salt/gateway/config/cm/topology_api.xml.j2
  orchestrator-salt/src/main/resources/salt/salt/gateway/config/cm/topology_token.xml.j2
Owners: none

CB-30837 Using asyncTaskExecutor to paralellize fetching remote environments to list
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/RemoteEnvironmentService.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/RemoteEnvironmentServiceTest.java
  remote-cluster-connector/src/main/java/com/sequenceiq/remotecluster/client/RemoteClusterServiceClient.java
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-30941 FreeIPA remains in CANCEL_TRUST_SETUP_SUCCESSFUL state after cancel
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/freeipa/stack/model/common/Status.java
Owners: @cloudbreak/cloudbreak-duck

CB-29213 Fix the log message to log SdxStatusEntity status
  datalake/src/main/java/com/sequenceiq/datalake/job/SdxClusterStatusCheckerJob.java
Owners: @cloudbreak/cloudbreak-raven

CB-30911 FreeIPA backup script contains echo commands instead of doLog
  freeipa/src/main/resources/freeipa-salt/salt/freeipa/scripts/freeipa_backup
Owners: @cloudbreak/cloudbreak-duck

CB-30886 Improve various log messages found during investigation
  cloud-reactor/src/main/java/com/sequenceiq/cloudbreak/cloud/task/PollPermanentExternalDatabaseStateTask.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/upgrade/validation/handler/ClusterUpgradeExistingUpgradeCommandValidationHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/upscale/StackUpscaleActions.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestrator.java
  redbeams/src/main/java/com/sequenceiq/redbeams/flow/redbeams/rotate/SslCertRotateDatabaseRedbeamsContext.java
  redbeams/src/main/java/com/sequenceiq/redbeams/flow/redbeams/start/handler/StartDatabaseServerHandler.java
  redbeams/src/main/java/com/sequenceiq/redbeams/flow/redbeams/stop/handler/StopDatabaseServerHandler.java
  redbeams/src/main/java/com/sequenceiq/redbeams/service/rotate/CloudProviderCertRotator.java
  redbeams/src/test/java/com/sequenceiq/redbeams/flow/redbeams/start/handler/StartDatabaseServerHandlerTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/flow/redbeams/stop/handler/StopDatabaseServerHandlerTest.java
Owners: @tpopovics, @cloudbreak/cloudbreak-duck

CB-29763 Return detached data lake when includeDetached parameter is true
  datalake-api/src/main/java/com/sequenceiq/sdx/api/model/ModelDescriptions.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/model/SdxClusterDetailResponse.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/model/SdxClusterResponse.java
  datalake/src/main/java/com/sequenceiq/datalake/authorization/DataLakeFiltering.java
  datalake/src/main/java/com/sequenceiq/datalake/controller/sdx/SdxClusterConverter.java
  datalake/src/main/java/com/sequenceiq/datalake/controller/sdx/SdxController.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxService.java
  datalake/src/test/java/com/sequenceiq/datalake/controller/sdx/SdxClusterConverterTest.java
  datalake/src/test/java/com/sequenceiq/datalake/controller/sdx/SdxControllerTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxServiceTest.java
Owners: @cloudbreak/cloudbreak-raven

CB-30896 add stackpatcher to core module to update outdated vault secret fields' version in control plane database
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/StackPatchType.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/cluster/Cluster.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/saltsecurityconf/SaltSecurityConfigService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stackpatch/OutdatedVaultSecretUpdaterPatchService.java
  core/src/main/resources/application.yml
  core/src/test/java/com/sequenceiq/cloudbreak/service/stackpatch/OutdatedVaultSecretUpdaterPatchServiceTest.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/freeipa/stack/FreeIpaRotationV1Endpoint.java
  freeipa/src/main/java/com/sequenceiq/freeipa/controller/FreeIpaRotationV1Controller.java
  freeipa/src/main/java/com/sequenceiq/freeipa/entity/ImageEntity.java
  freeipa/src/main/java/com/sequenceiq/freeipa/entity/Stack.java
  freeipa/src/main/java/com/sequenceiq/freeipa/repository/ImageEntityRepository.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/rotation/FreeIpaSyncSecretVersionService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/rotation/FreeIpaSyncSecretVersionServiceTest.java
  redbeams-api/src/main/java/com/sequenceiq/redbeams/api/endpoint/v4/databaseserver/DatabaseServerV4Endpoint.java
  redbeams/src/main/java/com/sequenceiq/redbeams/controller/v4/databaseserver/DatabaseServerV4Controller.java
  redbeams/src/main/java/com/sequenceiq/redbeams/service/rotation/RedbeamsRotationService.java
  secret-engine/src/main/java/com/sequenceiq/cloudbreak/service/secret/SecretEngine.java
  secret-engine/src/main/java/com/sequenceiq/cloudbreak/service/secret/SecretMarker.java
  secret-engine/src/main/java/com/sequenceiq/cloudbreak/service/secret/service/SecretService.java
  secret-engine/src/main/java/com/sequenceiq/cloudbreak/service/secret/vault/VaultKvV2Engine.java
  secret-rotation/src/main/java/com/sequenceiq/cloudbreak/rotation/common/RotationContextProvider.java
  secret-rotation/src/main/java/com/sequenceiq/cloudbreak/rotation/secret/vault/SyncSecretVersionService.java
  secret-rotation/src/main/java/com/sequenceiq/cloudbreak/rotation/secret/vault/VaultRotationExecutor.java
  secret-rotation/src/main/java/com/sequenceiq/cloudbreak/rotation/secret/vault/VaultRotationReflectionUtil.java
  secret-rotation/src/test/java/com/sequenceiq/cloudbreak/rotation/secret/vault/SyncSecretVersionServiceTest.java
  secret-rotation/src/test/java/com/sequenceiq/cloudbreak/rotation/secret/vault/VaultRotationReflectionUtilTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-30380 update stack status JPA repositories to enable batch deletion
  core/src/main/java/com/sequenceiq/cloudbreak/repository/StackStatusRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stackstatus/StackStatusService.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stackstatus/StackStatusServiceTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/repository/StackStatusRepository.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/StackStatusService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/stack/StackStatusServiceTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-30785 Authz fix for RemoteEnvironmentController
  environment-remote-api/src/main/java/com/sequenceiq/remoteenvironment/api/v1/environment/model/DescribeRemoteEnvironment.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/controller/v1/controller/RemoteEnvironmentController.java
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-30843 If kvno is not successful, only warning message will appear in the log
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/trust/statusvalidation/TrustStatusValidationService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/freeipa/trust/statusvalidation/TrustStatusValidationServiceTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-30785 Calling freeipa trust setup with initiatorUserCrn, because it will be needed for remoteenv service to describe classic cluster
  environment/src/main/java/com/sequenceiq/environment/environment/service/freeipa/FreeIpaService.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/freeipa/crossrealm/TrustV1Endpoint.java
  freeipa/src/main/java/com/sequenceiq/freeipa/controller/TrustV1Controller.java
Owners: @cloudbreak/cloudbreak-duck

CB-30797: Embedded DB certificate auto-rotation stack patcher
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/StackPatchType.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stackpatch/EmbeddedDbCertificateRotationPatchService.java
  core/src/main/resources/application.yml
  core/src/test/java/com/sequenceiq/cloudbreak/service/stackpatch/EmbeddedDbCertificateRotationPatchServiceTest.java
Owners: none

CB-30815 Configure metadata.store with Zookeeper if no KRaft host groups found
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/kafka/KafkaKraftConfigProvider.java
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/kafka/KafkaKraftConfigProviderTest.java
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-30896 fix vault sync stackpatcher for invalid scenarios happened on mowdev
  core/src/main/java/com/sequenceiq/cloudbreak/service/stackpatch/OutdatedVaultSecretUpdaterPatchService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/rotation/FreeIpaSyncSecretVersionService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/rotation/FreeIpaSyncSecretVersionServiceTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-30348 - Execute pre-flight check during upscale flows
  common-model/src/main/java/com/sequenceiq/common/model/diagnostics/DiagnosticParameters.java
  common/src/main/java/com/sequenceiq/cloudbreak/service/Retry.java
  common/src/main/java/com/sequenceiq/cloudbreak/service/RetryService.java
  common/src/main/java/com/sequenceiq/cloudbreak/service/RetryType.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/dto/StackDtoDelegate.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/view/StackView.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/upscale/ClusterUpscaleActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/upscale/ClusterUpscaleEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/upscale/ClusterUpscaleFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/upscale/ClusterUpscaleFlowService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/upscale/ClusterUpscaleState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/DiagnosticsFlowService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/PreFlightCheckValidationService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/handler/DiagnosticsPreFlightCheckHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/node/status/CdpDoctorService.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/orchestration/PreFlightCheckHandler.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/DiagnosticsFlowServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/PreFlightCheckValidationServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/handler/DiagnosticsPreFlightCheckHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/node/status/CdpDoctorServiceTest.java
  flow/src/test/java/com/sequenceiq/cloudbreak/service/HeartbeatServiceTest.java
  orchestrator-api/src/main/java/com/sequenceiq/cloudbreak/orchestrator/host/HostOrchestrator.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestrator.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/states/SaltStateService.java
  orchestrator-salt/src/test/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestratorTest.java
Owners: none

CB-30839 Create E2E test for Hybrid cross-realm-trust setup
  environment-api/src/main/java/com/sequenceiq/environment/client/EnvironmentClient.java
  environment-api/src/main/java/com/sequenceiq/environment/client/EnvironmentServiceApiKeyEndpoints.java
  environment-api/src/main/java/com/sequenceiq/environment/client/EnvironmentServiceCrnEndpoints.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/client/FreeIpaApiKeyEndpoints.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/client/FreeIpaApiUserCrnEndpoint.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/client/FreeIpaClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeIpaTrustCleanupCommandsAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v4/environment/EnvironmentFinishTrustSetupAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v4/environment/EnvironmentTrustSetupAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/EnvironmentTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/FreeIpaTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProviderProxy.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/azure/AzureCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/gcp/GcpCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/mock/MockCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/yarn/YarnCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/environment/EnvironmentTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/environment/EnvironmentTrustSetupDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIpaTrustCommandsDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/microservice/EnvironmentClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/microservice/FreeIpaClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/trust/HybridTrustTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/client/SshJClient.java
  integration-test/src/main/resources/application.yml
  integration-test/src/main/resources/testsuites/e2e/aws-e2e-tests.yaml
Owners: @cloudbreak/cloudbreak-wolf-backend, @cloudbreak/cloudbreak-duck

CB-30880 remove duplicate salt password rotation job from sdx, enhance same job in core
  core/src/main/java/com/sequenceiq/cloudbreak/job/salt/StackSaltStatusCheckerJob.java
  core/src/test/java/com/sequenceiq/cloudbreak/job/salt/StackSaltStatusCheckerJobTest.java
  datalake/src/main/java/com/sequenceiq/datalake/job/salt/SdxSaltStatusCheckerJob.java
  datalake/src/main/java/com/sequenceiq/datalake/job/salt/SdxSaltStatusCheckerJobAdapter.java
  datalake/src/main/java/com/sequenceiq/datalake/job/salt/SdxSaltStatusCheckerJobInitializer.java
  datalake/src/main/java/com/sequenceiq/datalake/job/salt/SdxSaltStatusCheckerJobService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxService.java
  datalake/src/test/java/com/sequenceiq/datalake/job/salt/SdxSaltStatusCheckerJobTest.java
Owners: @cloudbreak/cloudbreak-raven

[CDPAM-6292] Added CDP_PRIVATELINKS entitlement
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/model/Entitlement.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/auth/MockUserManagementService.java
  mock-thunderhead/src/main/resources/application.yml
Owners: none

Revert "CB-30790 Adjust password generation to include special characters and be at least 32 chars"
  common/src/main/java/com/sequenceiq/cloudbreak/util/PasswordUtil.java
  common/src/test/java/com/sequenceiq/cloudbreak/util/PasswordUtilTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/IdBrokerConverterUtil.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/util/GatewayConvertUtil.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/StackV4RequestToStackConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/certrotate/ClusterCMCARotationHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/context/provider/AbstractCMRelatedDatabasePasswordContextProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/context/provider/CBCMAdminPasswordRotationContextProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/context/provider/MonitoringCredentialsRotationContextProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/ClusterService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/rdsconfig/AbstractRdsConfigProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/rdsconfig/RedbeamsDbServerConfigurer.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/StackRequestManifester.java
Owners: @cloudbreak/cloudbreak-raven

CB-30839 Fix testTrustSetup e2e timing issue
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/trust/HybridTrustTests.java
Owners: none

CB-30877 DynamicEntitlementRefreshJob: Failed to get image catalog
  freeipa/src/main/java/com/sequenceiq/freeipa/util/AvailabilityChecker.java
Owners: @cloudbreak/cloudbreak-duck

CB-31008: Upgrade bc-fips to 2.1.2
  dependencies.gradle
Owners: none

CB-31010 - verbatim format the links so they render fully
  README.md
Owners: none

CB-30980 Incorrect tagging in E2E test and missing test from ReportNG report and moving SElinux tests to a different suite
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaMultiAzRepairTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/spot/SpotRetryOnceTestListener.java
  integration-test/src/main/java/com/sequenceiq/it/util/TestNGUtil.java
  integration-test/src/main/resources/testsuites/e2e/aws-e2e-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/gov/aws-gov-tests.yaml
Owners: @cloudbreak/cloudbreak-duck

CB-31014 Move from https://nexus-private.hortonworks.com/nexus/content/groups/public to https://nexus-private.eng.cloudera.com/nexus/content/groups/public
  docker-autoscale/bootstrap/start_autoscale_app.sh
  docker-autoscale/commercial/Dockerfile
  docker-autoscale/fedramp/Dockerfile
  docker-cloudbreak/bootstrap/start_cloudbreak_app.sh
  docker-cloudbreak/commercial/Dockerfile
  docker-cloudbreak/fedramp/Dockerfile
  docker-datalake/bootstrap/start_datalake_app.sh
  docker-datalake/commercial/Dockerfile
  docker-datalake/fedramp/Dockerfile
  docker-environment-remote/bootstrap/start_remoteenvironment_app.sh
  docker-environment-remote/commercial/Dockerfile
  docker-environment-remote/fedramp/Dockerfile
  docker-environment/bootstrap/start_environment_app.sh
  docker-environment/commercial/Dockerfile
  docker-environment/fedramp/Dockerfile
  docker-externalized-compute/bootstrap/start_externalizedcompute_app.sh
  docker-externalized-compute/commercial/Dockerfile
  docker-externalized-compute/fedramp/Dockerfile
  docker-freeipa/bootstrap/start_freeipa_app.sh
  docker-freeipa/commercial/Dockerfile
  docker-freeipa/fedramp/Dockerfile
  docker-redbeams/bootstrap/start_redbeams_app.sh
  docker-redbeams/commercial/Dockerfile
  docker-redbeams/fedramp/Dockerfile
  gradle.properties
  integration-test/scripts/create-image-with-code-coverage.sh
  integration-test/scripts/create-xml-reports-from-code-coverage-results.sh
  mock-infrastructure/Dockerfile
  mock-thunderhead/Dockerfile
Owners: none

CB-31022 adding generateDenyreport to selinux tests
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaMultiAzRepairTests.java
Owners: @cloudbreak/cloudbreak-duck

CB-30979: Add `vpce:AllowMultiRegion` to the cross-account role policy
  cloud-aws-common/src/main/resources/definitions/aws-cb-policy.json
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-30976 Only add FreeIPA trust in case of Active Directory KDC type
  environment/src/main/java/com/sequenceiq/environment/environment/service/freeipa/FreeIpaService.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/freeipa/crossrealm/TrustV1Endpoint.java
  freeipa/src/main/java/com/sequenceiq/freeipa/controller/TrustV1Controller.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/trust/setup/AddTrustService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/freeipa/trust/setup/AddTrustServiceTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-27429: Don't overwrite the MDCContext in the ImageCatalogService
  core/src/main/java/com/sequenceiq/cloudbreak/service/AbstractWorkspaceAwareResourceService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/image/ImageCatalogService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/workspace/WorkspaceAwareResourceService.java
Owners: none

CB-30856: Fix to add meteringv2 client to HMS scale out group
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/meteringv2/MeteringV2ConfigProvider.java
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/meteringv2/MeteringV2ConfigProviderTest.java
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-30991 Remove cdp-telemetry version of libcrypto from Redhat 8 release. This caused cdp-doctor ipa status to fail because of binary incompatibility.
  orchestrator-salt/src/main/resources/salt-common/salt/telemetry/init.sls
Owners: none

CB-30930 refresh datahubs after edl scaling
  datalake/src/main/java/com/sequenceiq/datalake/flow/datalake/scale/handler/DatalakeHorizontalScaleServicesRollingRestartWaitHandler.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/datalake/scale/handler/DatalakeHorizontalScaleWaitHandler.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/CloudbreakPoller.java
  datalake/src/test/java/com/sequenceiq/datalake/flow/datalake/scale/handler/DatalakeHorizontalScaleServicesRollingRestartWaitHandlerTest.java
Owners: @cloudbreak/cloudbreak-raven

CB-30923 Call reallocateMemory API in Upgrade flow if Java17 and CM >= 7.13.1.500
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationServiceTest.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/CMRepositoryVersionUtil.java
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-31032: Add ability to generate multiple SELinux reports per test per cluster
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/selinux/SELinuxAssertions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/AbstractE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXVolumesModificationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaMultiAzRepairTests.java
Owners: @cloudbreak/cloudbreak-duck

CB-31029 FreeIPA: Fallback to ipa dnsrecord-add if ipa dnsrecord-mod fails for A record creation
  orchestrator-salt/src/main/resources/salt/salt/sssd/template/add_dns_record.j2
Owners: none

CB-30898 Only map BASE_CLUSTER Classic Clusters to environments
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterListService.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterRemoteEnvironmentConnector.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterListServiceTest.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterRemoteEnvironmentConnectorTest.java
  remote-cluster-connector/src/generated/main/java/com/cloudera/thunderhead/service/onpremises/OnPremisesApiProto.java
  remote-cluster-connector/src/main/proto/onpremisesapi.proto
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-31013 Add dataviz database configuration
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/database/base/DatabaseType.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/rdsconfig/AbstractRdsConfigProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/rdsconfig/DatavizRdsConfigProvider.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/dataviz/DatavizRoleConfigProvider.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/dataviz/DatavizRoles.java
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/dataviz/DatavizRoleConfigProviderTest.java
Owners: @cloudbreak/cloudbreak-wolf-backend

.github/CODEOWNERS:

# See https://help.github.com/en/articles/about-code-owners
# These people are automatically added as reviewers for PRs.
# At some point in the future they might be "required"

# Raven team should review authorization framework related changes
auth-internal/                                                                  @cloudbreak/cloudbreak-raven
auth-internal-api/                                                              @cloudbreak/cloudbreak-raven
authorization-common/                                                           @cloudbreak/cloudbreak-raven
authorization-common-api/                                                       @cloudbreak/cloudbreak-raven
grpc-common/                                                                    @cloudbreak/cloudbreak-raven

# Raven and Armadillo teams should review datalake and datalake-api modules
datalake/                                                                       @cloudbreak/cloudbreak-raven
datalake-api/                                                                   @cloudbreak/cloudbreak-raven
sdx-connector/                                                                  @cloudbreak/cloudbreak-raven

# Raven and Armadillo team should review datalake blueprint changes
core/src/main/resources/defaults/blueprints/*/cdp-sdx*.bp                       @cloudbreak/cloudbreak-raven

# Raven team should review quartz and sync job related PRs
common/src/java/com/sequenceiq/cloudbreak/quartz/*StatusCheckerJob.java         @cloudbreak/cloudbreak-raven

# Raven team should review how Controllers are authorized
*Controller.java                                                                @cloudbreak/cloudbreak-raven

# Wolf team should review environment and environment-api modules
environment/                                                                    @cloudbreak/cloudbreak-wolf-backend
environment-api/                                                                @cloudbreak/cloudbreak-wolf-backend
environment-common/                                                             @cloudbreak/cloudbreak-wolf-backend
environment-remote/                                                             @cloudbreak/cloudbreak-wolf-backend
environment-remote-api/                                                         @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review template modules
template-manager-blueprint/                                                     @cloudbreak/cloudbreak-wolf-backend
template-manager-cmteplate/                                                     @cloudbreak/cloudbreak-wolf-backend
template-manager-core/                                                          @cloudbreak/cloudbreak-wolf-backend
template-manager-recipe/                                                        @cloudbreak/cloudbreak-wolf-backend
template-manager-tag/                                                           @cloudbreak/cloudbreak-wolf-backend

# By default, unless overridden later,
# Wolf should review every policy change:
cloud-aws-cloudformation/src/main/resources/definitions/                        @cloudbreak/cloudbreak-wolf-backend
cloud-aws-common/src/main/resources/definitions/                                @cloudbreak/cloudbreak-wolf-backend
cloud-azure/src/main/resources/definitions/                                     @cloudbreak/cloudbreak-wolf-backend
cloud-gcp/src/main/resources/definitions/                                       @cloudbreak/cloudbreak-wolf-backend


# DB SSL related changes in core shall be assigned to Duck
core/**/ClusterDbCertRotationHandler.java                                       @cloudbreak/cloudbreak-duck
core/**/DatabaseSslService*.java                                                @cloudbreak/cloudbreak-duck
core/**/RedbeamsDbCertificateProvider*.java                                     @cloudbreak/cloudbreak-duck
core-api/**/DatabaseServerSsl*.java                                             @cloudbreak/cloudbreak-duck
core-model/**/DatabaseSslDetails*.java                                          @cloudbreak/cloudbreak-duck
core-model/**/RdsSslMode.java                                                   @cloudbreak/cloudbreak-duck

# Wolf team should review data hub blueprint changes
core/src/main/resources/defaults/blueprints/                                    @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review data hub template changes
core/src/main/resources/defaults/clustertemplates/                              @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review the network usage in IT
integration-test/scripts/check-results.sh                                       @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review template generation related changes
template-manager-blueprint/                                                     @cloudbreak/cloudbreak-wolf-backend
template-manager-cmtemplate/                                                    @cloudbreak/cloudbreak-wolf-backend
template-manager-tag/                                                           @cloudbreak/cloudbreak-wolf-backend
template-manager-recipe/                                                        @cloudbreak/cloudbreak-wolf-backend
template-manager-core/                                                          @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review autoscale changes
autoscale/                                                                      @cloudbreak/cloudbreak-wolf-backend
autoscale-api/                                                                  @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review audit related changes
audit-connector/                                                                @cloudbreak/cloudbreak-wolf-backend

# Duck team should review freeipa related changes
freeipa/                                                                        @cloudbreak/cloudbreak-duck
freeipa-api/                                                                    @cloudbreak/cloudbreak-duck
freeipa-client/                                                                 @cloudbreak/cloudbreak-duck

# DB SSL related changes in redbeams shall be assigned to Duck
redbeams/**/CertRotateInRedbeamsHandler*.java                                   @cloudbreak/cloudbreak-duck
redbeams/**/DatabaseServerSslCertificate*.java                                  @cloudbreak/cloudbreak-duck
redbeams/**/SslCertificateEntry*.java                                           @cloudbreak/cloudbreak-duck
redbeams/**/SslConfig*.java                                                     @cloudbreak/cloudbreak-duck
redbeams/**/SslContent*.java                                                    @cloudbreak/cloudbreak-duck
redbeams/src/main/resources/certs/                                              @cloudbreak/cloudbreak-duck
redbeams/src/test/resources/test_certs/                                         @cloudbreak/cloudbreak-duck
redbeams/scripts/import-aws-rds-root-certs.sh                                   @cloudbreak/cloudbreak-duck
redbeams-api/**/SslConfig*.java                                                 @cloudbreak/cloudbreak-duck
redbeams-api/**/SslMode*.java                                                   @cloudbreak/cloudbreak-duck

# Duck team should review other redbeams related changes
redbeams/                                                                       @cloudbreak/cloudbreak-duck
redbeams-api/                                                                   @cloudbreak/cloudbreak-duck

# Armadillo team should review changes to datalake related scripts
orchestrator-salt/src/main/resources/salt/salt/postgresql/disaster_recovery     @cloudbreak/cloudbreak-armadillo
orchestrator-salt/src/main/resources/salt/salt/datalake_metrics                 @cloudbreak/cloudbreak-armadillo

# DB SSL related changes in orchestrator-salt shall be assigned to Duck
orchestrator-salt/**/postgresql/root-certs.sls                                  @cloudbreak/cloudbreak-duck
orchestrator-salt/**/postgresql/scripts/conf_pgsql_ssl.sh                       @cloudbreak/cloudbreak-duck
orchestrator-salt/**/postgresql/scripts/create_embeddeddb_certificate.sh        @cloudbreak/cloudbreak-duck

core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/                   @tpopovics
core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/upgrade/ @tpopovics
