Repository hortonworks/cloudbreak, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-wolf-backend, @cloudbreak/cloudbreak-duck, @cloudbreak/cloudbreak-armadillo, @tpopovics

.github/CODEOWNERS:

# See https://help.github.com/en/articles/about-code-owners
# These people are automatically added as reviewers for PRs.
# At some point in the future they might be "required"

# Raven team should review authorization framework related changes
auth-internal/                                                                  @cloudbreak/cloudbreak-raven
auth-internal-api/                                                              @cloudbreak/cloudbreak-raven
authorization-common/                                                           @cloudbreak/cloudbreak-raven
authorization-common-api/                                                       @cloudbreak/cloudbreak-raven
grpc-common/                                                                    @cloudbreak/cloudbreak-raven

# Raven and Armadillo teams should review datalake and datalake-api modules
datalake/                                                                       @cloudbreak/cloudbreak-raven
datalake-api/                                                                   @cloudbreak/cloudbreak-raven
sdx-connector/                                                                  @cloudbreak/cloudbreak-raven

# Raven and Armadillo team should review datalake blueprint changes
core/src/main/resources/defaults/blueprints/*/cdp-sdx*.bp                       @cloudbreak/cloudbreak-raven

# Raven team should review quartz and sync job related PRs
common/src/java/com/sequenceiq/cloudbreak/quartz/*StatusCheckerJob.java         @cloudbreak/cloudbreak-raven

# Raven team should review how Controllers are authorized
*Controller.java                                                                @cloudbreak/cloudbreak-raven

# Wolf team should review environment and environment-api modules
environment/                                                                    @cloudbreak/cloudbreak-wolf-backend
environment-api/                                                                @cloudbreak/cloudbreak-wolf-backend
environment-common/                                                             @cloudbreak/cloudbreak-wolf-backend
environment-remote/                                                             @cloudbreak/cloudbreak-wolf-backend
environment-remote-api/                                                         @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review template modules
template-manager-blueprint/                                                     @cloudbreak/cloudbreak-wolf-backend
template-manager-cmteplate/                                                     @cloudbreak/cloudbreak-wolf-backend
template-manager-core/                                                          @cloudbreak/cloudbreak-wolf-backend
template-manager-recipe/                                                        @cloudbreak/cloudbreak-wolf-backend
template-manager-tag/                                                           @cloudbreak/cloudbreak-wolf-backend

# By default, unless overridden later,
# Wolf should review every policy change:
cloud-aws-cloudformation/src/main/resources/definitions/                        @cloudbreak/cloudbreak-wolf-backend
cloud-aws-common/src/main/resources/definitions/                                @cloudbreak/cloudbreak-wolf-backend
cloud-azure/src/main/resources/definitions/                                     @cloudbreak/cloudbreak-wolf-backend
cloud-gcp/src/main/resources/definitions/                                       @cloudbreak/cloudbreak-wolf-backend


# DB SSL related changes in core shall be assigned to Duck
core/**/ClusterDbCertRotationHandler.java                                       @cloudbreak/cloudbreak-duck
core/**/DatabaseSslService*.java                                                @cloudbreak/cloudbreak-duck
core/**/RedbeamsDbCertificateProvider*.java                                     @cloudbreak/cloudbreak-duck
core-api/**/DatabaseServerSsl*.java                                             @cloudbreak/cloudbreak-duck
core-model/**/DatabaseSslDetails*.java                                          @cloudbreak/cloudbreak-duck
core-model/**/RdsSslMode.java                                                   @cloudbreak/cloudbreak-duck

# Wolf team should review data hub blueprint changes
core/src/main/resources/defaults/blueprints/                                    @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review data hub template changes
core/src/main/resources/defaults/clustertemplates/                              @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review the network usage in IT
integration-test/scripts/check-results.sh                                       @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review template generation related changes
template-manager-blueprint/                                                     @cloudbreak/cloudbreak-wolf-backend
template-manager-cmtemplate/                                                    @cloudbreak/cloudbreak-wolf-backend
template-manager-tag/                                                           @cloudbreak/cloudbreak-wolf-backend
template-manager-recipe/                                                        @cloudbreak/cloudbreak-wolf-backend
template-manager-core/                                                          @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review autoscale changes
autoscale/                                                                      @cloudbreak/cloudbreak-wolf-backend
autoscale-api/                                                                  @cloudbreak/cloudbreak-wolf-backend

# Wolf team should review audit related changes
audit-connector/                                                                @cloudbreak/cloudbreak-wolf-backend

# Duck team should review freeipa related changes
freeipa/                                                                        @cloudbreak/cloudbreak-duck
freeipa-api/                                                                    @cloudbreak/cloudbreak-duck
freeipa-client/                                                                 @cloudbreak/cloudbreak-duck

# DB SSL related changes in redbeams shall be assigned to Duck
redbeams/**/CertRotateInRedbeamsHandler*.java                                   @cloudbreak/cloudbreak-duck
redbeams/**/DatabaseServerSslCertificate*.java                                  @cloudbreak/cloudbreak-duck
redbeams/**/SslCertificateEntry*.java                                           @cloudbreak/cloudbreak-duck
redbeams/**/SslConfig*.java                                                     @cloudbreak/cloudbreak-duck
redbeams/**/SslContent*.java                                                    @cloudbreak/cloudbreak-duck
redbeams/src/main/resources/certs/                                              @cloudbreak/cloudbreak-duck
redbeams/src/test/resources/test_certs/                                         @cloudbreak/cloudbreak-duck
redbeams/scripts/import-aws-rds-root-certs.sh                                   @cloudbreak/cloudbreak-duck
redbeams-api/**/SslConfig*.java                                                 @cloudbreak/cloudbreak-duck
redbeams-api/**/SslMode*.java                                                   @cloudbreak/cloudbreak-duck

# Duck team should review other redbeams related changes
redbeams/                                                                       @cloudbreak/cloudbreak-duck
redbeams-api/                                                                   @cloudbreak/cloudbreak-duck

# Armadillo team should review changes to datalake related scripts
orchestrator-salt/src/main/resources/salt/salt/postgresql/disaster_recovery     @cloudbreak/cloudbreak-armadillo
orchestrator-salt/src/main/resources/salt/salt/datalake_metrics                 @cloudbreak/cloudbreak-armadillo

# DB SSL related changes in orchestrator-salt shall be assigned to Duck
orchestrator-salt/**/postgresql/root-certs.sls                                  @cloudbreak/cloudbreak-duck
orchestrator-salt/**/postgresql/scripts/conf_pgsql_ssl.sh                       @cloudbreak/cloudbreak-duck
orchestrator-salt/**/postgresql/scripts/create_embeddeddb_certificate.sh        @cloudbreak/cloudbreak-duck

core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/                   @tpopovics
core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/upgrade/ @tpopovics

CB-30623 Support Classic Cluster as PDL in sdx-connector
  common/src/main/java/com/sequenceiq/cloudbreak/sdx/TargetPlatform.java
  environment-remote-api/src/main/java/com/sequenceiq/remoteenvironment/api/v1/environment/model/DescribeRemoteEnvironment.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/classiccluster/MockClassicClusterService.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/service/ClassicClusterService.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/common/PlatformAwareSdxConnector.java
Owners: @cloudbreak/cloudbreak-wolf-backend, @cloudbreak/cloudbreak-raven

CB-30636: Force the CVE-free versions of `netty-codec` to be selected during dependency resolution
  datalake/build.gradle
  externalized-compute/build.gradle
Owners: @cloudbreak/cloudbreak-raven

CB-30592: Add ability to generate SELinux report during diagnostics collection
  common-model/src/main/java/com/sequenceiq/common/api/diagnostics/BaseDiagnosticsCollectionRequest.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/doc/DiagnosticsModelDescription.java
  common-model/src/main/java/com/sequenceiq/common/model/diagnostics/DiagnosticParameters.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/converter/DiagnosticsDataToParameterConverter.java
  datalake/src/main/java/com/sequenceiq/datalake/converter/DiagnosticsParamsConverter.java
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/collect.sls
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/scripts/generate_selinux_report.sh
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/template/filecollector.yaml.j2
Owners: @cloudbreak/cloudbreak-raven

CB-30652 - Provider syncer incorrectly signals default outbound notification
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/NetworkAttributes.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/providersync/AzureNatGatewaySyncer.java
  core/src/main/java/com/sequenceiq/cloudbreak/job/provider/ProviderSyncService.java
  core/src/test/java/com/sequenceiq/cloudbreak/job/provider/ProviderSyncServiceTest.java
Owners: none

CB-30445: Force CVE-free version of `reactor-netty-http` to be selected during dependency resolution
  core/build.gradle
  environment/build.gradle
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-30326 - Allow Global Access for GCP Load Balancers - Global Access will be set true for Internal Load Balancers
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/loadbalancer/GcpForwardingRuleResourceBuilder.java
  cloud-gcp/src/test/java/com/sequenceiq/cloudbreak/cloud/gcp/loadbalancer/GcpForwardingRuleResourceBuilderTest.java
Owners: none

CB-30524: Update service config of core_settings during upgrades
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/upgrade/ClusterUpgradeActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/install/ConfigureClusterManagerManagementServicesRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/install/ConfigureClusterManagerManagementServicesHandler.java
  core/src/test/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/install/ConfigureClusterManagerManagementServicesHandlerTest.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/CmTemplateComponentConfigProvider.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/CmTemplateComponentConfigProviderProcessor.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/core/CommonCoreConfigProvider.java
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/CmTemplateComponentConfigProviderProcessorTest.java
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/core/CommonCoreConfigProviderTest.java
Owners: @tpopovics, @cloudbreak/cloudbreak-wolf-backend

OPSAPS-74702 retry must be applied on both public method in ClouderaManagerClientConfigDeployService
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerClientConfigDeployService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerClientConfigDeployServiceTest.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationServiceTest.java
Owners: none

CB-30663 When EP is not configured, a default one should be returned
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunner.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecorator.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/environment/EnvironmentService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecoratorTest.java
  environment-api/src/main/java/com/sequenceiq/environment/api/doc/encryptionprofile/EncryptionProfileOpDescription.java
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/encryptionprofile/endpoint/EncryptionProfileEndpoint.java
  environment/src/main/java/com/sequenceiq/environment/encryptionprofile/service/EncryptionProfileService.java
  environment/src/main/java/com/sequenceiq/environment/encryptionprofile/v1/controller/EncryptionProfileController.java
  environment/src/test/java/com/sequenceiq/environment/encryptionprofile/v1/controller/EncryptionProfileControllerTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/client/CachedEncryptionProfileClientService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/config/FreeIpaConfigService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/telemetry/TelemetryConfigService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/telemetry/TelemetryConfigServiceTest.java
Owners: @cloudbreak/cloudbreak-wolf-backend, @cloudbreak/cloudbreak-duck

CB-30010 fix CM proxied client interceptor
  autoscale/src/main/java/com/sequenceiq/periscope/monitor/handler/ClouderaManagerCommunicator.java
  datalake/src/main/java/com/sequenceiq/datalake/cm/ClouderaManagerProxiedClientFactory.java
Owners: @cloudbreak/cloudbreak-wolf-backend, @cloudbreak/cloudbreak-raven

Revert "CB-30663 When EP is not configured, a default one should be returned"
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunner.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecorator.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/environment/EnvironmentService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecoratorTest.java
  environment-api/src/main/java/com/sequenceiq/environment/api/doc/encryptionprofile/EncryptionProfileOpDescription.java
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/encryptionprofile/endpoint/EncryptionProfileEndpoint.java
  environment/src/main/java/com/sequenceiq/environment/encryptionprofile/service/EncryptionProfileService.java
  environment/src/main/java/com/sequenceiq/environment/encryptionprofile/v1/controller/EncryptionProfileController.java
  environment/src/test/java/com/sequenceiq/environment/encryptionprofile/v1/controller/EncryptionProfileControllerTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/client/CachedEncryptionProfileClientService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/config/FreeIpaConfigService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/telemetry/TelemetryConfigService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/telemetry/TelemetryConfigServiceTest.java
Owners: @cloudbreak/cloudbreak-wolf-backend, @cloudbreak/cloudbreak-duck

OPSAPS-74702 retry must be applied on both public method in ClouderaManagerClientConfigDeployService
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerClientConfigDeployService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerClientConfigDeployServiceTest.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationServiceTest.java
Owners: none

CB-30545 Enhance Disk Validation with improved error handling and lsblk result parsing
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/flow/MountDisks.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/flow/diskvalidator/DiskValidator.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/flow/diskvalidator/LsblkFetcher.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stack/flow/diskvalidator/DiskValidatorTest.java
Owners: none

CB-30652 - Provider syncer incorrectly signals default outbound notification
  cloud-api/src/test/java/com/sequenceiq/cloudbreak/cloud/model/generic/DynamicModelTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/job/provider/ProviderSyncService.java
  core/src/test/java/com/sequenceiq/cloudbreak/job/provider/ProviderSyncServiceTest.java
Owners: none

CB-30280 Extend MonitoringTests to validate cipher suite ordering
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/encryptionprofile/EncryptionProfileAssertions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/MonitoringTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/SshJUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/action/SshJClientActions.java
Owners: none

CB-30619 Remote data context for Classic Clusters
  environment-remote/build.gradle
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/RemoteEnvironmentException.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterClouderaManagerApiClientProvider.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterRemoteDataContextProvider.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterRemoteEnvironmentConnector.java
  environment-remote/src/main/resources/application.yaml
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterRemoteDataContextProviderTest.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterRemoteEnvironmentConnectorTest.java
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-30127 Validate reverse DNS settings for Cross-REALM trust FreeIPA - AD
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/trust/setup/TrustSetupValidationService.java
  freeipa/src/main/resources/freeipa-salt/salt/trustsetup/validation/ad_reverse_dns_validation.sls
  freeipa/src/main/resources/freeipa-salt/salt/trustsetup/validation/scripts/ad_reverse_dns_validation.sh.j2
  freeipa/src/test/java/com/sequenceiq/freeipa/service/freeipa/trust/setup/TrustSetupValidationServiceTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-30443: Force the CVE-free version of `tomcat-embed-core` to be selected during dependency resolution
  autoscale/build.gradle
  core/build.gradle
  environment-remote/build.gradle
  environment/build.gradle
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-30664: Set default httpclient timeouts to 60s and replayBufferSize to 512 for SMM services.
  orchestrator-salt/src/main/resources/salt/salt/gateway/config/cm/topology.xml.j2
  orchestrator-salt/src/main/resources/salt/salt/gateway/config/cm/topology_api.xml.j2
  orchestrator-salt/src/main/resources/salt/salt/gateway/config/cm/topology_token.xml.j2
Owners: none

CB-30574 consider preferred subnet ids during scaling operations on AWS, additional validation for scaling requests
  core/src/main/java/com/sequenceiq/cloudbreak/controller/validation/network/MultiAzValidator.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/StackCommonService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/multiaz/DataLakeAwareInstanceMetadataAvailabilityZoneCalculator.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/multiaz/InstanceMetadataAvailabilityZoneCalculator.java
  core/src/test/java/com/sequenceiq/cloudbreak/controller/validation/network/MultiAzValidatorTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/StackCommonServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/multiaz/InstanceMetadataAvailabilityZoneCalculatorTest.java
Owners: none

CB-30449: Remove full stacktrace from `Json::equals`'s log line, and add extra null handling
  common/src/main/java/com/sequenceiq/cloudbreak/common/json/Json.java
  common/src/test/java/com/sequenceiq/cloudbreak/common/json/JsonTest.java
Owners: none

ENGESC-31474 - Annoying Pop up Message when customer Login to Cloudera Management Console
  environment/src/main/java/com/sequenceiq/environment/marketplace/v1/controller/AzureMarketplaceTermsController.java
Owners: @cloudbreak/cloudbreak-wolf-backend

ENGESC-31474 Terms get does not have to be authorized
  environment/src/main/java/com/sequenceiq/environment/terms/v1/TermsController.java
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-29898: Reenable SELinux validation in the E2E tests running in Enforcing mode
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXVolumesModificationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaTests.java
Owners: @cloudbreak/cloudbreak-duck

CB-30448: Force the CVE-free version of `commons-lang3` to be selected during dependency resolution
  autoscale/build.gradle
  environment-remote/build.gradle
  environment/build.gradle
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-30656: Modify gcp integration tests to use pd-balanced volume type
  integration-test/src/main/resources/application.yml
Owners: none

CB-30640: Force CVE-free version of `spring-webmvc` during dependency resolution
  datalake/build.gradle
  externalized-compute/build.gradle
  freeipa/build.gradle
  redbeams/build.gradle
Owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-duck

CB-30459 Data LAke Upgrade Recovery will revert to earlier runtime version image if applicable
  core/src/main/java/com/sequenceiq/cloudbreak/service/ComponentConfigProviderService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/ClusterRecoveryService.java
Owners: @tpopovics

CB-30468 Determining if it is a patch upgrade now based on the activated parcel in CM
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterApi.java
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterModificationService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationServiceTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/upgrade/ClusterUpgradeActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/upgrade/ClusterUpgradeService.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/upgrade/ClusterUpgradeRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/upgrade/ClusterUpgradeHandler.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/upgrade/ClusterUpgradeServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/upgrade/ClusterUpgradeHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/ComponentConfigProviderServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/ClusterRecoveryServiceTest.java
Owners: @tpopovics, @cloudbreak/cloudbreak-raven

CB-30370 Move the change image flow earlier in the Data Lake upgrade process
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/UpgradeDatalakeFlowEventChainFactory.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/chain/UpgradeDatalakeFlowEventChainFactoryTest.java
Owners: none

CB-30587 Authorization for legacy event v4 API
  authorization-common/src/main/java/com/sequenceiq/authorization/service/CommonPermissionCheckingUtils.java
  authorization-common/src/main/java/com/sequenceiq/authorization/service/DefaultResourceAuthorizationProvider.java
  authorization-common/src/test/java/com/sequenceiq/authorization/service/DefaultResourceAuthorizationProviderTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/authorization/StackViewAuthorizationService.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/EventV4Controller.java
  core/src/test/java/com/sequenceiq/cloudbreak/authorization/StackViewAuthorizationServiceTest.java
Owners: @cloudbreak/cloudbreak-raven

CB-30672 RestLoggerFilter should log at least the failed requests for the autoscale endpoint
  common/src/main/java/com/sequenceiq/cloudbreak/logger/RestLoggerFilter.java
Owners: none

CB-30674 Include exception class if exception message is null in RestLoggerFilter
  common/src/main/java/com/sequenceiq/cloudbreak/exception/mapper/BaseExceptionMapper.java
  common/src/main/java/com/sequenceiq/cloudbreak/exception/mapper/DefaultExceptionMapper.java
  environment/src/main/java/com/sequenceiq/environment/exception/mapper/EnvironmentBaseExceptionMapper.java
  freeipa/src/main/java/com/sequenceiq/freeipa/controller/mapper/BadRequestExceptionMapper.java
  freeipa/src/main/java/com/sequenceiq/freeipa/controller/mapper/JaxWsBadRequestExceptionMapper.java
Owners: @cloudbreak/cloudbreak-wolf-backend, @cloudbreak/cloudbreak-duck

CB-30688 Modify nvme cli usage for redhat9 because the json it returns is different, therefore it is easier to get the data form normal output with awk.
  orchestrator-salt/src/main/resources/salt/salt/disks/mount/scripts/format-and-mount-common.sh
Owners: none

CB-30621 Root certificate for Classic Clusters
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterDatalakeServicesProvider.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterRemoteEnvironmentConnector.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterRootCertificateProvider.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterRemoteEnvironmentConnectorTest.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterRootCertificateProviderTest.java
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-30620 Datalake services for Classic Clusters
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterClouderaManagerApiClientProvider.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterDatalakeServicesProvider.java
  environment-remote/src/main/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterRemoteEnvironmentConnector.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterDatalakeServicesProviderTest.java
  environment-remote/src/test/java/com/sequenceiq/remoteenvironment/service/connector/classiccluster/ClassicClusterRemoteEnvironmentConnectorTest.java
  environment-remote/src/test/resources/cmclientconfig/hdfs-ha.zip
  environment-remote/src/test/resources/cmclientconfig/hdfs-invalid-site-xml.zip
  environment-remote/src/test/resources/cmclientconfig/hdfs-nonha.zip
Owners: @cloudbreak/cloudbreak-wolf-backend

CB-30712 add dto refresh before validation in testSDXUpgradeRecovery
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxUpgradeRecoveryTests.java
Owners: none

CB-30612 - New instances added to executor group have random mappings
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/VolumeBuilderUtil.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/volume/AwsAttachmentResourceBuilder.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/volume/AwsVolumeResourceBuilder.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/volume/VolumeResourceCollector.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/volume/AwsVolumeResourceBuilderTest.java
  cloud-aws-native/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/resource/volume/AwsNativeVolumeResourceBuilder.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/spi/StackToCloudStackConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/util/StackUtil.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/spi/StackToCloudStackConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/util/StackUtilTest.java
Owners: none

CB-30717 SKU migration does not work properly for old VMs, as the generated interface name changed
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/view/AzureInstanceView.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/view/AzureInstanceViewTest.java
Owners: none

Revert "Bump openapiGeneratorGradlePlugin from 7.15.0 to 7.16.0"
  dependencies.gradle
Owners: none
