Repository hortonworks/cloudbreak, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hortonworks/cloudbreak-raven, @hortonworks/cloudbreak-armadillo, @hortonworks/cloudbreak-wolf, @hortonworks/cloudbreak-bobcat, @hortonworks/cloudbreak-duck

CB-21906: Fixed failing E2E tests for EDL creation.
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/HostGroupType.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxRepairTests.java
Owners: none

[JENKINS-AUTOMATION] Update Base image for docker-private.infra.cloudera.com/cloudera_base/ubi8/cldr-openjdk-17-runtime-cis:1.15-1.1682053056-cis-24052023
  docker-autoscale/Dockerfile
  docker-cloudbreak/Dockerfile
  docker-consumption/Dockerfile
  docker-datalake/Dockerfile
  docker-environment/Dockerfile
  docker-freeipa/Dockerfile
  docker-redbeams/Dockerfile
  integration-test/test-image/Dockerfile
  mock-infrastructure/Dockerfile
  mock-thunderhead/Dockerfile
Owners: none

CB-21984 do not create ApacheClient for every AWS client, instead use a common shared ApacheClient
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsCloudFormationClient.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsValidatorsTest.java
  cloud-aws-common/build.gradle
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsClient.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsSessionCredentialClient.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/client/AwsApacheClient.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsAuthenticatorTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsInstanceConnectorTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsSessionCredentialClientTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/validator/AwsStorageValidatorsTest.java
  cloud-aws-native/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNativeMetadataCollectorApiIntegrationTest.java
Owners: none

CB-21683 Salt pillar rotation executor
  common/src/main/java/com/sequenceiq/cloudbreak/rotation/secret/SecretRotationStep.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/DatabaseRootPasswordSaltPillarGenerator.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/context/SaltPillarRotationContext.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/executor/SaltPillarRotationExecutor.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/salt/SaltStateParamsService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/rds/RdsUpgradeOrchestratorService.java
  core/src/test/java/com/sequenceiq/cloudbreak/rotation/context/DatabaseRootPasswordSaltPillarGeneratorTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/rotation/executor/SaltPillarRotationExecutorTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/rds/RdsUpgradeOrchestratorServiceTest.java
Owners: none

CB-21683 Salt pillar rotation executor
  common/src/main/java/com/sequenceiq/cloudbreak/rotation/secret/SecretRotationStep.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/DatabaseRootPasswordSaltPillarGenerator.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/context/SaltPillarRotationContext.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/executor/SaltPillarRotationExecutor.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/salt/SaltStateParamsService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/rds/RdsUpgradeOrchestratorService.java
  core/src/test/java/com/sequenceiq/cloudbreak/rotation/context/DatabaseRootPasswordSaltPillarGeneratorTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/rotation/executor/SaltPillarRotationExecutorTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/rds/RdsUpgradeOrchestratorServiceTest.java
Owners: none

CB-21684 implement salt state apply executor for secret rotation
  common/src/main/java/com/sequenceiq/cloudbreak/rotation/secret/SecretRotationStep.java
  orchestrator-api/src/main/java/com/sequenceiq/cloudbreak/orchestrator/host/HostOrchestrator.java
  orchestrator-api/src/main/java/com/sequenceiq/cloudbreak/orchestrator/rotation/SaltStateApplyRotationContext.java
  orchestrator-api/src/main/java/com/sequenceiq/cloudbreak/orchestrator/rotation/SaltStateApplyRotationExecutor.java
  orchestrator-api/src/test/java/com/sequenceiq/cloudbreak/orchestrator/rotation/SaltStateApplyRotationExecutorTest.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestrator.java
Owners: none

CB-21848 adding NAMENODE to the topology
  orchestrator-salt/src/main/resources/salt/salt/gateway/config/cm/topology.xml.j2
Owners: none

CB-21689 route secret rotation flow to rollback state if execution type is rollback
  flow/src/main/java/com/sequenceiq/flow/rotation/SecretRotationActions.java
Owners: none

CB-21689 route secret rotation flow to rollback state if execution type is rollback
  flow/src/main/java/com/sequenceiq/flow/rotation/SecretRotationActions.java
Owners: none

CB-21984 do not create ApacheClient for every AWS client, instead use a common shared ApacheClient
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsCloudFormationClient.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsValidatorsTest.java
  cloud-aws-common/build.gradle
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsClient.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsSessionCredentialClient.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/client/AwsApacheClient.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsAuthenticatorTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsInstanceConnectorTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsSessionCredentialClientTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/validator/AwsStorageValidatorsTest.java
  cloud-aws-native/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNativeMetadataCollectorApiIntegrationTest.java
Owners: none

CB-21996 ASG creation waiter is not prepared for empty list in response
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/scheduler/acceptor/AutoscalingInstancesInServiceAcceptor.java
Owners: none

CB-21684 implement salt state apply executor for secret rotation
  common/src/main/java/com/sequenceiq/cloudbreak/rotation/secret/SecretRotationStep.java
  orchestrator-api/src/main/java/com/sequenceiq/cloudbreak/orchestrator/host/HostOrchestrator.java
  orchestrator-api/src/main/java/com/sequenceiq/cloudbreak/orchestrator/rotation/SaltStateApplyRotationContext.java
  orchestrator-api/src/main/java/com/sequenceiq/cloudbreak/orchestrator/rotation/SaltStateApplyRotationExecutor.java
  orchestrator-api/src/test/java/com/sequenceiq/cloudbreak/orchestrator/rotation/SaltStateApplyRotationExecutorTest.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestrator.java
Owners: none

deny usage of var
  autoscale/src/test/java/com/sequenceiq/periscope/utils/MetricUtilsTest.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerSetupServiceTest.java
  config/checkstyle/checkstyle.xml
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/StackToStackV4ResponseConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/StackDtoService.java
  core/src/test/java/com/sequenceiq/cloudbreak/DefaultEnumConverterCompatibilityTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/service/EnvironmentServiceExperienceFetchTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/util/RepoConfigValidationTestAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/mock/MockCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/RepoConfigValidationTest.java
  integration-test/src/main/java/com/sequenceiq/it/util/TestParameter.java
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/srm/StreamsReplicationManagerConfigProviderTest.java
  template-manager-recipe/src/test/java/com/sequenceiq/cloudbreak/recipe/moduletest/RecipeModulTestModelProvider.java
Owners: @hortonworks/cloudbreak-bobcat, @hortonworks/cloudbreak-wolf

CB-21996 ASG creation waiter is not prepared for empty list in response
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/scheduler/acceptor/AutoscalingInstancesInServiceAcceptor.java
Owners: none

deny usage of var
  autoscale/src/test/java/com/sequenceiq/periscope/utils/MetricUtilsTest.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerSetupServiceTest.java
  config/checkstyle/checkstyle.xml
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/StackToStackV4ResponseConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/StackDtoService.java
  core/src/test/java/com/sequenceiq/cloudbreak/DefaultEnumConverterCompatibilityTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/service/EnvironmentServiceExperienceFetchTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/util/RepoConfigValidationTestAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/mock/MockCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/RepoConfigValidationTest.java
  integration-test/src/main/java/com/sequenceiq/it/util/TestParameter.java
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/srm/StreamsReplicationManagerConfigProviderTest.java
  template-manager-recipe/src/test/java/com/sequenceiq/cloudbreak/recipe/moduletest/RecipeModulTestModelProvider.java
Owners: @hortonworks/cloudbreak-bobcat, @hortonworks/cloudbreak-wolf

CB-21539 CM admin password rotation
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterSecurityService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerSecurityService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerSecurityServiceTest.java
  common/src/main/java/com/sequenceiq/cloudbreak/rotation/secret/SecretRotationStep.java
  common/src/main/java/com/sequenceiq/cloudbreak/rotation/secret/type/CloudbreakSecretType.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/cluster/Cluster.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/view/ClusterView.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/ClusterDtoRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/context/CMUserRotationContext.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/context/ClusterProxyRotationContext.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/context/provider/CBCMAdminPasswordRotationContextProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/context/provider/CMUserRotationContextProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/context/provider/MgmtCMAdminPasswordRotationContextProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/executor/CMUserRotationExecutor.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/executor/ClusterProxyRotationExecutor.java
  core/src/test/java/com/sequenceiq/cloudbreak/rotation/context/provider/CBCMAdminPasswordRotationContextProviderTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/rotation/context/provider/CMUserRotationContextProviderTestUtils.java
  core/src/test/java/com/sequenceiq/cloudbreak/rotation/context/provider/MgmtCMAdminPasswordRotationContextProviderTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/rotation/executor/CMUserRotationExecutorTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/rotation/executor/ClusterProxyRotationExecutorTest.java
  flow/src/test/java/com/sequenceiq/flow/rotation/service/SecretRotationServiceTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v1/distrox/DistroXRotateSecretAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/DistroXTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXSecretRotationTest.java
Owners: none

CB-16279: Add an image update step to roll-forward
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/cmsync/handler/CmSyncHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/StackImageService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/sync/CmSyncImageFinderService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/sync/CmSyncImageUpdateService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/sync/CmSyncerService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/cmsync/handler/CmSyncHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/sync/CmSyncImageFinderServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/sync/CmSyncImageUpdateServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/sync/CmSyncerServiceTest.java
Owners: none

CB-21993 ProjectId is not returned from GCP credentials
  cloud-gcp/src/main/resources/definitions/gcp-credential.json
  environment/src/main/java/com/sequenceiq/environment/credential/v1/converter/CredentialToCredentialV1ResponseConverter.java
  environment/src/main/java/com/sequenceiq/environment/credential/v1/converter/gcp/GcpCredentialV1ParametersToGcpCredentialAttributesConverter.java
  environment/src/test/java/com/sequenceiq/environment/credential/v1/converter/gcp/GcpCredentialV1ParametersToGcpCredentialAttributesConverterTest.java
Owners: @hortonworks/cloudbreak-wolf

SREOPS-11974 adding the java init container to the release artifacts
  cloudera/docker_images.yaml
Owners: none

CB-21984 do not create ApacheClient for every AWS client, instead use a common shared ApacheClient
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsCloudFormationClient.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsValidatorsTest.java
  cloud-aws-common/build.gradle
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsClient.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsSessionCredentialClient.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/client/AwsApacheClient.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsAuthenticatorTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsInstanceConnectorTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsSessionCredentialClientTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/validator/AwsStorageValidatorsTest.java
  cloud-aws-native/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNativeMetadataCollectorApiIntegrationTest.java
Owners: none

CB-21539 CM admin password rotation
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterSecurityService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerSecurityService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerSecurityServiceTest.java
  common/src/main/java/com/sequenceiq/cloudbreak/rotation/secret/SecretRotationStep.java
  common/src/main/java/com/sequenceiq/cloudbreak/rotation/secret/type/CloudbreakSecretType.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/cluster/Cluster.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/view/ClusterView.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/ClusterDtoRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/context/CMUserRotationContext.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/context/ClusterProxyRotationContext.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/context/provider/CBCMAdminPasswordRotationContextProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/context/provider/CMUserRotationContextProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/context/provider/MgmtCMAdminPasswordRotationContextProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/executor/CMUserRotationExecutor.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/executor/ClusterProxyRotationExecutor.java
  core/src/test/java/com/sequenceiq/cloudbreak/rotation/context/provider/CBCMAdminPasswordRotationContextProviderTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/rotation/context/provider/CMUserRotationContextProviderTestUtils.java
  core/src/test/java/com/sequenceiq/cloudbreak/rotation/context/provider/MgmtCMAdminPasswordRotationContextProviderTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/rotation/executor/CMUserRotationExecutorTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/rotation/executor/ClusterProxyRotationExecutorTest.java
  flow/src/test/java/com/sequenceiq/flow/rotation/service/SecretRotationServiceTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v1/distrox/DistroXRotateSecretAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/DistroXTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXSecretRotationTest.java
Owners: none

SREOPS-11974 adding the java init container to the release artifacts
  cloudera/docker_images.yaml
Owners: none

CB-21848 adding NAMENODE to the topology
  orchestrator-salt/src/main/resources/salt/salt/gateway/config/cm/topology.xml.j2
Owners: none

CB-21406 Extend Distrox Creation call on API with the azure database type field
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/request/database/DatabaseAzureRequest.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/request/database/DatabaseRequest.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/doc/ModelDescriptions.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/model/database/DistroXDatabaseAzureRequest.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/model/database/DistroXDatabaseRequest.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/Database.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/Stack.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/util/DatabaseParameterFallbackUtil.java
  core-model/src/test/java/com/sequenceiq/cloudbreak/util/DatabaseParameterFallbackUtilTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/DatabaseRequestToDatabaseConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/StackV4RequestToStackConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/ExternalDatabaseService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/provision/handler/CreateExternalDatabaseHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/DatabaseRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/StackRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/database/DatabaseService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/externaldatabase/AzureDatabaseServerParameterDecorator.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/externaldatabase/model/DatabaseServerParameter.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/StackService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/template/ClusterTemplateService.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/converter/DistroXDatabaseRequestToStackDatabaseRequestConverter.java
  core/src/main/resources/schema/app/20230504140308_CB-21406_Collect_stack_related_db_properties_in_Database_entity.sql
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v4/stacks/DatabaseRequestToDatabaseConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v4/stacks/StackV4RequestToStackConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/ExternalDatabaseServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/provision/handler/CreateExternalDatabaseHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/externaldatabase/AzureDatabaseServerParameterDecoratorTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stack/StackServiceTest.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/converter/DistroXDatabaseRequestToStackDatabaseRequestConverterTest.java
  datalake/src/main/java/com/sequenceiq/datalake/repository/SdxClusterRepository.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxExternalDatabaseConfigurer.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/database/AzureDatabaseAttributesService.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/database/AzureDatabaseAttributesServiceTest.java
Owners: @hortonworks/cloudbreak-raven, @hortonworks/cloudbreak-armadillo

CB-21550 remove EPHEMERAL_DISKS_FOR_TEMP_DATA entitlement
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementService.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/model/Entitlement.java
  auth-connector/src/test/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementServiceTest.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/auth/MockUserManagementService.java
  mock-thunderhead/src/main/resources/application.yml
  mock-thunderhead/src/test/java/com/sequenceiq/thunderhead/grpc/service/auth/MockUserManagementServiceTest.java
Owners: none

CB-21943 permanent fix for expression language evaluation in constraint validation messages
  autoscale/src/test/java/com/sequenceiq/periscope/InjectTest.java
  autoscale/src/test/java/com/sequenceiq/periscope/StaticCodeAnalysisTest.java
  cloud-consumption/src/test/java/com/sequenceiq/consumption/InjectTest.java
  cloud-consumption/src/test/java/com/sequenceiq/consumption/StaticCodeAnalysisTest.java
  common-model/build.gradle
  common-model/src/main/java/com/sequenceiq/common/api/util/ValidatorUtil.java
  common/src/test/java/com/sequenceiq/cloudbreak/util/ConstraintValidationModificationChecker.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/validation/HttpContentSizeValidator.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/validation/ValidHttpContentSize.java
  core-api/src/test/java/com/sequenceiq/cloudbreak/controller/validation/AbstractValidatorTest.java
  core-api/src/test/java/com/sequenceiq/cloudbreak/validation/HttpContentSizeValidatorTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/InjectTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/StaticCodeAnalysisTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/controller/validation/UpdateStackRequestValidatorTest.java
  datalake/src/test/java/com/sequenceiq/datalake/InjectTest.java
  datalake/src/test/java/com/sequenceiq/datalake/StaticCodeAnalysisTest.java
  dependencies.gradle
  environment/src/test/java/com/sequenceiq/environment/InjectTest.java
  environment/src/test/java/com/sequenceiq/environment/StaticCodeAnalysisTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/InjectTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/StaticCodeAnalysisTest.java
  mock-thunderhead/src/test/java/com/sequenceiq/thunderhead/InjectTest.java
  mock-thunderhead/src/test/java/com/sequenceiq/thunderhead/StaticCodeAnalysisTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/InjectTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/StaticCodeAnalysisTest.java
Owners: @hortonworks/cloudbreak-bobcat, @hortonworks/cloudbreak-raven, @hortonworks/cloudbreak-armadillo, @hortonworks/cloudbreak-wolf, @hortonworks/cloudbreak-duck

CB-16526: Mixed package warings should use UPGRADE_FAILED status when upgrade failed
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/sync/CandidateImageAwareMixedPackageVersionService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/sync/MixedPackageNotificationService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/sync/TargetImageAwareMixedPackageVersionService.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/sync/CandidateImageAwareMixedPackageVersionServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/sync/MixedPackageNotificationServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/sync/TargetImageAwareMixedPackageVersionServiceTest.java
Owners: none

CB-21764: Do not call AWS describe volumes during E2E tests when the volume ids are null.
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/amazonec2/action/EC2ClientActions.java
Owners: none

CB-22018. Increase LDAP search limits
  freeipa/src/main/resources/freeipa-salt/salt/freeipa/templates/initial-ldap-conf.ldif
Owners: @hortonworks/cloudbreak-duck

SREOPS-11974 adding the java init container to the release artifacts
  cloudera/docker_images.yaml
Owners: none

CB-22019 - Update Ranger sticky session and LB configs
  orchestrator-salt/src/main/resources/salt/salt/gateway/config/cm/topology.xml.j2
Owners: none

.github/CODEOWNERS:

# See https://help.github.com/en/articles/about-code-owners
# These people are automatically added as reviewers for PRs.
# At some point in the future they might be "required"

# Raven team should review authorization framework related changes
auth-internal/                                                                  @hortonworks/cloudbreak-raven
auth-internal-api/                                                              @hortonworks/cloudbreak-raven
authorization-common/                                                           @hortonworks/cloudbreak-raven
authorization-common-api/                                                       @hortonworks/cloudbreak-raven
grpc-common/                                                                    @hortonworks/cloudbreak-raven

# Raven and Armadillo teams should review datalake and datalake-api modules
datalake/                                                                       @hortonworks/cloudbreak-raven @hortonworks/cloudbreak-armadillo
datalake-api/                                                                   @hortonworks/cloudbreak-raven @hortonworks/cloudbreak-armadillo

# Raven team should review datalake blueprint changes
core/src/main/resources/defaults/blueprints/*/cdp-sdx*.bp                       @hortonworks/cloudbreak-raven

# Raven team should review quartz and sync job related PRs
common/src/java/com/sequenceiq/cloudbreak/quartz/*StatusCheckerJob.java         @hortonworks/cloudbreak-raven

# Raven team should review how Controllers are authorized
*Controller.java                                                                @hortonworks/cloudbreak-raven

# Wolf team should review environment and environment-api modules
environment/                                                                    @hortonworks/cloudbreak-wolf
environment-api/                                                                @hortonworks/cloudbreak-wolf
environment-common/                                                             @hortonworks/cloudbreak-wolf

# By default, unless overridden later,
# Wolf should review every policy change:
cloud-aws-cloudformation/src/main/resources/definitions/                        @hortonworks/cloudbreak-wolf
cloud-aws-common/src/main/resources/definitions/                                @hortonworks/cloudbreak-wolf
cloud-azure/src/main/resources/definitions/                                     @hortonworks/cloudbreak-wolf

# Wolf team should review data hub blueprint changes
core/src/main/resources/defaults/blueprints/*/cdp-cod*.bp                       @hortonworks/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-data*.bp                      @hortonworks/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-dde*.bp                       @hortonworks/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-flink*.bp                     @hortonworks/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-flow*.bp                      @hortonworks/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-opdb*.bp                      @hortonworks/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-rt*.bp                        @hortonworks/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-streaming*.bp                 @hortonworks/cloudbreak-wolf

# Wolf team should review data hub template changes
core/src/main/resources/defaults/clustertemplates/                              @hortonworks/cloudbreak-wolf

# Wolf team should review the network usage in IT
integration-test/scripts/check-results.sh                                       @hortonworks/cloudbreak-wolf

# Wolf team should review template generation related changes
template-manager-blueprint/                                                     @hortonworks/cloudbreak-wolf
template-manager-cmtemplate/                                                    @hortonworks/cloudbreak-wolf
template-manager-tag/                                                           @hortonworks/cloudbreak-wolf
template-manager-recipe/                                                        @hortonworks/cloudbreak-wolf
template-manager-core/                                                          @hortonworks/cloudbreak-wolf

# Wolf team should review audit related changes
audit-connector/                                                                @hortonworks/cloudbreak-wolf

# Bobcat team should review dataengineering related changes
core/src/main/resources/defaults/blueprints/*/cdp-data-engineering*.bp          @hortonworks/cloudbreak-bobcat
core/src/main/resources/defaults/clustertemplates/*/*/dataengineering*.json     @hortonworks/cloudbreak-bobcat

# Bobcat team should review autoscale related changes
autoscale/                                                                      @hortonworks/cloudbreak-bobcat
autoscale-api/                                                                  @hortonworks/cloudbreak-bobcat

# Duck team should review freeipa related changes
freeipa/                                                                        @hortonworks/cloudbreak-duck
freeipa-api/                                                                    @hortonworks/cloudbreak-duck
freeipa-client/                                                                 @hortonworks/cloudbreak-duck

# Duck team should review redbeams related changes
redbeams/                                                                       @hortonworks/cloudbreak-duck
redbeams-api/                                                                   @hortonworks/cloudbreak-duck
