Repository hortonworks/cloudbreak, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-armadillo, @cloudbreak/cloudbreak-wolf, @lrodek, @cloudbreak/cloudbreak-bobcat, @cloudbreak/cloudbreak-duck

CB-24060: Enable rolling upgrade for specific blueprint
  core/src/main/resources/defaults/blueprints/7.2.16/cdp-sdx-medium-ha.bp
  core/src/main/resources/defaults/blueprints/7.2.17/cdp-sdx-enterprise.bp
  core/src/main/resources/defaults/blueprints/7.2.17/cdp-sdx-medium-ha.bp
  core/src/main/resources/defaults/blueprints/7.2.18/cdp-sdx-enterprise.bp
  core/src/main/resources/defaults/blueprints/7.2.18/cdp-streaming-ha.bp
Owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-armadillo, @cloudbreak/cloudbreak-wolf

CB-23549: Introduce ROLLING_UPGRADE_ENABLED as a new BlueprintUpgradeOption
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementService.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/model/Entitlement.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/response/upgrade/UpgradeV4Response.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/BlueprintUpgradeOption.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/cluster/ClusterManagerUpgradeManagementService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/ClusterUpgradeAvailabilityService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/ClusterUpgradeCandidateFilterService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/image/BlueprintBasedUpgradeValidator.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/image/BlueprintUpgradeOptionCondition.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/image/BlueprintUpgradeOptionValidator.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/image/ClusterUpgradeImageFilter.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/image/ImageFilterParams.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/StackUpgradeOperations.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/controller/DistroXUpgradeV1Controller.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/cluster/ClusterManagerUpgradeManagementServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/ClusterUpgradeAvailabilityServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/ClusterUpgradeCandidateFilterServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/image/BlueprintBasedUpgradeValidatorTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/image/BlueprintUpgradeOptionConditionTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/image/BlueprintUpgradeOptionValidatorTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/image/ClusterUpgradeImageFilterTest.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/StackUpgradeOperationsTest.java
  mock-thunderhead/src/main/resources/application.yml
Owners: @cloudbreak/cloudbreak-raven

CB-24000 Manually import new RDS root certs for broken regions
  redbeams/src/main/java/com/sequenceiq/redbeams/configuration/DatabaseServerSslCertificateConfig.java
  redbeams/src/main/resources/certs/aws/eu-south-2/0.yml
  redbeams/src/main/resources/certs/aws/il-central-1/0.yml
  redbeams/src/test/java/com/sequenceiq/redbeams/configuration/DatabaseServerSslCertificateConfigIntegrationTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/configuration/DatabaseServerSslCertificateConfigTest.java
  redbeams/src/test/resources/test_certs/formatCheck/aws/eu-south-2/0.yml
Owners: @cloudbreak/cloudbreak-duck

CB-23972 fix secret rotation rollback NPE during getting field name for vault secrets
  common/src/main/java/com/sequenceiq/cloudbreak/vault/ThreadBasedVaultReadFieldProvider.java
Owners: none

CB-24002: Fix database server settings migration to not update the connection username in every cases
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/upgrade/rds/MigrateDatabaseSettingsHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/upgrade/rds/RdsConfigUpdateService.java
  core/src/test/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/upgrade/rds/MigrateDatabaseSettingsHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/upgrade/rds/RdsConfigUpdateServiceTest.java
Owners: none

CB-23975 - Disable publicNetworkAccess in case of private Flexible deployment
  cloud-azure/src/main/resources/templates/arm-flexible-dbstack.ftl
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/AzureTemplateBuilderDbTest.java
Owners: none

CB-24041 fixing test user creation based on data form dp cli profile
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/config/server/CliProfileReaderService.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/config/user/DefaultUserConfig.java
Owners: none

CB-23708 Adding i4i.2xlarge for COD cluster creation
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/DistroxEnabledInstanceTypes.java
Owners: none

CB-24042 Fallback to Azure Private Single Server if the delegated subnet id is not specified - Datalake
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/DatabaseRequestToDatabaseConverter.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v4/stacks/DatabaseRequestToDatabaseConverterTest.java
  datalake/build.gradle
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxExternalDatabaseConfigurer.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/database/AzureDatabaseAttributesService.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxExternalDatabaseConfigurerTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxServiceCreateSdxTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/database/AzureDatabaseAttributesServiceTest.java
  environment-common/build.gradle
  environment-common/src/main/java/com/sequenceiq/cloudbreak/service/database/EnvironmentDatabaseService.java
  environment-common/src/test/java/com/sequenceiq/cloudbreak/service/database/EnvironmentDatabaseServiceTest.java
Owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-armadillo, @cloudbreak/cloudbreak-wolf

CB-21995 workaround for NPE of disk resource's FQDN to avoid scaling failure
  cloud-template/src/main/java/com/sequenceiq/cloudbreak/cloud/template/AbstractResourceConnector.java
  cloud-template/src/test/java/com/sequenceiq/cloudbreak/cloud/template/AbstractResourceConnectorTest.java
Owners: none

CB-24062 only for AWS native CMCA rotation causes issues for CM hostmonitor after DH repair, so until further investigation, removing it
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXRepairTests.java
Owners: none

CB-23637 modify stop/start operations in resource engine to fail hard when cloud provider interactions fails
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsInstanceConnector.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsInstanceConnectorTest.java
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/GcpInstanceConnector.java
  cloud-reactor/src/main/java/com/sequenceiq/cloudbreak/cloud/handler/StartStackHandler.java
  cloud-reactor/src/main/java/com/sequenceiq/cloudbreak/cloud/handler/StopStackHandler.java
  cloud-template/src/main/java/com/sequenceiq/cloudbreak/cloud/template/compute/ComputeResourceService.java
  cloud-template/src/main/java/com/sequenceiq/cloudbreak/cloud/template/compute/InstanceResourceStopStartException.java
  cloud-template/src/main/java/com/sequenceiq/cloudbreak/cloud/template/compute/ResourceStopStartCallable.java
  cloud-template/src/test/java/com/sequenceiq/cloudbreak/cloud/template/compute/ComputeResourceServiceTest.java
  cloud-template/src/test/java/com/sequenceiq/cloudbreak/cloud/template/compute/ResourceStopStartCallableTest.java
Owners: none

CB-22667 Creating skeleton flow for adding additional EBS volumes to a datahub cluster
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/PlatformParametersConsts.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzurePlatformParameters.java
  cloud-reactor/src/main/java/com/sequenceiq/cloudbreak/cloud/service/CloudParameterCache.java
  common/src/main/java/com/sequenceiq/cloudbreak/event/ResourceEvent.java
  common/src/main/resources/messages/messages.properties
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/common/DetailedStackStatus.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/request/StackAddVolumesRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/AbstractAddVolumesAction.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/AddVolumesActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/AddVolumesEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/AddVolumesFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/AddVolumesState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AddVolumesCMConfigFinishedEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AddVolumesCMConfigHandlerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AddVolumesFailedEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AddVolumesFinalizedEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AddVolumesFinishedEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AddVolumesHandlerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AddVolumesOrchestrationFinishedEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AddVolumesOrchestrationHandlerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AddVolumesRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AttachVolumesFinishedEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/event/AttachVolumesHandlerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/handler/AddVolumesCMConfigHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/handler/AddVolumesHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/handler/AddVolumesOrchestrationHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/handler/AttachVolumesHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/ReactorFlowManager.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/ReactorFlowManagerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/AddVolumesActionsTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/addvolumes/handler/AddVolumesCMConfigHandlerTest.java
Owners: none

CB-23973 Increase flow timeout for hybrid tests
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/hybrid/HybridCloudE2ETest.java
Owners: none

CB-24043 Create metrics and alerts about cluster reachability (CM/CCM/cluster-proxy)
  client-cm/src/main/java/com/sequenceiq/cloudbreak/cm/client/ClouderaManagerApiClientProvider.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerClusterStatusService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerClusterStatusServiceTest.java
Owners: none

CB-23330 modify orelse syntax because it gives back null in case of non existing flag and that casu runtime error
  environment/src/main/java/com/sequenceiq/environment/parameters/v1/converter/AzureEnvironmentParametersConverter.java
Owners: @cloudbreak/cloudbreak-wolf

CB-23983: Skip OpenSSL configuration in Dockerfiles if the buld target arch is arm64
  docker-autoscale/Dockerfile
  docker-cloudbreak/Dockerfile
  docker-datalake/Dockerfile
  docker-environment/Dockerfile
  docker-freeipa/Dockerfile
  docker-redbeams/Dockerfile
Owners: none

CB-23997 modify default root disk size to 200G, root disk migration at repair
  common/src/main/java/com/sequenceiq/cloudbreak/event/ResourceEvent.java
  common/src/main/resources/messages/messages.properties
  core/src/main/java/com/sequenceiq/cloudbreak/converter/spi/StackToCloudStackConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/ClusterRepairFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/UpgradeDistroxFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/verticalscale/CoreVerticalScaleActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/verticalscale/CoreVerticalScaleService.java
  core/src/main/resources/application.yml
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/chain/ClusterRepairFlowEventChainFactoryTest.java
Owners: none

CB-23622 Ephemeral tests run on a single cluster, single thread sequentially
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/ephemeral/DistroXEphemeralTests.java
Owners: none

CB-24061 adding jq an yq as install targets and making the git commit script under redbeams/scripts
  redbeams/Makefile
  redbeams/scripts/import-aws-rds-root-certs.sh
  redbeams/scripts/update-ssl.sh
Owners: @cloudbreak/cloudbreak-duck

CB-23584 We should re-enable RHEL 8 support on Azure, right after the 7.2.17.200 (PCRR-324) is delivered. This commit basically reverts majority of the workaround introduced in CB-23516.
  environment/src/main/java/com/sequenceiq/environment/environment/service/SupportedOperatingSystemService.java
  environment/src/test/java/com/sequenceiq/environment/environment/service/SupportedOperatingSystemServiceTest.java
Owners: @cloudbreak/cloudbreak-wolf

CB-24214: Added network name to the DTO to Response converter, as it was missing before
  environment/src/main/java/com/sequenceiq/environment/environment/v1/converter/NetworkDtoToResponseConverter.java
  environment/src/test/java/com/sequenceiq/environment/environment/v1/converter/NetworkDtoToResponseConverterTest.java
Owners: @cloudbreak/cloudbreak-wolf

CB-24144 Enterprise DL should not upgrade Zookeper hosts at the same time
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxUpgradeService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/upgrade/AbstractOrderedOSUpgrade.java
  datalake/src/main/java/com/sequenceiq/datalake/service/upgrade/DefaultOrderedOSUpgrade.java
  datalake/src/main/java/com/sequenceiq/datalake/service/upgrade/EnterpriseOrderedOSUpgrade.java
  datalake/src/main/java/com/sequenceiq/datalake/service/upgrade/OrderedOSUpgradeRequestProvider.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxUpgradeServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/upgrade/DefaultOrderedOSUpgradeTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/upgrade/EnterpriseOrderedOSUpgradeTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/upgrade/OrderedOSUpgradeRequestProviderTest.java
Owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-armadillo

CB-23997 increase root volume size if it is smaller than the default root volume size
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/request/instancegroup/template/volume/RootVolumeV4Request.java
  core-api/src/main/java/com/sequenceiq/common/RootVolumeRequest.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/model/instancegroup/InstanceGroupV1Request.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/model/instancegroup/template/volume/RootVolumeV1Request.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/validation/RootVolumeSizeValidator.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/validation/ValidRootVolumeSize.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/validation/volume/RootVolumeSizeProvider.java
  core-api/src/test/java/com/sequenceiq/distrox/api/v1/distrox/validation/RootVolumeSizeValidatorTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/DefaultRootVolumeSizeProvider.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/converter/InstanceTemplateV1ToInstanceTemplateV4Converter.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/converter/VolumeConverter.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/converter/InstanceTemplateV1ToInstanceTemplateV4ConverterTest.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/converter/VolumeConverterTest.java
Owners: none

CB-20242: Removed name field of AdjustmentType enum, to fix openapi spec generation
  common-model/src/main/java/com/sequenceiq/common/api/type/AdjustmentType.java
Owners: none

CB-23673: Improve the error message of the csd downloader
  orchestrator-salt/src/main/resources/salt/salt/cloudera/csd/csd-downloader.sh
Owners: none

CB-24037 Add image validator test for YARN
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/AbstractIntegrationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/AbstractE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/hybrid/HybridCloudE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/imagevalidation/AbstractImageValidatorE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/imagevalidation/BaseImageValidatorE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/imagevalidation/PrewarmImageValidatorE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/imagevalidation/YarnImageValidatorE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/saltpassword/RotateSaltPasswordHybridCloudE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/util/imagevalidation/ImageValidatorE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/util/imagevalidation/ImageValidatorE2ETestUtil.java
  integration-test/src/main/resources/testsuites/e2e/yarn-image-validation-tests.yaml
Owners: none

CB-20265 Upgrade swagger compatibility test
  integration-test/Makefile
  integration-test/scripts/openapi-check.sh
Owners: none

CB-24007 Demo secret rotation should be controllable
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/ExternalDatabaseService.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/context/provider/DatahubDemoSecretRotationContextProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/context/provider/DatalakeDemoSecretRotationContextProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/executor/RedbeamsPollerRotationExecutor.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/ExternalDatabaseServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/rotation/executor/RedbeamsPollerRotationExecutorTest.java
  datalake/src/main/java/com/sequenceiq/datalake/service/rotation/CloudbreakPollerRotationExecutor.java
  datalake/src/main/java/com/sequenceiq/datalake/service/rotation/RedbeamsPollerRotationExecutor.java
  datalake/src/main/java/com/sequenceiq/datalake/service/rotation/SdxRotationService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/rotation/context/provider/DatalakeDemoSecretRotationContextProvider.java
  datalake/src/test/java/com/sequenceiq/datalake/service/rotation/CloudbreakPollerRotationExecutorTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/rotation/RedbeamsPollerRotationExecutorTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/rotation/SdxRotationServiceTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/rotation/demo/contextprovider/FreeipaDemoSecretContextProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxRotateSecretInternalAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v1/distrox/DistroXRotateSecretInternalAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/DistroXTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/SdxTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIpaRotationTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/secret/rotation/MultiSecretRotationMockTest.java
  secret-rotation/src/main/java/com/sequenceiq/cloudbreak/rotation/common/RotationContextProvider.java
  secret-rotation/src/main/java/com/sequenceiq/cloudbreak/rotation/secret/demo/DemoSecretExceptionProviderUtil.java
  secret-rotation/src/main/java/com/sequenceiq/cloudbreak/rotation/secret/poller/PollerRotationContext.java
  secret-rotation/src/main/java/com/sequenceiq/cloudbreak/rotation/service/phase/AbstractSecretRotationService.java
  secret-rotation/src/test/java/com/sequenceiq/cloudbreak/rotation/service/phase/AbstractSecretRotationTest.java
  secret-rotation/src/test/java/com/sequenceiq/cloudbreak/rotation/service/phase/SecretRotationFinalizeServiceTest.java
  secret-rotation/src/test/java/com/sequenceiq/cloudbreak/rotation/service/phase/SecretRotationPreValidateServiceTest.java
  secret-rotation/src/test/java/com/sequenceiq/cloudbreak/rotation/service/phase/SecretRotationRollbackServiceTest.java
  secret-rotation/src/test/java/com/sequenceiq/cloudbreak/rotation/service/phase/SecretRotationServiceTest.java
Owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-armadillo, @cloudbreak/cloudbreak-duck

CB-23720 Introduce custom E2E tags to Environment and FreeIPA
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIpaTestDto.java
Owners: @cloudbreak/cloudbreak-duck

CDPSDX-4778 change the CDL proto file, implement CdlSdxService to make proper communication between the Cloudbreak and the CdlCrudApp
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/model/Entitlement.java
  common/src/main/java/com/sequenceiq/cloudbreak/sdx/TargetPlatform.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/saas/SdxSaasCreateAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/saas/SdxSaasDeleteAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/SdxSaasTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxSaasTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/microservice/SdxSaasItClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/microservice/TestClients.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/MockSdxSaasTests.java
  sdx-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/cdlcrud/CdlCrudGrpc.java
  sdx-connector/src/generated/main/java/com/cloudera/thunderhead/service/cdlcrud/CdlCrudProto.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/cdl/CdlSdxService.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/cdl/GrpcSdxCdlClient.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/cdl/GrpcServiceDiscoveryClient.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/cdl/SdxCdlClient.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/cdl/ServiceDiscoveryClient.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/cdl/config/SdxCdlChannelConfig.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/cdl/config/ServiceDiscoveryChannelConfig.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/common/PlatformAwareSdxConnector.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/saas/SaasSdxService.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/saas/client/GrpcSdxSaasClient.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/saas/client/SdxSaasClient.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/sdx/saas/client/config/ServiceDiscoveryChannelConfig.java
  sdx-connector/src/main/proto/cdlcrud.proto
  sdx-connector/src/main/proto/kubedatalake.proto
  sdx-connector/src/test/java/com/sequenceiq/cloudbreak/sdx/cdl/CdlSdxServiceTest.java
  sdx-connector/src/test/java/com/sequenceiq/cloudbreak/sdx/common/PlatformAwareSdxConnectorTest.java
  sdx-connector/src/test/java/com/sequenceiq/cloudbreak/sdx/saas/SaasSdxServiceTest.java
Owners: @cloudbreak/cloudbreak-raven

CB-24150 CM checkConfig retry improvements
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/clouderamanager/action/ClouderaManagerClientActions.java
Owners: none

CB-23817 Create metrics about cluster statuses by cloudprovider and tunnel in core and in freeipa
  common/src/main/java/com/sequenceiq/cloudbreak/quartz/metric/statusmetric/StackCountByStatusAndCloudPlatform.java
  common/src/main/java/com/sequenceiq/cloudbreak/quartz/metric/statusmetric/StackCountByStatusAndTunnel.java
  common/src/main/java/com/sequenceiq/cloudbreak/quartz/metric/statusmetric/StackCountByStatusView.java
  common/src/main/java/com/sequenceiq/cloudbreak/quartz/metric/statusmetric/StatusMetricCollector.java
  common/src/main/java/com/sequenceiq/cloudbreak/quartz/metric/statusmetric/StatusMetricCollectorConfiguration.java
  common/src/main/java/com/sequenceiq/cloudbreak/quartz/metric/statusmetric/StatusMetricCollectorJob.java
  common/src/main/java/com/sequenceiq/cloudbreak/quartz/metric/statusmetric/StatusMetricCollectorJobInitializer.java
  common/src/main/java/com/sequenceiq/cloudbreak/quartz/metric/statusmetric/StatusMetricCollectorJobService.java
  common/src/test/java/com/sequenceiq/cloudbreak/quartz/metric/statusmetric/StatusMetricCollectorJobInitializerTest.java
  common/src/test/java/com/sequenceiq/cloudbreak/quartz/metric/statusmetric/StatusMetricCollectorJobServiceTest.java
  common/src/test/java/com/sequenceiq/cloudbreak/quartz/metric/statusmetric/StatusMetricCollectorJobTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/StackStatusRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/metrics/CloudbreakMetricTag.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/metrics/MetricType.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stackstatus/StackStatusMetricCollector.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stackstatus/StackStatusService.java
  core/src/main/resources/schema/app/20231212101234_CB-23817_Add_index_for_status_metrics.sql
  core/src/test/java/com/sequenceiq/cloudbreak/service/stackstatus/StackStatusMetricCollectorTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/metrics/FreeIpaMetricTag.java
  freeipa/src/main/java/com/sequenceiq/freeipa/metrics/MetricType.java
  freeipa/src/main/java/com/sequenceiq/freeipa/repository/StackStatusRepository.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/StackStatusService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/status/StackStatusMetricCollector.java
  freeipa/src/main/resources/schema/app/20231212101732_CB-23817_Add_index_for_status_metrics.sql
  freeipa/src/test/java/com/sequenceiq/freeipa/service/stack/status/StackStatusMetricCollectorTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-14745 consolidate rotation related package structure in freeipa
  freeipa/src/main/java/com/sequenceiq/freeipa/service/image/userdata/CcmUserDataService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/rotation/adminpassword/contextprovider/FreeIpaAdminPasswordRotationContextProvider.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/rotation/context/SaltPillarUpdateRotationContext.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/rotation/executor/SaltPillarUpdateRotationExecutor.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/rotation/jumpgate/contextprovider/CcmV2JumpgateAgentAccessKeyRotationContextProvider.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/rotation/jumpgate/executor/CcmV2JumpgateRotationExecutor.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/rotation/jumpgate/executor/CcmV2JumpgateUserDataEnvironmentNameConstants.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/rotation/saltboot/context/SaltBootConfigRotationContext.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/rotation/saltboot/contextprovider/SaltBootRotationContextProvider.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/rotation/saltboot/contextprovider/SaltBootUpdateConfiguration.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/rotation/saltboot/executor/SaltBootConfigRotationExecutor.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/rotation/executor/SaltPillarUpdateRotationExecutorTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/rotation/jumpgate/executor/CcmV2JumpgateRotationExecutorTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/rotation/saltboot/contextprovider/SaltBootRotationContextProviderTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/rotation/saltboot/executor/SaltBootConfigRotationExecutorTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-24227 Tune Remote Write Queue Parameters of Prometheus Agent
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/monitoring/MonitoringAgentConfiguration.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/monitoring/MonitoringConfigService.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/monitoring/MonitoringConfigView.java
  common/src/main/resources/common-config.yml
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/template/prometheus.yml.j2
Owners: none

CB-22043 Rotate LDAP bind user password and update CM config
  common/src/main/resources/messages/messages.properties
  core-api/src/main/java/com/sequenceiq/cloudbreak/rotation/CloudbreakSecretType.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/context/provider/DatahubLdapBindPasswordContextProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/executor/FreeIpaPollerRotationExecutor.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/freeipa/FreeipaClientService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/freeipa/FreeipaService.java
  core/src/test/java/com/sequenceiq/cloudbreak/rotation/context/provider/DatahubLdapBindPasswordContextProviderTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/rotation/executor/FreeIpaPollerRotationExecutorTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/freeipa/FreeipaServiceTest.java
  datalake-api/src/main/java/com/sequenceiq/sdx/rotation/DatalakeSecretType.java
  datalake/src/main/java/com/sequenceiq/datalake/service/rotation/context/provider/DatalakeLdapBindPasswordRotationContextProvider.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/rotation/FreeIpaRotationAdditionalParameters.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/rotation/FreeIpaSecretRotationStep.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/rotation/FreeIpaSecretType.java
  freeipa/src/main/java/com/sequenceiq/freeipa/ldap/v1/LdapConfigV1Service.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/binduser/UserSyncBindUserService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/rotation/ldapbindpassword/context/FreeIpaLdapBindPasswordRotationContext.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/rotation/ldapbindpassword/contextprovider/FreeIpaLdapBindPasswordRotationContextProvider.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/rotation/ldapbindpassword/executor/FreeIpaLdapBindPasswordRotationExecutor.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/rotation/ldapbindpassword/contextprovider/FreeIpaLdapBindPasswordRotationContextProviderTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/rotation/ldapbindpassword/executor/FreeIpaLdapBindPasswordRotationExecutorTest.java
  orchestrator-salt/src/main/resources/salt/salt/cloudera/manager/rotate/rotate-ldap-secrets.sls
  secret-rotation-api/src/main/java/com/sequenceiq/cloudbreak/rotation/CommonSecretRotationStep.java
  secret-rotation/src/main/java/com/sequenceiq/cloudbreak/rotation/secret/poller/PollerRotationContext.java
Owners: @cloudbreak/cloudbreak-duck, @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-armadillo

CB-24020: Removed parameter from datalake vertical scale failed message
  common/src/main/resources/messages/messages.properties
Owners: none

CB-24018 RHEL repo setup should use a dedicated pillar for paywall user and password lookup
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunner.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/paywall/PaywallConfigService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunnerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/paywall/PaywallConfigServiceTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/flow/SaltConfigProvider.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/paywall/PaywallConfigService.java
  freeipa/src/main/resources/freeipa-salt/pillar/top.sls
  freeipa/src/main/resources/freeipa-salt/salt/top.sls
  freeipa/src/test/java/com/sequenceiq/freeipa/service/freeipa/flow/SaltConfigProviderTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/paywall/PaywallConfigServiceTest.java
  orchestrator-salt/src/main/resources/salt-common/salt/rhelrepo/cloudera-repo.repo
  orchestrator-salt/src/main/resources/salt-common/salt/rhelrepo/init.sls
  orchestrator-salt/src/main/resources/salt/pillar/top.sls
  orchestrator-salt/src/main/resources/salt/salt/top.sls
Owners: @cloudbreak/cloudbreak-duck

CB-23266: Added proper logging for handling of TargetGroupNotFoundException in LoadBalancerService
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/loadbalancer/LoadBalancerService.java
Owners: none

CB-23988 Azure Private Flexible Server does work with full Resource ID of the subnet
  redbeams/src/main/java/com/sequenceiq/redbeams/service/network/SubnetListerService.java
  redbeams/src/test/java/com/sequenceiq/redbeams/service/network/SubnetListerServiceTest.java
Owners: @cloudbreak/cloudbreak-duck

.github/CODEOWNERS:

# See https://help.github.com/en/articles/about-code-owners
# These people are automatically added as reviewers for PRs.
# At some point in the future they might be "required"

# Raven team should review authorization framework related changes
auth-internal/                                                                  @cloudbreak/cloudbreak-raven
auth-internal-api/                                                              @cloudbreak/cloudbreak-raven
authorization-common/                                                           @cloudbreak/cloudbreak-raven
authorization-common-api/                                                       @cloudbreak/cloudbreak-raven
grpc-common/                                                                    @cloudbreak/cloudbreak-raven

# Raven and Armadillo teams should review datalake and datalake-api modules
datalake/                                                                       @cloudbreak/cloudbreak-raven @cloudbreak/cloudbreak-armadillo
datalake-api/                                                                   @cloudbreak/cloudbreak-raven @cloudbreak/cloudbreak-armadillo
sdx-connector/                                                                  @cloudbreak/cloudbreak-raven

# Raven and Armadillo team should review datalake blueprint changes
core/src/main/resources/defaults/blueprints/*/cdp-sdx*.bp                       @cloudbreak/cloudbreak-raven @cloudbreak/cloudbreak-armadillo

# Raven team should review quartz and sync job related PRs
common/src/java/com/sequenceiq/cloudbreak/quartz/*StatusCheckerJob.java         @cloudbreak/cloudbreak-raven

# Raven team should review how Controllers are authorized
*Controller.java                                                                @cloudbreak/cloudbreak-raven

# Wolf team should review environment and environment-api modules
environment/                                                                    @cloudbreak/cloudbreak-wolf
environment-api/                                                                @cloudbreak/cloudbreak-wolf
environment-common/                                                             @cloudbreak/cloudbreak-wolf

# By default, unless overridden later,
# Wolf should review every policy change:
cloud-aws-cloudformation/src/main/resources/definitions/                        @cloudbreak/cloudbreak-wolf
cloud-aws-common/src/main/resources/definitions/                                @cloudbreak/cloudbreak-wolf
cloud-azure/src/main/resources/definitions/                                     @cloudbreak/cloudbreak-wolf

# DB SSL related changes in core shall be assigned to lrodek
core/**/ClusterDbCertRotationHandler.java                                       @lrodek
core/**/DatabaseSslService*.java                                                @lrodek
core/**/RedbeamsDbCertificateProvider*.java                                     @lrodek
core-api/**/DatabaseServerSsl*.java                                             @lrodek
core-model/**/DatabaseSslDetails*.java                                          @lrodek
core-model/**/RdsSslMode.java                                                   @lrodek

# Wolf team should review data hub blueprint changes
core/src/main/resources/defaults/blueprints/*/cdp-cod*.bp                       @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-data*.bp                      @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-dde*.bp                       @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-flink*.bp                     @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-flow*.bp                      @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-opdb*.bp                      @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-rt*.bp                        @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-streaming*.bp                 @cloudbreak/cloudbreak-wolf

# Wolf team should review data hub template changes
core/src/main/resources/defaults/clustertemplates/                              @cloudbreak/cloudbreak-wolf

# Wolf team should review the network usage in IT
integration-test/scripts/check-results.sh                                       @cloudbreak/cloudbreak-wolf

# Wolf team should review template generation related changes
template-manager-blueprint/                                                     @cloudbreak/cloudbreak-wolf
template-manager-cmtemplate/                                                    @cloudbreak/cloudbreak-wolf
template-manager-tag/                                                           @cloudbreak/cloudbreak-wolf
template-manager-recipe/                                                        @cloudbreak/cloudbreak-wolf
template-manager-core/                                                          @cloudbreak/cloudbreak-wolf

# Wolf team should review audit related changes
audit-connector/                                                                @cloudbreak/cloudbreak-wolf

# Bobcat team should review dataengineering related changes
core/src/main/resources/defaults/blueprints/*/cdp-data-engineering*.bp          @cloudbreak/cloudbreak-bobcat
core/src/main/resources/defaults/clustertemplates/*/*/dataengineering*.json     @cloudbreak/cloudbreak-bobcat

# Bobcat team should review autoscale related changes
autoscale/                                                                      @cloudbreak/cloudbreak-bobcat
autoscale-api/                                                                  @cloudbreak/cloudbreak-bobcat

# Duck team should review freeipa related changes
freeipa/                                                                        @cloudbreak/cloudbreak-duck
freeipa-api/                                                                    @cloudbreak/cloudbreak-duck
freeipa-client/                                                                 @cloudbreak/cloudbreak-duck

# DB SSL related changes in redbeams shall be assigned to lrodek
redbeams/**/CertRotateInRedbeamsHandler*.java                                   @lrodek
redbeams/**/DatabaseServerSslCertificate*.java                                  @lrodek
redbeams/**/SslCertificateEntry*.java                                           @lrodek
redbeams/**/SslConfig*.java                                                     @lrodek
redbeams/**/SslContent*.java                                                    @lrodek
redbeams/src/main/resources/certs/                                              @lrodek
redbeams/src/test/resources/test_certs/                                         @lrodek
redbeams/scripts/import-aws-rds-root-certs.sh                                   @lrodek
redbeams-api/**/SslConfig*.java                                                 @lrodek
redbeams-api/**/SslMode*.java                                                   @lrodek

# Duck team should review other redbeams related changes
redbeams/                                                                       @cloudbreak/cloudbreak-duck
redbeams-api/                                                                   @cloudbreak/cloudbreak-duck

# Armadillo team should review changes to datalake related scripts
orchestrator-salt/src/main/resources/salt/salt/postgresql/disaster_recovery     @cloudbreak/cloudbreak-armadillo
orchestrator-salt/src/main/resources/salt/salt/datalake_metrics                 @cloudbreak/cloudbreak-armadillo

# DB SSL related changes in orchestrator-salt shall be assigned to lrodek
orchestrator-salt/**/postgresql/root-certs.sls                                  @lrodek
orchestrator-salt/**/postgresql/scripts/conf_pgsql_ssl.sh                       @lrodek
orchestrator-salt/**/postgresql/scripts/create_embeddeddb_certificate.sh        @lrodek
