Repository hortonworks/cloudbreak, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-armadillo, @cloudbreak/cloudbreak-wolf, @lrodek, @cloudbreak/cloudbreak-bobcat, @cloudbreak/cloudbreak-duck

.github/CODEOWNERS:

# See https://help.github.com/en/articles/about-code-owners
# These people are automatically added as reviewers for PRs.
# At some point in the future they might be "required"

# Raven team should review authorization framework related changes
auth-internal/                                                                  @cloudbreak/cloudbreak-raven
auth-internal-api/                                                              @cloudbreak/cloudbreak-raven
authorization-common/                                                           @cloudbreak/cloudbreak-raven
authorization-common-api/                                                       @cloudbreak/cloudbreak-raven
grpc-common/                                                                    @cloudbreak/cloudbreak-raven

# Raven and Armadillo teams should review datalake and datalake-api modules
datalake/                                                                       @cloudbreak/cloudbreak-raven @cloudbreak/cloudbreak-armadillo
datalake-api/                                                                   @cloudbreak/cloudbreak-raven @cloudbreak/cloudbreak-armadillo
sdx-connector/                                                                  @cloudbreak/cloudbreak-raven

# Raven and Armadillo team should review datalake blueprint changes
core/src/main/resources/defaults/blueprints/*/cdp-sdx*.bp                       @cloudbreak/cloudbreak-raven @cloudbreak/cloudbreak-armadillo

# Raven team should review quartz and sync job related PRs
common/src/java/com/sequenceiq/cloudbreak/quartz/*StatusCheckerJob.java         @cloudbreak/cloudbreak-raven

# Raven team should review how Controllers are authorized
*Controller.java                                                                @cloudbreak/cloudbreak-raven

# Wolf team should review environment and environment-api modules
environment/                                                                    @cloudbreak/cloudbreak-wolf
environment-api/                                                                @cloudbreak/cloudbreak-wolf
environment-common/                                                             @cloudbreak/cloudbreak-wolf

# By default, unless overridden later,
# Wolf should review every policy change:
cloud-aws-cloudformation/src/main/resources/definitions/                        @cloudbreak/cloudbreak-wolf
cloud-aws-common/src/main/resources/definitions/                                @cloudbreak/cloudbreak-wolf
cloud-azure/src/main/resources/definitions/                                     @cloudbreak/cloudbreak-wolf

# DB SSL related changes in core shall be assigned to lrodek
core/**/ClusterDbCertRotationHandler.java                                       @lrodek
core/**/DatabaseSslService*.java                                                @lrodek
core/**/RedbeamsDbCertificateProvider*.java                                     @lrodek
core-api/**/DatabaseServerSsl*.java                                             @lrodek
core-model/**/DatabaseSslDetails*.java                                          @lrodek
core-model/**/RdsSslMode.java                                                   @lrodek

# Wolf team should review data hub blueprint changes
core/src/main/resources/defaults/blueprints/*/cdp-cod*.bp                       @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-data*.bp                      @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-dde*.bp                       @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-flink*.bp                     @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-flow*.bp                      @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-opdb*.bp                      @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-rt*.bp                        @cloudbreak/cloudbreak-wolf
core/src/main/resources/defaults/blueprints/*/cdp-streaming*.bp                 @cloudbreak/cloudbreak-wolf

# Wolf team should review data hub template changes
core/src/main/resources/defaults/clustertemplates/                              @cloudbreak/cloudbreak-wolf

# Wolf team should review the network usage in IT
integration-test/scripts/check-results.sh                                       @cloudbreak/cloudbreak-wolf

# Wolf team should review template generation related changes
template-manager-blueprint/                                                     @cloudbreak/cloudbreak-wolf
template-manager-cmtemplate/                                                    @cloudbreak/cloudbreak-wolf
template-manager-tag/                                                           @cloudbreak/cloudbreak-wolf
template-manager-recipe/                                                        @cloudbreak/cloudbreak-wolf
template-manager-core/                                                          @cloudbreak/cloudbreak-wolf

# Wolf team should review audit related changes
audit-connector/                                                                @cloudbreak/cloudbreak-wolf

# Bobcat team should review dataengineering related changes
core/src/main/resources/defaults/blueprints/*/cdp-data-engineering*.bp          @cloudbreak/cloudbreak-bobcat
core/src/main/resources/defaults/clustertemplates/*/*/dataengineering*.json     @cloudbreak/cloudbreak-bobcat

# Bobcat team should review autoscale related changes
autoscale/                                                                      @cloudbreak/cloudbreak-bobcat
autoscale-api/                                                                  @cloudbreak/cloudbreak-bobcat

# Duck team should review freeipa related changes
freeipa/                                                                        @cloudbreak/cloudbreak-duck
freeipa-api/                                                                    @cloudbreak/cloudbreak-duck
freeipa-client/                                                                 @cloudbreak/cloudbreak-duck

# DB SSL related changes in redbeams shall be assigned to lrodek
redbeams/**/CertRotateInRedbeamsHandler*.java                                   @lrodek
redbeams/**/DatabaseServerSslCertificate*.java                                  @lrodek
redbeams/**/SslCertificateEntry*.java                                           @lrodek
redbeams/**/SslConfig*.java                                                     @lrodek
redbeams/**/SslContent*.java                                                    @lrodek
redbeams/src/main/resources/certs/                                              @lrodek
redbeams/src/test/resources/test_certs/                                         @lrodek
redbeams/scripts/import-aws-rds-root-certs.sh                                   @lrodek
redbeams-api/**/SslConfig*.java                                                 @lrodek
redbeams-api/**/SslMode*.java                                                   @lrodek

# Duck team should review other redbeams related changes
redbeams/                                                                       @cloudbreak/cloudbreak-duck
redbeams-api/                                                                   @cloudbreak/cloudbreak-duck

# Armadillo team should review changes to datalake related scripts
orchestrator-salt/src/main/resources/salt/salt/postgresql/disaster_recovery     @cloudbreak/cloudbreak-armadillo
orchestrator-salt/src/main/resources/salt/salt/datalake_metrics                 @cloudbreak/cloudbreak-armadillo

# DB SSL related changes in orchestrator-salt shall be assigned to lrodek
orchestrator-salt/**/postgresql/root-certs.sls                                  @lrodek
orchestrator-salt/**/postgresql/scripts/conf_pgsql_ssl.sh                       @lrodek
orchestrator-salt/**/postgresql/scripts/create_embeddeddb_certificate.sh        @lrodek

CDPSDX-4603 change the client config deployment to restart in case of the Horizontal scale of the DL. Required to append the username.csv changes to the services
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterModificationService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationServiceTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/scale/handler/ClusterServicesRestartWaitHandler.java
Owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-armadillo

CB-24287 Add e2e for usersync user rotation and refactor/consolidate freeipa e2e rotation tests
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaRotationTests.java
Owners: @cloudbreak/cloudbreak-duck

CB-24315 Sometimes DB user/pass rotation fails for CM services - add debug log to db rotation script
  orchestrator-salt/src/main/resources/salt/salt/postgresql/rotate/scripts/rotate_db_secrets.sh
  orchestrator-salt/src/main/resources/salt/salt/postgresql/rotate/scripts/rotate_db_secrets_remote.sh
Owners: none

CB-24315 disable CM services DB user/pass rotation for DH due to Hue bug
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXRepairTests.java
  orchestrator-salt/src/main/resources/salt/salt/postgresql/rotate/scripts/rotate_db_secrets.sh
  orchestrator-salt/src/main/resources/salt/salt/postgresql/rotate/scripts/rotate_db_secrets_remote.sh
Owners: none

CB-24297 Do not fallback if source image sign fails
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzureResourceConnector.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/upscale/AzureUpscaleService.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/AzureResourceConnectorTest.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/upscale/AzureUpscaleServiceTest.java
Owners: none

CB-24320 [API E2E] Reason should be part of the `Flow has been finalized with failed status` message
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/FlowUtil.java
Owners: none

CB-24333 Add toString to DB request model classes on DL API
  datalake-api/src/main/java/com/sequenceiq/sdx/api/model/SdxDatabaseAzureRequest.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/model/SdxDatabaseRequest.java
Owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-armadillo

CB-24307 Azure DB (flexible) termination failed during e2e test execution
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/connector/resource/AzureDatabaseResourceService.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/connector/resource/AzureDatabaseResourceServiceTest.java
Owners: none

CB-24333 if user give us non_ha db for multiaz then we dont accept that.
  core/src/main/java/com/sequenceiq/cloudbreak/service/externaldatabase/AzureDatabaseServerParameterDecorator.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/externaldatabase/AzureDatabaseServerParameterDecoratorTest.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/database/AzureDatabaseServerParameterSetter.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/database/AzureDatabaseServerParameterSetterTest.java
Owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-armadillo

CB-23218 Upgrade to the latest Spring Security 5.8.6 and Spring Boot 2.7.15
  auth-connector/build.gradle
  build.gradle
  cloud-common/build.gradle
  common/build.gradle
  core/build.gradle
  custom-configurations-api/build.gradle
  custom-configurations/build.gradle
  dependencies.gradle
  flow/build.gradle
  mock-infrastructure/build.gradle
  mock-thunderhead/build.gradle
  sdx-connector/build.gradle
  secret-engine/build.gradle
  structuredevent-service-cdp/build.gradle
  structuredevent-service-legacy/build.gradle
Owners: @cloudbreak/cloudbreak-raven

CB-24370 Security config fix
  autoscale/src/main/java/com/sequenceiq/periscope/config/SecurityConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/conf/SecurityConfig.java
Owners: @cloudbreak/cloudbreak-bobcat

CB-24374 Fix trailing slash problem at info endpoint
  common/src/main/java/com/sequenceiq/cloudbreak/filter/CommonFilterConfiguration.java
  common/src/main/java/com/sequenceiq/cloudbreak/filter/FilterOrderConstants.java
  common/src/main/java/com/sequenceiq/cloudbreak/filter/InfoTrailingSlashFilter.java
Owners: none

CB-24371 OpenAPI compatibility checker fails even if the change is backwards compatible
  integration-test/scripts/openapi-check.sh
Owners: none

CB-24206 - Extend flexible private setup error message with documentation url
  common/src/main/java/com/sequenceiq/cloudbreak/util/DocumentationLinkProvider.java
  environment-common/src/main/java/com/sequenceiq/cloudbreak/service/database/EnvironmentDatabaseService.java
Owners: @cloudbreak/cloudbreak-wolf

CB-23708 Adding new instancetypes to aws datahub instances
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/DistroxEnabledInstanceTypes.java
  dependencies.gradle
Owners: none

CB-24081 - Enhance cloud-azure to support modify disk size for volume
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/resource/AzureVolumeResourceBuilderTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/verticalscale/diskupdate/handler/DistroXDiskUpdateValidationHandler.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/verticalscale/diskupdate/handler/DistroXDiskUpdateValidationHandlerTest.java
  orchestrator-salt/src/main/resources/salt/salt/resize/scripts/resize-storage-volumes.j2
Owners: none

CB-19670 Honor root CA CustomerOverride setting during AWS RDS create
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/PlatformResources.java
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/database/CloudDatabaseServerSslCertificate.java
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/database/CloudDatabaseServerSslCertificates.java
  cloud-api/src/test/java/com/sequenceiq/cloudbreak/cloud/model/database/CloudDatabaseServerSslCertificateTest.java
  cloud-api/src/test/java/com/sequenceiq/cloudbreak/cloud/model/database/CloudDatabaseServerSslCertificatesTest.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsPlatformResources.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsPlatformResourcesTest.java
  cloud-mock/src/main/java/com/sequenceiq/cloudbreak/cloud/mock/MockPlatformResources.java
  redbeams/src/main/java/com/sequenceiq/redbeams/service/sslcertificate/DatabaseServerSslCertificatePrescriptionService.java
  redbeams/src/main/java/com/sequenceiq/redbeams/service/sslcertificate/DatabaseServerSslCertificateSyncService.java
  redbeams/src/test/java/com/sequenceiq/redbeams/service/sslcertificate/DatabaseServerSslCertificatePrescriptionServiceTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/service/sslcertificate/DatabaseServerSslCertificateSyncServiceTest.java
Owners: @cloudbreak/cloudbreak-duck

CB-24072 - Implement support for modifying disk for attached volume on Datalake on Azure
  datalake/src/main/java/com/sequenceiq/datalake/flow/verticalscale/diskupdate/handler/DatalakeDiskUpdateValidationHandler.java
  datalake/src/test/java/com/sequenceiq/datalake/flow/datalake/verticalscale/diskupdate/handler/DatalakeDiskUpdateValidationHandlerTest.java
Owners: @cloudbreak/cloudbreak-raven, @cloudbreak/cloudbreak-armadillo

CB-22038 [DH] UMS internal machine user used for dbus secret rotation
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/GrpcUmsClient.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/UmsClient.java
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterModificationService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationService.java
  common/src/main/resources/messages/messages.properties
  core-api/src/main/java/com/sequenceiq/cloudbreak/rotation/CloudbreakSecretRotationStep.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/rotation/CloudbreakSecretType.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/SecretRotationSaltService.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/context/provider/DatahubDbusUmsAccessKeyRotationContextProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/executor/SaltPillarRotationExecutor.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/executor/SaltRunOrchestratorStateRotationExecutor.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/executor/SaltStateApplyRotationExecutor.java
  core/src/main/java/com/sequenceiq/cloudbreak/rotation/executor/UmsDatabusCredentialRotationExecutor.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/altus/AltusMachineUserService.java
  core/src/test/java/com/sequenceiq/cloudbreak/rotation/SecretRotationSaltServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/rotation/context/provider/DatahubDbusUmsAccessKeyRotationContextProviderTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/rotation/executor/SaltPillarRotationExecutorTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/rotation/executor/SaltRunOrchestratorStateRotationExecutorTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/rotation/executor/SaltStateApplyRotationExecutorTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/rotation/executor/UmsDatabusCredentialRotationExecutorTest.java
Owners: none

CB-24314 Add 'reverse-zone' flags to FreeIPA replica install command
  freeipa/src/main/resources/freeipa-salt/salt/freeipa/scripts/freeipa_replica_install.sh
Owners: @cloudbreak/cloudbreak-duck

CB-24345 Rename resource_crn Metrics Label To cluster_id
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/template/prometheus.yml.j2
Owners: none

CB-24349 Filter Unused Collector For Node Exporter Metrics
  common/src/main/resources/common-config.yml
Owners: none

[JENKINS-AUTOMATION] Update Base image for docker-private.infra.cloudera.com/cloudera_base/ubi8/cldr-openjdk-17-runtime-cis:1.18-2-stig-03012024
  docker-autoscale/Dockerfile
  docker-cloudbreak/Dockerfile
  docker-datalake/Dockerfile
  docker-environment/Dockerfile
  docker-freeipa/Dockerfile
  docker-redbeams/Dockerfile
  integration-test/test-image/Dockerfile
  mock-infrastructure/Dockerfile
  mock-thunderhead/Dockerfile
Owners: none

CB-24448 Rewrite old `com.sun.jersey` package to Glassfish
  cloud-yarn/build.gradle
  cloud-yarn/src/main/java/com/sequenceiq/cloudbreak/cloud/yarn/client/YarnHttpClient.java
  orchestrator-yarn/build.gradle
  orchestrator-yarn/src/main/java/com/sequenceiq/cloudbreak/orchestrator/yarn/client/YarnHttpClient.java
Owners: none

CB-24448 Fix get requests throwing NotFoundException
  cloud-yarn/src/main/java/com/sequenceiq/cloudbreak/cloud/yarn/client/YarnHttpClient.java
  orchestrator-yarn/src/main/java/com/sequenceiq/cloudbreak/orchestrator/yarn/client/YarnHttpClient.java
Owners: none

CB-24448 Fix Multiple `Content-Type` response headers
  cloud-yarn/src/main/java/com/sequenceiq/cloudbreak/cloud/yarn/client/YarnHttpClient.java
  cloud-yarn/src/main/java/com/sequenceiq/cloudbreak/cloud/yarn/client/filter/ContentTypeFilter.java
  orchestrator-yarn/src/main/java/com/sequenceiq/cloudbreak/orchestrator/yarn/client/YarnHttpClient.java
  orchestrator-yarn/src/main/java/com/sequenceiq/cloudbreak/orchestrator/yarn/client/filter/ContentTypeFilter.java
Owners: none

CB-23269 Allow centos7 to centos7 upgrade even if prefer redhat8 entitlement is enabled.
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/image/filter/CentOSToRedHatUpgradeImageFilter.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/image/filter/CentOSToRedhatUpgradeImageFilterTest.java
Owners: none

Revert "CB-24081 - Enhance cloud-azure to support modify disk size for volume"
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/resource/AzureVolumeResourceBuilderTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/verticalscale/diskupdate/handler/DistroXDiskUpdateValidationHandler.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/verticalscale/diskupdate/handler/DistroXDiskUpdateValidationHandlerTest.java
  orchestrator-salt/src/main/resources/salt/salt/resize/scripts/resize-storage-volumes.j2
Owners: none

CB-23800 update for quartz and spring to avoid the current vulnerabilities
  autoscale/build.gradle
  build.gradle
  dependencies.gradle
  docker-autoscale/Dockerfile
  docker-autoscale/bootstrap/start_autoscale_app.sh
  docker-cloudbreak/Dockerfile
  docker-cloudbreak/bootstrap/start_cloudbreak_app.sh
  docker-datalake/Dockerfile
  docker-environment/Dockerfile
  docker-freeipa/Dockerfile
  docker-redbeams/Dockerfile
Owners: @cloudbreak/cloudbreak-bobcat

CB-22383 Hide SQL from error messages
  core/src/main/java/com/sequenceiq/cloudbreak/service/AbstractWorkspaceAwareResourceService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/blueprint/BlueprintService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/image/ImageCatalogService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/recipe/RecipeService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/template/ClusterTemplateService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/workspace/WorkspaceAwareResourceService.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/AbstractWorkspaceAwareResourceServiceTest.java
Owners: none

CB-23962 create platform request to collect load balancers instead of triggering flow steps directly
  cloud-reactor-api/src/main/java/com/sequenceiq/cloudbreak/cloud/event/loadbalancer/CollectLoadBalancerMetadataCloudPlatformRequest.java
  cloud-reactor-api/src/main/java/com/sequenceiq/cloudbreak/cloud/event/loadbalancer/CollectLoadBalancerMetadataCloudPlatformResult.java
  cloud-reactor/src/main/java/com/sequenceiq/cloudbreak/cloud/handler/CollectLoadBalancerMetadataCloudPlatformHandler.java
  cloud-reactor/src/main/java/com/sequenceiq/cloudbreak/cloud/handler/CollectLoadBalancerMetadataHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/migration/handler/AwsMigrationUtil.java
  flow/src/main/java/com/sequenceiq/flow/reactor/config/EventBusConfig.java
Owners: none

CB-24049 Remove temporary workaround introduced in CB-23639 because AWS SDK is already fixed
  cloud-aws-cloudformation/src/main/java/software/amazon/awssdk/services/cloudformation/waiters/DefaultCloudFormationWaiter.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsLaunchServiceTest.java
Owners: none

CB-24140 Create entitlement for secret encryption
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementService.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/model/Entitlement.java
  auth-connector/src/test/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementServiceTest.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/auth/MockUserManagementService.java
  mock-thunderhead/src/main/resources/application.yml
  mock-thunderhead/src/test/java/com/sequenceiq/thunderhead/grpc/service/auth/MockUserManagementServiceTest.java
Owners: none

CB-17685 CM repo base url validation should fail on empty string
  core/src/main/java/com/sequenceiq/cloudbreak/service/DefaultClouderaManagerRepoService.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/DefaultClouderaManagerRepoServiceTest.java
Owners: none

CB-24473 [GOV API E2E] Cannot find class in classpath: com.sequenceiq.it.cloudbreak.testcase.e2e.distrox.DistroXDeleteVolumesTest
  integration-test/src/main/resources/testsuites/e2e/gov/aws-gov-longrunning-tests.yaml
Owners: none

CB-18054 SaltOrchestrator.formatAndMountDisksOnNodes retry consolidation
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestrator.java
Owners: none

CB-23808 quartz is now running with fix version
  build.gradle
Owners: none

CB-24260 Native AWS connector reason 'null' if instance is terminated while provisioning
  cloud-aws-native/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/resource/AbstractAwsComputeBaseResourceChecker.java
  cloud-aws-native/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/resource/instance/AwsNativeInstanceResourceBuilder.java
  cloud-aws-native/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/resource/instance/AwsNativeInstanceResourceBuilderTest.java
Owners: none

CB-24204 error messages for the default root volume provider are incorrect
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/DefaultRootVolumeSizeProvider.java
Owners: none

CB-24474 [API E2E MOW] Cannot fetch the CB version at 'http://console.dps.mow-dev.cloudera.com/cb'
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/config/server/ServerProperties.java
Owners: none
