Repository hortonworks/cloudbreak, pull requests merged in 2019-10, with the labels that each got.

#6364 remove unused stack api view repository and service
  core/src/main/java/com/sequenceiq/cloudbreak/repository/StackApiViewRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/StackApiViewService.java
  core/src/main/java/com/sequenceiq/cloudbreak/structuredevent/converter/StructuredNotificationEventToCloudbreakEventJsonConverter.java
Labels: 2.9

#6236 CB-3210. Refactor telemetry models (use objects instead of booleans)
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/base/FeaturesBase.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/base/LoggingBase.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/base/TelemetryBase.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/base/WorkloadAnalyticsBase.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/common/CommonTelemetryParams.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/doc/TelemetryModelDescription.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/Features.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/Logging.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/Telemetry.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/WorkloadAnalytics.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/request/FeaturesRequest.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/request/TelemetryRequest.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/response/FeaturesResponse.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/response/TelemetryResponse.java
  common-model/src/main/java/com/sequenceiq/common/api/type/FeatureSetting.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigService.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigView.java
  common/src/test/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigServiceTest.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/model/DistroXV1Base.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/StackV4RequestToStackConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecorator.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/altus/AltusIAMService.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/converter/DistroXV1RequestToStackV4RequestConverter.java
  core/src/main/resources/schema/app/20190930133507_CB-3210_refactor_telemetry_models.sql
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/altus/AltusIAMServiceTest.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxService.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/telemetry/CommonTelemetryParams.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/telemetry/EnvironmentLogging.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/telemetry/EnvironmentTelemetry.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/telemetry/EnvironmentWorkloadAnalytics.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/telemetry/Features.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/TelemetryApiConverter.java
  environment/src/main/resources/schema/app/20190930132901_CB-3210_refactor_telemetry_models.sql
  environment/src/test/java/com/sequenceiq/environment/environment/v1/TelemetryApiConverterTest.java
Labels: enhancement

#6372 CB-3648: improve metadata collection
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsMetadataCollector.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsMetaDataCollectorTest.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzureMetadataCollector.java
Labels: 2.9

#6356 CB-3648: improve GCP instance metadata collection
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/GcpMetadataCollector.java
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/GcpNetworkInterfaceProvider.java
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/util/GcpApiFactory.java
  cloud-gcp/src/test/java/com/sequenceiq/cloudbreak/cloud/gcp/GcpMetadataCollectorTest.java
  cloud-gcp/src/test/java/com/sequenceiq/cloudbreak/cloud/gcp/GcpNetworkInterfaceProviderTest.java
Labels: 2.9

#6383 CB-3724 Implement statusreason for UNHEALTHY status on 2.9
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/cluster/host/HostMetadata.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/downscale/ClusterDownscaleService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/upscale/ClusterUpscaleFlowService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/ClusterService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/ambari/InstanceMetadataUpdater.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/hostgroup/HostGroupService.java
  core/src/main/resources/schema/app/20191001122841_CB-3724_Implement_statusreason_for_UNHEALTHY_status_on_2.9.sql
  core/src/test/java/com/sequenceiq/cloudbreak/service/cluster/ambari/InstanceMetadataUpdaterTest.java
Labels: 2.9

#6339 CB-3725 Port back 'Periscope should restore the instance state automatically' to 2.9
  autoscale/src/main/java/com/sequenceiq/periscope/domain/FailedNode.java
  autoscale/src/main/java/com/sequenceiq/periscope/monitor/evaluator/AmbariAgentHealthEvaluator.java
  autoscale/src/main/java/com/sequenceiq/periscope/monitor/handler/CloudbreakCommunicator.java
  autoscale/src/main/java/com/sequenceiq/periscope/monitor/handler/UpdateFailedHandler.java
  autoscale/src/main/java/com/sequenceiq/periscope/repository/FailedNodeRepository.java
  autoscale/src/main/java/com/sequenceiq/periscope/service/ClusterService.java
  autoscale/src/main/resources/schema/app/20190910083831_CB-3291_periscope_should_restore_instance_state_automatically.sql
  autoscale/src/test/java/com/sequenceiq/periscope/modul/rejected/AmbariAgentHealthMonitorModulTest.java
  autoscale/src/test/java/com/sequenceiq/periscope/modul/rejected/RejectedThreadContext.java
  autoscale/src/test/java/com/sequenceiq/periscope/monitor/evaluator/AmbariAgentHealthEvaluatorTest.java
  autoscale/src/test/java/com/sequenceiq/periscope/monitor/handler/UpdateFailedHandlerTest.java
  autoscale/src/test/java/com/sequenceiq/periscope/utils/ModelTest.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/autoscale/AutoscaleEndpoint.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/model/ChangedNodesReport.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/doc/ModelDescriptions.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/doc/Notes.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/doc/OperationDescriptions.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/AutoscaleController.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/ClusterService.java
  core/src/main/resources/messages/messages.properties
Labels: 2.9

#6379 CB-3210. Update telemetry model (v2) - less strict JSON as first step
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/base/FeaturesBase.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/base/TelemetryBase.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/doc/TelemetryModelDescription.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/Features.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/Telemetry.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/request/FeaturesRequest.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/request/TelemetryRequest.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/response/FeaturesResponse.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/response/TelemetryResponse.java
  common-model/src/main/java/com/sequenceiq/common/api/type/FeatureSetting.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverter.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/telemetry/EnvironmentFeatures.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/telemetry/EnvironmentLogging.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/telemetry/EnvironmentTelemetry.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/telemetry/EnvironmentWorkloadAnalytics.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/TelemetryApiConverter.java
  environment/src/test/java/com/sequenceiq/environment/environment/v1/TelemetryApiConverterTest.java
Labels: enhancement

#6388 CB-3648: improve GCP instance metadata collection
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/GcpMetadataCollector.java
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/GcpNetworkInterfaceProvider.java
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/util/GcpApiFactory.java
  cloud-gcp/src/test/java/com/sequenceiq/cloudbreak/cloud/gcp/GcpMetadataCollectorTest.java
  cloud-gcp/src/test/java/com/sequenceiq/cloudbreak/cloud/gcp/GcpNetworkInterfaceProviderTest.java
Labels: 2.9

#6419 CB 3865
  autoscale/src/main/java/com/sequenceiq/periscope/domain/BaseAlert.java
  autoscale/src/main/java/com/sequenceiq/periscope/domain/MetricAlert.java
  autoscale/src/main/java/com/sequenceiq/periscope/service/security/CloudbreakEndpointBasedPermissionEvaluator.java
  autoscale/src/main/java/com/sequenceiq/periscope/service/security/StackSecurityService.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/autoscale/AutoscaleEndpoint.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/autoscale/AutoscaleUserAuthorizationEndpoint.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/client/CloudbreakClient.java
  core/src/main/java/com/sequenceiq/cloudbreak/conf/SecurityConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/AutoscaleController.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/AutoscaleUserAuthorizationController.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/EndpointConfig.java
Labels: 2.9, support

#6450 CB-3721 Extend stack list response
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/projection/StackListItem.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/stack/StackListItemToStackViewResponseConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/cluster/AmbariClusterCreationService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/cluster/AmbariClusterUpscaleService.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/recipe/UploadRecipesHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/ResourceRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/StackRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/resource/ResourceService.java
Labels: 2.9

#6452 CB-3842. Add get DistroX api endpoint for internal CB user
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/security/InternalCrnBuilder.java
  auth-connector/src/test/java/com/sequenceiq/cloudbreak/auth/security/CrnUserDetailsServiceTest.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/doc/DistroXOpDescription.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/endpoint/DistroXInternalV1Endpoint.java
  core/src/main/java/com/sequenceiq/cloudbreak/conf/SecurityConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/EndpointConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/StackApiViewRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/StackApiViewService.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/StackOperation.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/controller/DistroXInternalV1Controller.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/service/EnvironmentServiceDecorator.java
  core/src/test/java/com/sequenceiq/cloudbreak/structuredevent/rest/urlparsers/RestUrlParserTest.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/StackOperationTest.java
Labels: enhancement

#6509 CB-4019. Add ResourceCrn annotation for DistroX get by CRN Api endpoint
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/controller/DistroXV1Controller.java
Labels: enhancement

#6493 [DO NOT MERGE YET] Revert "CB-3981 Revert"
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/CMRepositoryVersionUtil.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/kafka/KafkaLdapConfigProvider.java
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/kafka/KafkaLdapConfigProviderTest.java
Labels: DO_NOT_MERGE

#6566 CB-4019. Add resource crn annotation for get env by crn call
  environment/src/main/java/com/sequenceiq/environment/environment/v1/EnvironmentController.java
Labels: bug

#6582 CB-4208. Store common salt scripts in common module & handle compression at on…
  common/src/main/java/com/sequenceiq/cloudbreak/util/CompressUtil.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/BootstrapService.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestrator.java
  orchestrator-salt/src/main/resources/salt-common/pillar/databus/init.sls
  orchestrator-salt/src/main/resources/salt-common/pillar/fluent/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/databus/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/databus/template/databus_credential.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/agent-stop.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/databus_metering.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/delayed_restart.sh.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/input.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/output.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/output_databus.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/td-agent.conf.j2
Labels: enhancement
