Repository hortonworks/cloudbreak, pull requests merged in 2019-09, with the labels that each got.

#6130 CB-3306. Add HDFS user to Yarn admin ACL
  core/src/main/resources/defaults/blueprints/cdp-data-engineering.bp
Labels: bug

#6116 CB-3298. Query machine user for crn only if user already exist during user creation.
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/GrpcUmsClient.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/UmsClient.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerDatabusServiceTest.java
Labels: enhancement

#6165 CB-3365 new "delete multiple instances" stack api endpoint
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v3/StackV3Endpoint.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/doc/OperationDescriptions.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/StackV3Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/MultiHostgroupDownscaleFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/event/MultiHostgroupClusterAndStackDownscaleTriggerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/ReactorFlowManager.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/StackCommonService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/StackService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow/ReactorFlowManagerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/chain/MultiHostgroupDownscaleFlowEventChainFactoryTest.java
Labels: enhancement

#6183 CB-3463. Log identity is not filled if identity is set to null manually for distrox template
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/converter/CloudStorageDecorator.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/converter/CloudStorageDecoratorTest.java
Labels: bug

#6195 Increase default metering log size to 10 MB
  orchestrator-salt/src/main/resources/salt/salt/metering/template/generate_heartbeats.ini.j2
Labels: enhancement

#6107 CB-3330 Remove expensive 'join fetch' clauses from host group related queries
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v2/StackScaleRequestV2ToUpdateClusterRequestConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunner.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/cluster/AmbariClusterUpscaleService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/downscale/ClusterDownscaleService.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/DecommissionHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/recipe/StackPreTerminationHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/recipe/UploadRecipesHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/HostGroupRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/HostMetadataRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/ClusterService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/ambari/AmbariClusterSetupService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/ambari/AmbariDecommissioner.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/hostgroup/HostGroupService.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/cluster/AmbariClusterHostServiceTypeTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/cluster/flow/AmbariDecommissionerTest.java
  integration-test/README.MD
  integration-test/src/main/java/com/sequenceiq/it/spark/salt/SaltApiRunPostResponse.java
Labels: support

#6230 Fix operation id duplication (swagger) - verify credential by name/crn
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/credential/endpoint/CredentialEndpoint.java
Labels: bug

#6225 CB-3498 salt grains.get timeout before highstate kills upscale
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestrator.java
Labels: support

#6242 CDPCP-751. Metering for DataHub clusters is not working if S3 td-agent output is misconfigured.
  orchestrator-salt/src/main/resources/salt/salt/fluent/template/output.conf.j2
Labels: bug

#6317 CB-3661 Quick fix to avoid failure reports in case of every non-final status
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/model/Status.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/model/StatusKind.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/ClusterService.java
Labels: 2.9

#6330 CB-3741. Increase metering event heartbeat interval to 5 min (from 1 min).
  orchestrator-salt/src/main/resources/salt/salt/metering/template/generate_heartbeats.ini.j2
Labels: enhancement

#6321 CB-3330 Add utc date time but in String format
  structuredevent-model/src/main/java/com/sequenceiq/cloudbreak/structuredevent/event/OperationDetails.java
Labels: 2.9

#6311 CDPSDX-896 - Remove 'Enable Atlas Tag Source' config for Ranger in SD…
  core/src/main/resources/defaults/blueprints/cdp-sdx-701.bp
  core/src/main/resources/defaults/blueprints/cdp-sdx-ha.bp
  core/src/main/resources/defaults/blueprints/cdp-sdx-medium-ha-701.bp
Labels: CDM7

#6355 Streamlined queries in stack repository
  config/checkstyle/checkstyle-suppressions.xml
  config/spotbugs/excludeFilter.xml
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/common/StackEndpoint.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/projection/StackIdView.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/projection/StackStatusView.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/projection/StackTtlView.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/projection/StackWorkspaceView.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/Stack.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/StackCreatorService.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/stack/StackTtlViewToStackResponseConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/stack/cluster/ClusterToClusterResponseConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/EphemeralFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/maintenance/AbstractMaintenanceModeValidationAction.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/config/generator/OfflineStateGenerator.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/downscale/AbstractStackDownscaleAction.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/image/update/AbstractStackImageUpdateAction.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/image/update/StackImageUpdateActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/instance/termination/AbstractInstanceTerminationAction.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/provision/action/AbstractStackCreationAction.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/provision/action/StackCreationService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/repair/ManualStackRepairTriggerActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/start/StackStartActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/stop/StackStopActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/sync/StackSyncActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/termination/AbstractStackTerminationAction.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/upscale/AbstractStackUpscaleAction.java
  core/src/main/java/com/sequenceiq/cloudbreak/init/CloudbreakCleanupService.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/StackRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/StackCommonService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/credential/CredentialService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/ha/HeartbeatService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/lifetime/ScheduledLifetimeChecker.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/network/NetworkService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/resource/ResourceService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/StackService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/template/TemplateService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/workspace/WorkspaceModificationVerifierService.java
  core/src/main/java/com/sequenceiq/cloudbreak/startup/StackWorkspaceMigrator.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/stack/image/update/StackImageUpdateActionsTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/security/StackServiceSecurityComponentTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/HeartbeatServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/credential/CredentialServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stack/StackServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/workspace/WorkspaceModificationVerifierServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/startup/StackWorkspaceMigratorTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/v2/mock/ScalingMock.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/v2/mock/StackCreationMock.java
Labels: 2.9, in progress

#6332 CB-3721 Retry optimisations
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/downscale/ClusterDownscaleService.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/FlowLogRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/OperationRetryService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/StackCommonService.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/OperationRetryServiceTest.java
Labels: 2.9
