Repository hortonworks/cloudbreak, pull requests merged in 2019-11, with the labels that each got.

#6616 CB-3133. Resource role assignment is not cleaned up after environment deletion
  common/src/main/java/com/sequenceiq/cloudbreak/event/ResourceEvent.java
  common/src/main/resources/messages/messages.properties
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/environment/model/response/EnvironmentStatus.java
  environment/src/main/java/com/sequenceiq/environment/environment/EnvironmentStatus.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/deletion/EnvDeleteActions.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/deletion/EnvDeleteState.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/deletion/config/EnvDeleteFlowConfig.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/deletion/event/EnvDeleteHandlerSelectors.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/deletion/event/EnvDeleteStateSelectors.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/deletion/handler/ClusterDefinitionDeleteHandler.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/deletion/handler/EnvironmentUMSResourceDeleteHandler.java
  environment/src/test/java/com/sequenceiq/environment/environment/flow/deletion/handler/EnvironmentUMSResourceDeleteHandlerTest.java
Labels: bug

#6416 CB-3210. Refactor and use new (v2) telemetry models.
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/base/LoggingBase.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/base/TelemetryBase.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/base/WorkloadAnalyticsBase.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/common/CommonTelemetryParams.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/doc/TelemetryModelDescription.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/Features.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/Logging.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/Telemetry.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/WorkloadAnalytics.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigService.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigView.java
  common/src/test/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigServiceTest.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/model/DistroXV1Base.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/StackV4RequestToStackConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecorator.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/altus/AltusIAMService.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/converter/DistroXV1RequestToStackV4RequestConverter.java
  core/src/main/resources/schema/app/20191029133507_CB-3210_refactor_telemetry_models.sql
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/altus/AltusIAMServiceTest.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxService.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/telemetry/CommonTelemetryParams.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/telemetry/EnvironmentFeatures.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/telemetry/EnvironmentLogging.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/telemetry/EnvironmentTelemetry.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/telemetry/EnvironmentWorkloadAnalytics.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/TelemetryApiConverter.java
  environment/src/main/resources/schema/app/20191029132901_CB-3210_refactor_telemetry_models.sql
  environment/src/test/java/com/sequenceiq/environment/environment/v1/TelemetryApiConverterTest.java
Labels: enhancement

#6708 CB-3210. Fix telemetry conversion after refactor
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverter.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/TelemetryApiConverter.java
Labels: bug

#6705 CB-4455. Support shipping Freeipa logs to cloud storage.
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/service/AltusIAMService.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentClusterType.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecorator.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/altus/AltusMachineUserService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/ClusterService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecoratorTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/altus/AltusMachineUserServiceTest.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/creation/handler/freeipa/FreeIpaCreationHandler.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/TelemetryApiConverter.java
  environment/src/test/java/com/sequenceiq/environment/environment/v1/TelemetryApiConverterTest.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/freeipa/stack/doc/FreeIpaModelDescriptions.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/freeipa/stack/model/create/CreateFreeIpaRequest.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/freeipa/stack/model/describe/DescribeFreeIpaResponse.java
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/cloud/StackToCloudStackConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/stack/CreateFreeIpaRequestToStackConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/stack/StackToDescribeFreeIpaResponseConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/telemetry/TelemetryConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/entity/Stack.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/termination/StackTerminationEvent.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/termination/StackTerminationFlowConfig.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/termination/StackTerminationState.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/termination/action/MachineUserRemoveAction.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/termination/event/ums/RemoveMachineUserFinished.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/termination/event/ums/RemoveMachineUserRequest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/termination/handler/MachineUserRemoveHandler.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/AltusMachineUserService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/flow/FreeIpaInstallService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/FreeIpaCreationService.java
  freeipa/src/main/resources/freeipa-salt/pillar/top.sls
  freeipa/src/main/resources/freeipa-salt/salt/fluent/template/input.conf.j2
  freeipa/src/main/resources/freeipa-salt/salt/top.sls
  freeipa/src/main/resources/schema/app/20191114155647_CB-4455_add_telemetry.sql
  freeipa/src/test/java/com/sequenceiq/freeipa/converter/telemetry/TelemetryConverterTest.java
  orchestrator-salt/src/main/resources/salt/salt/fluent/template/input.conf.j2
Labels: enhancement

#6721 CB-4496 Datahub enabled instance types should be configurable
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsPlatformResources.java
  core/src/main/resources/application.yml
Labels: test

#6774 CB-4456 Increase the nodecount on the big cluster test
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/DistroXStartStopTestParameters.java
Labels: DO_NOT_MERGE

#6732 Aws tests (at least 2 +1 is required)
  environment/src/main/resources/schema/app/20190904070547_CB-3270_save_private_subnet_creation_flag.sql
  integration-test/docker-compose_template.yml
  integration-test/scripts/cbd-delete.sh
  integration-test/scripts/create-cloudbreak-context.sh
  integration-test/scripts/docker-compose.sh
  integration-test/scripts/download-cbd.sh
  integration-test/scripts/revert-db.sh
Labels: aws_e2e_test

#6792 CB-4501. Enable freeipa cloud storage logging by default.
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/telemetry/TelemetryConverter.java
Labels: enhancement

#6771 CB-4444 Fix token expiration issue (version 1)
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsClient.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsSessionCredentialClient.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsSessionCredentialProvider.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsSessionCredentials.java
Labels: bug

#6833 Add logging for UMS resource deletion (notify resource deletion & virtual group cleanup)
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/GrpcUmsClient.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/VirtualGroupService.java
Labels: enhancement

#6846 Add '@PathParam' to crnByName endpoint
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/environment/endpoint/EnvironmentEndpoint.java
Labels: bug
