Repository hortonworks/cloudbreak, pull requests merged in 2019-12, with the labels that each got.

#6817 CB-4625. Fix AWS throttling errors during credential verification
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsClient.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsCredentialVerifier.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/cache/AwsCredentialCachingConfig.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/client/AmazonIdentityManagementRetryClient.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsCredentialVerifierTest.java
  common/src/main/java/com/sequenceiq/cloudbreak/service/Retry.java
  common/src/main/java/com/sequenceiq/cloudbreak/service/RetryService.java
  flow/src/test/java/com/sequenceiq/cloudbreak/service/HeartbeatServiceTest.java
Labels: enhancement

#6851 DISTX-316. Support cloudwatch / fluentd plugin upgrade & small refactor (Preview / POC)
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/base/LoggingBase.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/doc/TelemetryModelDescription.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/CloudwatchParams.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/CloudwatchStreamKey.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/Logging.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentClusterDetails.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigService.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigView.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/cloud/CloudStorageFolderResolverService.java
  common/src/test/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigServiceTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecorator.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecoratorTest.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/CloudStorageManifester.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/StackRequestManifester.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/telemetry/EnvironmentLogging.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/TelemetryApiConverter.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/cloudstorage/EnvironmentLogStorageLocationValidator.java
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/cloud/StackToCloudStackConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/telemetry/TelemetryConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/flow/FreeIpaInstallService.java
  orchestrator-salt/src/main/resources/salt-common/pillar/fluent/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/check_fluent_plugins.sh.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/databus_metering.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/filter.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/output.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/output_databus.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/td-agent.conf.j2
Labels: enhancement

#6884 CB-4749. Add global databus secret/access keys to skip machine user generation
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/service/AltusIAMService.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/base/FeaturesBase.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/doc/TelemetryModelDescription.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/Telemetry.java
  common/src/main/java/com/sequenceiq/cloudbreak/altus/AltusDatabusConfiguration.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/TelemetryConfiguration.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/altus/AltusMachineUserService.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/altus/AltusMachineUserServiceTest.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/telemetry/EnvironmentFeatures.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/TelemetryApiConverter.java
  environment/src/test/java/com/sequenceiq/environment/environment/v1/TelemetryApiConverterTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/telemetry/TelemetryConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/termination/handler/MachineUserRemoveHandler.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/AltusMachineUserService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/flow/FreeIpaInstallService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/converter/telemetry/TelemetryConverterTest.java
  redbeams/src/main/java/com/sequenceiq/redbeams/RedbeamsApplication.java
Labels: enhancement

#6927 Merge branch 'rc-2.16' into master
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsClient.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsCredentialVerifier.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/client/AmazonIdentityManagementRetryClient.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/util/AwsIamService.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/validator/AwsIDBrokerAssumeRoleValidator.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/validator/AwsIDBrokerMappedRolePermissionValidator.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/validator/AwsLogRolePermissionValidator.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsCredentialVerifierTest.java
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/service/ClusterComponentConfigProvider.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerSetupService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerSupportSetupService.java
  common/src/main/java/com/sequenceiq/cloudbreak/client/SetProxyTimeoutFeature.java
  common/src/main/java/com/sequenceiq/cloudbreak/client/SetProxyTimeoutFilter.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/cloud/VersionComparator.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/config/CloudbreakConversionServiceFactoryBean.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/Component.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/cluster/ClusterComponent.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/instance/InstanceMetaData.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/StackV4RequestToTemplatePreparationObjectConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/ComponentConfigProviderService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/ServiceEndpointCollector.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/image/ImageService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/image/userdata/UserDataService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/StackService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/flow/TlsSetupService.java
  core/src/main/resources/application.yml
  core/src/main/resources/defaults/blueprints/cdp-streaming-702.bp
  core/src/main/resources/defaults/blueprints/cdp-streaming-small-702.bp
  core/src/main/resources/defaults/clustertemplates/aws/aws-streaming-702.json
  core/src/main/resources/defaults/clustertemplates/aws/aws-streaming-small-702.json
  core/src/main/resources/defaults/clustertemplates/azure/azure-streaming-702.json
  core/src/main/resources/defaults/clustertemplates/azure/azure-streaming-small-702.json
  core/src/main/resources/schema/app/20191209154124_CB-4299_Increase_instance_metadata_id_seq_step.sql
  core/src/main/resources/schema/app/20191209164124_CB-4299_Increase_component_id_seq_step.sql
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v2/StackV4RequestToTemplatePreparationObjectConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stack/StackServiceTest.java
  environment/src/main/java/com/sequenceiq/environment/configuration/conversion/CloudbreakConversionServiceFactoryBean.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/clouderamanager/CMUpscaleWithHttp500ResponsesTest.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/client/SaltConnector.java
  orchestrator-salt/src/main/resources/salt/salt/gateway/config/cm/cdp-token.xml.j2
  orchestrator-salt/src/main/resources/salt/salt/gateway/config/cm/topology.xml.j2
  orchestrator-salt/src/main/resources/salt/salt/gateway/config/cm/topology_api.xml.j2
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/kafka/KafkaAuthConfigProvider.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/kafka/KafkaConfigProviderUtils.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/kafka/KafkaDatahubConfigProvider.java
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/kafka/KafkaAuthConfigProviderTest.java
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/kafka/KafkaConfigProviderUtilsTest.java
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/kafka/KafkaDatahubConfigProviderTest.java
Labels: aws_e2e_test

#6951 CDPCP-1221. Not able to list the datahub cluster heartbeats.
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/StackV4RequestToStackConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverter.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v4/stacks/StackV4RequestToStackConverterTest.java
Labels: bug

#6955 CB-4871. Use different fluentd workers for different outputs.
  freeipa/src/main/resources/freeipa-salt/salt/fluent/template/input.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/databus_metering.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/output.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/output_databus.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/td-agent.conf.j2
  orchestrator-salt/src/main/resources/salt/salt/fluent/template/input.conf.j2
Labels: enhancement

#6979 CB-4774. Fluentd process in master node of DL/DW is leaking memory
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/check_fluent_plugins.sh.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/output.conf.j2
Labels: bug, enhancement

#6970 CB-4902 - fill environment crn on stack request in internal datalake creation
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxService.java
Labels: aws_e2e_test
