Repository hortonworks/cloudbreak, pull requests merged in 2020-01, with the labels that each got.

#6984 CB-4916 e2e tests: sdx tests to sdx and remove provider specific code
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/AbstractCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProviderProxy.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/azure/AzureCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/gcp/GcpCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/mock/MockCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/openstack/OpenStackCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/yarn/YarnCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/AbstractIntegrationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/CloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/aws/AwsCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/aws/AwsDistroXBaseImageTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/azure/AzureCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/azure/AzureInternalSdxTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/azure/AzureSdxCloudStorageTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/gcp/GcpCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/InternalSdxTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxBaseImageTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxCloudStorageTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxUpgradeTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/amazons3/AmazonS3Util.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/amazons3/action/S3ClientActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/amazons3/client/S3Client.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/azurecloudblob/AzureCloudBlobUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/azurecloudblob/action/AzureCloudBlobClientActions.java
  integration-test/src/main/resources/testsuites/e2e/aws-image-validation-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/aws-sdx-baseimage-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/aws-sdx-cloudstorage-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/aws-sdx-upgrade-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/azure-image-validation-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/azure-sdx-cloudstorage-tests.yaml
Labels: aws_e2e_test

#7001 CB-4915 update AWS default zone provider defaults to Virginia us-east-1
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsClient.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsDefaultZoneProvider.java
Labels: aws_e2e_test

#7024 CB-4946. Update fluentd azure storage plugin version
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/settings.sls
Labels: enhancement

#7008 Cb 4931 DistroX and environment tests to their own package and remove provider specific code from tests
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/AbstractCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProviderProxy.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/azure/AzureCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/gcp/GcpCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/mock/MockCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/openstack/OpenStackCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/yarn/YarnCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/instancegroup/DistroXInstanceGroupsBuilder.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/aws/AwsBasicEnvironmentTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/aws/AwsDistroXTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/azure/AzureBasicEnvironmentTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXBaseImageTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/environment/BasicEnvironmentTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/yarn/YarnBasicEnvironmentTests.java
  integration-test/src/main/resources/testsuites/e2e/aws-distrox-baseimage-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/aws-e2e-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/aws-image-validation-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/azure-e2e-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/azure-image-validation-tests.yaml
Labels: aws_e2e_test

#7090 CB-5128 merge security fixes from 2.10
  autoscale-api/build.gradle
  autoscale/build.gradle
  build.gradle
  cloud-api/build.gradle
  cloud-azure/build.gradle
  cloud-common/build.gradle
  cloud-common/src/main/java/com/sequenceiq/cloudbreak/service/CloudbreakResourceReaderService.java
  cloud-gcp/build.gradle
  cloud-openstack/build.gradle
  cluster-proxy/build.gradle
  common-model/build.gradle
  common/build.gradle
  common/src/main/java/com/sequenceiq/cloudbreak/common/json/JsonUtil.java
  core-api/build.gradle
  core-api/src/test/java/com/sequenceiq/cloudbreak/controller/validation/AbstractValidatorTest.java
  core/build.gradle
  core/src/main/java/com/sequenceiq/cloudbreak/conf/AppConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/image/CachedImageCatalogProvider.java
  core/src/test/java/com/sequenceiq/cloudbreak/controller/validation/UpdateStackRequestValidatorTest.java
  docker-autoscale/Dockerfile
  docker-cloudbreak/Dockerfile
  docker-datalake/Dockerfile
  docker-environment/Dockerfile
  docker-freeipa/Dockerfile
  docker-redbeams/Dockerfile
  freeipa-client/build.gradle
  gradle.properties
  integration-test/scripts/create-image.sh
  integration-test/src/main/resources/cluster.pem
  integration-test/src/main/resources/gen/generate-mock-keystore.sh
  integration-test/src/main/resources/keystore_server
  integration-test/test-image/Dockerfile
  mock-caas/build.gradle
  orchestrator-api/build.gradle
  orchestrator-salt/build.gradle
  orchestrator-yarn/build.gradle
  performance-test/README.md
  performance-test/perftest.sh
  performance-test/user-files/simulations/cloudbreak/CloudbreakSimulation.scala
  redbeams-api/build.gradle
  structuredevent-model/build.gradle
  template-manager-recipe/build.gradle
Labels: aws_e2e_test

#7096 CB-5004 Fix race condition issue on UserProfile save
  core/src/main/java/com/sequenceiq/cloudbreak/service/user/UserProfileService.java
Labels: wolf

#7097 CB-5174. E2E tests: send cluster service logs to kibana by databus
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigView.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/telemetry/TelemetryTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/AbstractIntegrationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/environment/BasicEnvironmentTests.java
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/filter.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/output_databus.conf.j2
Labels: enhancement

#7100 CB-5180. Fluentd abfs upload: add retry logic for handling intermittent operation errors
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/output.conf.j2
Labels: enhancement

#7115 CB-5174. Use shared altus credential is not always set if enabled
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverter.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverterTest.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/StackRequestManifester.java
  environment/src/test/java/com/sequenceiq/environment/environment/v1/TelemetryApiConverterTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/telemetry/TelemetryConverter.java
Labels: bug

#7139 CB-5250. Add nginx logs to log collection
  freeipa/src/main/resources/freeipa-salt/salt/fluent/template/input.conf.j2
  orchestrator-salt/src/main/resources/salt/salt/fluent/template/input.conf.j2
Labels: enhancement

#7181 CB-5296. No metering heartbeats after reboot
  orchestrator-salt/src/main/resources/salt/salt/metering/init.sls
  orchestrator-salt/src/main/resources/salt/salt/metering/template/metering-heartbeat-application.service.j2
Labels: bug

#7183 CB-5371. Feature refactor & (E2E) remove use shared credential from the API (request)
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/base/FeaturesBase.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/Features.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/response/FeaturesResponse.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverter.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverterTest.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/StackRequestManifester.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/telemetry/EnvironmentFeatures.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/TelemetryApiConverter.java
  environment/src/test/java/com/sequenceiq/environment/environment/v1/TelemetryApiConverterTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/telemetry/TelemetryConverter.java
  freeipa/src/test/java/com/sequenceiq/freeipa/converter/telemetry/TelemetryConverterTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/telemetry/TelemetryTestDto.java
Labels: enhancement
