Repository hortonworks/cloudbreak, pull requests merged in 2020-10, with the labels that each got.

#9106 CB-9042. DH metering v2: support adding service feature field based o…
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/StackV4RequestToStackConverter.java
  orchestrator-salt/src/main/resources/salt/salt/metering/settings.sls
  orchestrator-salt/src/main/resources/salt/salt/metering/template/generate_heartbeats.ini.j2
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/metering/MeteringServiceFieldMapperDefinition.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/metering/MeteringServiceFieldResolver.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/servicetype/ServiceTypeResolver.java
  template-manager-cmtemplate/src/main/resources/definitions/cm-metering-service-field-mapping.json
  template-manager-cmtemplate/src/main/resources/definitions/cm-service-type-mapping.json
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/metering/MeteringServiceFieldResolverTest.java
  template-manager-cmtemplate/src/test/resources/metering/cm-metering-service-field-mapping.json
  template-manager-cmtemplate/src/test/resources/servicetype/cm-service-type-mapping.json
  template-manager-tag/src/main/java/com/sequenceiq/cloudbreak/tag/ClusterTemplateApplicationTag.java
Labels: enhancement

#9124 CB-9091 Waiting for Flow throws java.lang.InterruptedException
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/FlowUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/WaitService.java
  integration-test/src/main/java/com/sequenceiq/it/util/SimpleRetryWrapper.java
  integration-test/src/main/java/com/sequenceiq/it/util/cleanup/CleanupWaitUtil.java
Labels: bug, raven, test

#9174 CB-8228: Implement the mechanics to specify the upgrade matrix
  core/src/main/java/com/sequenceiq/cloudbreak/conf/UpgradeMatrixConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/ComponentVersionComparator.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/UpgradePermissionProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/image/CmAndStackVersionFilter.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/matrix/Runtime.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/matrix/RuntimeUpgradeMatrix.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/matrix/UpgradeMatrixDefinition.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/matrix/UpgradeMatrixDefinitionProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/matrix/UpgradeMatrixService.java
  core/src/main/resources/definitions/upgrade-matrix-definition.json
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/ComponentVersionComparatorTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/UpgradePermissionProviderTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/matrix/RuntimeUpgradeMatrixDefinitionProviderTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/matrix/UpgradeMatrixServiceTest.java
  core/src/test/resources/upgrade/upgrade-matrix-definition.json
Labels: hacktoberfest-accepted

#9151 CB-9149. Splitting large (> 16K) JSON logs on CB level in order to av…
  autoscale/src/main/resources/logback.xml
  common/src/main/java/com/sequenceiq/cloudbreak/logger/LoggerConfiguration.java
  common/src/main/java/com/sequenceiq/cloudbreak/logger/MaskingPatternLayout.java
  common/src/main/java/com/sequenceiq/cloudbreak/logger/PartialMessageMetadata.java
  common/src/main/java/com/sequenceiq/cloudbreak/logger/format/CustomJsonLayout.java
  common/src/main/java/com/sequenceiq/cloudbreak/logger/format/JsonLayoutFormat.java
  common/src/main/java/com/sequenceiq/cloudbreak/logger/format/LayoutFormat.java
  common/src/main/java/com/sequenceiq/cloudbreak/logger/format/LayoutFormatFactory.java
  common/src/main/java/com/sequenceiq/cloudbreak/logger/format/SimpleLayoutFormat.java
  common/src/test/java/com/sequenceiq/cloudbreak/logger/format/CustomJsonLayoutTest.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/logger/MaskingPatternLayout.java
  core/src/main/resources/logback.xml
  datalake/src/main/resources/logback.xml
  environment/src/main/resources/logback.xml
  freeipa/src/main/resources/logback.xml
  redbeams/src/main/resources/logback.xml
Labels: enhancement

#9199 CB-9220. Account id is not passed properly for delete machine user ca…
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/GrpcUmsClient.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/UmsClient.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerDatabusService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerDatabusServiceTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/AltusMachineUserService.java
Labels: bug

#9176 CB-9212: Fix findVirtualMachineCustomImage to use the image name instead of the whole URL of the image.
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/image/AzureImageService.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/image/AzureImageSetupService.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/task/storageaccount/StorageAccountChecker.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/util/CustomVMImageNameProvider.java
Labels: hacktoberfest-accepted

#9205 CB-9251 Fix Kerberos-/LdapConfig creation race condition
  freeipa/src/main/java/com/sequenceiq/freeipa/kerberos/KerberosConfig.java
  freeipa/src/main/java/com/sequenceiq/freeipa/kerberos/KerberosConfigService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/kerberos/v1/KerberosConfigV1Service.java
  freeipa/src/main/java/com/sequenceiq/freeipa/ldap/LdapConfig.java
  freeipa/src/main/java/com/sequenceiq/freeipa/ldap/LdapConfigService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/ldap/v1/LdapConfigV1Service.java
Labels: hacktoberfest-accepted

#9194 CB-9249 API E2E JUnit XML report names should contain the Cloud Provider as well
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/search/CustomJUnitXMLReporter.java
Labels: bug, quanta, raven, test

#9211 CB-9136. Create scheduled job for machine user cleanup for FreeIPA/DL+DH
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/service/AltusIAMService.java
  common/src/main/java/com/sequenceiq/cloudbreak/quartz/cleanup/UMSCleanupConfig.java
  common/src/main/java/com/sequenceiq/cloudbreak/quartz/cleanup/job/UMSCleanupJob.java
  common/src/main/java/com/sequenceiq/cloudbreak/quartz/cleanup/service/UMSCleanupJobService.java
  core/src/main/java/com/sequenceiq/cloudbreak/job/altus/CloudbreakUMSCleanupJob.java
  core/src/main/java/com/sequenceiq/cloudbreak/job/altus/CloudbreakUMSCleanupJobInitializer.java
  core/src/main/java/com/sequenceiq/cloudbreak/job/altus/CloudbreakUMSCleanupJobService.java
  core/src/main/java/com/sequenceiq/cloudbreak/job/altus/DatahubMachineUsers.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/altus/AltusMachineUserService.java
  core/src/test/java/com/sequenceiq/cloudbreak/job/altus/CloudbreakUMSCleanupJobTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/altus/FreeIpaUMSCleanupJob.java
  freeipa/src/main/java/com/sequenceiq/freeipa/altus/FreeIpaUMSCleanupJobInitializer.java
  freeipa/src/main/java/com/sequenceiq/freeipa/altus/FreeIpaUMSCleanupJobService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/AltusMachineUserService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/altus/FreeIpaUMSCleanupJobTest.java
Labels: enhancement

#9216 CB-9249 Stabilise JUnit XML report generation in case test failure
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/search/CustomJUnitXMLReporter.java
Labels: bug, quanta, raven, test

#9221 CB-9136. Create scheduled job for machine user cleanup for FreeIPA/DL+DH
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/service/AltusIAMService.java
  common/src/main/java/com/sequenceiq/cloudbreak/quartz/cleanup/UMSCleanupConfig.java
  common/src/main/java/com/sequenceiq/cloudbreak/quartz/cleanup/job/UMSCleanupJob.java
  common/src/main/java/com/sequenceiq/cloudbreak/quartz/cleanup/service/UMSCleanupJobService.java
  core/src/main/java/com/sequenceiq/cloudbreak/job/altus/CloudbreakUMSCleanupJob.java
  core/src/main/java/com/sequenceiq/cloudbreak/job/altus/CloudbreakUMSCleanupJobInitializer.java
  core/src/main/java/com/sequenceiq/cloudbreak/job/altus/CloudbreakUMSCleanupJobService.java
  core/src/main/java/com/sequenceiq/cloudbreak/job/altus/DatahubMachineUsers.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/altus/AltusMachineUserService.java
  core/src/test/java/com/sequenceiq/cloudbreak/job/altus/CloudbreakUMSCleanupJobTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/altus/FreeIpaUMSCleanupJob.java
  freeipa/src/main/java/com/sequenceiq/freeipa/altus/FreeIpaUMSCleanupJobInitializer.java
  freeipa/src/main/java/com/sequenceiq/freeipa/altus/FreeIpaUMSCleanupJobService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/AltusMachineUserService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/altus/FreeIpaUMSCleanupJobTest.java
Labels: enhancement

#9193 CB-9227 - unable to get cluster definition on a stopped environment
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/converter/DistroXV1RequestToStackV4RequestConverter.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/converter/DistroXV1RequestToStackV4RequestConverterTest.java
Labels: wolf

#9243 CB-9383: Extend upgrade matrix to enable upgrades to 7.2.3
  core/src/main/resources/definitions/upgrade-matrix-definition.json
Labels: hacktoberfest-accepted

#9245 CB-9380. Create machine users for wxm & fluentd as hidden Workload ma…
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/GrpcUmsClient.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/UmsClient.java
Labels: enhancement

#9239 CB-8227: Introduce a new entitlement to allow different Data Hub versions than Data Lake
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementService.java
  auth-connector/src/test/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementServiceTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/StackCreatorService.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/validation/stack/StackRuntimeVersionValidator.java
  core/src/test/java/com/sequenceiq/cloudbreak/controller/validation/stack/StackRuntimeVersionValidatorTest.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/auth/MockUserManagementService.java
  mock-thunderhead/src/main/resources/application.yml
Labels: hacktoberfest-accepted

#9264 CB-9290 Stack terminate flow chain reorder
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/ProperTerminationFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/TerminationFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/DatabaseObtainerService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/terminate/handler/TerminateExternalDatabaseHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/rdsconfig/RedbeamsClientService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/DatabaseObtainerServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/terminate/handler/TerminateExternalDatabaseHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/rdsconfig/RedbeamsClientServiceTest.java
Labels: hacktoberfest-accepted

#9266 CB-9307 Stopped RDS is not deleted but hanging forever to timeout
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/scheduler/CustomAmazonWaiterProvider.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/scheduler/acceptor/DescribeDbInstanceForModifyFailureAcceptor.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/scheduler/acceptor/DescribeDbInstanceForModifySuccessAcceptor.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/scheduler/acceptor/DBInstanceStatuses.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/scheduler/acceptor/DescribeDbInstanceForModifyFailureAcceptorTest.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/scheduler/acceptor/DescribeDbInstanceForModifySuccessAcceptorTest.java
Labels: hacktoberfest-accepted

#9271 CB-9380. Update user management mock (using create workload user call)
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/auth/MockUserManagementService.java
Labels: bug

#9272 CB-9290 Stack terminate flow chain reorder
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/ProperTerminationFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/TerminationFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/DatabaseObtainerService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/terminate/handler/TerminateExternalDatabaseHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/rdsconfig/RedbeamsClientService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/DatabaseObtainerServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/terminate/handler/TerminateExternalDatabaseHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/rdsconfig/RedbeamsClientServiceTest.java
Labels: hacktoberfest-accepted

#9258 CB-8945 Ability to run tests against MOW Dev
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/CloudbreakTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/config/server/CloudbreakServer.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/config/server/EnvironmentServer.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/config/server/FreeIpaServer.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/config/server/RedbeamsServer.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/config/server/SdxServer.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/listener/ThreadLocalTestListener.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/log/Log.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/search/CustomJUnitXMLReporter.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ErrorLogMessageProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/cloudbreak/CloudbreakTerminationChecker.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/datalake/DatalakeTerminationChecker.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/environment/EnvironmentTerminationChecker.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/freeipa/FreeIpaTerminationChecker.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/instance/InstanceTerminationChecker.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/redbeams/RedbeamsTerminationChecker.java
  integration-test/src/main/java/com/sequenceiq/it/util/TagsUtil.java
  integration-test/src/main/resources/application.yml
Labels: enhancement, raven, test

#9282 CB-9391: Do not restart all the services in CM during upgrade-repair
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/ClusterRepairService.java
Labels: hacktoberfest-accepted

#9265 CB-9312 do not use stop or start with list endpoint because we are not able to authorize them at this point
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/DistroxService.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/datahub/DatahubService.java
Labels: hacktoberfest-accepted

#9317 CB-9506 - YCloud hybrid env test failure on teardown
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/hybrid/AwsYcloudHybridCloudTest.java
Labels: test, wolf
