Repository hortonworks/cloudbreak, pull requests merged in 2020-11, with the labels that each got.

#9350 CB-9513. Start using vm-logs.json instead of input.conf.j2 files
  core/src/main/resources/defaults/vm-logs.json
  freeipa/src/main/resources/defaults/vm-logs.json
  freeipa/src/main/resources/freeipa-salt/salt/fluent/template/input.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/cdp-logging-agent-init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/input_vm_logs.conf.j2
  orchestrator-salt/src/main/resources/salt/salt/fluent/template/input.conf.j2
Labels: enhancement

#9352 CB-9561. Fix regression issue: filter.conf is generated for cloud sto…
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/settings.sls
Labels: bug

#9357 CB-9518. Update default cdp-telemetry version
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/init.sls
Labels: enhancement

#9354 CB-8861. Enable diagnostics (CM & VM based) tests for AWS
  integration-test/src/main/resources/testsuites/e2e/aws-e2e-tests.yaml
Labels: enhancement

#9382 CB-9631. Diagnostics cluster type is WORKLOAD instead of DATAHUB for …
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/DiagnosticsTriggerService.java
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/template/cdp-doctor-commands.yaml.j2
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/template/filecollector.yaml.j2
Labels: bug

#9375 CB-9614 [thunderhead-mock] Throw exception if ums getAccount called with 'altus'
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/auth/MockCrnService.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/auth/MockUserManagementService.java
  mock-thunderhead/src/test/java/com/sequenceiq/thunderhead/grpc/service/auth/MockUserManagementServiceTest.java
Labels: DO_NOT_MERGE

#9418 CB-9708 Update MOCK user CRN
  integration-test/scripts/docker-compose.sh
  integration-test/src/main/resources/application.yml
Labels: aws_e2e_test, bug, raven

#9489 CB-8945 Fix for CB Version and AppName for MOW environments
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/mock/ImageCatalogMockServerSetup.java
Labels: bug, raven, test

#9385 CB-7552: IDBroker VM is provisioned with an attached disk that remain…
  core/src/main/java/com/sequenceiq/cloudbreak/controller/validation/template/TemplateValidator.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/validate/cloud/CloudConfigValidationActions.java
  core/src/test/java/com/sequenceiq/cloudbreak/controller/validation/template/TemplateValidatorTest.java
  datalake/src/main/resources/duties/7.0.2/aws/light_duty.json
  datalake/src/main/resources/duties/7.0.2/azure/light_duty.json
  datalake/src/main/resources/duties/7.0.2/mock/light_duty.json
  datalake/src/main/resources/duties/7.1.0/aws/light_duty.json
  datalake/src/main/resources/duties/7.1.0/azure/light_duty.json
  datalake/src/main/resources/duties/7.1.0/mock/light_duty.json
  datalake/src/main/resources/duties/7.2.0/aws/light_duty.json
  datalake/src/main/resources/duties/7.2.0/azure/light_duty.json
  datalake/src/main/resources/duties/7.2.0/mock/light_duty.json
  datalake/src/main/resources/duties/7.2.1/aws/light_duty.json
  datalake/src/main/resources/duties/7.2.1/azure/light_duty.json
  datalake/src/main/resources/duties/7.2.1/mock/light_duty.json
  datalake/src/main/resources/duties/7.2.2/aws/light_duty.json
  datalake/src/main/resources/duties/7.2.2/aws/medium_duty_ha.json
  datalake/src/main/resources/duties/7.2.2/azure/light_duty.json
  datalake/src/main/resources/duties/7.2.2/azure/medium_duty_ha.json
  datalake/src/main/resources/duties/7.2.2/mock/light_duty.json
  datalake/src/main/resources/duties/7.2.6/aws/light_duty.json
  datalake/src/main/resources/duties/7.2.6/aws/medium_duty_ha.json
  datalake/src/main/resources/duties/7.2.6/azure/light_duty.json
  datalake/src/main/resources/duties/7.2.6/azure/medium_duty_ha.json
  datalake/src/main/resources/duties/7.2.6/gcp/light_duty.json
  datalake/src/main/resources/duties/7.2.6/gcp/medium_duty_ha.json
  datalake/src/main/resources/duties/7.2.6/mock/light_duty.json
  datalake/src/main/resources/duties/7.2.7/aws/light_duty.json
  datalake/src/main/resources/duties/7.2.7/aws/medium_duty_ha.json
  datalake/src/main/resources/duties/7.2.7/azure/light_duty.json
  datalake/src/main/resources/duties/7.2.7/azure/medium_duty_ha.json
  datalake/src/main/resources/duties/7.2.7/gcp/light_duty.json
  datalake/src/main/resources/duties/7.2.7/gcp/medium_duty_ha.json
  datalake/src/main/resources/duties/7.2.7/mock/light_duty.json
  orchestrator-salt/src/main/resources/salt/bootstrapnodes/mount-disks.sh
  orchestrator-salt/src/main/resources/salt/salt/disks/mount/scripts/mount-disks.j2
Labels: wolf

#9500 CB-9960. Do not use the same buffer for CM command logs and service l…
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/output.conf.j2
Labels: bug

#9374 CB-8962: Added a Cloudwatch alarm to each AWS instance created.
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/PlatformParametersConsts.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsCloudWatchService.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsLaunchService.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsUpscaleService.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/component/AwsLaunchTest.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/component/AwsRepairTest.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsCloudWatchServiceTest.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsUpscaleServiceTest.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/doc/ModelDescriptions.java
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/cloud/StackToCloudStackConverter.java
Labels: wolf

#9514 CB-9987. Make sure metering events never dropped in DH - ENGESC-5146
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/databus_metering.conf.j2
Labels: bug

#9525 CB-9922 Cannot fetch the CB version at MOW Dev or Int CLOUDBREAK_SERV…
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/mock/ImageCatalogMockServerSetup.java
Labels: bug, raven, test

#9261 CB-9174 - Creation of cluster definitions through the CLI is broken
  common-model/src/main/java/com/sequenceiq/common/api/cloudstorage/query/ConfigQueryEntries.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/blueprint/BlueprintService.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/converter/CloudStorageDecorator.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/converter/CloudStorageDecoratorTest.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/cloudstorage/CmCloudStorageConfigProvider.java
Labels: aws_e2e_test, wolf
