Repository hortonworks/cloudbreak, pull requests merged in 2020-07, with the labels that each got.

#8470 CB-7767: Fix FMS to use correct cluster proxy service names for ...
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/FreeIpaClientFactory.java
Labels: bug

#8478 CB-7767: Fix 2 FMS to use correct cluster proxy service names for ...
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/FreeIpaClientFactory.java
Labels: bug

#8496 CB-6751 Eliminate WaitUtil move WaitForInstanceStatuses to WaitService
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/AbstractFreeIpaAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v4/environment/AbstractEnvironmentAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/MeasuredTestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/AbstractEnvironmentTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/AbstractFreeIpaTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/DistroXTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxInternalTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXImagesTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/environment/NewNetworkWithNoInternetEnvironmentTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/hybrid/AwsYcloudHybridCloudTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/InternalSdxRepairWithRecipeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/InternalSdxTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/PreconditionSdxE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxCloudStorageTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxImagesTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxRepairTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/MockSdxTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/MockSdxUpgradeTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/RedbeamsDatabaseServerTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/FlowUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/WaitUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/cloudbreak/CloudbreakFailedChecker.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/cloudbreak/CloudbreakOperationChecker.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/cloudbreak/CloudbreakTerminationChecker.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/datalake/DatalakeTerminationChecker.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/environment/EnvironmentFailedChecker.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/instance/DistroxInstanceAwait.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/instance/InstanceFailedChecker.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/instance/InstanceOperationChecker.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/instance/InstanceTerminationChecker.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/instance/InstanceWaitObject.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/instance/SdxInstanceAwait.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/instance/SdxInternalInstanceAwait.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/redbeams/RedbeamsTerminationChecker.java
Labels: enhancement, raven

#8540 CDPCP-2566. Do not try to start metering application on DataLake cluster (every 5 sec)
  orchestrator-salt/src/main/resources/salt/salt/metering/init.sls
  orchestrator-salt/src/main/resources/salt/salt/metering/template/metering-heartbeat-application.service.j2
Labels: bug

#8615 CB-7978. No need for VmLogsLoaderService anymore + added file check f…
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/VmLogsLoaderService.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/VmLogsService.java
Labels: bug

#8617 CB-8077 AWS RDS: enable CopyTagsToSnapshot
  cloud-aws/src/main/resources/templates/aws-cf-dbstack.ftl
Labels: support

#8619 RDS: BackupRetentionPeriod should be unified to 30
  cloud-aws/src/main/resources/templates/aws-cf-dbstack.ftl
  core/src/main/java/com/sequenceiq/cloudbreak/service/externaldatabase/AwsDatabaseServerParameterDecorator.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/externaldatabase/AzureDatabaseServerParameterDecorator.java
  core/src/main/resources/application.yml
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/database/AwsDatabaseServerParameterSetter.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/database/AzureDatabaseServerParameterSetter.java
  datalake/src/main/resources/application.yml
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/database/AwsDatabaseServerParameterSetterTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/database/AzureDatabaseServerParameterSetterTest.java
Labels: support

#8667 CB-8198. Integrate cdp-telemetry with CB/FreeIpa diagnostics flow
  common-model/src/main/java/com/sequenceiq/common/api/diagnostics/BaseDiagnosticsCollectionRequest.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/doc/DiagnosticsModelDescription.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/VmLogsService.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/converter/DiagnosticsDataToMapConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/DiagnosticsTriggerService.java
  datalake/src/main/java/com/sequenceiq/datalake/converter/DiagnosticsParamsConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/diagnostics/DiagnosticsTriggerService.java
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/cleanup.sls
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/collect.sls
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/scripts/cleanup.sh
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/scripts/filecollector.py
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/template/cloud_storage_upload.sh.j2
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/template/filecollector.yaml.j2
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/upload.sls
Labels: enhancement

#8682 CB-8239 Introduce delete child environment steps to the AwsYcloudHybridCloudTest
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/hybrid/AwsYcloudHybridCloudTest.java
  integration-test/src/main/java/com/sequenceiq/it/util/cleanup/CleanupUtil.java
  integration-test/src/main/java/com/sequenceiq/it/util/cleanup/CleanupWaitUtil.java
Labels: enhancement, raven, test
