Repository hortonworks/cloudbreak, pull requests merged in 2020-08, with the labels that each got.

#8610 CB-7876 Save deletable TestContext resource names for API Cleanup
  integration-test/src/main/java/com/sequenceiq/it/IntegrationTestApp.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/AbstractTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/CloudbreakTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/blueprint/BlueprintTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/credential/CredentialTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/database/RedbeamsDatabaseTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/DistroXTestDtoBase.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/image/DistroXImageTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/environment/EnvironmentTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIpaTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/imagecatalog/ImageCatalogTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/ldap/LdapTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/mock/HttpMock.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/proxy/ProxyTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/recipe/RecipeTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxInternalTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/stack/StackTestDtoBase.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/listener/TestInvocationListener.java
Labels: enhancement, raven

#8695 Added more fixes and validations for filecollector (used for diagnost…
  common-model/src/main/java/com/sequenceiq/common/api/diagnostics/BaseDiagnosticsCollectionRequest.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/doc/DiagnosticsModelDescription.java
  common-model/src/main/java/com/sequenceiq/common/model/diagnostics/DiagnosticParameters.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/converter/DiagnosticsDataToParameterConverter.java
  datalake/src/main/java/com/sequenceiq/datalake/converter/DiagnosticsParamsConverter.java
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/filter.conf.j2
  orchestrator-salt/src/main/resources/salt/errormessages.yaml
Labels: bug, enhancement

#8699 CB-8239 Fix delete child environments at API Cleanup App
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v4/environment/EnvironmentCascadingDeleteAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/EnvironmentTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/environment/EnvironmentTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/environment/BasicEnvironmentTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/hybrid/AwsYcloudHybridCloudTest.java
  integration-test/src/main/java/com/sequenceiq/it/util/cleanup/CleanupUtil.java
  integration-test/src/main/java/com/sequenceiq/it/util/cleanup/CleanupWaitUtil.java
Labels: bug, raven, test

#8711 References in log path are not resolved (the feature was not used at …
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/common/TelemetryCommonConfigService.java
Labels: bug

#8720 Disable databus based logging stop for E2E tests (other way it will stop after 20 m…
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/telemetry/TelemetryTestDto.java
Labels: enhancement

#8725 CB-8269 FreeIPA Termination Checker Success reporter throws 404
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/freeipa/FreeIpaOperationChecker.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/freeipa/FreeIpaTerminationChecker.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/freeipa/FreeIpaWaitObject.java
Labels: bug, raven, test

#8741 CB-8328. Implemented service type tagging for DataHub
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/StackV4RequestToStackConverter.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/DistroXClusterCreationTest.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/servicetype/ServiceTypeMapperDefinition.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/servicetype/ServiceTypeResolver.java
  template-manager-cmtemplate/src/main/resources/definitions/cm-service-type-mapping.json
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/servicetype/ServiceTypeResolverTest.java
  template-manager-cmtemplate/src/test/resources/servicetype/cm-service-type-mapping.json
  template-manager-tag/src/main/java/com/sequenceiq/cloudbreak/tag/ClusterTemplateApplicationTag.java
Labels: enhancement

#8490 AWS ENA check in E2E
  integration-test/docker-compose_template.yml
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXEncryptedVolumeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/stack/BasicStackTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/CloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/AwsCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/amazonec2/AmazonEC2Util.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/amazonec2/action/EC2ClientActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/AzureCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/gcp/GcpCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/action/SshEnaDriverCheckActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/action/SshJClientActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/client/SshJClient.java
Labels: aws_e2e_test

#8770 CB-8376. Label filter is not working for diagnostics collections.
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/collect.sls
Labels: bug

#8780 CB-8395. VmLogsService is not used for DataHub/Datalake therefore it won't col…
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecorator.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecoratorTest.java
Labels: bug

#8785 CB-8398. Host group filter is not working properly for diagnostics co…
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/DiagnosticsCollectionActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/DiagnosticsFlowService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/DiagnosticsTriggerService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/DiagnosticsFlowServiceTest.java
Labels: bug

#8788 CB-8399 - update cdp sdk version
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/converter/cli/distrox/DistroXV1RequestToCreateAzureClusterRequestConverter.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/converter/cli/stack/StackRequestToCreateAzureClusterRequestConverter.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/converter/cli/distrox/DistroXV1RequestToCreateAzureClusterRequestConverterTest.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/converter/cli/stack/StackRequestToCreateAzureClusterRequestConverterTest.java
  gradle.properties
Labels: aws_e2e_test, wolf

#8823 CB-8478: Fix freeipa_healthagent_setup.sh to work with FreeIPA HA
  freeipa/src/main/resources/freeipa-salt/salt/freeipa/scripts/freeipa_healthagent_setup.sh
Labels: bug

#8836 CB-8497 Improve tag validation and introduce result logs
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/util/CloudProviderSideTagAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/SparklessTestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/amazonec2/action/EC2ClientActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/azurevm/action/AzureClientActions.java
  integration-test/src/main/java/com/sequenceiq/it/util/TagsUtil.java
  integration-test/src/test/java/com/sequenceiq/it/util/TagsUtilTest.java
Labels: enhancement, raven, test

#8852 CB-8513 skip check of last activity when hostgroup has 0 as cardinality
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsAutoScalingService.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsAutoScalingServiceTest.java
Labels: aws_e2e_test

#8792 CB-8341. Increase CM <-> (CP <->) Nginx proxy timeouts and make CM timeouts co…
  autoscale/src/main/resources/application.yml
  client-cm/src/main/java/com/sequenceiq/cloudbreak/cm/client/ClouderaManagerApiClientProvider.java
  core/src/main/resources/application.yml
  datalake/src/main/resources/application.yml
Labels: enhancement

#8883 CB-8300 and CB-8347. Add skeleton for diagnostics tests and update fl…
  .gitignore
  datalake-api/src/main/java/com/sequenceiq/sdx/client/SdxClient.java
  datalake-api/src/main/java/com/sequenceiq/sdx/client/SdxServiceApiKeyEndpoints.java
  datalake-api/src/main/java/com/sequenceiq/sdx/client/SdxServiceCrnEndpoints.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/client/FreeIpaApiKeyEndpoints.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/client/FreeIpaApiUserCrnEndpoint.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/client/FreeIpaClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeIpaCollectDiagnosticsAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxCollectDiagnosticsAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/FreeIpaTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/SdxTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/MeasuredTestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/diagnostics/BaseDiagnosticsTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/diagnostics/DistroXDiagnosticsTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIpaDiagnosticsTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxDiagnosticsTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/FlowUtil.java
Labels: enhancement
