Repository hortonworks/cloudbreak, pull requests merged in 2020-04, with the labels that each got.

#7706 CB-6164 Remove entitlement check for CCM
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementService.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentCreationService.java
  environment/src/main/resources/application.yml
  mock-caas/src/main/java/com/sequenceiq/caas/grpc/service/MockUserManagementService.java
  mock-caas/src/main/resources/application.yml
Labels: DO_NOT_MERGE

#7759 CB-6513. Change monitoring user/pwd DB type from varchar(255) to TEXT.
  core/src/main/resources/schema/app/20200408144422_CB-6513_Change_monitoring_user_pwd_type.sql
Labels: bug

#7760 CB-6510 Cb should not split the Zk
  template-manager-cmtemplate/src/main/resources/shared-components-config.json
Labels: aws_e2e_test

#7791 CB-6569. Encode (base64) regex input for anonymization rules (log collection)
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigService.java
  common/src/test/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigServiceTest.java
  environment/src/main/java/com/sequenceiq/environment/telemetry/service/AccountTelemetryService.java
  environment/src/test/java/com/sequenceiq/environment/telemetry/service/AccountTelemetryServiceTest.java
Labels: enhancement

#7800 CB-6567. Log collection: test anonymization rule regex
  environment-api/src/main/java/com/sequenceiq/environment/api/doc/telemetry/AccountTelemetryDescription.java
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/telemetry/endpoint/AccountTelemetryEndpoint.java
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/telemetry/model/request/TestAnonymizationRuleRequest.java
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/telemetry/model/request/TestAnonymizationRulesRequest.java
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/telemetry/model/response/TestAnonymizationRuleResponse.java
  environment/build.gradle
  environment/src/main/java/com/sequenceiq/environment/telemetry/service/AccountTelemetryService.java
  environment/src/main/java/com/sequenceiq/environment/telemetry/v1/controller/AccountTelemetryController.java
  environment/src/test/java/com/sequenceiq/environment/telemetry/service/AccountTelemetryServiceTest.java
Labels: enhancement

#7817 CB-5966. Configure DataBus (metering/logging/telemetry publisher) to use proxy.
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterSetupService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerMgmtSetupService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerMgmtTelemetryService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerSetupService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerMgmtTelemetryServiceTest.java
  config/checkstyle/checkstyle-suppressions.xml
  core/src/main/java/com/sequenceiq/cloudbreak/core/cluster/ClusterBuilderService.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/TelemetryApiConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/config/FreeIpaConfigService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/flow/FreeIpaInstallService.java
  freeipa/src/main/resources/freeipa-salt/pillar/top.sls
  freeipa/src/test/java/com/sequenceiq/freeipa/service/freeipa/config/FreeIpaConfigServiceTest.java
  orchestrator-salt/src/main/resources/salt-common/pillar/proxy/proxy.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/databus_metering.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/output_databus.conf.j2
Labels: enhancement

#7836 CB-5966. Configure DataBus (metering/logging/telemetry publisher) to use proxy
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterSetupService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerMgmtSetupService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerMgmtTelemetryService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerSetupService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerMgmtTelemetryServiceTest.java
  config/checkstyle/checkstyle-suppressions.xml
  core/src/main/java/com/sequenceiq/cloudbreak/core/cluster/ClusterBuilderService.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/TelemetryApiConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/config/FreeIpaConfigService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/flow/FreeIpaInstallService.java
  freeipa/src/main/resources/freeipa-salt/pillar/top.sls
  freeipa/src/test/java/com/sequenceiq/freeipa/service/freeipa/config/FreeIpaConfigServiceTest.java
  orchestrator-salt/src/main/resources/salt-common/pillar/proxy/proxy.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/databus_metering.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/output_databus.conf.j2
Labels: enhancement

#7826 CB-6647. Validate anonymization rules regex before creation.
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/telemetry/endpoint/AccountTelemetryEndpoint.java
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/telemetry/model/request/TestAnonymizationRuleRequest.java
  environment/src/main/java/com/sequenceiq/environment/telemetry/service/AccountTelemetryService.java
  environment/src/main/java/com/sequenceiq/environment/telemetry/v1/controller/AccountTelemetryController.java
  environment/src/test/java/com/sequenceiq/environment/telemetry/service/AccountTelemetryServiceTest.java
Labels: enhancement

#7866 Merge rc-2.20 to master
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/GrpcUmsClient.java
  core/src/test/java/com/sequenceiq/cloudbreak/orchestrator/SimpleOrchestratorBootstrapRunnerTest.java
  environment-api/src/main/java/com/sequenceiq/environment/api/doc/environment/EnvironmentOpDescription.java
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/environment/endpoint/EnvironmentEndpoint.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentModificationService.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/EnvironmentController.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/converter/EnvironmentApiConverter.java
  environment/src/test/java/com/sequenceiq/environment/environment/service/EnvironmentModificationServiceTest.java
  orchestrator-api/src/main/java/com/sequenceiq/cloudbreak/orchestrator/OrchestratorBootstrapRunner.java
  orchestrator-salt/build.gradle
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltErrorResolver.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestrator.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/client/SaltConnector.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/poller/SaltJobIdTracker.java
  orchestrator-salt/src/main/resources/salt/errormessages.yaml
  orchestrator-salt/src/test/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltErrorResolverTest.java
  orchestrator-salt/src/test/java/com/sequenceiq/cloudbreak/orchestrator/salt/poller/SaltJobIdTrackerTest.java
Labels: merge

#7875 CB-6747. Add empty check for anonymization rule (value)
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/AnonymizationRule.java
Labels: enhancement

#7874 CB-6730. Instance groups are not listed in stack response if instancence metadata is attached to it
  core/src/main/java/com/sequenceiq/cloudbreak/repository/InstanceGroupRepository.java
Labels: bug

#7910 CB-5952. Fix schema registry configs for 7.1.0
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/kafka/KafkaDatahubConfigProvider.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/schemaregistry/SchemaRegistryServiceConfigProvider.java
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/kafka/KafkaDatahubConfigProviderTest.java
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/schemaregistry/SchemaRegistryServiceConfigProviderTest.java
Labels: bug

#7912 CB-6800. Log collection: make salt logs processing configurable (dbus -> disable by default)
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigView.java
  freeipa/src/main/resources/freeipa-salt/salt/fluent/template/input.conf.j2
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/telemetry/TelemetryTestDto.java
  orchestrator-salt/src/main/resources/salt-common/pillar/fluent/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/settings.sls
  orchestrator-salt/src/main/resources/salt/salt/fluent/template/input.conf.j2
Labels: enhancement

#7914 CB-6808. Removing old metering rpm is not required anymore.
  orchestrator-salt/src/main/resources/salt/salt/metering/init.sls
Labels: enhancement

#7932 CB-6816. Do not downgrade fluent plugins on newer images.
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/check_fluent_plugins.sh.j2
Labels: bug
