Repository hortonworks/cloudbreak, pull requests merged in 2020-02, with the labels that each got.

#7182 CB-5236. Increase number of open files for td-agent (make it persistent after restart)
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/override.conf.j2
Labels: enhancement

#7199 CB-5244. Rename clusterDeploymentLogsReport to clusterLogsCollection
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/base/FeaturesBase.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/doc/TelemetryModelDescription.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/Telemetry.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/TelemetryConfiguration.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigService.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigView.java
  common/src/test/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigServiceTest.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/doc/ModelDescriptions.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/altus/AltusMachineUserService.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/altus/AltusMachineUserServiceTest.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/StackRequestManifester.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/telemetry/EnvironmentFeatures.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/TelemetryApiConverter.java
  environment/src/test/java/com/sequenceiq/environment/environment/v1/TelemetryApiConverterTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/telemetry/TelemetryConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/termination/handler/MachineUserRemoveHandler.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/flow/FreeIpaInstallService.java
  freeipa/src/main/resources/freeipa-salt/salt/fluent/template/input.conf.j2
  freeipa/src/test/java/com/sequenceiq/freeipa/converter/telemetry/TelemetryConverterTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/telemetry/TelemetryTestDto.java
  orchestrator-salt/src/main/resources/salt-common/pillar/fluent/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/output_databus.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/td-agent.conf.j2
  orchestrator-salt/src/main/resources/salt/salt/fluent/template/input.conf.j2
Labels: enhancement

#7201 CB-5114 Edit SSH key in environment
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/PublicKeyConnector.java
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/publickey/PublicKeyDescribeRequest.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsPublicKeyConnector.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/creation/handler/PublicKeyCreationHandler.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/deletion/handler/PublicKeyDeleteHandler.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentModificationService.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentResourceService.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentService.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/EnvironmentApiConverter.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/EnvironmentValidatorService.java
  environment/src/test/java/com/sequenceiq/environment/environment/flow/creation/handler/PublicKeyCreationHandlerTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/flow/deletion/handler/PublicKeyDeleteHandlerTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/service/EnvironmentModificationServiceTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/service/EnvironmentResourceServiceTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/validation/EnvironmentValidatorServiceTest.java
Labels: wolf

#7224 CB-5303. Add stop telemetry agents action before termination.
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/recipe/StackPreTerminationHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/flow/telemetry/TelemetryAgentService.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/cluster/flow/telemetry/TelemetryAgentServiceTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/termination/StackTerminationEvent.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/termination/StackTerminationFlowConfig.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/termination/StackTerminationState.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/termination/action/StopTelemetryAgentAction.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/termination/event/telemetry/StopTelemetryAgentFinished.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/termination/event/telemetry/StopTelemetryAgentRequest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/termination/handler/StopTelemetryAgentHandler.java
  freeipa/src/main/java/com/sequenceiq/freeipa/orchestrator/StackBasedExitCriteriaModel.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/TelemetryAgentService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/TelemetryAgentServiceTest.java
  orchestrator-api/src/main/java/com/sequenceiq/cloudbreak/orchestrator/host/HostOrchestrator.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestrator.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/poller/checker/StateAllRunner.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/states/SaltStates.java
Labels: bug

#7233 CSP-908 CSP DataHub creation fails on 7.1 stack
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/kafka/KafkaRangerConfigProvider.java
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/kafka/KafkaRangerConfigProviderTest.java
Labels: bug

#7256 Github workflow to add SQL label
  .github/labeler.yml
  .github/workflows/sql.yml
Labels: SQL

#7254 CB-5419 Optimize Stack Query
  cloud-common/src/main/java/com/sequenceiq/cloudbreak/common/type/ClusterManagerState.java
  core/src/main/java/com/sequenceiq/cloudbreak/job/StackJobInitializer.java
  core/src/main/java/com/sequenceiq/cloudbreak/job/StackStatusCheckerJob.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/flow/StackSyncService.java
  core/src/test/java/com/sequenceiq/cloudbreak/job/StackStatusCheckerJobTest.java
  status-checker/src/main/java/com/sequenceiq/statuschecker/service/JobService.java
Labels: aws_e2e_test

#7280 Fix intermittent IT Upscale issue
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/clouderamanager/CMUpscaleWithHttp500ResponsesTest.java
Labels: bug

#7255 CB-5408. Apply anonymization rules on td-agent configs (by Salt)
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/GrpcUmsClient.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/service/AltusIAMService.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/AnonymizationRule.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigService.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigView.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecorator.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/altus/AltusAnonymizationRulesService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecoratorTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/AltusAnonymizationRulesService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/flow/FreeIpaInstallService.java
  orchestrator-salt/src/main/resources/salt-common/pillar/fluent/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/filter.conf.j2
Labels: enhancement

#7130 CB-5146 - cloudbreak service metrics
  common/src/main/java/com/sequenceiq/cloudbreak/common/metrics/AbstractMetricService.java
  common/src/main/java/com/sequenceiq/cloudbreak/common/metrics/MetricService.java
  common/src/main/java/com/sequenceiq/cloudbreak/common/metrics/type/MetricTag.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/view/StackView.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/provision/ClusterCreationActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/start/ClusterStartActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/stop/ClusterStopActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/upscale/ClusterUpscaleActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/provision/action/StackCreationActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/start/StackStartActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/stop/StackStopActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/termination/StackTerminationFailureAction.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/upscale/StackUpscaleActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/metrics/CloudbreakMetricService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/metrics/CloudbreakMetricTag.java
  environment/src/main/java/com/sequenceiq/environment/metrics/EnvironmentMetricService.java
  environment/src/main/java/com/sequenceiq/environment/metrics/EnvironmentMetricTag.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/DummyMetricService.java
  redbeams/src/main/java/com/sequenceiq/redbeams/service/DummyMetricService.java
Labels: wolf

#7332 CB-5636. E2E tests: ABFS logs are missing from idbroker host.
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigView.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/StackRequestManifester.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/StackRequestManifesterTest.java
  orchestrator-salt/src/main/resources/salt-common/pillar/fluent/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/output.conf.j2
Labels: bug

#7246 CB-5356 Add CM ignore flag to 7.1 deployments
  autoscale/src/main/java/com/sequenceiq/periscope/monitor/evaluator/cm/ClouderaManagerHostHealthEvaluator.java
  client-cm/src/main/java/com/sequenceiq/cloudbreak/cm/client/ClouderaManagerApiClientProvider.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerClusterStatusService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerDecomissioner.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerSecurityService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerSetupService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerHostStatusChecker.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerClusterStatusServiceTest.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerDecommisionerTest.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationServiceTest.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerSecurityServiceTest.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerHostStatusCheckerTest.java
  gradle.properties
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/mock/SetupCmScalingMock.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/mock/model/ClouderaManagerMock.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/KerberizedStackCreationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/KerberosConfigTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/LdapClusterTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/TerminationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/clouderamanager/CMUpscaleWithHttp500ResponsesTest.java
  integration-test/src/main/java/com/sequenceiq/it/util/cleanup/ParcelMockActivatorUtil.java
  integration-test/src/main/resources/testsuites/e2e/aws-distrox-tests.yaml
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/CMRepositoryVersionUtil.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/CmTemplateProcessor.java
Labels: aws_e2e_test

#7355 CB-5647 - Update NiFi Version in Services Preview after selecting the nifi template
  core/src/main/resources/application.yml
  template-manager-cmtemplate/src/main/resources/cloudera-manager-template/cdh/7.1.json
Labels: merge, wolf

#7307 CB-5298 – Azure environment creation: result of subnet fetch not fully checked
  common/src/main/java/com/sequenceiq/cloudbreak/util/NullUtil.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/creation/handler/EnvironmentValidationHandler.java
  environment/src/main/java/com/sequenceiq/environment/environment/repository/EnvironmentRepository.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentCreationService.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentResourceService.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentService.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/EnvironmentValidatorService.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/network/AwsEnvironmentNetworkValidator.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/network/AzureEnvironmentNetworkValidator.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/network/EnvironmentNetworkValidator.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/network/MockEnvironmentNetworkValidator.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/network/YarnEnvironmentNetworkValidator.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/validators/EnvironmentNetworkProviderValidator.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/validators/NetworkCreationValidator.java
  environment/src/main/java/com/sequenceiq/environment/network/CloudNetworkService.java
  environment/src/main/java/com/sequenceiq/environment/network/NetworkService.java
  environment/src/main/java/com/sequenceiq/environment/network/dto/NetworkDto.java
  environment/src/main/java/com/sequenceiq/environment/platformresource/v1/converter/CloudAccessConfigsToPlatformAccessConfigsV1ResponseConverter.java
  environment/src/test/java/com/sequenceiq/environment/environment/service/EnvironmentCreationServiceTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/validation/network/AwsEnvironmentNetworkValidatorTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/validation/network/AzureEnvironmentNetworkValidatorTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/validation/network/NetworkTestUtils.java
  environment/src/test/java/com/sequenceiq/environment/environment/validation/network/YarnEnvironmentNetworkValidatorTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/validation/validators/NetworkCreationValidatorTest.java
  environment/src/test/java/com/sequenceiq/environment/network/CloudNetworkServiceTest.java
  environment/src/test/java/com/sequenceiq/environment/network/NetworkServiceTest.java
Labels: aws_e2e_test, merge

#7367 CB-5659 re-enabling testcase skipped. Also making the Junit5 testcases.
  datalake/build.gradle
  freeipa/src/test/java/com/sequenceiq/freeipa/kerberos/KerberosConfigServiceTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/kerberos/v1/CreateKerberosConfigRequestToKerberosConfigConverterTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/ldap/LdapConfigServiceTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/ldap/LdapConfigValidatorTest.java
Labels: DO_NOT_MERGE

#7375 CB-5711. Add zero byte toleration for e2e tests.
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/azure/AzureProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/azurecloudblob/action/AzureCloudBlobClientActions.java
Labels: aws_e2e_test, enhancement

#7379 CB-5750. Drop oldest fluentd chunks - avoid buffer overflow
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/output.conf.j2
Labels: enhancement

#7333 CB-5123 Adds support to change cloud platform at run-time
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProviderProxy.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/MeasuredTestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/AbstractTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/CloudbreakTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/environment/EnvironmentTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/mock/HttpMock.java
Labels: aws_e2e_test

#7385 CB-5619 cloud-aws instanceConnector and authenticator test
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsClient.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsInstanceConnector.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsMetadataCollector.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsSetup.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsStackRequestHelper.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/util/AwsInstanceStatusMapper.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/view/AuthenticatedContextView.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsAuthenticatorTest.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsInstanceConnectorTest.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsMetaDataCollectorTest.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsStackRequestHelperTest.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/component/AwsLaunchTest.java
Labels: aws_e2e_test
