Repository hortonworks/cloudbreak, pull requests merged in 2020-12, with the labels that each got.

#9553 CB-10100. Add GCS support for VM diagnostics
  common-model/src/main/java/com/sequenceiq/common/model/diagnostics/CmDiagnosticsParameters.java
  common-model/src/main/java/com/sequenceiq/common/model/diagnostics/GcsDiagnosticsParameters.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/converter/CmDiagnosticsDataToParameterConverter.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/converter/DiagnosticsDataToParameterConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/validation/diagnostics/DiagnosticsCollectionValidator.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/CmDiagnosticsCollectionActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/DiagnosticsCollectionActions.java
  core/src/test/java/com/sequenceiq/cloudbreak/controller/validation/diagnostics/DiagnosticsCollectionValidatorTest.java
  datalake/src/main/java/com/sequenceiq/datalake/service/validation/diagnostics/DiagnosticsCollectionValidator.java
  datalake/src/test/java/com/sequenceiq/datalake/service/validation/diagnostics/DiagnosticsCollectionValidatorTest.java
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/settings.sls
Labels: enhancement

#9555 CB-10104. GCS logging details are not set for DL/DH.
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverter.java
Labels: bug

#9566 CB-10138. Metering and diagnostics are broken for GCP
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/settings.sls
  orchestrator-salt/src/main/resources/salt/salt/metering/settings.sls
  orchestrator-salt/src/main/resources/salt/salt/metering/template/generate_heartbeats.ini.j2
Labels: bug

#9589 CB-10196. Datalake diagnostics flow only finishes after the flow poll…
  datalake/src/main/java/com/sequenceiq/datalake/flow/diagnostics/SdxDiagnosticsFlowService.java
Labels: bug

#9643 CB-7951. Addendum: add quotes for the wilcdard path for databus bundl…
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/upload.sls
Labels: bug

#9601 CB-9886 Nodes not killed on Cloud Provider if a scale operation fails
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsTaggingService.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsAutoScalingService.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsComputeResourceService.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsUpscaleService.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/encryption/EncryptedSnapshotService.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/resource/AwsVolumeResourceBuilder.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/scheduler/CustomAmazonWaiterProvider.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsAutoScalingServiceTest.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsUpscaleServiceTest.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/resource/AwsVolumeResourceBuilderTest.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzureTerminationHelperService.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/resource/AzureVolumeResourceBuilder.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/upscale/AzureUpscaleService.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/resource/AzureVolumeResourceBuilderTest.java
  cloud-template/src/main/java/com/sequenceiq/cloudbreak/cloud/template/compute/CloudFailureContext.java
  cloud-template/src/main/java/com/sequenceiq/cloudbreak/cloud/template/compute/CloudFailureHandler.java
  cloud-template/src/main/java/com/sequenceiq/cloudbreak/cloud/template/compute/ComputeResourceService.java
  cloud-template/src/main/java/com/sequenceiq/cloudbreak/cloud/template/compute/ResourceCreateThread.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerMgmtSetupService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/ClusterRepairService.java
Labels: aws_e2e_test

#9671 CB-10406. Diagnostics: Support destination for DL/DH fails with clust…
  core/src/main/java/com/sequenceiq/cloudbreak/service/altus/AltusMachineUserService.java
Labels: bug
