Repository hortonworks/cloudbreak, pull requests merged in 2020-09, with the labels that each got.

#8889 CB-8123. DH: Metering-related workload changes
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/TelemetryConfiguration.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigService.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigView.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/metering/MeteringConfigService.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/metering/MeteringConfigView.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/metering/MeteringConfiguration.java
  common/src/test/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigServiceTest.java
  common/src/test/java/com/sequenceiq/cloudbreak/telemetry/metering/MeteringConfigServiceTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecorator.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecoratorTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/v1/converter/TelemetryApiConverterTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/converter/telemetry/TelemetryConverterTest.java
  orchestrator-salt/src/main/resources/salt-common/pillar/fluent/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/databus_metering.conf.j2
  orchestrator-salt/src/main/resources/salt/pillar/metering/init.sls
  orchestrator-salt/src/main/resources/salt/salt/metering/settings.sls
  orchestrator-salt/src/main/resources/salt/salt/metering/template/generate_heartbeats.ini.j2
Labels: enhancement

#8881 CB-8555 Introduce Await For Flow exceptions to TestContext
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeIpaRefreshAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxDeleteAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxDeleteInternalAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxForceDeleteAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxForceDeleteInternalAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxRefreshInternalAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxRepairAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxRepairInternalAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxStartAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxStopAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxUpgradeAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v1/distrox/DistroXCreateAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v1/distrox/DistroXRefreshAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v1/distrox/DistroXScaleAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v1/distrox/DistroXStartAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v1/distrox/DistroXStopAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v4/environment/EnvironmentRefreshAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v4/stack/StackCreateAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v4/stack/StackScalePostAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/EnvironmentTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/FreeIpaTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/SdxTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/MeasuredTestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/DistroXTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/environment/EnvironmentTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIpaTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxInternalTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/EnvironmentCreateTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/InternalSdxDistroxTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/FlowUtil.java
Labels: enhancement, raven, test

#8928 CB-8667 Add all the deleted resources to the error message
  integration-test/src/main/java/com/sequenceiq/it/util/cleanup/CleanupUtil.java
Labels: bug, raven, test

#8916 CB-8646 PTR record added to another zone
  orchestrator-salt/src/main/resources/salt/salt/sssd/template/add_dns_record.j2
Labels: DO_NOT_MERGE, support

#8913 CB-8611. Implement CB flow for CM based diagnostics collection (DistroX)
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterApi.java
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterDiagnosticsService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerConnector.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerDiagnosticsService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/ClouderaManagerPollingServiceProvider.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerCollectDiagnosticsListenerTask.java
  common-model/src/main/java/com/sequenceiq/common/api/diagnostics/BaseCmDiagnosticsCollectionRequest.java
  common-model/src/main/java/com/sequenceiq/common/model/diagnostics/CmDiagnosticsParameters.java
  common-model/src/main/java/com/sequenceiq/common/model/diagnostics/DiagnosticParameters.java
  common/src/main/java/com/sequenceiq/cloudbreak/event/ResourceEvent.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/converter/CmDiagnosticsDataToParameterConverter.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/converter/DiagnosticsDataToParameterConverter.java
  common/src/main/resources/messages/messages.properties
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/diagnostics/DiagnosticsV4Endpoint.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/diagnostics/docs/DiagnosticsOperationDescriptions.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/diagnostics/model/CmDiagnosticsCollectionRequest.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/endpoint/DistroXV1Endpoint.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/model/diagnostics/docs/DiagnosticsOperationDescriptions.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/model/diagnostics/model/CmDiagnosticsCollectionV1Request.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/DiagnosticsV4Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/CmDiagnosticsCollectionActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/CmDiagnosticsCollectionState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/DiagnosticsFlowService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/config/CmDiagnosticsCollectionFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/event/CmDiagnosticsCollectionEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/event/CmDiagnosticsCollectionFailureEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/event/CmDiagnosticsCollectionHandlerSelectors.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/event/CmDiagnosticsCollectionStateSelectors.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/handler/CmDiagnosticsCleanupHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/handler/CmDiagnosticsCollectionHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/handler/CmDiagnosticsInitHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/handler/CmDiagnosticsUploadHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/DiagnosticsTriggerService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/ClusterDiagnosticsService.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/controller/DistroXV1Controller.java
  core/src/test/java/com/sequenceiq/cloudbreak/structuredevent/rest/urlparsers/RestUrlParserTest.java
  orchestrator-salt/src/main/resources/salt-common/pillar/filecollector/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/cleanup.sls
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/upload.sls
  orchestrator-salt/src/main/resources/salt/salt/cloudera/manager/init.sls
Labels: enhancement

#8934 CB-8670 Introduce withSkipOnFail to TestDTO cleanup
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeIpaDeleteAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v1/distrox/DistroXForceDeleteAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v4/environment/EnvironmentCascadingDeleteAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v4/kerberos/KerberosDeleteAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v4/ldap/LdapDeleteAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v4/stack/StackForceDeleteAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/CloudbreakTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/audit/AuditTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/blueprint/BlueprintTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/clustertemplate/ClusterTemplateTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/connector/PlatformAccessConfigsTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/connector/PlatformDiskTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/connector/PlatformEncryptionKeysTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/connector/PlatformGatewaysTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/connector/PlatformIpPoolsTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/connector/PlatformNetworksTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/connector/PlatformRegionTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/connector/PlatformSecurityGroupsTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/connector/PlatformSshKeysTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/connector/PlatformVmTypesTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/credential/CredentialTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/environment/EnvironmentTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIpaTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/imagecatalog/ImageCatalogTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/kerberos/KerberosTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/ldap/LdapTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/recipe/RecipeTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxInternalTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/securityrule/SecurityRulesTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/stack/StackTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/stack/StackTestDtoBase.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/util/CloudStorageMatrixTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/util/DeploymentPreferencesTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/util/NotificationTestingTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/util/RepoConfigValidationTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/util/StackMatrixTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/util/TagSpecificationsTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/util/VersionCheckTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/AuditTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/ClusterTemplateTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/EnvironmentChildTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/EnvironmentClusterTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/EnvironmentDatalakeClusterTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/ImageCatalogPrewarmedTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/MockSdxTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/FlowUtil.java
  integration-test/src/main/java/com/sequenceiq/it/util/cleanup/CleanupUtil.java
Labels: bug, raven, test

#8976 CDPCP-2987. Metering ServiceType should be enum instead of string
  orchestrator-salt/src/main/resources/salt/salt/metering/template/generate_heartbeats.ini.j2
Labels: bug

#8982 CB-8754 Introduce the createDefaultImageCatalog setup step to the AwsYcloudHybridCloudTest
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXEncryptedVolumeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/hybrid/AwsYcloudHybridCloudTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/PreconditionSdxE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/spot/AwsDistroXSpotInstanceTest.java
Labels: bug, raven, test

#8986 CB-8611. Missing @Valid annotiation from DiagnosticsEndpoints
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/diagnostics/DiagnosticsV4Endpoint.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/endpoint/DiagnosticsEndpoint.java
Labels: bug

#8996 CB-8754 Introduce the createDefaultImageCatalog setup step to the E2E test
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/AbstractE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXEncryptedVolumeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXImagesTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXScaleTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/hybrid/AwsYcloudHybridCloudTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/ImageValidatorE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/PreconditionSdxE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/spot/AwsDistroXSpotInstanceTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/spot/AwsSdxSpotInstanceTest.java
Labels: bug, raven, test

#8901 CB-8313 making createMachineUser an internalCall,
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/GrpcUmsClient.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/UmsClient.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/service/AltusIAMService.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/service/SharedAltusCredentialProvider.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/security/authentication/UmsAuthenticationService.java
  auth-connector/src/test/java/com/sequenceiq/cloudbreak/auth/security/authentication/UmsAuthenticationServiceTest.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerDatabusService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerDatabusServiceTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/altus/AltusMachineUserService.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/altus/AltusMachineUserServiceTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/AltusMachineUserService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/user/PasswordService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/FreeIpaCreationService.java
Labels: DO_NOT_MERGE

#9015 CB-8790. Support custom (external) cluster CRN & cluster name for metering heart…
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunner.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/flow/FreeIpaInstallService.java
  orchestrator-salt/src/main/resources/salt/salt/metering/settings.sls
  orchestrator-salt/src/main/resources/salt/salt/metering/template/generate_heartbeats.ini.j2
Labels: enhancement

#9033 CB-8859. Filecollector cannot process & redact compressed (.gz/.zip) …
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/template/filecollector.yaml.j2
Labels: bug

#9057 CB-8681 CB-3257 Adding GCS support for telemetry Logging
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/base/LoggingBase.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/doc/TelemetryModelDescription.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/Logging.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/CloudStorageManifester.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/CloudStorageManifesterTest.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/converter/TelemetryApiConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/telemetry/TelemetryConverter.java
  freeipa/src/test/java/com/sequenceiq/freeipa/converter/telemetry/TelemetryConverterTest.java
Labels: needs_review

#9052 CB-8891. Prepare for using cdp-logging-agent instead of td-agent.
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/agent-stop.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/cdp-logging-agent-init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/td-agent-init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/databus_metering.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/databus_monitoring.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/logging-agent.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/output.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/output_databus.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/override.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/post-start.sh.j2
Labels: enhancement

#9020 CB-8717 Add thunderhead datalake-dr service connector
  config/spotbugs/excludeFilter.xml
  datalake-dr-connector/build.gradle
  datalake-dr-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/datalakedr/datalakeDRGrpc.java
  datalake-dr-connector/src/generated/main/java/com/cloudera/thunderhead/service/datalakedr/datalakeDRProto.java
  datalake-dr-connector/src/main/java/com/sequenceiq/cloudbreak/datalakedr/DatalakeDrClient.java
  datalake-dr-connector/src/main/java/com/sequenceiq/cloudbreak/datalakedr/config/DatalakeDrConfig.java
  datalake-dr-connector/src/main/java/com/sequenceiq/cloudbreak/datalakedr/converter/GrpcStatusResponseToDatalakeDrStatusResponseConverter.java
  datalake-dr-connector/src/main/java/com/sequenceiq/cloudbreak/datalakedr/model/DatalakeDrStatusResponse.java
  datalake-dr-connector/src/main/proto/datalakedr.proto
  datalake-dr-connector/src/test/java/com/sequenceiq/cloudbreak/datalakedr/config/DatalakeDrConfigTest.java
  datalake-dr-connector/src/test/java/com/sequenceiq/cloudbreak/datalakedr/converter/GrpcStatusResponseToDatalakeDrStatusResponseConverterTest.java
  datalake/src/main/resources/application.yml
  settings.gradle
Labels: needs_review

#9053 CB-8901: Fix FreeIPA repair with a requested instance
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/downscale/action/FreeIpaDownscaleActions.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/termination/action/TerminationService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/ClusterProxyService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/stack/termination/action/TerminationServiceTest.java
Labels: needs_review

#9091 Cb 2.31.0 merge pr
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsAutoScalingService.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsAutoScalingServiceTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/ClusterServiceRunner.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunner.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/certrenew/ClusterCertificateRedeployHandler.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/bootstrap/service/ClusterServiceRunnerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunnerTest.java
  orchestrator-api/src/main/java/com/sequenceiq/cloudbreak/orchestrator/host/HostOrchestrator.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestrator.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/runner/SaltRunner.java
Labels: DO_NOT_MERGE

#9079 CB-8983. Support fluentd gcs plugin for cdp-logging-agent in FreeIpa/…
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/validation/LoggingRequestValidator.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigService.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigView.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/cloud/CloudStorageFolderResolverService.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/cloud/GcsConfig.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/cloud/GcsConfigGenerator.java
  common/src/test/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigServiceTest.java
  common/src/test/java/com/sequenceiq/cloudbreak/telemetry/fluent/cloud/CloudStorageFolderResolverServiceTest.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/converter/CloudStorageDecorator.java
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/output.conf.j2
Labels: enhancement
