Repository hortonworks/cloudbreak, pull requests merged in 2020-03, with the labels that each got.

#7438 CB-5685 aws tests runs again
  integration-test/src/main/resources/testsuites/e2e/aws-distrox-tests.yaml
Labels: aws_e2e_test

#7451 CB-5546 e2e integration test to validate hybrid cloud functionality
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/ResourcePropertyProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/mock/MockCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/DeletableEnvironmentTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/DeletableRedbeamsTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/DeletableTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/EnvironmentSettingsV4TestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/ImageSettingsTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/blueprint/BlueprintTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/clustertemplate/ClusterTemplateTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/clustertemplate/DistroXTemplateTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/credential/CredentialTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/database/DatabaseTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/database/DatabaseTestTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/database/RedbeamsDatabaseTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/DistroXTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/DistroXTestDtoBase.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/image/DistroXImageTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/environment/EnvironmentTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIPATestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/imagecatalog/ImageCatalogTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/kerberos/KerberosTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/kubernetes/KubernetesTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/ldap/LdapTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/proxy/ProxyTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/recipe/RecipeTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxInternalTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/stack/StackTemplateTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/stack/StackTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/stack/StackTestDtoBase.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/hybrid/AwsYcloudHybridCloudTest.java
  integration-test/src/main/resources/testsuites/e2e/aws-ycloud-hybrid-cloud-tests.yaml
Labels: DO_NOT_MERGE, in progress

#7455 CB-5332 fix multiple termination trigger
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/AutoscaleV4Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/UtilV4Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/CloudbreakFlowInformation.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/ProperTerminationFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/EventParameterFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/FlowCancelService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/ReactorFlowManager.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/ReactorNotifier.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/TerminationTriggerService.java
  core/src/main/java/com/sequenceiq/cloudbreak/job/StackStatusCheckerJob.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/ClusterCommonService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/ClusterCreationSetupService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/StackCommonService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/ClusterService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/flow/ClusterOperationService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/flow/UpdateHostsValidator.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/ha/CloudbreakHaApplication.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/StackService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/flow/StackOperationService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/flow/UpdateNodeCountValidator.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/ReactorFlowManagerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/service/EventParameterFactoryTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/service/FlowCancelServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/service/ReactorNotifierTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/service/TerminationTriggerServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/job/StackStatusCheckerJobTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/ClusterCreationSetupServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/cluster/flow/ClusterOperationServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stack/StackServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stack/flow/StackOperationServiceTest.java
  flow/src/main/java/com/sequenceiq/flow/core/Flow2Handler.java
  flow/src/main/java/com/sequenceiq/flow/core/FlowLogService.java
  flow/src/main/java/com/sequenceiq/flow/core/chain/FlowChains.java
  flow/src/main/java/com/sequenceiq/flow/repository/FlowLogRepository.java
  flow/src/main/java/com/sequenceiq/flow/service/flowlog/FlowLogDBService.java
Labels: aws_e2e_test

#7372 CB-5557. Collect CM related service metrics.
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterSecurityService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerSecurityService.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/Features.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/Telemetry.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/TelemetryClusterDetails.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/TelemetryConfiguration.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigService.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigView.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/monitoring/MonitoringAuthConfig.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/monitoring/MonitoringClusterType.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/monitoring/MonitoringConfigService.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/monitoring/MonitoringConfigView.java
  common/src/test/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigServiceTest.java
  common/src/test/java/com/sequenceiq/cloudbreak/telemetry/monitoring/MonitoringConfigServiceTest.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/cluster/Cluster.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/cluster/ClusterV4RequestToClusterConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecorator.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/cluster/ClusterBuilderService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/flow/telemetry/ClusterMonitoringEngine.java
  core/src/main/resources/schema/app/20200302141501_CB-5557_CM_collect_metrics.sql
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecoratorTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/cluster/flow/telemetry/ClusterMonitoringEngineTest.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/StackRequestManifester.java
  environment/src/test/java/com/sequenceiq/environment/environment/v1/TelemetryApiConverterTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/flow/FreeIpaInstallService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/converter/telemetry/TelemetryConverterTest.java
  orchestrator-api/src/main/java/com/sequenceiq/cloudbreak/orchestrator/host/HostOrchestrator.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestrator.java
  orchestrator-salt/src/main/resources/salt-common/pillar/monitoring/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/scripts/metrics_collector.py
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/scripts/metrics_logger.py
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/scripts/retry.py
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/template/metrics-collector.service.j2
  orchestrator-salt/src/main/resources/salt/pillar/top.sls
  orchestrator-salt/src/main/resources/salt/salt/monitoring/scripts/cm_metrics_collector.py
  orchestrator-salt/src/main/resources/salt/salt/monitoring/template/metrics-collector.yaml.j2
Labels: enhancement

#7477 CB-5332 fix multiple termination trigger
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/AutoscaleV4Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/UtilV4Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/CloudbreakFlowInformation.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/ProperTerminationFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/EventParameterFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/FlowCancelService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/ReactorFlowManager.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/ReactorNotifier.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/TerminationTriggerService.java
  core/src/main/java/com/sequenceiq/cloudbreak/job/StackStatusCheckerJob.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/ClusterCommonService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/ClusterCreationSetupService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/StackCommonService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/ClusterService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/flow/ClusterOperationService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/flow/UpdateHostsValidator.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/ha/CloudbreakHaApplication.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/StackService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/flow/StackOperationService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/flow/UpdateNodeCountValidator.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/ReactorFlowManagerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/service/EventParameterFactoryTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/service/FlowCancelServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/service/ReactorNotifierTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/service/TerminationTriggerServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/job/StackStatusCheckerJobTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/ClusterCreationSetupServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/cluster/flow/ClusterOperationServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stack/StackServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stack/flow/StackOperationServiceTest.java
  flow/src/main/java/com/sequenceiq/flow/core/Flow2Handler.java
  flow/src/main/java/com/sequenceiq/flow/core/FlowLogService.java
  flow/src/main/java/com/sequenceiq/flow/core/chain/FlowChains.java
  flow/src/main/java/com/sequenceiq/flow/core/config/Flow2Config.java
  flow/src/main/java/com/sequenceiq/flow/repository/FlowLogRepository.java
  flow/src/main/java/com/sequenceiq/flow/service/flowlog/FlowLogDBService.java
  flow/src/test/java/com/sequenceiq/flow/core/config/Flow2ConfigTest.java
Labels: aws_e2e_test

#7576 CB-6062 Optimize domain for freeipa statuscheck
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/cloud/InstanceMetaDataToCloudInstanceConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/entity/Image.java
  freeipa/src/main/java/com/sequenceiq/freeipa/entity/InstanceGroup.java
  freeipa/src/main/java/com/sequenceiq/freeipa/entity/projection/StackAuthenticationView.java
  freeipa/src/main/java/com/sequenceiq/freeipa/repository/ImageRepository.java
  freeipa/src/main/java/com/sequenceiq/freeipa/repository/InstanceMetaDataRepository.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/image/ImageService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/instance/InstanceMetaDataService.java
Labels: aws_e2e_test

#7571 CB-5892 Testing for Datahub External Database feature
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/response/cluster/ClusterV4Response.java
  core-model/src/test/java/com/sequenceiq/cloudbreak/TestUtil.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/cluster/ClusterToClusterV4ResponseConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/DatabaseCriteriaResolver.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/ExternalDatabaseService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/provision/handler/CreateExternalDatabaseHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/provision/handler/EnvironmentValidator.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/externaldatabase/model/DatabaseServerParameter.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/stack/StackToStackV4ResponseConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v4/stacks/database/DatabaseAvailabilityTypeToDatabaseResponseConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/ClusterPollingCheckerServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/DatabaseCriteriaResolverTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/DatabaseObtainerServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/ExternalDatabaseServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/provision/ExternalDatabaseCreationActionsTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/provision/action/AbstractExternalDatabaseCreationActionTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/provision/handler/CreateExternalDatabaseHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/provision/handler/EnvironmentValidatorTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/terminate/ExternalDatabaseTerminationActionsTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/terminate/action/AbstractExternalDatabaseTerminationActionTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/terminate/handler/TerminateExternalDatabaseHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/cluster/flow/ClusterTerminationServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/externaldatabase/AwsDatabaseServerParameterDecoratorTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/rdsconfig/RedbeamsDbServerConfigurerTest.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/converter/DistroXDatabaseRequestToStackDatabaseRequestConverterTest.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/converter/DistroXV1RequestToStackV4RequestConverterTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/BaseMicroserviceClientDependentAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/distrox/DistroXExternalDatabaseAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/DistroXTestDtoBase.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/externaldatabase/DistroXExternalDatabaseTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXTest.java
Labels: merge, pending E2E

#7448 [RE::] CB-5298 - Azure environment creation: result of subnet fetch not fully checked
  common/src/main/java/com/sequenceiq/cloudbreak/util/NullUtil.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/creation/handler/EnvironmentValidationHandler.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/creation/handler/NetworkCreationHandler.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentCreationService.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentResourceService.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentService.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/EnvironmentValidatorService.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/network/AwsEnvironmentNetworkValidator.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/network/AzureEnvironmentNetworkValidator.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/network/EnvironmentNetworkValidator.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/network/MockEnvironmentNetworkValidator.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/network/YarnEnvironmentNetworkValidator.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/validators/EnvironmentNetworkProviderValidator.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/validators/NetworkCreationValidator.java
  environment/src/main/java/com/sequenceiq/environment/network/CloudNetworkService.java
  environment/src/main/java/com/sequenceiq/environment/network/NetworkService.java
  environment/src/main/java/com/sequenceiq/environment/network/dao/domain/RegistrationType.java
  environment/src/main/java/com/sequenceiq/environment/network/dto/NetworkDto.java
  environment/src/main/java/com/sequenceiq/environment/platformresource/v1/converter/CloudAccessConfigsToPlatformAccessConfigsV1ResponseConverter.java
  environment/src/test/java/com/sequenceiq/environment/environment/service/EnvironmentCreationServiceTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/validation/network/AwsEnvironmentNetworkValidatorTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/validation/network/AzureEnvironmentNetworkValidatorTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/validation/network/NetworkTestUtils.java
  environment/src/test/java/com/sequenceiq/environment/environment/validation/network/YarnEnvironmentNetworkValidatorTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/validation/validators/NetworkCreationValidatorTest.java
  environment/src/test/java/com/sequenceiq/environment/network/CloudNetworkServiceTest.java
  environment/src/test/java/com/sequenceiq/environment/network/NetworkServiceTest.java
Labels: wolf

#7604 E2E: Add telemetry for freeipa tests
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIPATestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIPATests.java
Labels: aws_e2e_test

#7588 CB-3864 subnet selection refactor
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/DefaultNetworkConnector.java
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/NetworkConnector.java
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/SubnetSelectionParameters.java
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/SubnetSelectionResult.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNetworkConnector.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/conf/AwsConfig.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/service/subnetselector/SubnetFilterStrategy.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/service/subnetselector/SubnetFilterStrategyMultiplePreferPrivate.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/service/subnetselector/SubnetFilterStrategyMultiplePreferPublic.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/service/subnetselector/SubnetFilterStrategyType.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/service/subnetselector/SubnetSelectorService.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/service/subnetselector/SubnetSelectorStrategy.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/service/subnetselector/SubnetSelectorStrategyMultiplePreferPrivate.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/service/subnetselector/SubnetSelectorStrategyMultiplePreferPublic.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/service/subnetselector/SubnetSelectorStrategySinglePreferPrivate.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/service/subnetselector/SubnetSelectorStrategySinglePreferPublic.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNetworkConnectorTest.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/service/subnetselector/SubnetFilterStrategyMultiplePreferPrivateTest.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/service/subnetselector/SubnetFilterStrategyMultiplePreferPublicTest.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/service/subnetselector/SubnetSelectorServiceTest.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/service/subnetselector/SubnetSelectorStrategyMultiplePreferPrivateTest.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/service/subnetselector/SubnetSelectorStrategyMultiplePreferPublicTest.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/service/subnetselector/SubnetSelectorStrategySinglePreferPrivateTest.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/service/subnetselector/SubnetSelectorStrategySinglePreferPublicTest.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/service/subnetselector/SubnetSelectorStrategyTest.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/service/subnetselector/SubnetSelectorStrategyTypeTest.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzureNetworkConnector.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/subnet/selector/AzureSubnetSelectorService.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/AzureNetworkConnectorTest.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/subnet/selector/AzureSubnetSelectorServiceTest.java
  cloud-mock/src/main/java/com/sequenceiq/cloudbreak/cloud/mock/MockNetworkConnector.java
  environment/src/main/java/com/sequenceiq/environment/network/dto/NetworkDto.java
  environment/src/main/java/com/sequenceiq/environment/network/service/SubnetIdProvider.java
  environment/src/test/java/com/sequenceiq/environment/network/service/SubnetIdProviderTest.java
  redbeams/src/main/java/com/sequenceiq/redbeams/service/network/SubnetChooserService.java
  redbeams/src/main/java/com/sequenceiq/redbeams/service/network/SubnetListerService.java
  redbeams/src/test/java/com/sequenceiq/redbeams/service/network/SubnetChooserServiceTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/service/network/SubnetListerServiceTest.java
Labels: wolf

#7530 CB-5590 spark3 added
  core-api/src/main/resources/definitions/exposed-services.json
  core-api/src/test/java/com/sequenceiq/cloudbreak/api/service/ExposedServiceCollectorTest.java
  core/src/main/resources/application.yml
  orchestrator-salt/src/main/resources/salt/salt/gateway/config/cm/topology.xml.j2
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/spark/Spark3OnYarnRoleConfigProvider.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/spark/SparkRoles.java
  template-manager-cmtemplate/src/main/resources/cloudera-manager-template/cdh/7.0.1.json
  template-manager-cmtemplate/src/main/resources/cloudera-manager-template/cdh/7.0.2.json
  template-manager-cmtemplate/src/main/resources/cloudera-manager-template/cdh/7.0.json
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/spark/Spark3OnYarnRoleConfigProviderTest.java
  template-manager-cmtemplate/src/test/resources/input/clouderamanager-ds.bp
Labels: wolf

#7673 CB-6321 S3 endpoint setup during Env setup missing on master
  cloud-aws/src/main/resources/templates/aws-cf-network.ftl
  cloud-aws/src/test/resources/json/aws-cf-network-private-subnet.json
  cloud-aws/src/test/resources/json/aws-cf-network.json
Labels: DO_NOT_MERGE

#7688 CB-6035: FMS should relogin on failures
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsInstanceConnector.java
  freeipa-client/src/main/java/com/sequenceiq/freeipa/client/FreeIpaClient.java
  freeipa-client/src/main/java/com/sequenceiq/freeipa/client/FreeIpaClientException.java
  freeipa-client/src/main/java/com/sequenceiq/freeipa/client/auth/InvalidPasswordException.java
  freeipa-client/src/main/java/com/sequenceiq/freeipa/client/auth/InvalidUserOrRealmException.java
  freeipa-client/src/main/java/com/sequenceiq/freeipa/client/auth/PasswordExpiredException.java
  freeipa/src/main/java/com/sequenceiq/freeipa/client/FreeIpaClientBuilder.java
  freeipa/src/main/java/com/sequenceiq/freeipa/entity/Stack.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/GatewayConfigService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/TlsSecurityService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/FreeIpaClientFactory.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/FreeIpaHealthDetailsService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/sync/FreeipaChecker.java
  freeipa/src/test/java/com/sequenceiq/freeipa/client/FreeIpaClientTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/freeipa/FreeIpaClientFactoryTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/stack/FreeIpaHealthServiceTest.java
Labels: bug

#7700 CB-6376 azure_instance_msi missing from backup configuration for FreeIPA
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/config/FreeIpaBackupConfigView.java
Labels: bug
