Repository hortonworks/cloudbreak, pull requests merged in 2020-06, with the labels that each got.

#7943 CB-6830 Run AWS e2e tests on spot instances
  integration-test/src/main/java/com/sequenceiq/it/TestParameter.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/AbstractCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/config/SpotProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/environment/EnvironmentTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIPATestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/AbstractIntegrationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/AbstractE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/UseSpotInstancesExampleTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXEncryptedVolumeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXImagesTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/environment/BasicEnvironmentTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/environment/NewNetworkEnvironmentTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/hybrid/AwsYcloudHybridCloudTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/InternalSdxDistroxTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/InternalSdxTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxCloudStorageTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxImagesTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxRepairTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/spot/AwsDistroXSpotInstanceTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/spot/AwsFreeIpaSpotInstanceTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/spot/AwsSdxSpotInstanceTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/stack/StackCreateTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/spot/SpotRetryOnceTestListener.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/spot/SpotRetryUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/spot/SpotUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/spot/UseSpotInstances.java
  integration-test/src/main/resources/application.yml
  integration-test/src/main/resources/testsuites/e2e/aws-e2e-tests.yaml
Labels: aws_e2e_test, wolf

#7933 CB-6381 deterministic uid/gid assignments to Hadoop users by script
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterApi.java
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterModificationService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerConfigService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerKerberosService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerSetupService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerConfigServiceTest.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerKerberosServiceTest.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationServiceTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/cluster/ClusterManagerUpgradeService.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/ClusterStopHandler.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/cluster/ClusterManagerUpgradeServiceTest.java
  orchestrator-salt/src/main/resources/salt/salt/cloudera/agent/init.sls
  orchestrator-salt/src/main/resources/salt/salt/cloudera/agent/upgrade.sls
Labels: duck

#8199 ENGESC-2450 Cannot upload freeipa backup with AES256 encryption
  freeipa/src/main/resources/freeipa-salt/salt/freeipa/scripts/freeipa_backup
Labels: aws_e2e_test

#8202 CB-7329 Cannot run aws-e2e job
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/stack/StackTestDtoBase.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/stack/BasicStackTests.java
  integration-test/src/main/resources/testsuites/e2e/aws-distrox-tests.yaml
Labels: aws_e2e_test

#8045 CB-7033 Add authorization to datalake
  authorization-common-api/src/main/java/com/sequenceiq/authorization/resource/AuthorizationResourceAction.java
  authorization-common/src/main/resources/actions.json
  datalake-api/src/main/java/com/sequenceiq/sdx/api/model/SdxClusterResponse.java
  datalake/src/main/java/com/sequenceiq/datalake/controller/sdx/SdxController.java
  datalake/src/main/java/com/sequenceiq/datalake/controller/sdx/SdxInternalController.java
  datalake/src/main/java/com/sequenceiq/datalake/controller/sdx/SdxUpgradeController.java
  datalake/src/main/java/com/sequenceiq/datalake/repository/SdxClusterRepository.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxService.java
Labels: raven

#8232 CB-7346. FluentD - get rid of s3 getObject requirement.
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/output.conf.j2
Labels: enhancement

#8257 CB-7405: Add a force uninstall and force-join option to FreeIPA replica install
  freeipa/src/main/resources/freeipa-salt/salt/freeipa/scripts/freeipa_replica_install.sh
Labels: bug

#8261 CB-7436. Persist CRN tags on VM Nodes (FreeIPA/DataLake/DataHub).
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunner.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/flow/FreeIpaInstallService.java
  freeipa/src/main/resources/freeipa-salt/pillar/top.sls
  freeipa/src/main/resources/freeipa-salt/salt/top.sls
  orchestrator-salt/src/main/resources/salt-common/pillar/tags/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/tags/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/tags/template/cdp_info.json.j2
  orchestrator-salt/src/main/resources/salt/pillar/top.sls
  orchestrator-salt/src/main/resources/salt/salt/top.sls
Labels: enhancement

#8347 CB-7576: Reduce the max nodes of FreeIPA to 3
  freeipa/src/main/resources/application.yml
Labels: bug

#8335 CB-7464 - Env is startable/stoppable but it does not exists on provider side
  environment/src/main/java/com/sequenceiq/environment/environment/flow/start/handler/StartFreeIpaHandler.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/stop/handler/StopFreeIpaHandler.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/freeipa/FreeIpaService.java
  environment/src/test/java/com/sequenceiq/environment/environment/flow/start/handler/StartFreeIpaHandlerTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/flow/stop/handler/StopFreeIpaHandlerTest.java
Labels: DO_NOT_MERGE

#8439 CB-7727: Fix FreeIPA backup script for quoting issues and ret code
  freeipa/src/main/resources/freeipa-salt/salt/freeipa/scripts/freeipa_backup
Labels: bug

#8284 CB-7215 Add CB service changes to perform database backup/restore
  common/src/main/java/com/sequenceiq/cloudbreak/event/ResourceEvent.java
  common/src/main/resources/messages/messages.properties
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/common/DetailedStackStatus.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/common/Status.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/doc/OperationDescriptions.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/StackV4Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/validation/dr/BackupRestoreV4RequestValidator.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/scheduler/StatusToPollGroupConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/CloudbreakFlowInformation.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/dr/AbstractBackupRestoreActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/dr/BackupRestoreContext.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/dr/BackupRestoreStatusService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/dr/backup/DatabaseBackupActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/dr/backup/DatabaseBackupEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/dr/backup/DatabaseBackupFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/dr/backup/DatabaseBackupState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/dr/restore/DatabaseRestoreActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/dr/restore/DatabaseRestoreEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/dr/restore/DatabaseRestoreFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/dr/restore/DatabaseRestoreState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/event/DatabaseBackupTriggerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/event/DatabaseRestoreTriggerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/ReactorFlowManager.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/dr/BackupRestoreEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/dr/backup/DatabaseBackupFailedEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/dr/backup/DatabaseBackupRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/dr/backup/DatabaseBackupSuccess.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/dr/restore/DatabaseRestoreFailedEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/dr/restore/DatabaseRestoreRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/dr/restore/DatabaseRestoreSuccess.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/dr/BackupRestoreSaltConfigGenerator.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/dr/backup/DatabaseBackupHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/dr/restore/DatabaseRestoreHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/DatabaseBackupRestoreService.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/StackOperations.java
  core/src/test/java/com/sequenceiq/cloudbreak/controller/validation/dr/BackupRestoreV4RequestValidatorTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/ReactorFlowManagerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/dr/BackupRestoreStatusServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/dr/BackupRestoreSaltConfigGeneratorTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/DatabaseBackupRestoreServiceTest.java
  orchestrator-api/src/main/java/com/sequenceiq/cloudbreak/orchestrator/host/HostOrchestrator.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestrator.java
Labels: can_be_merged
