Repository hortonworks/cloudbreak, pull requests merged in 2020-05, with the labels that each got.

#7915 CB-6798 Environment service should not deploy nat gateway if private …
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsCreatedSubnetProvider.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNetworkConnector.java
  cloud-aws/src/main/resources/templates/aws-cf-network.ftl
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsCreatedSubnetProviderTest.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNetworkCfTemplateProviderTest.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNetworkConnectorTest.java
  cloud-aws/src/test/resources/json/aws-cf-network-private-subnet.json
  cloud-aws/src/test/resources/json/aws-cf-network.json
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzureNetworkConnector.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzureSubnetRequestProvider.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/AzureNetworkConnectorTest.java
  environment/src/main/java/com/sequenceiq/environment/network/service/DefaultSubnetCidrProvider.java
  environment/src/main/java/com/sequenceiq/environment/network/service/NetworkCreationRequestFactory.java
  environment/src/main/java/com/sequenceiq/environment/network/service/SubnetCidrProvider.java
  environment/src/main/java/com/sequenceiq/environment/network/service/extended/AwsSubnetCidrProvider.java
  environment/src/main/java/com/sequenceiq/environment/network/service/extended/AzureSubnetCidrProvider.java
  environment/src/test/java/com/sequenceiq/environment/network/service/NetworkCreationRequestFactoryTest.java
  environment/src/test/java/com/sequenceiq/environment/network/service/extended/AwsSubnetCidrProviderTest.java
Labels: 2.20

#7957 CB-6879: Redundant full backup created on Azure FreeIPA HA hosts
  freeipa/src/main/resources/freeipa-salt/salt/freeipa/backups.sls
Labels: bug

#7988 CB-6920. Use proper error message in case of fluent version incompatibility (No network)
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/check_fluent_plugins.sh.j2
Labels: enhancement

#7941 CB-6833. Send node metrics to CdpVmMetrics kinesis stream (by fluentd).
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/base/FeaturesBase.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/doc/TelemetryModelDescription.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/Telemetry.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigService.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigView.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/altus/AltusMachineUserService.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverterTest.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/StackRequestManifester.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/telemetry/EnvironmentFeatures.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/converter/TelemetryApiConverter.java
  environment/src/main/java/com/sequenceiq/environment/telemetry/service/AccountTelemetryService.java
  environment/src/main/java/com/sequenceiq/environment/telemetry/v1/converter/AccountTelemetryConverter.java
  environment/src/test/java/com/sequenceiq/environment/environment/v1/converter/TelemetryApiConverterTest.java
  orchestrator-salt/src/main/resources/salt-common/pillar/fluent/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/databus_monitoring.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/td-agent.conf.j2
Labels: enhancement

#8011 CB-6920. Addendum: map salt script output 'Name' to an actual error message (fluent plugin error)
  orchestrator-salt/src/main/resources/salt/errormessages.yaml
  orchestrator-salt/src/test/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltErrorResolverTest.java
Labels: enhancement

#8012 CB-4377: Use cluster proxy HA for FreeIPA connections
  cluster-proxy/src/main/java/com/sequenceiq/cloudbreak/clusterproxy/ClusterProxyConfiguration.java
  cluster-proxy/src/main/java/com/sequenceiq/cloudbreak/clusterproxy/ClusterProxyRegistrationClient.java
  cluster-proxy/src/main/java/com/sequenceiq/cloudbreak/clusterproxy/ClusterServiceConfig.java
  cluster-proxy/src/main/java/com/sequenceiq/cloudbreak/clusterproxy/ClusterServiceHealthCheck.java
  cluster-proxy/src/main/java/com/sequenceiq/cloudbreak/clusterproxy/ReadConfigEndpoint.java
  cluster-proxy/src/main/java/com/sequenceiq/cloudbreak/clusterproxy/ReadConfigRequest.java
  cluster-proxy/src/main/java/com/sequenceiq/cloudbreak/clusterproxy/ReadConfigResponse.java
  cluster-proxy/src/main/java/com/sequenceiq/cloudbreak/clusterproxy/ReadConfigService.java
  core/src/main/resources/application.yml
  freeipa/src/main/java/com/sequenceiq/freeipa/client/CookieAndStickyId.java
  freeipa/src/main/java/com/sequenceiq/freeipa/client/FreeIpaClientBuilder.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/provision/handler/ClusterProxyUpdateRegistrationHandler.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/FreeIpaClientFactory.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/polling/clusterproxy/ServiceEndpointHealthListenerTask.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/polling/clusterproxy/ServiceEndpointHealthPollerObject.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/ClusterProxyService.java
  freeipa/src/main/resources/application.yml
Labels: DO_NOT_MERGE

#7966 CB-6282 Version based image choosing
  freeipa/src/main/java/com/sequenceiq/freeipa/api/model/image/FreeIpaVersions.java
  freeipa/src/main/java/com/sequenceiq/freeipa/api/model/image/ImageCatalog.java
  freeipa/src/main/java/com/sequenceiq/freeipa/api/model/image/Versions.java
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/cloud/InstanceMetaDataToCloudInstanceConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/cloud/StackToCloudStackConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/image/ImageConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/image/ImageToImageEntityConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/image/ImageToImageSettingsResponseConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/stack/StackToDescribeFreeIpaResponseConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/entity/ImageEntity.java
  freeipa/src/main/java/com/sequenceiq/freeipa/repository/ImageRepository.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/BootstrapService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/image/ImageCatalogProvider.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/image/ImageService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/FreeIpaCreationService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/FreeIpaDescribeService.java
  freeipa/src/main/resources/application-dev.yml
  freeipa/src/main/resources/application-rc.yml
  freeipa/src/test/java/com/sequenceiq/freeipa/converter/stack/StackToDescribeFreeIpaResponseConverterTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/image/ImageCatalogProviderTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/image/ImageServiceTest.java
  freeipa/src/test/resources/com/sequenceiq/freeipa/service/image/freeipa-catalog-1.json
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/stack/BasicStackTests.java
  integration-test/src/main/resources/testsuites/e2e/aws-distrox-tests.yaml
Labels: DO_NOT_MERGE

#8059 CDPD-6804 Add Discovery Data Hub initial template and definitions to …
  core/src/main/resources/application.yml
  core/src/main/resources/defaults/blueprints/cdp-dde-720.bp
  core/src/main/resources/defaults/clustertemplates/aws/aws-dde-720.json
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/ClusterTemplateTest.java
Labels: wolf

#8038 CB-6809 Add Audit Service gRPC client
  audit-connector/build.gradle
  audit-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/audit/AuditGrpc.java
  audit-connector/src/generated/main/java/com/cloudera/thunderhead/service/audit/AuditProto.java
  audit-connector/src/main/java/com/sequenceiq/cloudbreak/audit/AuditClient.java
  audit-connector/src/main/java/com/sequenceiq/cloudbreak/audit/config/AuditConfig.java
  audit-connector/src/main/java/com/sequenceiq/cloudbreak/audit/converter/AttemptAuditEventResultToGrpcAttemptAuditEventResultConverter.java
  audit-connector/src/main/java/com/sequenceiq/cloudbreak/audit/converter/AuditEventToGrpcAuditEventConverter.java
  audit-connector/src/main/java/com/sequenceiq/cloudbreak/audit/model/ActorBase.java
  audit-connector/src/main/java/com/sequenceiq/cloudbreak/audit/model/ActorCrn.java
  audit-connector/src/main/java/com/sequenceiq/cloudbreak/audit/model/ActorService.java
  audit-connector/src/main/java/com/sequenceiq/cloudbreak/audit/model/ApiRequestData.java
  audit-connector/src/main/java/com/sequenceiq/cloudbreak/audit/model/AttemptAuditEventResult.java
  audit-connector/src/main/java/com/sequenceiq/cloudbreak/audit/model/AuditEvent.java
  audit-connector/src/main/java/com/sequenceiq/cloudbreak/audit/model/ConfigInfo.java
  audit-connector/src/main/java/com/sequenceiq/cloudbreak/audit/model/EventData.java
  audit-connector/src/main/java/com/sequenceiq/cloudbreak/audit/model/ResultApiRequestData.java
  audit-connector/src/main/java/com/sequenceiq/cloudbreak/audit/model/ResultEventData.java
  audit-connector/src/main/java/com/sequenceiq/cloudbreak/audit/model/ResultServiceEventData.java
  audit-connector/src/main/java/com/sequenceiq/cloudbreak/audit/model/ServiceEventData.java
  audit-connector/src/main/java/com/sequenceiq/cloudbreak/audit/util/ActorUtil.java
  audit-connector/src/main/proto/audit.proto
  audit-connector/src/test/java/com/sequenceiq/cloudbreak/audit/converter/AttemptAuditEventResultToGrpcAttemptAuditEventResultConverterTest.java
  audit-connector/src/test/java/com/sequenceiq/cloudbreak/audit/converter/AuditEventToGrpcAuditEventConverterTest.java
  audit-connector/src/test/java/com/sequenceiq/cloudbreak/audit/model/ActorCrnTest.java
  audit-connector/src/test/java/com/sequenceiq/cloudbreak/audit/model/ActorServiceTest.java
  audit-connector/src/test/java/com/sequenceiq/cloudbreak/audit/model/ApiRequestDataTest.java
  audit-connector/src/test/java/com/sequenceiq/cloudbreak/audit/model/AttemptAuditEventResultTest.java
  audit-connector/src/test/java/com/sequenceiq/cloudbreak/audit/model/AuditEventTest.java
  audit-connector/src/test/java/com/sequenceiq/cloudbreak/audit/model/ConfigInfoTest.java
  audit-connector/src/test/java/com/sequenceiq/cloudbreak/audit/model/ResultApiRequestDataTest.java
  audit-connector/src/test/java/com/sequenceiq/cloudbreak/audit/model/ResultServiceEventDataTest.java
  audit-connector/src/test/java/com/sequenceiq/cloudbreak/audit/model/ServiceEventDataTest.java
  audit-connector/src/test/java/com/sequenceiq/cloudbreak/audit/util/ActorUtilTest.java
  audit-connector/src/test/java/com/sequenceiq/cloudbreak/audit/util/TestUtil.java
  common/src/main/java/com/sequenceiq/cloudbreak/util/ConditionBasedEvaluatorUtil.java
  common/src/main/java/com/sequenceiq/cloudbreak/util/UuidUtil.java
  config/spotbugs/excludeFilter.xml
  core/build.gradle
  grpc-common/src/generated/main/java/com/cloudera/thunderhead/service/common/options/Options.java
  grpc-common/src/generated/main/java/com/cloudera/thunderhead/service/common/paging/PagingProto.java
  grpc-common/src/generated/main/java/com/cloudera/thunderhead/service/common/version/Version.java
  grpc-common/src/main/proto/options.proto
  grpc-common/src/main/proto/paging.proto
  grpc-common/src/main/proto/version.proto
  settings.gradle
Labels: wolf

#8060 CB-7048: Change FreeIPA ASDL backup location from older .blob. to .dfs
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/backup/cloud/AdlsGen2BackupConfigGenerator.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/freeipa/backup/cloud/AdlsGen2BackupConfigGeneratorTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/freeipa/backup/cloud/CloudBackupFolderResolverServiceTest.java
Labels: bug

#8035 CB-6973 - moving aws getRegions call to flow step and additional logging
  common/src/main/java/com/sequenceiq/cloudbreak/event/ResourceEvent.java
  common/src/main/resources/messages/messages.properties
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/environment/model/response/EnvironmentStatus.java
  environment/src/main/java/com/sequenceiq/environment/environment/EnvironmentStatus.java
  environment/src/main/java/com/sequenceiq/environment/environment/domain/Environment.java
  environment/src/main/java/com/sequenceiq/environment/environment/domain/RegionWrapper.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/EnvironmentCreationDto.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/EnvironmentDtoConverter.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/EnvironmentReactorFlowManager.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/creation/EnvCreationActions.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/creation/EnvCreationState.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/creation/config/EnvCreationFlowConfig.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/creation/event/EnvCreationHandlerSelectors.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/creation/event/EnvCreationStateSelectors.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/creation/handler/EnvironmentInitHandler.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/creation/handler/EnvironmentValidationHandler.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentCreationService.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentService.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/converter/EnvironmentApiConverter.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/EnvironmentFlowValidatorService.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/EnvironmentValidatorService.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/validators/EnvironmentRegionValidator.java
  environment/src/main/java/com/sequenceiq/environment/parameters/dto/AwsParametersDto.java
  environment/src/main/java/com/sequenceiq/environment/parameters/dto/AzureParametersDto.java
  environment/src/main/java/com/sequenceiq/environment/parameters/dto/AzureResourceGroupDto.java
  environment/src/main/java/com/sequenceiq/environment/parameters/service/ParametersService.java
  environment/src/test/java/com/sequenceiq/environment/environment/service/EnvironmentCreationServiceTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/service/EnvironmentServiceTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/validation/EnvironmentValidatorServiceTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/EnvironmentTest.java
Labels: wolf

#8050 CB-6931: improve image version comparator
  core/src/main/java/com/sequenceiq/cloudbreak/service/image/ImageCatalogService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/image/PrefixMatchImages.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/image/PrefixMatcherService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/image/VersionBasedImageFilter.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/image/ImageCatalogServiceDefaultTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/image/ImageCatalogServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/image/PrefixMatcherServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/image/VersionBasedImageFilterTest.java
Labels: duck

#8069 CB-7078 - fix missing postgres password
  integration-test/integcb/Profile_template
Labels: wolf

#8055 CB-7063 tests could be skipped if developer find it flaky
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/MeasuredTestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestErrorLog.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/AbstractTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/mock/HttpMock.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/log/Log.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxRepairTests.java
Labels: wolf

#8036 CB-6882 repair fail if upscale is unsuccessful
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/common/DetailedStackStatus.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/upscale/StackUpscaleActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/upscale/StackUpscaleService.java
Labels: raven

#8042 CB-6577 - [ASRG] Propagate new RG to other network/image/RDS
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/PlatformParametersConsts.java
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/CloudInstance.java
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/generic/DynamicModel.java
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/network/NetworkCreationRequest.java
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/network/NetworkSubnetRequest.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzureConnector.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzureInstanceConnector.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzureNetworkConnector.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzureResourceConnector.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzureResourceGroupMetadataProvider.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzureSetup.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzureStorage.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzureUtils.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzureVirtualMachineService.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/ResourceGroupUsage.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/connector/resource/AzureDatabaseResourceService.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/resource/AzureAttachmentResourceBuilder.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/resource/AzureVolumeResourceBuilder.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/template/AzureTemplateDeploymentService.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/upscale/AzureUpscaleService.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/validator/AzureResourceGroupValidator.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/AzureResourceConnectorTest.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/AzureTemplateBuilderTest.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/resource/AzureVolumeResourceBuilderTest.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/upscale/AzureUpscaleServiceTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/spi/InstanceMetaDataToCloudInstanceConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/spi/StackToCloudStackConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/upscale/StackUpscaleService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/decorator/StackDecorator.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/rdsconfig/RedbeamsDbServerConfigurer.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/spi/InstanceMetaDataToCloudInstanceConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/spi/StackToCloudStackConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/decorator/StackDecoratorTest.java
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/environment/model/response/AzureEnvironmentParameters.java
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/environment/model/response/DetailedEnvironmentResponse.java
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/environment/model/response/EnvironmentBaseResponse.java
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/environment/model/response/SimpleEnvironmentResponse.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/converter/EnvironmentApiConverter.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/converter/EnvironmentResponseConverter.java
  environment/src/main/java/com/sequenceiq/environment/network/service/NetworkCreationRequestFactory.java
  environment/src/main/java/com/sequenceiq/environment/parameters/validation/validators/parameter/AzureParameterValidator.java
  environment/src/test/java/com/sequenceiq/environment/environment/v1/converter/EnvironmentApiConverterTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/v1/converter/EnvironmentResponseConverterTest.java
  environment/src/test/java/com/sequenceiq/environment/network/service/NetworkCreationRequestFactoryTest.java
  environment/src/test/java/com/sequenceiq/environment/parameters/validation/validators/AzureParameterValidatorTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/cache/EnvironmentCache.java
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/cloud/InstanceMetaDataToCloudInstanceConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/cloud/StackToCloudStackConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/client/CachedEnvironmentClientService.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/v4/StackActionV4.java
  redbeams-api/src/main/java/com/sequenceiq/redbeams/api/endpoint/v4/databaseserver/base/DatabaseServerV4Base.java
  redbeams-api/src/main/java/com/sequenceiq/redbeams/api/endpoint/v4/databaseserver/responses/DatabaseServerV4Response.java
  redbeams/src/main/java/com/sequenceiq/redbeams/converter/spi/DBStackToDatabaseStackConverter.java
  redbeams/src/test/java/com/sequenceiq/redbeams/converter/spi/DBStackToDatabaseStackConverterTest.java
Labels: duck

#8078 CB-7089: Prevent FreeIPA backup script parallel runs
  freeipa/src/main/resources/freeipa-salt/salt/freeipa/backups.sls
  freeipa/src/main/resources/freeipa-salt/salt/freeipa/scripts/freeipa_backup
Labels: bug

#8032 CB-6967 Use DatabaseStack as resource connector parameter instead of DBInstanceIdentifier and implement Azure status lookup
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/ResourceConnector.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsRdsStartService.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsRdsStatusLookupService.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsRdsStopService.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsResourceConnector.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsRdsStartServiceTest.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsRdsStatusLookupServiceTest.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsRdsStopServiceTest.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzureResourceConnector.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/connector/resource/AzureDatabaseResourceService.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/connector/resource/AzureDatabaseResourceServiceTest.java
  cloud-mock/src/main/java/com/sequenceiq/cloudbreak/cloud/mock/MockResourceConnector.java
  cloud-openstack/src/main/java/com/sequenceiq/cloudbreak/cloud/openstack/heat/OpenStackResourceConnector.java
  cloud-reactor/src/main/java/com/sequenceiq/cloudbreak/cloud/task/PollPermanentExternalDatabaseStateTask.java
  cloud-reactor/src/main/java/com/sequenceiq/cloudbreak/cloud/task/PollTaskFactory.java
  cloud-template/src/main/java/com/sequenceiq/cloudbreak/cloud/template/AbstractResourceConnector.java
  cloud-yarn/src/main/java/com/sequenceiq/cloudbreak/cloud/yarn/YarnResourceConnector.java
  redbeams/src/main/java/com/sequenceiq/redbeams/flow/redbeams/start/RedbeamsStartContext.java
  redbeams/src/main/java/com/sequenceiq/redbeams/flow/redbeams/start/actions/AbstractRedbeamsStartAction.java
  redbeams/src/main/java/com/sequenceiq/redbeams/flow/redbeams/start/actions/StartDatabaseServerAction.java
  redbeams/src/main/java/com/sequenceiq/redbeams/flow/redbeams/start/actions/StartDatabaseServerFinishedAction.java
  redbeams/src/main/java/com/sequenceiq/redbeams/flow/redbeams/start/event/StartDatabaseServerRequest.java
  redbeams/src/main/java/com/sequenceiq/redbeams/flow/redbeams/start/handler/StartDatabaseServerHandler.java
  redbeams/src/main/java/com/sequenceiq/redbeams/flow/redbeams/stop/RedbeamsStopContext.java
  redbeams/src/main/java/com/sequenceiq/redbeams/flow/redbeams/stop/actions/AbstractRedbeamsStopAction.java
  redbeams/src/main/java/com/sequenceiq/redbeams/flow/redbeams/stop/actions/StopDatabaseServerAction.java
  redbeams/src/main/java/com/sequenceiq/redbeams/flow/redbeams/stop/actions/StopDatabaseServerFinishedAction.java
  redbeams/src/main/java/com/sequenceiq/redbeams/flow/redbeams/stop/event/StopDatabaseServerRequest.java
  redbeams/src/main/java/com/sequenceiq/redbeams/flow/redbeams/stop/handler/StopDatabaseServerHandler.java
  redbeams/src/main/java/com/sequenceiq/redbeams/sync/DBStackJobService.java
  redbeams/src/main/java/com/sequenceiq/redbeams/sync/DBStackStatusSyncService.java
  redbeams/src/test/java/com/sequenceiq/redbeams/flow/redbeams/start/actions/StartDatabaseServerActionTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/flow/redbeams/start/actions/StartDatabaseServerFailedActionTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/flow/redbeams/start/actions/StartDatabaseServerFinishedActionTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/flow/redbeams/start/handler/StartDatabaseServerHandlerTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/flow/redbeams/stop/actions/StopDatabaseServerActionTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/flow/redbeams/stop/actions/StopDatabaseServerFailedActionTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/flow/redbeams/stop/actions/StopDatabaseServerFinishedActionTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/flow/redbeams/stop/handler/StopDatabaseServerHandlerTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/sync/DBStackJobServiceTest.java
  redbeams/src/test/java/com/sequenceiq/redbeams/sync/DBStackStatusSyncServiceTest.java
Labels: wolf

#8047 CB-7058 Cluster is not in proper state
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/ProvisionerService.java
Labels: raven

#8052 CB-6957 store secondary cidr range
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/NetworkConnector.java
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/network/NetworkCidr.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNetworkConnector.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsStackRequestHelper.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/CloudFormationTemplateBuilder.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsRdsLaunchService.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/view/AwsNetworkView.java
  cloud-aws/src/main/resources/templates/aws-cf-dbstack.ftl
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNetworkConnectorTest.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzureNetworkConnector.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/AzureNetworkConnectorTest.java
  cloud-mock/src/main/java/com/sequenceiq/cloudbreak/cloud/mock/MockNetworkConnector.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxService.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxServiceTest.java
  environment-api/src/main/java/com/sequenceiq/environment/api/doc/environment/EnvironmentModelDescription.java
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/environment/model/response/EnvironmentNetworkResponse.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/converter/NetworkDtoToResponseConverter.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/converter/NetworkRequestToDtoConverter.java
  environment/src/main/java/com/sequenceiq/environment/network/EnvironmentNetworkService.java
  environment/src/main/java/com/sequenceiq/environment/network/NetworkService.java
  environment/src/main/java/com/sequenceiq/environment/network/dao/domain/BaseNetwork.java
  environment/src/main/java/com/sequenceiq/environment/network/dao/domain/YarnNetwork.java
  environment/src/main/java/com/sequenceiq/environment/network/dto/NetworkDto.java
  environment/src/main/java/com/sequenceiq/environment/network/v1/converter/EnvironmentBaseNetworkConverter.java
  environment/src/main/java/com/sequenceiq/environment/network/v1/converter/YarnEnvironmentNetworkConverter.java
  environment/src/main/resources/schema/app/20200513143922_CB-6957_secondary_cidr.sql
  environment/src/test/java/com/sequenceiq/environment/network/EnvironmentNetworkServiceTest.java
  environment/src/test/java/com/sequenceiq/environment/network/NetworkServiceTest.java
  redbeams/src/main/java/com/sequenceiq/redbeams/service/network/NetworkParameterAdder.java
Labels: enhancement, wolf

#8039 CB-7034 Cover stack/cluster status changes with integration tests
  core/src/main/java/com/sequenceiq/cloudbreak/job/StackStatusCheckerJob.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/StackInstanceStatusChecker.java
  core/src/test/java/com/sequenceiq/cloudbreak/job/StackStatusCheckerJobTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/job/StackStatusIntegrationTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stack/StackInstanceStatusCheckerTest.java
  datalake/src/test/java/com/sequenceiq/datalake/job/SdxClusterStatusTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/sync/EnvironmentStatusTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/sync/ProviderChecker.java
  freeipa/src/main/java/com/sequenceiq/freeipa/sync/StackInstanceProviderChecker.java
  freeipa/src/test/java/com/sequenceiq/freeipa/sync/StackStatusTest.java
Labels: wolf

#8004 CB-5908 - Fix datamart instance types on Azure
  core/src/main/resources/application.yml
  core/src/main/resources/defaults/clustertemplates/azure/azure-datamart-702.json
  core/src/main/resources/defaults/clustertemplates/azure/azure-datamart-720.json
Labels: wolf

#8028 CB-7009 Azure single RG: env service create RG
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/Setup.java
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/prerequisite/AzurePrerequisiteCreateRequest.java
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/prerequisite/EnvironmentPrerequisitesCreateRequest.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzureSetup.java
  common/src/main/java/com/sequenceiq/cloudbreak/event/ResourceEvent.java
  common/src/main/resources/messages/messages.properties
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/environment/model/response/EnvironmentStatus.java
  environment/src/main/java/com/sequenceiq/environment/environment/EnvironmentStatus.java
  environment/src/main/java/com/sequenceiq/environment/environment/dto/EnvironmentDto.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/creation/EnvCreationActions.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/creation/EnvCreationState.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/creation/config/EnvCreationFlowConfig.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/creation/event/EnvCreationHandlerSelectors.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/creation/event/EnvCreationStateSelectors.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/creation/handler/EnvironmentValidationHandler.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/creation/handler/ResourceGroupCreationHandler.java
  environment/src/main/java/com/sequenceiq/environment/parameters/service/ParametersService.java
  environment/src/test/java/com/sequenceiq/environment/environment/flow/creation/handler/ReourceGroupCreationHandlerTest.java
Labels: duck

#8084 CB-7110. Persist anonymization rules on cluster side (freeipa/datalake/datahub)
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/doc/TelemetryModelDescription.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/Telemetry.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/response/TelemetryResponse.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigService.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecorator.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/StackService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecoratorTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/telemetry/TelemetryConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/flow/FreeIpaInstallService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/FreeIpaCreationService.java
Labels: enhancement

#8152 ENGESC-2389. general.clusterManagerIp parameter is not resolved as parameter is not resolved as part of a recipe
  core/src/main/java/com/sequenceiq/cloudbreak/converter/StackToTemplatePreparationObjectConverter.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v2/StackToTemplatePreparationObjectConverterTest.java
Labels: bug

#8162 CB-7124 HDFS user directories does not have correct ownership permiss…
  orchestrator-salt/src/main/resources/salt/salt/post-recipes/scripts/createuserhome.sh
Labels: duck

#8150 CB-7106 added tests with real UMS for manual runs only
  integration-test/.gitignore
  integration-test/Makefile
  integration-test/scripts/fetch-secrets.sh
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/actor/Actor.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/actor/CloudbreakUser.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/AbstractIntegrationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/CredentialCreateTest.java
  integration-test/src/main/resources/testsuites/v4/mock/all-authz-mock-package.yaml
  integration-test/src/main/resources/testsuites/v4/mock/minimal-authz.yaml
Labels: DO_NOT_MERGE

#8182 CB-7204 Fix BasicStackTests e2e failure
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/stack/StackTestDtoBase.java
Labels: aws_e2e_test
