Repository hortonworks/cloudbreak, pull requests merged in 2021-02, with the labels that each got.

#9914 CB-10945. DBus machine user is not created for datalake for diagnosti…
  core/src/main/java/com/sequenceiq/cloudbreak/service/altus/AltusMachineUserService.java
Labels: bug

#9918 CB-10958. VM Diagnostics should collect dns and ngix related configs …
  core/src/main/resources/defaults/vm-logs.json
  freeipa/src/main/resources/defaults/vm-logs.json
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/template/filecollector.yaml.j2
Labels: enhancement

#9915 CB-10521 Refactor expected exception
  integration-test/.gitignore
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/RunningParameter.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/AbstractCloudbreakTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/AbstractEnvironmentTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/AbstractFreeIpaTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/AbstractRedbeamsTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/AbstractSdxTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/AbstractTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/log/Log.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/CreateDhWithDatahubCreator.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/CredentialCreateTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/DatalakeDatahubCreateAuthTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/EnvStopStartWithEnvAdmin.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/EnvironmentCreateTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/RecipeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/ClusterCreationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/ClusterTemplateTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/DatabaseTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/DistroXClusterCreationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/EnvironmentChildTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/EnvironmentClusterTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/EnvironmentEditTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/EnvironmentTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/FreeIpaAttachDetachChildEnvironmentTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/ImageCatalogTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/LdapClusterTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/LdapConfigTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/MockStackCreationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/ProxyConfigTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/RecipeClusterTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/RecipeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/RedbeamsDatabaseServerTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/RedbeamsDatabaseTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/clouderamanager/ClouderaManagerStackCreationTest.java
Labels: enhancement, raven, real_ums_test

#9945 CB-10911 Introduce TestCaseTimeoutListener to xmlSuite.setListeners
  integration-test/src/main/java/com/sequenceiq/it/IntegrationTestApp.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/listener/TestCaseTimeoutListener.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/listener/TestInvocationListener.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/environment/EnvironmentStopStartTests.java
Labels: bug, raven, test

#9744 CB-10359 - increase cluster template related converter test coverage vol.1
  core-model/src/test/java/com/sequenceiq/cloudbreak/TestUtil.java
  core-model/src/test/java/com/sequenceiq/cloudbreak/clustertemplate/ClusterTemplateTestUtil.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/clustertemplate/ClusterTemplateV4RequestToClusterTemplateConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverter.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/converter/DistroXAuthenticationToStaAuthenticationConverter.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/converter/DistroXClusterToClusterConverter.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/converter/DistroXDatabaseRequestToStackDatabaseRequestConverter.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/converter/DistroXImageToImageSettingsConverter.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/converter/NetworkV1ToNetworkV4Converter.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/AbstractJsonConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v4/clustertemplate/ClusterTemplateV4RequestToClusterTemplateConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v4/stacks/StackV4RequestToStackConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/publicendpoint/dns/BaseDnsEntryServiceTest.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/converter/DistroXAuthenticationToStaAuthenticationConverterTest.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/converter/DistroXClusterToClusterConverterTest.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/converter/DistroXDatabaseRequestToStackDatabaseRequestConverterTest.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/converter/DistroXImageToImageSettingsConverterTest.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/converter/DistroXParameterConverterTest.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/converter/DistroXV1RequestToStackV4RequestConverterTest.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/converter/InstanceGroupV1ToInstanceGroupV4ConverterTest.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/converter/NetworkV1ToNetworkV4ConverterTest.java
  resource_names_testWhenEnvIsStoppedUnableToCreateDistroX.json
Labels: aws_e2e_test, test

#9926 CB-10708 Addig infrastructure-mock.p12 cert to java cacerts during startup for IT.
  cloud-mock/src/main/java/com/sequenceiq/cloudbreak/cloud/mock/MockUrlFactory.java
  gradle.properties
  integration-test/scripts/docker-compose.sh
  mock-infrastructure/src/main/resources/application.yml
  mock-infrastructure/src/main/resources/keystore/infrastructure-mock.cer
  mock-infrastructure/src/main/resources/keystore/infrastructure-mock.p12
Labels: real_ums_test

#9957 CB-11020. Metering heartbeat versioning is broken.
  orchestrator-salt/src/main/resources/salt/salt/metering/settings.sls
Labels: bug

#9947 CB-11009. Add disk and memory data to cdp doctor report.
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/template/cdp-doctor-commands.yaml.j2
Labels: enhancement

#9965 CB-11009. Follow up: add lsblk command + output for cdp-doctor comman…
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/template/cdp-doctor-commands.yaml.j2
Labels: enhancement

#9977 CB-11056 Create separate test suite for EnvironmentStopStartTests
  integration-test/src/main/resources/testsuites/e2e/aws-e2e-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/azure-e2e-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/environment-stopstart-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/gcp-e2e-tests.yaml
Labels: raven, test

#9851 CB-10246 Refactor integration test project for real UMS tests
  integration-test/docker-compose_template.yml
  integration-test/scripts/docker-compose.sh
  integration-test/scripts/fetch-secrets.sh
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/CloudbreakTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/UmsClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeIpaGetLastSyncOperationStatus.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeIpaGetLastUserSyncStatusAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeIpaSynchronizeAllUsersAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/ums/AssignUmsRoleAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/actor/Actor.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/actor/CloudbreakActor.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/actor/CloudbreakUser.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/actor/CloudbreakUserCache.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/distrox/DistroXExternalDatabaseAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/freeipa/FreeIpaUserSyncDoneWithNoFailures.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/freeipa/FreeIpaUserSyncDurationLessThan.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/FreeIpaTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CommonCloudProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/MeasuredTestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/RunningParameter.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/DistroXTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/environment/EnvironmentTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIpaUserSyncTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/util/RenewDatalakeCertificateTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/AbstractIntegrationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/CreateDhWithDatahubCreator.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/CredentialCreateTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/DatalakeDatahubCreateAuthTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/EnvStopStartWithEnvAdmin.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/EnvironmentCreateTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/EnvironmentLegacyAuthzGetTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/RecipeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/UserSyncTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/FreeIpaSyncTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/MultiThreadTenantTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/AuthorizationTestUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/ResourceAwait.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/instance/InstanceAwait.java
  integration-test/src/main/resources/application.yml
  integration-test/src/main/resources/testsuites/v4/mock/all-authz-mock-package.yaml
  integration-test/src/main/resources/testsuites/v4/mock/legacy-authz-mock-tests.yaml
  integration-test/src/main/resources/testsuites/v4/mock/real-ums-mock-tests.yaml
Labels: enhancement, raven, real_ums_test

#9987 CB-11075 Public Endpoint Access Gateway (aka semi-private networks) …
  structuredevent-service-cdp/src/main/java/com/sequenceiq/cloudbreak/structuredevent/service/telemetry/converter/CDPStructuredFlowEventToCDPEnvironmentRequestedConverter.java
  structuredevent-service-cdp/src/test/java/com/sequenceiq/cloudbreak/structuredevent/service/telemetry/converter/CDPStructuredFlowEventToCDPEnvironmentRequestedConverterTest.java
  usage-collection/src/generated/main/java/com/cloudera/thunderhead/service/common/usage/UsageProto.java
  usage-collection/src/main/proto/usage.proto
Labels: merge

#9991 CB-11078 Environment FAILED_STATUSES set does not contains all the related EnvironmentStatus
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/environment/model/response/EnvironmentStatus.java
Labels: bug, raven, test

#9998 CB-10710 Create Real UMS test for the DataSteward resource role
  integration-test/README.md
  integration-test/scripts/fetch-secrets.sh
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/ums/UmsTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/AuthUserKeys.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/CreateDhWithDatahubCreator.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/DataStewardTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/DatalakeDatahubCreateAuthTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/EnvStopStartWithEnvAdmin.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/EnvironmentCreateTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/RecipeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/AbstractMockTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/AuthorizationTestUtil.java
  integration-test/src/main/resources/testsuites/v4/mock/real-ums-mock-tests.yaml
Labels: enhancement, raven, real_ums_test, test

#10012 CB-11122. Do not check cdpTelemetryVersion (role) in case of updatePa…
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/template/cdp-doctor-commands.yaml.j2
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/upload.sls
Labels: bug

#10041 CB-11165 Remove test containers for services not defined in the IT Compose file
  integration-test/scripts/docker-compose.sh
  integration-test/scripts/swagger-check.sh
Labels: bug, raven, test

#9909 CB-10921. Add polling around sync API commands (CM)
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementService.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/model/Entitlement.java
  autoscale/src/main/resources/application.yml
  client-cm/src/main/java/com/sequenceiq/cloudbreak/cm/client/ClouderaManagerApiPojoFactory.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerCommonCommandService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerKerberosService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerSyncApiCommandIdProvider.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/commands/AbstractCommandTableResource.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/commands/ActiveCommandTableResource.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/commands/CommandResourceListTypeReference.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/commands/RecentCommandTableResource.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/commands/SyncApiCommandPollerConfig.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/commands/SyncApiCommandRetriever.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/model/CommandResource.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/ClouderaManagerPollingServiceProvider.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/ClouderaManagerSyncCommandPollerObject.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerSyncApiCommandIdCheckerTask.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerCommonCommandServiceTest.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerKerberosServiceTest.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationServiceTest.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerSyncApiCommandIdProviderTest.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/commands/RecentCommandTableResourceTest.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/commands/SyncApiCommandRetrieverTest.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerSyncApiCommandIdCheckerTaskTest.java
  core/src/main/resources/application.yml
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/mock/endpoint/ClouderaManagerEndpoints.java
  mock-infrastructure/src/main/java/com/sequenceiq/mock/clouderamanager/custom/CommandTableController.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/auth/MockUserManagementService.java
  mock-thunderhead/src/main/resources/application.yml
Labels: DO_NOT_MERGE, enhancement

#10048 CB-11183 Specify directory where Java VM dumps are created on out-of-memory conditions
  integration-test/.gitignore
  integration-test/docker-compose_template.yml
Labels: bug, raven, test

#10052 CB-11121: Fix tests that passed when a cluster was in a failed state
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/WaitOperationChecker.java
Labels: aws_e2e_test

#10064 CB-11216. Include nodestatus salt-report in diagnostics logs
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/template/filecollector.yaml.j2
Labels: enhancement

#10073 CB-11228. Cannot update environment cloud storage logging feature by …
  environment/src/main/java/com/sequenceiq/environment/environment/v1/converter/EnvironmentApiConverter.java
Labels: bug

#10079 CB-11242. Add cancel diagnostics flow API endpoint (freeipa/dl/dh/stack)
  common-model/src/main/java/com/sequenceiq/common/api/diagnostics/DiagnosticsCollectionStatus.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/converter/DiagnosticsDataToParameterConverter.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/converter/FlowPayloadToDiagnosticDetailsConverter.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/diagnostics/DiagnosticsV4Endpoint.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/diagnostics/docs/DiagnosticsOperationDescriptions.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/endpoint/DistroXV1Endpoint.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/model/diagnostics/docs/DiagnosticsOperationDescriptions.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/DiagnosticsV4Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/diagnostics/DiagnosticsService.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/controller/DistroXV1Controller.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/endpoint/DiagnosticsEndpoint.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/model/diagnostics/docs/DiagnosticsOperationDescriptions.java
  datalake/src/main/java/com/sequenceiq/datalake/controller/diagnostics/DiagnosticsController.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/diagnostics/DiagnosticsService.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/diagnostics/DiagnosticsV1Endpoint.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/diagnostics/docs/DiagnosticsOperationDescriptions.java
  freeipa/src/main/java/com/sequenceiq/freeipa/controller/DiagnosticsV1Controller.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/diagnostics/DiagnosticsFlowService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/diagnostics/DiagnosticsService.java
Labels: enhancement

#10078 CB-11243 - introduce experience endpoints for mock infra
  mock-infrastructure/src/main/java/com/sequenceiq/mock/BeanConfig.java
  mock-infrastructure/src/main/java/com/sequenceiq/mock/experience/DwxController.java
  mock-infrastructure/src/main/java/com/sequenceiq/mock/experience/ExperienceStoreService.java
  mock-infrastructure/src/main/java/com/sequenceiq/mock/experience/LiftieController.java
  mock-infrastructure/src/main/java/com/sequenceiq/mock/experience/LiftieExperienceStoreService.java
  mock-infrastructure/src/main/java/com/sequenceiq/mock/experience/response/common/CpInternalCluster.java
  mock-infrastructure/src/main/java/com/sequenceiq/mock/experience/response/common/CpInternalEnvironmentResponse.java
  mock-infrastructure/src/main/java/com/sequenceiq/mock/experience/response/common/DeleteCommonExperienceWorkspaceResponse.java
  mock-infrastructure/src/main/java/com/sequenceiq/mock/experience/response/liftie/ClusterView.java
  mock-infrastructure/src/main/java/com/sequenceiq/mock/experience/response/liftie/DeleteClusterResponse.java
  mock-infrastructure/src/main/java/com/sequenceiq/mock/experience/response/liftie/ListClustersResponse.java
  mock-infrastructure/src/main/java/com/sequenceiq/mock/experience/response/liftie/PageStats.java
  mock-infrastructure/src/main/java/com/sequenceiq/mock/experience/response/liftie/StatusMessage.java
  mock-infrastructure/src/main/resources/application.yml
Labels: DO_NOT_MERGE, waiting-for-test

#10098 Revert arpi
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/CommonTagValidator.java
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/PlatformParameters.java
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/TagValidator.java
  cloud-api/src/test/java/com/sequenceiq/cloudbreak/cloud/PlatformParametersTest.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsPlatformParameters.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsTagValidator.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzurePlatformParameters.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/conf/AzureConfig.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/validator/AzureTagValidator.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/validator/AzureTagValidatorTest.java
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/GcpPlatformParameters.java
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/GcpTagValidator.java
  cloud-mock/src/main/java/com/sequenceiq/cloudbreak/cloud/mock/MockPlatformParameters.java
  cloud-openstack/src/main/java/com/sequenceiq/cloudbreak/cloud/openstack/common/OpenStackParameters.java
  cloud-openstack/src/main/java/com/sequenceiq/cloudbreak/cloud/openstack/common/OpenStackTagValidator.java
  cloud-yarn/src/main/java/com/sequenceiq/cloudbreak/cloud/yarn/YarnPlatformParameters.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/image/userdata/UserDataBuilderTest.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentCreationService.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/EnvironmentValidatorService.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/validators/TagValidator.java
  environment/src/test/java/com/sequenceiq/environment/environment/service/EnvironmentCreationServiceTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/validation/EnvironmentValidatorServiceTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/validation/validators/TagValidatorTest.java
Labels: bug, revert

#10087 CB-11236 We don't need to stop the CM if it is already stopped or una…
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/ClusterStopHandler.java
Labels: aws_e2e_test

#10075 CB-11231 GCP : Adding cluster definitions for spark3 and dataengineer…
  core/src/main/resources/defaults/clustertemplates/7.2.7/gcp/dataengineering-ha.json
  core/src/main/resources/defaults/clustertemplates/7.2.7/gcp/dataengineering-spark3.json
  core/src/main/resources/defaults/clustertemplates/7.2.8/gcp/dataengineering-ha.json
  core/src/main/resources/defaults/clustertemplates/7.2.8/gcp/dataengineering-spark3.json
  core/src/main/resources/defaults/clustertemplates/7.2.9/gcp/dataengineering-ha.json
  core/src/main/resources/defaults/clustertemplates/7.2.9/gcp/dataengineering-spark3.json
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/ClusterTemplateTest.java
Labels: wolf

#10086 CB-11105 remove idbroker from cluster
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/cluster/Cluster.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/StackCreatorService.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/IdBrokerConverterUtil.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/StackToTemplatePreparationObjectConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/cluster/ClusterV4RequestToClusterConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunner.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/ClusterService.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v2/StackToTemplatePreparationObjectConverterTest.java
Labels: aws_e2e_test

#10083 CB-11105 use stackview for statuschecker mdc context; add lazy annotation for some instancegroup fields..
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/instance/InstanceGroup.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/instance/InstanceMetaData.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/StackToTemplatePreparationObjectConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/spi/InstanceMetaDataToCloudInstanceConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/spi/StackToCloudStackConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/ClusterBootstrapper.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/provision/ClusterCreationActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/downscale/StackDownscaleActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/instance/termination/AbstractInstanceTerminationAction.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/provision/action/StackCreationActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/start/StackStartActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/stop/StackStopActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/sync/StackSyncActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/upscale/StackUpscaleActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/job/StackStatusCheckerJob.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/StackRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/EmbeddedDatabaseService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/StackInstanceStatusChecker.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/StackViewService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/connector/adapter/ServiceProviderConnectorAdapter.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/connector/adapter/ServiceProviderMetadataAdapter.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/repair/UnhealthyInstancesFinalizer.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/spi/InstanceMetaDataToCloudInstanceConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/spi/StackToCloudStackConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v2/StackToTemplatePreparationObjectConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/job/StackStatusCheckerJobTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/job/StackStatusIntegrationTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stack/StackInstanceStatusCheckerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stack/repair/UnhealthyInstancesFinalizerTest.java
Labels: aws_e2e_test

#10099 CB-11281. Create common flow progress API for env/dl/dh/freeipa/redbeams
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/progress/ProgressV4Endpoint.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/progress/docs/ProgressOperationDescriptions.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/client/internal/CloudbreakApiClientConfig.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/doc/Notes.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/doc/DistroXOpDescription.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/endpoint/DistroXV1Endpoint.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/EndpointConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/ProgressV4Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/diagnostics/FlowLogsToListDiagnosticsCollectionResponseConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/config/DiagnosticsCollectionFlowConfig.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/controller/DistroXV1Controller.java
  core/src/test/java/com/sequenceiq/cloudbreak/structuredevent/rest/urlparsers/RestUrlParserTest.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/endpoint/ProgressEndpoint.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/model/SdxProgressListResponse.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/model/SdxProgressResponse.java
  datalake/src/main/java/com/sequenceiq/datalake/configuration/EndpointConfig.java
  datalake/src/main/java/com/sequenceiq/datalake/controller/progress/ProgressController.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxRetryService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/progress/ProgressService.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxRetryServiceTest.java
  environment-api/src/main/java/com/sequenceiq/environment/api/doc/environment/EnvironmentOpDescription.java
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/environment/endpoint/EnvironmentEndpoint.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/EnvironmentController.java
  flow-api/src/main/java/com/sequenceiq/flow/api/FlowPublicEndpoint.java
  flow-api/src/main/java/com/sequenceiq/flow/api/model/FlowProgressResponse.java
  flow-api/src/main/java/com/sequenceiq/flow/api/model/FlowStateTransitionResponse.java
  flow/src/main/java/com/sequenceiq/flow/converter/FlowProgressResponseConverter.java
  flow/src/main/java/com/sequenceiq/flow/core/FlowLogService.java
  flow/src/main/java/com/sequenceiq/flow/core/config/AbstractFlowConfiguration.java
  flow/src/main/java/com/sequenceiq/flow/core/config/FlowProgressHolder.java
  flow/src/main/java/com/sequenceiq/flow/core/config/OrderedFlowConfiguration.java
  flow/src/main/java/com/sequenceiq/flow/service/FlowService.java
  flow/src/main/java/com/sequenceiq/flow/service/flowlog/FlowLogDBService.java
  flow/src/test/java/com/sequenceiq/flow/converter/FlowProgressResponseConverterTest.java
  flow/src/test/java/com/sequenceiq/flow/core/config/FlowProgressHolderTest.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/progress/ProgressV1Endpoint.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/progress/docs/ProgressOperationDescriptions.java
  freeipa/src/main/java/com/sequenceiq/freeipa/configuration/EndpointConfig.java
  freeipa/src/main/java/com/sequenceiq/freeipa/controller/ProgressV1Controller.java
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/diagnostics/FlowLogsToListDiagnosticsCollectionResponseConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/diagnostics/config/DiagnosticsCollectionFlowConfig.java
  redbeams-api/src/main/java/com/sequenceiq/redbeams/api/endpoint/v4/progress/ProgressV4Endpoint.java
  redbeams-api/src/main/java/com/sequenceiq/redbeams/doc/OperationDescriptions.java
  redbeams/src/main/java/com/sequenceiq/redbeams/configuration/EndpointConfig.java
  redbeams/src/main/java/com/sequenceiq/redbeams/controller/v4/progress/ProgressV4Controller.java
Labels: enhancement

#10056 CB-11188 Optionally initialize real UMS users by parameter
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v4/environment/AbstractEnvironmentAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v4/environment/EnvironmentChangeAuthenticationAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v4/environment/EnvironmentChangeSecurityAccessAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v4/environment/EnvironmentDeleteAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v4/environment/EnvironmentDeleteByNameAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v4/environment/EnvironmentDeleteMultipleByCrnsAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v4/environment/EnvironmentDeleteMultipleByNamesAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/actor/CloudbreakActor.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/actor/CloudbreakUserCache.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/MeasuredTestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/RunningParameter.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/environment/EnvironmentTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/AbstractIntegrationTest.java
Labels: bug, raven, real_ums_test, test

#10134 CB-11151 - Enhance the logging in the volume handler logic
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/resource/AwsAttachmentResourceBuilder.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/resource/AwsEfsResourceBuilder.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/resource/AwsVolumeResourceBuilder.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/resource/VolumeResourceCollector.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/resource/AzureAttachmentResourceBuilder.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/resource/AzureVolumeResourceBuilder.java
  cloud-gcp/build.gradle
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/compute/GcpAttachedDiskResourceBuilder.java
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/compute/GcpDiskResourceBuilder.java
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/compute/GcpInstanceResourceBuilder.java
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/compute/GcpReservedIpResourceBuilder.java
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/service/checker/AbstractGcpBaseResourceChecker.java
  cloud-gcp/src/test/java/com/sequenceiq/cloudbreak/cloud/gcp/service/checker/AbstractGcpBaseResourceCheckerTest.java
  cloud-openstack/src/main/java/com/sequenceiq/cloudbreak/cloud/openstack/nativ/AbstractOpenStackResourceBuilder.java
  cloud-openstack/src/main/java/com/sequenceiq/cloudbreak/cloud/openstack/nativ/compute/OpenStackAttachedDiskResourceBuilder.java
  cloud-openstack/src/main/java/com/sequenceiq/cloudbreak/cloud/openstack/nativ/compute/OpenStackInstanceBuilder.java
  cloud-openstack/src/main/java/com/sequenceiq/cloudbreak/cloud/openstack/nativ/compute/OpenStackPortBuilder.java
Labels: aws_e2e_test
