Repository hortonworks/cloudbreak, pull requests merged in 2021-11, with the labels that each got.

#11597 CB-14473/CB-14474 modify ClusterProxy endpoint registration for CM
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/provision/service/ClusterProxyService.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/orchestration/BootstrapMachineHandler.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/provision/service/ClusterProxyServiceTest.java
Labels: hacktoberfest-accepted

#11691 CB-14697 do not use body for get request -> use query params instead.…
  datalake-api/src/main/java/com/sequenceiq/sdx/api/endpoint/SdxEndpoint.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/model/SdxInstanceGroupNamesRequest.java
  datalake/src/main/java/com/sequenceiq/datalake/controller/sdx/SdxController.java
Labels: bug

#11685 CB-14740 Fix external test group variables for BasicEnvironmentVirtualGroupTest
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/BasicEnvironmentVirtualGroupTest.java
  integration-test/src/main/resources/application.yml
Labels: bug, raven, L0 test

#11710 CB-14645 Adds a real ums test to validate change image catalog permis…
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/controller/DistroXV1Controller.java
  datalake/src/main/java/com/sequenceiq/datalake/controller/sdx/SdxController.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/ChangeImageCatalogTest.java
  integration-test/src/main/resources/testsuites/v4/mock/real-ums-mock-tests.yaml
Labels: real_ums_test

#11697 CB-14572 Add TunnelType to FreeIPA response
  environment-api/src/main/java/com/sequenceiq/environment/api/doc/environment/EnvironmentModelDescription.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/FreeIpaApi.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/freeipa/stack/FreeIpaV1Endpoint.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/freeipa/stack/doc/FreeIpaModelDescriptions.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/freeipa/stack/model/describe/DescribeFreeIpaResponse.java
  freeipa/src/main/java/com/sequenceiq/freeipa/configuration/EndpointConfig.java
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/stack/StackToDescribeFreeIpaResponseConverter.java
  freeipa/src/test/java/com/sequenceiq/freeipa/converter/stack/StackToDescribeFreeIpaResponseConverterTest.java
  redbeams-api/src/main/java/com/sequenceiq/redbeams/api/RedbeamsApi.java
Labels: DO_NOT_MERGE

#11718 CB-14297 FlowsAlreadyRunningExceptionMapper moved to common module
  common/src/main/java/com/sequenceiq/cloudbreak/exception/CloudbreakApiException.java
  common/src/main/java/com/sequenceiq/cloudbreak/exception/FlowNotAcceptedException.java
  common/src/main/java/com/sequenceiq/cloudbreak/exception/FlowsAlreadyRunningException.java
  common/src/main/java/com/sequenceiq/cloudbreak/exception/mapper/FlowsAlreadyRunningExceptionMapper.java
Labels: aws_e2e_test

#11707 CB-14115 Set Cloudera Runtime 7.2.13 default
  datalake/src/main/resources/application.yml
  integration-test/src/main/resources/application.yml
Labels: aws_e2e_test

#11513 CB-14796 Remove RBAC entitlement and remove legacy authorization code
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementService.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/GrpcUmsClient.java
  authorization-common-api/src/main/java/com/sequenceiq/authorization/info/model/ApiAuthorizationInfo.java
  authorization-common-api/src/main/java/com/sequenceiq/authorization/info/model/ApiAuthorizationInfoBuilder.java
  authorization-common-api/src/main/java/com/sequenceiq/authorization/info/model/LegacyAuthorizationInfo.java
  authorization-common/README.md
  authorization-common/src/main/java/com/sequenceiq/authorization/service/CommonPermissionCheckingUtils.java
  authorization-common/src/main/java/com/sequenceiq/authorization/service/OwnerAssignmentService.java
  authorization-common/src/main/java/com/sequenceiq/authorization/service/ResourceAuthorizationService.java
  authorization-common/src/main/java/com/sequenceiq/authorization/service/ResourceCrnAthorizationFactory.java
  authorization-common/src/main/java/com/sequenceiq/authorization/service/ResourceCrnListAuthorizationFactory.java
  authorization-common/src/main/java/com/sequenceiq/authorization/service/UmsAccountAuthorizationService.java
  authorization-common/src/main/java/com/sequenceiq/authorization/service/UmsResourceAuthorizationService.java
  authorization-common/src/main/java/com/sequenceiq/authorization/service/UmsRightProvider.java
  authorization-common/src/main/java/com/sequenceiq/authorization/service/info/ApiPermissionInfoGenerator.java
  authorization-common/src/main/resources/legacyRights.json
  authorization-common/src/test/java/com/sequenceiq/authorization/service/CommonPermissionCheckingUtilsBulkTest.java
  authorization-common/src/test/java/com/sequenceiq/authorization/service/CommonPermissionCheckingUtilsTest.java
  authorization-common/src/test/java/com/sequenceiq/authorization/service/ResourceAuthorizationServiceTest.java
  authorization-common/src/test/java/com/sequenceiq/authorization/service/ResourceCrnAthorizationProviderTest.java
  authorization-common/src/test/java/com/sequenceiq/authorization/service/UmsAccountAuthorizationServiceTest.java
  authorization-common/src/test/java/com/sequenceiq/authorization/service/UmsResourceAuthorizationServiceTest.java
  authorization-common/src/test/java/com/sequenceiq/authorization/service/UmsRightProviderTest.java
  environment/src/test/java/com/sequenceiq/environment/service/integration/AuditCredentialAuthorizationIntegrationTest.java
  environment/src/test/java/com/sequenceiq/environment/service/integration/CredentialAuthorizationIntegrationTest.java
  environment/src/test/java/com/sequenceiq/environment/service/integration/EnvironmentServiceIntegrationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/AuthUserKeys.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/EnvironmentLegacyAuthzGetTest.java
  integration-test/src/main/resources/testsuites/v4/mock/legacy-authz-mock-tests.yaml
Labels: aws_e2e_test, real_ums_test

#11726 CB-14783 Image catalog permission check while changing DataLake image catalog.
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/imagecatalog/ImageCatalogV4Endpoint.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/doc/OperationDescriptions.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/ImageCatalogV4Controller.java
  datalake/src/main/java/com/sequenceiq/datalake/controller/sdx/SdxController.java
  datalake/src/main/java/com/sequenceiq/datalake/service/imagecatalog/ImageCatalogService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxService.java
  datalake/src/test/java/com/sequenceiq/datalake/service/imagecatalog/ImageCatalogServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxServiceTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/ChangeImageCatalogTest.java
Labels: real_ums_test

#11661 CB-14482 Set the callingServiceName GRPC context for UMS calls
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/AuthorizationClient.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/GrpcUmsClient.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/PersonalResourceViewClient.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/UmsClient.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/config/UmsClientConfig.java
  autoscale/src/main/resources/application.yml
  core/src/main/resources/application.yml
  datalake/src/main/resources/application.yml
  environment/src/main/resources/application.yml
  freeipa/src/main/resources/application.yml
  grpc-common/src/main/java/com/sequenceiq/cloudbreak/grpc/altus/CallingServiceNameInterceptor.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/UmsClient.java
  redbeams/src/main/resources/application.yml
Labels: real_ums_test

#11706 CB-14540 Base distrox OS upgrade L0 test
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/cluster/DistroXUpgradeTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/search/KibanaSearchUrl.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/DistroXOSUpgradeTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/cloudbreak/CloudbreakWaitObject.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/datalake/DatalakeWaitObject.java
  integration-test/src/main/resources/testsuites/e2e/l0promotion/distrox-os-upgrade-tests.yaml
Labels: enhancement, in progress, raven, L0 test

#11785 CB-14656 Skip unbound fix if the file is missing
  orchestrator-salt/src/main/resources/salt/salt/unbound/init.sls
Labels: aws_e2e_test
