Repository hortonworks/cloudbreak, pull requests merged in 2021-06, with the labels that each got.

#10809 CB-12841. Update nodestatus proto + latest cdp-telemetry version
  node-status-monitor-client/src/generated/main/java/com/cloudera/thunderhead/telemetry/nodestatus/NodeStatusProto.java
  node-status-monitor-client/src/main/proto/nodestatus.proto
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/init.sls
Labels: enhancement

#10829 CB-12877. Salt Failure When Creating Datalake.
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/states/JidInfoResponseTransformer.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/states/SaltStates.java
  orchestrator-salt/src/test/java/com/sequenceiq/cloudbreak/orchestrator/salt/states/JidInfoResponseTransformerTest.java
  orchestrator-salt/src/test/resources/jid_highstate_already_running_response.json
Labels: bug

#10841 CB-12895 Move shared connectors to common module
  cloud-aws-cloudformation/build.gradle
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsConnector.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsSetup.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsDownscaleService.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsDownscaleServiceTest.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/poller/PollerUtilTest.java
  cloud-aws-common/build.gradle
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsIdentityService.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsInstanceConnector.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsNoSqlConnector.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsObjectStorageConnector.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsPublicKeyConnector.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/poller/CancellableAttemptMaker.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/poller/PollerUtil.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/validator/AwsDataAccessRolePermissionValidator.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/validator/AwsIDBrokerAssumeRoleValidator.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/validator/AwsIDBrokerMappedRolePermissionValidator.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/validator/AwsIDBrokerObjectStorageValidator.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/validator/AwsInstanceProfileEC2TrustValidator.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/validator/AwsLogRolePermissionValidator.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/validator/AwsRangerAuditRolePermissionValidator.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsInstanceConnectorTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsNoSqlConnectorTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsObjectStorageConnectorTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsPublicKeyConnectorTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/validator/AwsDataAccessRolePermissionValidatorTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/validator/AwsIDBrokerAssumeRoleValidatorTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/validator/AwsIDBrokerMappedRolePermissionValidatorTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/validator/AwsInstanceProfileEC2TrustValidatorTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/validator/AwsRangerAuditRolePermissionValidatorTest.java
  cloud-aws-native/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNativeConnector.java
Labels: aws_e2e_test

#10848 CB-12902 Add AwsNativeSetup. The old AwsSetup splitted 2 setup implem…
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsConnector.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsLegacySetup.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNetworkConnector.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsStackRequestHelper.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/CloudFormationTemplateBuilder.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsLaunchService.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsLoadBalancerLaunchService.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsModelService.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsNetworkService.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsRdsLaunchService.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsResourceConnector.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsUpscaleService.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/resource/AwsVolumeResourceBuilder.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsLaunchServiceLoadBalancerTest.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsSetup.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/view/AwsInstanceView.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/view/AwsNetworkView.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/view/AwsInstanceViewTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/view/AwsNetworkViewTest.java
  cloud-aws-native/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNativeConnector.java
  cloud-aws-native/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNativeSetup.java
  environment/src/main/java/com/sequenceiq/environment/network/v1/converter/AwsEnvironmentNetworkConverter.java
Labels: aws_e2e_test

#10803 CB-12505 Mount ephemeral volumes to different file path based on temporary storage value
  core/src/main/java/com/sequenceiq/cloudbreak/util/StackUtil.java
  orchestrator-api/src/main/java/com/sequenceiq/cloudbreak/orchestrator/model/Node.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestrator.java
  orchestrator-salt/src/main/resources/salt/salt/disks/mount/scripts/mount-disks.j2
Labels: aws_e2e_test

#10839 CB-12831 testAddGroupsToEnvironment test is failing AssignResourceRoleUserAction: ALREADY_EXISTS
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/GrpcUmsClient.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/UmsClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/ums/AssignResourceRoleUserAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/BasicEnvironmentVirtualGroupTest.java
Labels: L0 test, bug, raven, real_ums_test

#10869 CB-12906 whenException does not throw TestFailException in case of error
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
Labels: L0 test, bug, raven, real_ums_test

#10899 CB-12898 imlplement native metadata collector for AWS
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsMetadataCollector.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNetworkConnector.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/CloudFormationStackUtil.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsLoadBalancerLaunchService.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/loadbalancer/AwsListener.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/loadbalancer/AwsLoadBalancer.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/loadbalancer/AwsTargetGroup.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/loadbalancer/converter/LoadBalancerTypeConverter.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsMetaDataCollectorTest.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNetworkConnectorTest.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsValidatorsTest.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/CloudFormationTemplateBuilderTest.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/conf/AwsConfigTagValueValidatorRegexpTest.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsLaunchServiceLoadBalancerTest.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/config/AwsConfig.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/loadbalancer/AwsLoadBalancerScheme.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/loadbalancer/LoadBalancerTypeConverter.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/subnetselector/SubnetFilterStrategy.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/subnetselector/SubnetFilterStrategyMultiplePreferPrivate.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/subnetselector/SubnetFilterStrategyMultiplePreferPublic.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/subnetselector/SubnetFilterStrategyType.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/subnetselector/SubnetSelectorService.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsInstanceConnectorTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/subnetselector/SubnetBuilder.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/subnetselector/SubnetFilterStrategyMultiplePreferPrivateTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/subnetselector/SubnetFilterStrategyMultiplePreferPublicTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/subnetselector/SubnetHelper.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/subnetselector/SubnetSelectorServiceTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/subnetselector/SubnetSelectorStrategyTypeTest.java
  cloud-aws-native/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNativeConnector.java
  cloud-aws-native/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/metadata/AwsNativeMetadataCollector.java
  cloud-aws-native/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNativeMetadataCollectorApiIntegrationTest.java
  cloud-aws-native/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNativeMetadataCollectorTest.java
Labels: aws_e2e_test

#10892 CB-13013 WaitOperationChecker exitWaiting does not throw exception in case of isCreateFailed
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/WaitFailedChecker.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/WaitObject.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/WaitOperationChecker.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/WaitTerminationChecker.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/cloudbreak/CloudbreakWaitObject.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/instance/InstanceFailedChecker.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/instance/InstanceOperationChecker.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/instance/InstanceTerminationChecker.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/instance/InstanceWaitObject.java
Labels: aws_e2e_test, bug, raven, real_ums_test, test

#10904 CB-13029 Introduce retry logic to resource role assignment
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/GrpcUmsClient.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/UmsClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/ums/AbstractUmsAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/ums/AssignResourceRoleGroupAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/ums/AssignResourceRoleUserAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/ums/UnassignResourceRoleAction.java
Labels: L0 test, enhancement, raven, real_ums_test, test

#10845 CB-12688 - Modify credential validation to make sure we are only checking the combined minimal policy in case of validation
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsCredentialVerifier.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsCredentialVerifierTest.java
Labels: wolf

#10921 CB-13081 DL upgrade on azure: package version check still throws
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/image/update/StackImageUpdateActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/image/update/StackImageUpdateService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/InstanceMetadataUpdater.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/stack/image/update/StackImageUpdateActionsTest.java
Labels: support

#10884 CB-12910 Populate rackId in InstanceMetaData (core)
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/CloudInstance.java
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/generic/DynamicModel.java
  cloud-api/src/test/java/com/sequenceiq/cloudbreak/cloud/model/generic/DynamicModelTest.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsMetadataCollector.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsMetaDataCollectorTest.java
  common/src/main/java/com/sequenceiq/cloudbreak/util/NullUtil.java
  common/src/test/java/com/sequenceiq/cloudbreak/util/NullUtilTest.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/response/instancegroup/instancemetadata/InstanceMetaDataV4Response.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/doc/ModelDescriptions.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/Stack.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/instance/InstanceMetaData.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/spi/InstanceMetaDataToCloudInstanceConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/spi/StackToCloudStackConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/instancegroup/InstanceMetaDataToInstanceMetaDataV4ResponseConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/flow/MetadataSetupService.java
  core/src/main/resources/schema/app/20210604170759_CB-12910_Populate_rackId_in_InstanceMetaData_core.sql
  core/src/test/java/com/sequenceiq/cloudbreak/converter/spi/InstanceMetaDataToCloudInstanceConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/spi/StackToCloudStackConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/stack/instance/InstanceMetaDataToInstanceMetaDataJsonConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v4/stacks/instancegroup/InstanceMetaDataToInstanceMetaDataV4ResponseConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stack/flow/MetadataSetupServiceTest.java
Labels: DO_NOT_MERGE

#10824 CB-12695-new-tunneltype
  common-model/src/main/java/com/sequenceiq/common/api/type/Tunnel.java
  common/src/test/java/com/sequenceiq/cloudbreak/converter/TunnelConverterTest.java
Labels: wolf

#10951 CB-13167. Included hosts/host groups and excluded hosts are not passe…
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/handler/DiagnosticsEnsureMachineUserHandler.java
Labels: bug

#10945 Fixing vm-log path pattern typos
  core/src/main/resources/defaults/vm-logs.json
Labels: bug

#10965 CB-12921 Run salt commands only on actually reachable minions. Save p…
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunner.java
  flow/src/main/java/com/sequenceiq/flow/reactor/config/EventBusStatisticReporter.java
  orchestrator-api/src/main/java/com/sequenceiq/cloudbreak/orchestrator/host/HostOrchestrator.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestrator.java
  orchestrator-salt/src/test/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestratorTest.java
Labels: aws_e2e_test

#10930 CB-12939 Always request instance storage on AWS
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/InstanceStoreMetadata.java
  cloud-api/src/test/java/com/sequenceiq/cloudbreak/cloud/model/InstanceStoreMetadataTest.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsMetadataCollector.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/resource/AwsAttachmentResourceBuilder.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/resource/AwsVolumeResourceBuilder.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/resource/AwsVolumeResourceBuilderTest.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsPlatformParameters.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/view/AwsGroupView.java
  cloud-aws-native/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/resource/instance/AwsNativeInstanceResourceBuilder.java
  common-model/src/main/java/com/sequenceiq/common/model/AwsDiskType.java
  core-model/src/test/java/com/sequenceiq/cloudbreak/TestUtil.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/provision/service/StackCreationService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/ClusterRepairService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/StackStopRestrictionService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/stack/provision/service/StackCreationServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stack/StackStopRestrictionServiceTest.java
Labels: aws_e2e_test

#10978 CB-13233 Prepare UnassignResourceRoleAction for NOT_FOUND case
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/ums/AssignResourceRoleUserAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/ums/UnassignResourceRoleAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/ums/UmsTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/BasicEnvironmentVirtualGroupTest.java
Labels: L0 test, bug, raven, real_ums_test
