Repository hortonworks/cloudbreak, pull requests merged in 2021-04, with the labels that each got.

#10446 CB-11987 - Appending the profile and topologies query parameters into the Token Integration URL
  core-api/src/main/resources/definitions/exposed-services.json
Labels: Knox

#10452 CB-11802 Rollback of failed upscale resources due to AWS quota limit fails when there is activity still in progress on the auto scaling group
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/mapper/SdkClientExceptionMapper.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/mapper/SdkClientExceptionMapperTest.java
Labels: aws_e2e_test

#9943 CB-9193. Eliminate class java.lang.String cannot be cast to class jav…
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/domain/JidInfoResponse.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/states/JidInfoResponseTransformer.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/states/RunnerInfoConverter.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/states/SaltStates.java
  orchestrator-salt/src/test/java/com/sequenceiq/cloudbreak/orchestrator/salt/states/JidInfoResponseTransformerTest.java
  orchestrator-salt/src/test/java/com/sequenceiq/cloudbreak/orchestrator/salt/states/SaltStatesTest.java
  orchestrator-salt/src/test/resources/jid_empty_response.json
  orchestrator-salt/src/test/resources/jid_invalid_response1.json
  orchestrator-salt/src/test/resources/jid_invalid_response2.json
  orchestrator-salt/src/test/resources/jid_invalid_response3.json
  orchestrator-salt/src/test/resources/jid_invalid_response4.json
  orchestrator-salt/src/test/resources/jid_minion_no_return.json
Labels: aws_e2e_test

#10269 CB-9504 Replace FreeIPA error page
  freeipa/src/main/resources/freeipa-salt/salt/freeipa/patch-pki-tomcat.sls
  freeipa/src/main/resources/freeipa-salt/salt/top.sls
Labels: DO_NOT_MERGE

#10481 CB-12099 I'm testing the minimal AWS policy, and I have found some mi…
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsLoadBalancerLaunchService.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/util/AwsCloudFormationErrorMessageProvider.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/util/AwsCloudFormationErrorMessageProviderTest.java
  common/src/main/java/com/sequenceiq/cloudbreak/common/exception/WebApplicationExceptionMessageExtractor.java
  core/build.gradle
  core/src/main/java/com/sequenceiq/cloudbreak/controller/mapper/AmazonServiceExceptionMapper.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/create/SdxCreateActions.java
Labels: aws_e2e_test

#10483 CB-12097 [DATADOG] Cannot delete cluster template becuause of authz
  authorization-common/src/main/java/com/sequenceiq/authorization/service/ResourceNameListAuthorizationFactory.java
  authorization-common/src/test/java/com/sequenceiq/authorization/service/ResourceNameListAuthorizationFactoryTest.java
Labels: real_ums_test

#10501 CB-12163. Collect CM related metrics by cdp-metrics-collector & clean…
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigService.java
  node-status-monitor-client/src/generated/main/java/com/cloudera/thunderhead/telemetry/nodestatus/NodeStatusProto.java
  node-status-monitor-client/src/main/proto/nodestatus.proto
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/scripts/metrics_collector.py
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/scripts/metrics_logger.py
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/scripts/retry.py
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/template/metrics-collector.service.j2
  orchestrator-salt/src/main/resources/salt/salt/monitoring/scripts/cm_metrics_collector.py
  orchestrator-salt/src/main/resources/salt/salt/monitoring/template/metrics-collector.yaml.j2
Labels: enhancement

#10512 CB-12178 Improve authz error messages
  authorization-common/src/main/java/com/sequenceiq/authorization/service/PermissionCheckService.java
  authorization-common/src/main/java/com/sequenceiq/authorization/service/model/HasRight.java
  authorization-common/src/main/java/com/sequenceiq/authorization/service/model/HasRightOnAll.java
  authorization-common/src/main/java/com/sequenceiq/authorization/service/model/HasRightOnAny.java
  authorization-common/src/main/java/com/sequenceiq/authorization/utils/AuthorizationMessageUtils.java
  authorization-common/src/test/java/com/sequenceiq/authorization/service/PermissionCheckServiceTest.java
  authorization-common/src/test/java/com/sequenceiq/authorization/service/ResourceAuthorizationServiceTest.java
  authorization-common/src/test/java/com/sequenceiq/authorization/service/model/HasRightOnAllTest.java
  authorization-common/src/test/java/com/sequenceiq/authorization/service/model/HasRightOnAnyTest.java
  authorization-common/src/test/java/com/sequenceiq/authorization/service/model/HasRightTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/CreateDhWithDatahubCreator.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/CredentialCreateTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/DataStewardTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/DatalakeDatahubCreateAuthTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/EnvStopStartWithEnvAdmin.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/EnvironmentCreateTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/RecipeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/AuthorizationTestUtil.java
Labels: real_ums_test

#10494 DISTX-610 Revert : DISTX-595 Release a first version of Oozie HA with…
  core/src/main/resources/defaults/blueprints/7.2.10/cdp-data-engineering-ha.bp
  core/src/main/resources/defaults/blueprints/7.2.9/cdp-data-engineering-ha.bp
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/oozie/OozieHAConfigProvider.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/oozie/OozieRoleConfigProvider.java
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/oozie/OozieHAConfigProviderTest.java
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/oozie/OozieRoleConfigProviderTest.java
  template-manager-cmtemplate/src/test/resources/input/de-ha.bp
Labels: DO_NOT_MERGE

#10521 CB-12080 update datahub list filtering test
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/listfiltering/DataHubListFilteringTest.java
Labels: real_ums_test

#10522 merge 2.41 to master
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/listfiltering/DataHubListFilteringTest.java
Labels: real_ums_test

#10523 CB-12205 Fix N+1 queries in list filtering
  core/src/main/java/com/sequenceiq/cloudbreak/repository/ImageCatalogRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/RecipeViewRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/image/ImageCatalogService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/recipe/RecipeService.java
  environment/src/main/java/com/sequenceiq/environment/environment/repository/EnvironmentRepository.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentService.java
Labels: real_ums_test

#10519 CB-10887 Introduce authorization tests regarding environment users
  integration-test/scripts/fetch-secrets.sh
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeIpaFindGroupsAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeIpaFindUsersAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeIpaFindUsersInGroupAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/ums/AssignResourceRoleAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/ums/AssignUmsRoleAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/ums/GetUserDetailsAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/ums/UnassignResourceRoleAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/actor/CloudbreakUser.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/FreeIpaTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/UmsTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/BasicEnvironmentVirtualGroupTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/InternalSdxSshAndCmAccessTest.java
  integration-test/src/main/resources/testsuites/e2e/l0promotion/aws-env-virtualgroup-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/l0promotion/aws-sdx-ssh-tests.yaml
Labels: L0 test, aws_e2e_test, enhancement, raven, real_ums_test

#10524 CDPCP-3974. Update gradle dependencies
  build.gradle
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsLaunchTemplateImageUpdateServiceTest.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/util/AwsEncodedAuthorizationFailureMessageDecoderTest.java
  common-handlebar/build.gradle
  gradle.properties
  template-manager-cmtemplate/build.gradle
  template-manager-recipe/build.gradle
Labels: aws_e2e_test

#10545 CDPCP-3974. Update gradle dependencies (v2 - spring messaging)
  build.gradle
Labels: aws_e2e_test

#10546 CDPCP-3974. Update gradle dependencies (v3 - jackson version updates).
  gradle.properties
Labels: aws_e2e_test

#10554 CB-12247 Implement UMS User Group TestDTO and Client Actions for Integration Test module
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/GrpcUmsClient.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/UmsClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/ums/AddUserToGroupAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/ums/CreateUserGroupAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/ums/DeleteUserGroupAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/ums/ListGroupMembersAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/UmsTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/ums/UmsGroupTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/ums/UmsTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/request/ums/AssignResourceRequest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/request/ums/CreateUserGroupRequest.java
Labels: L0 test, enhancement, raven

#10561 CB-11868 Create DistroX internal API for COD usecase
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/blueprint/BlueprintV4Endpoint.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/common/ResourceStatus.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/recipes/RecipeV4Endpoint.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/doc/OperationDescriptions.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/endpoint/DistroXV1Endpoint.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/Blueprint.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/CreationType.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/Recipe.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/converter/CreationTypeConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/BlueprintV4Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/RecipesV4Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/recipes/RecipeV4RequestToRecipeConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/blueprint/BlueprintService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/recipe/RecipeService.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/controller/DistroXV1Controller.java
  core/src/main/resources/schema/app/20210428113541_CB-11868_add_application_created_flag_to_recipe_and_blueprint.sql
  core/src/test/java/com/sequenceiq/cloudbreak/service/blueprint/BlueprintServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/recipe/RecipeServiceTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v1/distrox/DistroXCreateInternalAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v4/blueprint/BlueprintCreateInternalAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v4/recipe/RecipeCreateInternalAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/BlueprintTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/DistroXTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/RecipeTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/blueprint/BlueprintTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/DistroXTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/recipe/RecipeTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/DataHubCreateInternalApiTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ResourceCreator.java
  integration-test/src/main/resources/testsuites/v4/mock/real-ums-mock-tests.yaml
Labels: real_ums_test

#10549 CB-12046 s3 calls should not leave the s3 region
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/validator/AwsLogRolePermissionValidator.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/component/AwsLaunchTest.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/component/AwsRepairTest.java
  common/src/main/java/com/sequenceiq/cloudbreak/cloud/storage/LocationHelper.java
  common/src/test/java/com/sequenceiq/cloudbreak/cloud/storage/LocationHelperTest.java
  redbeams/src/main/java/com/sequenceiq/redbeams/RedbeamsApplication.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/core/CoreConfigProvider.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/hdfs/HdfsConfigProvider.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/s3/S3ConfigProvider.java
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/CentralCmTemplateUpdaterTest.java
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/hdfs/HdfsConfigProviderTest.java
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/s3/S3ConfigProviderTest.java
Labels: DO_NOT_MERGE
