Repository hortonworks/cloudbreak, pull requests merged in 2021-05, with the labels that each got.

#10594 CB-12385 Fix spot failure reason detection
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/spot/SpotTestResultProvider.java
Labels: aws_e2e_test

#10602 CB-12078 ums client should be created with original internal actor al…
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/GrpcUmsClient.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/UmsClient.java
  auth-connector/src/test/java/com/sequenceiq/cloudbreak/auth/altus/GrpcUmsClientTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunner.java
Labels: real_ums_test

#10618 CB-12428 Introduce custom UMS user Json path
  common/src/main/java/com/sequenceiq/cloudbreak/util/FileReaderUtils.java
  integration-test/Makefile
  integration-test/docker-compose_template.yml
  integration-test/scripts/config-ums.sh
  integration-test/scripts/docker-compose.sh
  integration-test/scripts/fetch-secrets.sh
  integration-test/scripts/fetch-ums-docker.sh
  integration-test/scripts/fetch-ums-users.sh
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/actor/CloudbreakUserCache.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/actor/UmsUserStoreConfig.java
  integration-test/src/main/resources/application.yml
Labels: L0 test, enhancement, raven, real_ums_test

#10627 CB-12397 Validate API call if user is internal but API is not interna…
  authorization-common-api/src/main/java/com/sequenceiq/authorization/annotation/AccountIdNotNeeded.java
  authorization-common/README.md
  authorization-common/src/main/java/com/sequenceiq/authorization/service/PermissionCheckService.java
  authorization-common/src/test/java/com/sequenceiq/authorization/service/PermissionCheckServiceTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/AutoscaleV4Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/CloudProviderServicesV4Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/UtilV4Controller.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/controller/DistroXInternalV1Controller.java
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/tags/endpoint/AccountTagEndpoint.java
  environment-api/src/main/java/com/sequenceiq/environment/api/v1/telemetry/endpoint/AccountTelemetryEndpoint.java
  environment/src/main/java/com/sequenceiq/environment/tags/v1/controller/AccountTagController.java
  environment/src/main/java/com/sequenceiq/environment/telemetry/v1/controller/AccountTelemetryController.java
  flow/src/main/java/com/sequenceiq/flow/controller/FlowController.java
  freeipa/src/main/java/com/sequenceiq/freeipa/controller/UserV1Controller.java
  freeipa/src/main/java/com/sequenceiq/freeipa/controller/UtilV1Controller.java
Labels: real_ums_test

#10646 CB-12486 Create a new README section (in Integration Test module) for L0 Promotion and UMS tests
  integration-test/README.md
Labels: L0 test, enhancement, raven

#10652 CB-11868 Create DistroX internal API for COD usecase
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/blueprint/BlueprintV4Endpoint.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/recipes/RecipeV4Endpoint.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/doc/OperationDescriptions.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/BlueprintV4Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/RecipesV4Controller.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v4/blueprint/BlueprintGetInternalAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v4/recipe/RecipeGetInternalAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/BlueprintTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/RecipeTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/DataHubCreateInternalApiTest.java
Labels: real_ums_test

#10661 CB-12527. CDP telemetry (diagnostics): skip update package mechanism …
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/init.sls
Labels: aws_e2e_test

#10690 CB-12363 Fix the error messages with exception at SshJClientActions
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/action/SshJClientActions.java
Labels: enhancement, raven, test

#10728 CB-12683. Fix typo in nodestatus.proto (statusReason of SaltMinionHealth
  node-status-monitor-client/src/generated/main/java/com/cloudera/thunderhead/telemetry/nodestatus/NodeStatusProto.java
  node-status-monitor-client/src/main/proto/nodestatus.proto
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/nodestatus/settings.sls
Labels: bug

#10732 CB-12446. Support no_proxy in process responsible for uploading boots…
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/databus_metering.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/databus_monitoring.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/output_databus.conf.j2
Labels: aws_e2e_test

#10766 CB-12772 Missing roles: ec2:CreateLaunchTemplateVersion, ec2:ModifyIn…
  cloud-aws/src/main/resources/definitions/environment-minimal-policy.json
Labels: aws_e2e_test

#10776 CB-12783. Use max_retry_interval for fluentd exponential backoff retr…
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/databus_metering.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/databus_monitoring.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/template/output_databus.conf.j2
Labels: enhancement

#10752 CB-12615 couple of CB related APIs still not authorized correctly
  .github/CODEOWNERS
  authorization-common-api/src/main/java/com/sequenceiq/authorization/annotation/FilterListBasedOnPermissions.java
  authorization-common/README.md
  authorization-common/src/main/java/com/sequenceiq/authorization/controller/AuthorizationInfoController.java
  authorization-common/src/test/java/com/sequenceiq/authorization/EnforceAuthorizationLogicsUtil.java
  authorization-common/src/test/java/com/sequenceiq/authorization/service/PermissionCheckServiceTest.java
  autoscale/src/main/java/com/sequenceiq/periscope/controller/ApiDocController.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/common/ApiDocController.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/BlueprintUtilV4Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/BlueprintV4Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/ClusterTemplateV4Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/CustomImageCatalogV4Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/DiagnosticsV4Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/FileSystemV4Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/ImageCatalogV4Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/RecipesV4Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/UtilV4Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/WorkspaceAwareUtilV4Controller.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/controller/DistroXV1Controller.java
  core/src/test/java/com/sequenceiq/cloudbreak/controller/v4/CustomImageCatalogV4ControllerTest.java
  datalake/src/main/java/com/sequenceiq/datalake/controller/ApiDocController.java
  datalake/src/main/java/com/sequenceiq/datalake/controller/diagnostics/DiagnosticsController.java
  datalake/src/main/java/com/sequenceiq/datalake/controller/sdx/SdxController.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/diagnostics/DiagnosticsService.java
  environment/src/main/java/com/sequenceiq/environment/configuration/swagger/ApiDocController.java
  environment/src/main/java/com/sequenceiq/environment/credential/v1/CredentialV1Controller.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/EnvironmentController.java
  freeipa/src/main/java/com/sequenceiq/freeipa/controller/ApiDocController.java
  freeipa/src/main/java/com/sequenceiq/freeipa/controller/FreeIpaV1Controller.java
  redbeams/src/main/java/com/sequenceiq/redbeams/controller/ApiDocController.java
  redbeams/src/main/java/com/sequenceiq/redbeams/controller/v4/database/DatabaseV4Controller.java
  redbeams/src/main/java/com/sequenceiq/redbeams/controller/v4/databaseserver/DatabaseServerV4Controller.java
Labels: real_ums_test

#10775 CB-12691 Introduce new step for default environment create method with Cluster Proxy
  integration-test/integcb/Profile_template
  integration-test/scripts/docker-compose.sh
  integration-test/scripts/stop-containers.sh
Labels: aws_e2e_test, enhancement, raven, real_ums_test, test

#10784 CB-12821. Provide uuid parameter in the internal datalake list diagno…
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/converter/FlowPayloadToDiagnosticDetailsConverter.java
  common/src/test/java/com/sequenceiq/cloudbreak/telemetry/converter/FlowPayloadToDiagnosticDetailsConverterTest.java
Labels: enhancement

#10788 CB-12762. Support no_proxy for cdp-telemetry (diagnostics) operations.
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/upload.sls
  orchestrator-salt/src/main/resources/salt-common/salt/telemetry/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/telemetry/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/telemetry/template/proxy-whitelist.txt.j2
Labels: enhancement
