Repository hortonworks/cloudbreak, pull requests merged in 2021-12, with the labels that each got.

#11822 CB-15252 Cannot delete the Network's CF stack if it is deleted on the…
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsCloudFormationClient.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNetworkConnector.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/CloudFormationStackUtil.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsRdsTerminateService.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsTerminateService.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNetworkConnectorTest.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsRdsTerminateServiceTest.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsTerminateServiceIntegrationTest.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsTerminateServiceTest.java
Labels: aws_e2e_test

#11863 CB-14785 Store the CM keytab in Vault
  common/src/main/java/com/sequenceiq/cloudbreak/service/secret/model/SecretResponse.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/freeipa/stack/model/common/instance/InstanceMetaDataResponse.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/kerberosmgmt/model/ServiceKeytabRequest.java
  freeipa-client/src/main/java/com/sequenceiq/freeipa/client/model/Service.java
  freeipa/src/main/java/com/sequenceiq/freeipa/cache/EnvironmentCache.java
  freeipa/src/main/java/com/sequenceiq/freeipa/entity/KeytabCache.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/termination/action/TerminationService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/kerberosmgmt/v1/HostKeytabService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/kerberosmgmt/v1/KerberosMgmtRoleComponent.java
  freeipa/src/main/java/com/sequenceiq/freeipa/kerberosmgmt/v1/KerberosMgmtV1Controller.java
  freeipa/src/main/java/com/sequenceiq/freeipa/kerberosmgmt/v1/KerberosMgmtV1Service.java
  freeipa/src/main/java/com/sequenceiq/freeipa/kerberosmgmt/v1/KerberosMgmtVaultComponent.java
  freeipa/src/main/java/com/sequenceiq/freeipa/kerberosmgmt/v1/KeytabCacheService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/kerberosmgmt/v1/KeytabCleanupService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/kerberosmgmt/v1/KeytabCommonService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/kerberosmgmt/v1/ServiceKeytabService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/kerberosmgmt/v1/VaultPathBuilder.java
  freeipa/src/main/java/com/sequenceiq/freeipa/repository/KeytabCacheRepository.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/client/CachedEnvironmentClientService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/FreeIpaClientFactory.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/cleanup/CleanupService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/StackService.java
  freeipa/src/main/resources/schema/app/20211129095302_CB-14785_create_table_keytabcache.sql
  freeipa/src/test/java/com/sequenceiq/freeipa/kerberosmgmt/KerberosMgmtRoleComponentV1Test.java
  freeipa/src/test/java/com/sequenceiq/freeipa/kerberosmgmt/KerberosMgmtV1ServiceTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/kerberosmgmt/KeytabCleanupServiceTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/kerberosmgmt/v1/HostKeytabServiceTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/kerberosmgmt/v1/KeytabCacheServiceTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/kerberosmgmt/v1/KeytabCommonServiceTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/kerberosmgmt/v1/ServiceKeytabServiceTest.java
  secret-engine/src/main/java/com/sequenceiq/cloudbreak/service/secret/service/SecretAspectService.java
Labels: aws_e2e_test

#11881 CB-15182 Update E2E tests to configure the instance group network for…
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v1/distrox/FetchPreferredSubnetForInstanceNetworkIfMultiAzEnabledAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/DistroXTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/DistroXTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/DistroXTestDtoBase.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXRepairTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXUpgradeTests.java
Labels: aws_e2e_test

#11800 CB-14825 Increase wait timeouts for SDX backup and restore
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxBackupAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxBackupInternalAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxRestoreInternalAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxSyncAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxSyncInternalAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
Labels: bug, test, raven

#11906 CB-15182 Update E2E tests to configure the instance group network for…
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/converter/DistroXV1RequestToStackV4RequestConverter.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v1/distrox/FetchPreferredSubnetForInstanceNetworkIfMultiAzEnabledAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/DistroXTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/DistroXTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/DistroXTestDtoBase.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXRepairTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXUpgradeTests.java
  integration-test/src/main/resources/testsuites/e2e/aws-distrox-tests.yaml
Labels: aws_e2e_test, aws_native_e2e_test

#11888 Make AWS native instance resource names be consistent with the Cloudf…
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/service/AwsResourceNameService.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/service/AwsResourceNameServiceTest.java
  cloud-aws-native/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/resource/instance/AwsNativeInstanceResourceBuilder.java
  cloud-reactor/src/main/java/com/sequenceiq/cloudbreak/cloud/service/CloudbreakResourceNameService.java
Labels: aws_e2e_test, aws_native_e2e_test

#11938 CB-15335. Addendum: use ClassValue class for every flow log db query.
  core/src/main/java/com/sequenceiq/cloudbreak/service/diagnostics/DiagnosticsService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/diagnostics/DiagnosticsService.java
  flow/src/main/java/com/sequenceiq/flow/repository/FlowLogRepository.java
  flow/src/main/java/com/sequenceiq/flow/service/FlowService.java
  flow/src/main/java/com/sequenceiq/flow/service/flowlog/FlowLogDBService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/diagnostics/DiagnosticsService.java
Labels: bug

#11945 CB-15396 Fix TagsUtil applied length restrictions for Azure and AWS
  config/idea/inspections.xml
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/E2ETestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/MeasuredTestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/util/TagsUtil.java
  integration-test/src/test/java/com/sequenceiq/it/util/TagsUtilTest.java
Labels: bug, enhancement, test, raven

#11947 CB-15495 TestNg reports are not generated for timed out test cases
  integration-test/scripts/check-results.sh
Labels: bug, test, raven

#11832 CB-15278 improve CMUpscaleWithHttp500ResponsesTest, CMStartStopWithHt…
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/CloudbreakClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/MeasuredTestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/RunningParameter.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/AbstractTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/DistroXTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/environment/EnvironmentTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIpaTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/mock/answer/DefaultResponseConfigure.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxCustomTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxInternalTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxRepairTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxUpgradeTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/AbstractMockTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/DistroXClusterCreationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/DistroXClusterStopStartTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/DistroXClusterUpscaleDownscaleTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/EnvironmentStartStopTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/MockSdxRepairTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/RecipeClusterTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/clouderamanager/CMDownscaleWithHttp500ResponsesTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/clouderamanager/CMStartStopWithHttp500ResponsesTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/clouderamanager/CMUpscaleWithHttp500ResponsesTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/FlowUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/ResourceAwait.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/cloudbreak/CloudbreakWaitObject.java
  integration-test/src/main/resources/testsuites/e2e/aws-distrox-tests.yaml
  mock-infrastructure/src/main/java/com/sequenceiq/mock/clouderamanager/CmProfile.java
  mock-infrastructure/src/main/java/com/sequenceiq/mock/controller/ConfigureController.java
  mock-infrastructure/src/main/java/com/sequenceiq/mock/controller/TestRelatedController.java
  mock-infrastructure/src/main/java/com/sequenceiq/mock/verification/RequestResponseStorageService.java
Labels: aws_e2e_test

#11811 CB-15236. Add cloudwatch connector & integrate with usage collection.
  cloudwatch-connector/build.gradle
  cloudwatch-connector/src/main/java/com/sequenceiq/cloudbreak/cloudwatch/config/CloudwatchConfiguration.java
  cloudwatch-connector/src/main/java/com/sequenceiq/cloudbreak/cloudwatch/model/CloudwatchRecordRequest.java
  cloudwatch-connector/src/main/java/com/sequenceiq/cloudbreak/cloudwatch/processor/AbstractCloudwatchRecordProcessor.java
  cloudwatch-connector/src/main/java/com/sequenceiq/cloudbreak/cloudwatch/processor/CloudwatchRecordWorker.java
  common/src/main/resources/common-config.yml
  core/src/main/java/com/sequenceiq/cloudbreak/util/UsageLoggingUtil.java
  core/src/test/java/com/sequenceiq/cloudbreak/util/UsageLoggingUtilTest.java
  kafka-connector/build.gradle
  kafka-connector/src/main/java/com/sequenceiq/cloudbreak/kafka/config/KafkaConfiguration.java
  kafka-connector/src/main/java/com/sequenceiq/cloudbreak/kafka/processor/AbstractKafkaRecordProcessor.java
  kafka-connector/src/main/java/com/sequenceiq/cloudbreak/kafka/processor/KafkaRecordWorker.java
  kudu-connector/src/main/java/com/sequenceiq/cloudbreak/kudu/config/KuduConfiguration.java
  kudu-connector/src/main/java/com/sequenceiq/cloudbreak/kudu/model/KuduRecordRequest.java
  kudu-connector/src/main/java/com/sequenceiq/cloudbreak/kudu/processor/AbstractKuduRecordProcessor.java
  kudu-connector/src/main/java/com/sequenceiq/cloudbreak/kudu/processor/KuduRecordWorker.java
  settings.gradle
  streaming-common/src/main/java/com/sequenceiq/cloudbreak/streaming/model/RecordRequest.java
  streaming-common/src/test/java/com/sequenceiq/cloudbreak/streaming/processor/RoundRobinStreamProcessingQueuesTest.java
  usage-collection/build.gradle
  usage-collection/src/main/java/com/sequenceiq/cloudbreak/usage/UsageReportProcessor.java
  usage-collection/src/main/java/com/sequenceiq/cloudbreak/usage/processor/EdhCloudwatchConfiguration.java
  usage-collection/src/main/java/com/sequenceiq/cloudbreak/usage/processor/EdhCloudwatchField.java
  usage-collection/src/main/java/com/sequenceiq/cloudbreak/usage/processor/EdhCloudwatchProcessor.java
  usage-collection/src/main/java/com/sequenceiq/cloudbreak/usage/strategy/CloudwatchUsageProcessingStrategy.java
  usage-collection/src/main/java/com/sequenceiq/cloudbreak/usage/strategy/LoggingUsageProcessingStrategy.java
  usage-collection/src/main/java/com/sequenceiq/cloudbreak/usage/strategy/UsageProcessingStrategy.java
  usage-collection/src/test/java/com/sequenceiq/cloudbreak/usage/UsageReportProcessorTest.java
  usage-collection/src/test/java/com/sequenceiq/cloudbreak/usage/strategy/CloudwatchUsageProcessingStrategyTest.java
Labels: enhancement

#11899 CB-15407 Cannot attach disk during the retry if the disk attachment f…
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/component/AwsLaunchTest.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/component/AwsRepairTest.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/volume/AwsAttachmentResourceBuilder.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/volume/AwsVolumeResourceBuilder.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/volume/AwsVolumeResourceBuilderTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/spi/ResourceToCloudResourceConverter.java
Labels: aws_e2e_test, aws_native_e2e_test

#11974 CB-15495 TestNg E2E tiemout validation if INTEGRATIONTEST_TIMEOUT_E2E_CHECK set
  integration-test/scripts/check-results.sh
Labels: bug, test, raven

#11977 Revert "CB-15495 TestNg E2E tiemout validation if INTEGRATIONTEST_TIM…
  integration-test/scripts/check-results.sh
Labels: enhancement, test, raven, revert

#11769 CB-14186 During the upgrade we need to migrate the cloud formation resources to the native variant.
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementService.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/model/Entitlement.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/util/AwsMethodExecutor.java
  cloud-aws-native/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/resource/instance/AwsNativeInstanceResourceBuilder.java
  cloud-aws-native/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/resource/instance/AwsNativeInstanceResourceBuilderTest.java
  cloud-reactor-api/src/main/java/com/sequenceiq/cloudbreak/cloud/event/resource/migration/aws/CreateResourcesRequest.java
  cloud-reactor-api/src/main/java/com/sequenceiq/cloudbreak/cloud/event/resource/migration/aws/CreateResourcesResult.java
  cloud-reactor-api/src/main/java/com/sequenceiq/cloudbreak/cloud/event/resource/migration/aws/DeleteCloudFormationRequest.java
  cloud-reactor-api/src/main/java/com/sequenceiq/cloudbreak/cloud/event/resource/migration/aws/DeleteCloudFormationResult.java
  common/src/main/resources/messages/messages.properties
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/projection/StackPlatformVariantView.java
  core/build.gradle
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/CloudbreakFlowInformation.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/ClusterRepairFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/DownscaleFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/MultiHostgroupDownscaleFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/StackRepairFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/UpgradeDistroxFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/UpscaleFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/event/AwsVariantMigrationTriggerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/event/DistroXUpgradeTriggerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/event/StackAndClusterUpscaleTriggerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/event/StackDownscaleTriggerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/event/StackScaleTriggerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/ReactorFlowManager.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/migration/AbstractAwsVariantMigrationAction.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/migration/AwsVariantMigrationActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/migration/AwsVariantMigrationEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/migration/AwsVariantMigrationFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/migration/AwsVariantMigrationFlowContext.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/migration/AwsVariantMigrationFlowState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/migration/handler/AwsMigrationUtil.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/migration/handler/CreateResourcesHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/migration/handler/DeleteCloudFormationHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/upscale/AbstractStackUpscaleAction.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/upscale/StackUpscaleActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/orchestration/ClusterRepairTriggerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/StackRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/StackUpdater.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/metrics/MetricType.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/StackService.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/service/upgrade/DistroXUpgradeService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/ReactorFlowManagerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/chain/ClusterRepairFlowEventChainFactoryTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/chain/MultiHostgroupDownscaleFlowEventChainFactoryTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/chain/UpgradeDistroxFlowEventChainFactoryTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/stack/migration/AwsVariantMigrationActionsTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/stack/migration/handler/AwsMigrationUtilTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/stack/migration/handler/CreateResourcesHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/stack/migration/handler/DeleteCloudFormationHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/stack/upscale/StackUpscaleActionsTest.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/service/upgrade/DistroXUpgradeServiceTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v1/distrox/CheckVariant.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/DistroXTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/DistroXTestDtoBase.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/cluster/DistroXUpgradeTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXAwsMigrationTest.java
  mock-infrastructure/src/main/java/com/sequenceiq/mock/clouderamanager/ClouderaManagerStoreService.java
  mock-infrastructure/src/main/java/com/sequenceiq/mock/clouderamanager/base/ParcelResourceOperation.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/auth/MockUserManagementService.java
Labels: aws_e2e_test, aws_native_e2e_test
