Repository hortonworks/cloudbreak, pull requests merged in 2021-08, with the labels that each got.

#11170 CB-8692 Cloud storage link on the test result page like Kibana link
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/AbstractCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProviderProxy.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/azure/AzureCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/gcp/GcpCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/mock/MockCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/E2ETestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/MeasuredTestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIpaTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/telemetry/TelemetryTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/listener/ReportListener.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/listener/TestInvocationListener.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/search/ClusterLogsStorageUrl.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/search/KibanaSearchUrl.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/search/StorageUrl.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/AbstractIntegrationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/CloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/AwsCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/amazons3/AmazonS3Util.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/amazons3/action/S3ClientActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/amazons3/client/S3Client.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/AzureCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/azurecloudblob/AzureCloudBlobUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/azurecloudblob/action/AzureCloudBlobClientActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/gcp/GcpCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/gcp/GcpUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/gcp/action/GcpClientActions.java
  integration-test/src/main/resources/application.yml
  integration-test/src/main/resources/org/uncommons/reportng/templates/html/custom.class-results.html.vm
  integration-test/src/main/resources/org/uncommons/reportng/templates/html/integration-test.class-results.html.vm
Labels: aws_e2e_test, enhancement, raven, real_ums_test, test

#11202 CB-13676 Move Kibana timestamp with one hour in HTML reports
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/search/KibanaSearchUrl.java
Labels: bug, raven, test

#11206 CB-13676 Remove time offset from Kibana search URL
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/search/KibanaSearchUrl.java
Labels: bug, raven, test

#11212 CB-13672 Fix hybrid cloud test
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/InstanceGroupTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/hybrid/AwsYcloudHybridCloudTest.java
Labels: aws_e2e_test

#11247 CB-13814. Heartbeats are using 'Metering' stream name rather than --M…
  orchestrator-salt/src/main/resources/salt-common/salt/fluent/settings.sls
Labels: bug, aws_e2e_test
