Repository hortonworks/cloudbreak, pull requests merged in 2021-10, with the labels that each got.

#11522 CB-14371 PrefferedSubnetIds must be a list when query detailed respon…
  environment/src/main/java/com/sequenceiq/environment/environment/v1/converter/NetworkDtoToResponseConverter.java
  environment/src/test/java/com/sequenceiq/environment/environment/v1/converter/NetworkDtoToResponseConverterTest.java
Labels: hacktoberfest-accepted

#11507 CB-13339 E2E test for FreeIPA upgrade
  common/src/main/java/com/sequenceiq/cloudbreak/common/json/Json.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/freeipa/upgrade/model/FreeIpaUpgradeResponse.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/image/ImageService.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/FreeIpaClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeIpaUpgradeAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/FreeIpaTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/AbstractCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProviderProxy.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/FreeIpaProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/azure/AzureCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/azure/AzureProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/gcp/GcpCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/gcp/GcpProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/AbstractFreeIpaTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIpaOperationStatusTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIpaTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIpaUserSyncTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaUpgradeTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/freeipa/FreeIpaOperationWaitObject.java
  integration-test/src/main/resources/application.yml
  integration-test/src/main/resources/testsuites/e2e/aws-longrunning-e2e-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/azure-longrunning-e2e-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/gcp-longrunning-e2e-tests.yaml
Labels: hacktoberfest-accepted

#11326 CB-13985. Support updating recipes on existing clusters.
  authorization-common-api/src/main/java/com/sequenceiq/authorization/resource/AuthorizationResourceAction.java
  authorization-common/src/main/resources/legacyRights.json
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/StackV4Endpoint.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/base/RefreshClusterRecipeV4Base.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/base/UpdateHostGroupRecipes.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/request/recipe/AttachRecipeV4Request.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/request/recipe/DetachRecipeV4Request.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/request/recipe/UpdateRecipesV4Request.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/response/recipe/AttachRecipeV4Response.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/response/recipe/UpdateRecipesV4Response.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/doc/OperationDescriptions.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/endpoint/DistroXV1Endpoint.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/Recipe.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/cluster/host/GeneratedRecipe.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/StackV4Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunner.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/cluster/ClusterBuilderService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/cluster/ClusterUpscaleService.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/DecommissionHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/recipe/StackPreTerminationHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/recipe/UploadRecipesHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/HostGroupRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/ClusterCommonService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/flow/recipe/OrchestratorRecipeExecutor.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/flow/recipe/RecipeEngine.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/flow/recipe/RecipeTemplateService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/hostgroup/HostGroupService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/recipe/GeneratedRecipeService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/recipe/UpdateRecipeService.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/StackOperations.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/controller/DistroXV1Controller.java
  core/src/main/resources/schema/app/20210923130932_CB-13985_add_recipe_for_generated_recipe.sql
  core/src/test/java/com/sequenceiq/cloudbreak/service/cluster/flow/recipe/OrchestratorRecipeExecutorTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/cluster/flow/recipe/RecipeTemplateServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/recipe/UpdateRecipeServiceTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v4/stack/StackAttachRecipeAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/StackTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/stack/StackTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/RecipeClusterTest.java
Labels: enhancement

#11527 CB-14384 remove Application tag from every cf template becuase it is …
  cloud-aws-cloudformation/src/main/resources/templates/aws-cf-dbstack.ftl
  cloud-aws-cloudformation/src/main/resources/templates/aws-cf-network.ftl
  cloud-aws-cloudformation/src/main/resources/templates/aws-cf-stack.ftl
  cloud-aws-cloudformation/src/test/resources/json/aws-cf-network-privatesubnet-missingvpcendpoints.json
  cloud-aws-cloudformation/src/test/resources/json/aws-cf-network-privatesubnet-novpcendpoints.json
  cloud-aws-cloudformation/src/test/resources/json/aws-cf-network-privatesubnet-onlygatewayvpcendpoints.json
  cloud-aws-cloudformation/src/test/resources/json/aws-cf-network-privatesubnet-onlyinterfacevpcendpoints.json
  cloud-aws-cloudformation/src/test/resources/json/aws-cf-network-privatesubnet-vpcendpoints-templatenamechange.json
  cloud-aws-cloudformation/src/test/resources/json/aws-cf-network-privatesubnet-vpcendpoints.json
  cloud-aws-cloudformation/src/test/resources/json/aws-cf-network-publicsubnet-onlygatewayvpcendpoints.json
  cloud-aws-cloudformation/src/test/resources/json/aws-cf-network-publicsubnet-vpcendpoints-differentazs.json
  cloud-aws-cloudformation/src/test/resources/json/aws-cf-network.json
Labels: aws_e2e_test, hacktoberfest-accepted

#11533 CB-14178 enable sonar on every modul except core where we get an exce…
  autoscale/build.gradle
  core/build.gradle
  datalake/build.gradle
  environment/build.gradle
  freeipa/build.gradle
  gradle.properties
  redbeams/build.gradle
  scripts/build-dev.sh
Labels: hacktoberfest-accepted

#11534 CB-14327: Use the current image catalog to get the target image for disk space validation.
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/upgrade/validation/handler/ClusterUpgradeDiskSpaceValidationHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/validation/DiskSpaceValidationService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/validation/ParcelSizeService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/validation/ParcelUrlProvider.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/upgrade/validation/handler/ClusterUpgradeDiskSpaceValidationHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/validation/DiskSpaceValidationServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/validation/ParcelSizeServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/validation/ParcelUrlProviderTest.java
Labels: hacktoberfest-accepted
