Repository hortonworks/cloudbreak, pull requests merged in 2021-09, with the labels that each got.

#11331 CB-13992 Create the environment with network by default. We need to e…
  environment/src/main/java/com/sequenceiq/environment/environment/validation/network/EnvironmentNetworkValidator.java
  environment/src/main/java/com/sequenceiq/environment/environment/validation/validators/NetworkCreationValidator.java
  environment/src/test/java/com/sequenceiq/environment/environment/validation/network/AwsEnvironmentNetworkValidatorTest.java
  environment/src/test/java/com/sequenceiq/environment/environment/validation/network/YarnEnvironmentNetworkValidatorTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/environment/EnvironmentTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/AbstractIntegrationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/diagnostics/DiagnosticsTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/AwsDistroXEphemeralTemporaryStorageTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXEncryptedVolumeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXImagesTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXRepairTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXScaleEdgeCasesTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXScaleTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXUpgradeTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/hybrid/AwsYcloudHybridCloudTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/imagevalidation/AbstractImageValidatorE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/BasicEnvironmentVirtualGroupTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/InternalSdxSshAndCmAccessTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/SdxBackupRestoreTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/PreconditionSdxE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/spot/AwsDistroXSpotInstanceTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/spot/AwsSdxSpotInstanceTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/AbstractMockTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/DistroXClusterCreationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/EnvironmentChildTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/EnvironmentExperienceTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/EnvironmentWithoutNetworkTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/FreeIpaAttachDetachChildEnvironmentTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/FreeIpaCreationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/FreeIpaStartStopTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/FreeIpaSyncTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/KerberizedStackCreationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/LdapConfigTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/MockSdxBlueprintLoadTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/YcloudHybridCloudTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/clouderamanager/CMStartStopWithHttp500ResponsesTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/clouderamanager/CMUpscaleWithHttp500ResponsesTest.java
Labels: aws_e2e_test

#11137 CB-13144 Implement mount and format of instance storage after instanc…
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunner.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/StackStopRestrictionService.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stack/StackStopRestrictionServiceTest.java
  orchestrator-api/src/main/java/com/sequenceiq/cloudbreak/orchestrator/host/HostOrchestrator.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestrator.java
  orchestrator-salt/src/main/resources/salt/pillar/mount/startup.sls
  orchestrator-salt/src/main/resources/salt/pillar/top.sls
  orchestrator-salt/src/main/resources/salt/salt/disks/mount/scripts/mount-disks.j2
  orchestrator-salt/src/main/resources/salt/salt/disks/service/init.sls
  orchestrator-salt/src/main/resources/salt/salt/disks/service/scripts/mount-instance-storage.j2
  orchestrator-salt/src/main/resources/salt/salt/disks/service/scripts/mount-instance-storage.service
  orchestrator-salt/src/main/resources/salt/salt/top.sls
  orchestrator-salt/src/test/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestratorTest.java
Labels: aws_e2e_test

#11378 CB-14012 Always register private IP to Cluster Proxy when using CCM
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/instance/InstanceMetaData.java
  core-model/src/test/java/com/sequenceiq/cloudbreak/domain/stack/instance/InstanceMetaDataTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/provision/service/ClusterProxyService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/provision/service/ClusterProxyServiceTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/ClusterProxyService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/stack/ClusterProxyServiceTest.java
Labels: DO_NOT_MERGE

#11446 CB-14054 Extract username from email for {{{userName}}} tag value
  environment/src/main/resources/definitions/default-internal-tags.json
  template-manager-tag/src/main/java/com/sequenceiq/cloudbreak/tag/TagTemplateProcessor.java
  template-manager-tag/src/test/java/com/sequenceiq/cloudbreak/tag/TagTemplateProcessorTest.java
Labels: aws_e2e_test

#11466 CB-14148 Validate user and resource account id in authz
  authorization-common/src/main/java/com/sequenceiq/authorization/service/RequestPropertyAuthorizationFactory.java
  authorization-common/src/main/java/com/sequenceiq/authorization/service/ResourceCrnAthorizationFactory.java
  authorization-common/src/main/java/com/sequenceiq/authorization/service/ResourceCrnListAuthorizationFactory.java
  authorization-common/src/main/java/com/sequenceiq/authorization/utils/CrnAccountValidator.java
  authorization-common/src/test/java/com/sequenceiq/authorization/service/RequestPropertyAuthorizationFactoryTest.java
  authorization-common/src/test/java/com/sequenceiq/authorization/service/ResourceCrnAthorizationProviderTest.java
  authorization-common/src/test/java/com/sequenceiq/authorization/service/ResourceCrnListAuthorizationFactoryTest.java
  authorization-common/src/test/java/com/sequenceiq/authorization/utils/CrnAccountValidatorTest.java
  environment/src/test/java/com/sequenceiq/environment/service/integration/EnvironmentServiceIntegrationTest.java
Labels: real_ums_test

#11460 CB-14183 Add a variant field to InstanceMetaData. We need to know tha…
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/instance/InstanceMetaData.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/StackV4RequestToStackConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/instancegroup/InstanceGroupV4RequestToInstanceGroupConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/InstanceMetaDataService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/StackService.java
  core/src/main/resources/schema/app/20210922084527_CB-14183_alter_instance_metadata_table_add_variant_column.sql
  core/src/test/java/com/sequenceiq/cloudbreak/converter/stack/instance/InstanceGroupV4RequestToInstanceGroupConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v4/stacks/StackV4RequestToStackConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v4/stacks/instancegroup/InstanceGroupV4RequestToInstanceGroupConverterTest.java
  core/src/test/resources/com/sequenceiq/cloudbreak/converter/v4/stacks/stack-datalake-with-instancegroups.json
  core/src/test/resources/com/sequenceiq/cloudbreak/converter/v4/stacks/stack-with-datalake-name.json
  core/src/test/resources/com/sequenceiq/cloudbreak/converter/v4/stacks/stack-with-environment-name.json
  core/src/test/resources/com/sequenceiq/cloudbreak/converter/v4/stacks/stack-with-instancegroups.json
  core/src/test/resources/com/sequenceiq/cloudbreak/converter/v4/stacks/stack-with-loginusername.json
  core/src/test/resources/com/sequenceiq/cloudbreak/converter/v4/stacks/stack-with-shared-service.json
  core/src/test/resources/com/sequenceiq/cloudbreak/converter/v4/stacks/stack-without-tags.json
  core/src/test/resources/com/sequenceiq/cloudbreak/converter/v4/stacks/stack.json
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/instance/InstanceGroupRequestToInstanceGroupConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/entity/InstanceMetaData.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/instance/InstanceMetaDataService.java
  freeipa/src/main/resources/schema/app/20210922084527_CB-14183_alter_instance_metadata_table_add_variant_column.sql
Labels: aws_e2e_test

#11449 CB-7858 CB should provide a link to CM command UI in case of timeout …
  cloud-common/src/main/java/com/sequenceiq/cloudbreak/polling/PollingService.java
  cloud-common/src/main/java/com/sequenceiq/cloudbreak/polling/StatusCheckerTask.java
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/service/ClusterEventService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/ClouderaManagerCommandPollerObject.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/ClouderaManagerPollingServiceProvider.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/AbstractClouderaManagerApiCheckerTask.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/AbstractClouderaManagerCommandCheckerTask.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/AbstractClouderaManagerCommandListCheckerTask.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerApplyHostTemplateListenerTask.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerBatchCommandsListenerTask.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerCollectDiagnosticsListenerTask.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerDecommissionHostListenerTask.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerDefaultListenerTask.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerDeployClientConfigListenerTask.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerGenerateCredentialsListenerTask.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerHostStatusChecker.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerKerberosConfigureListenerTask.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerParcelActivationListenerTask.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerParcelDeletedListenerTask.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerParcelRepositoryRefreshChecker.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerParcelStatusListenerTask.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerParcelsApiListenerTask.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerRefreshServiceConfigsListenerTask.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerRestartServicesListenerTask.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerServiceStartListenerTask.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerSingleParcelActivationListenerTask.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerStartManagementServiceListenerTask.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerStartupListenerTask.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerStopListenerTask.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerStopManagementServiceListenerTask.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerSyncApiCommandIdCheckerTask.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerTemplateInstallationChecker.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerUpgradeParcelDistributeListenerTask.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerUpgradeParcelDownloadListenerTask.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerUpgradeRuntimeListenerTask.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/polling/task/SilentCMDecommissionHostListenerTask.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/polling/task/AbstractClouderaManagerCommandCheckerTaskTest.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerHostStatusCheckerTest.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerParcelActivationListenerTaskTest.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/polling/task/ClouderaManagerSyncApiCommandIdCheckerTaskTest.java
  common/src/main/java/com/sequenceiq/cloudbreak/event/ResourceEvent.java
  common/src/main/resources/messages/messages.properties
  core/src/main/java/com/sequenceiq/cloudbreak/service/events/DefaultCloudbreakEventService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/CmCommandLinkProvider.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stack/CmCommandLinkProviderTest.java
Labels: aws_e2e_test, real_ums_test

#11493 CB-14136 Cannot create a security group if the user want to use the o…
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/util/AwsMethodExecutor.java
  cloud-aws-native/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/resource/group/AwsSecurityGroupResourceBuilder.java
  cloud-aws-native/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/resource/instance/AwsNativeInstanceResourceBuilder.java
  cloud-aws-native/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/resource/instance/util/SecurityGroupBuilderUtil.java
  cloud-aws-native/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/resource/group/AwsSecurityGroupResourceBuilderTest.java
  cloud-template/src/main/java/com/sequenceiq/cloudbreak/cloud/template/group/GroupResourceService.java
Labels: aws_e2e_test

#11475 CB-14234: Remove unnecessary components from the database in the begining of the upgrade
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/cluster/ClusterManagerUpgradeService.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/upgrade/ClusterUpgradeInitHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/ClusterComponentUpdater.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/cluster/ClusterManagerUpgradeServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/ClusterComponentUpdaterTest.java
Labels: DO_NOT_MERGE
