Repository hortonworks/cloudbreak, pull requests merged in 2021-01, with the labels that each got.

#9698 CB-7195. Add cluster-logs prefix even if there is a provided path pre…
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/cloud/CloudStorageConfigGenerator.java
  common/src/test/java/com/sequenceiq/cloudbreak/telemetry/fluent/cloud/CloudStorageFolderResolverServiceTest.java
Labels: enhancement

#9716 CB-10505 Validate images by UUID instead of using the latest one.
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxInternalTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/AbstractIntegrationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/imagevalidation/AbstractImageValidatorE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/imagevalidation/BaseImageValidatorE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/imagevalidation/PrewarmImageValidatorE2ETest.java
Labels: aws_e2e_test

#9733 CB-10511: Changing RAZ deployment location in DHs to the Gateway and keeping it to master nodes for DLs.
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/raz/RangerRazBaseConfigProvider.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/raz/RangerRazDatahubConfigProvider.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/raz/RangerRazDatalakeConfigProvider.java
Labels: waiting-for-test

#9714 CB-10504. Make cloud storage logging configurable by a flag (API)
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/base/FeaturesBase.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/doc/TelemetryModelDescription.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/Telemetry.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigService.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverter.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v4/stacks/TelemetryConverterTest.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/StackRequestManifester.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/converter/TelemetryApiConverter.java
  environment/src/main/java/com/sequenceiq/environment/telemetry/service/AccountTelemetryService.java
  environment/src/main/java/com/sequenceiq/environment/telemetry/v1/converter/AccountTelemetryConverter.java
  environment/src/test/java/com/sequenceiq/environment/environment/v1/converter/TelemetryApiConverterTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/converter/telemetry/TelemetryConverter.java
  freeipa/src/test/java/com/sequenceiq/freeipa/converter/telemetry/TelemetryConverterTest.java
  structuredevent-model/src/main/java/com/sequenceiq/environment/environment/dto/telemetry/EnvironmentFeatures.java
Labels: enhancement

#9760 CB-10572 [2.9] downscale does not work with custom resource group name
  core/src/main/java/com/sequenceiq/cloudbreak/converter/spi/InstanceMetaDataToCloudInstanceConverter.java
Labels: support

#9783 CB-10510. Create new cluster service: CDP nodestatus monitor (on mast…
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/TelemetryClusterDetails.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/common/TelemetryCommonConfigService.java
  common/src/test/java/com/sequenceiq/cloudbreak/telemetry/common/TelemetryCommonConfigServiceTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecorator.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecoratorTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/flow/FreeIpaInstallService.java
  freeipa/src/main/resources/freeipa-salt/salt/nginx/conf/ssl-locations.d/nodestatus.conf
  freeipa/src/main/resources/freeipa-salt/salt/nginx/init.sls
  freeipa/src/main/resources/freeipa-salt/salt/top.sls
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/template/cdp-doctor-commands.yaml.j2
  orchestrator-salt/src/main/resources/salt-common/salt/nodestatus/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/nodestatus/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/nodestatus/template/nodestatus-monitor.yaml.j2
  orchestrator-salt/src/main/resources/salt-common/salt/telemetry/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/telemetry/settings.sls
  orchestrator-salt/src/main/resources/salt/salt/nginx/conf/ssl-locations.d/nodestatus.conf
  orchestrator-salt/src/main/resources/salt/salt/nginx/init.sls
  orchestrator-salt/src/main/resources/salt/salt/top.sls
Labels: enhancement

#9835 CB-10504. Make environment cloud storage logging environment telemetr…
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentModificationService.java
  environment/src/test/java/com/sequenceiq/environment/environment/service/EnvironmentModificationServiceTest.java
Labels: enhancement

#9845 CB-10580 EnvAdmin can perform actions on datalake, datahubs - fix tests
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/CreateDhWithDatahubCreator.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/EnvStopStartWithEnvAdmin.java
Labels: real_ums_test

#9813 CB-10510. Create new cluster service: CDP nodestatus monitor (on mast…
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/TelemetryClusterDetails.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/common/TelemetryCommonConfigService.java
  common/src/test/java/com/sequenceiq/cloudbreak/telemetry/common/TelemetryCommonConfigServiceTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecorator.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecoratorTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/flow/FreeIpaInstallService.java
  freeipa/src/main/resources/freeipa-salt/salt/nginx/conf/ssl-locations.d/nodestatus.conf
  freeipa/src/main/resources/freeipa-salt/salt/nginx/init.sls
  freeipa/src/main/resources/freeipa-salt/salt/top.sls
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/template/cdp-doctor-commands.yaml.j2
  orchestrator-salt/src/main/resources/salt-common/salt/nodestatus/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/nodestatus/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/nodestatus/template/nodestatus-monitor.yaml.j2
  orchestrator-salt/src/main/resources/salt-common/salt/telemetry/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/telemetry/settings.sls
  orchestrator-salt/src/main/resources/salt/salt/nginx/conf/ssl-locations.d/nodestatus.conf
  orchestrator-salt/src/main/resources/salt/salt/nginx/init.sls
  orchestrator-salt/src/main/resources/salt/salt/top.sls
Labels: enhancement

#9888 CB-10813. Fix: in case of cluster-proxy, the base context is missing …
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerDeployClientConfigProvider.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerDeployClientConfigProviderTest.java
Labels: bug
