Repository hortonworks/cloudbreak, pull requests merged in 2021-03, with the labels that each got.

#10228 CB-11527 Fix cannot find class listfiltering.ImageCatalogListFiltering
  integration-test/src/main/resources/testsuites/v4/mock/real-ums-mock-tests.yaml
Labels: bug, raven, real_ums_test, test

#10213 CB-11458 When starting the datahub delete flow, the user is not popul…
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/security/authentication/AuthenticatedUserService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/CbEventParameterFactory.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/service/CbEventParameterFactoryTest.java
Labels: aws_e2e_test

#10223 CB-6425 use salt to fetch reachable nodes instead of our instancemetadata states
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/ClusterServiceRunner.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunner.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/cluster/ClusterManagerUpgradeService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/config/update/PillarConfigUpdateService.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/stack/loadbalancer/handler/UpdateServiceConfigHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/flow/MountDisks.java
  core/src/main/java/com/sequenceiq/cloudbreak/util/NodesUnreachableException.java
  core/src/main/java/com/sequenceiq/cloudbreak/util/StackUtil.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunnerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stack/flow/MountDisksTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/util/StackUtilTest.java
  orchestrator-api/src/main/java/com/sequenceiq/cloudbreak/orchestrator/host/HostOrchestrator.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestrator.java
Labels: DO_NOT_MERGE

#10253 CB-11568 We use the same boilerplate code in every freeipa creation. …
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/AbstractCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProviderProxy.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/mock/MockCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIpaTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/EnvironmentCreateTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/EnvironmentLegacyAuthzGetTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/AbstractMockTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/EnvironmentStartStopTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/FreeIpaAttachDetachChildEnvironmentTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/FreeIpaCreationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/FreeIpaStartStopTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/FreeIpaSyncTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/ImageCatalogPrewarmedTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/MockSdxRetryTests.java
Labels: aws_e2e_test, real_ums_test

#10242 CB-11626 Fix integration-test project check-results failure conditions
  integration-test/scripts/check-results.sh
  integration-test/scripts/docker-compose.sh
Labels: aws_e2e_test, bug, raven, real_ums_test, test

#10257 CB-11416 Replace DefaultRestartAction for flows in freeipa service
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/FillInMemoryStateStoreRestartAction.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/InitializeMDCContextRestartAction.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/cleanup/CleanupEvent.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/cleanup/FreeIpaCleanupState.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/cleanup/event/AbstractCleanupEvent.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/cleanup/event/cert/RevokeCertsRequest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/cleanup/event/cert/RevokeCertsResponse.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/cleanup/event/dns/RemoveDnsRequest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/cleanup/event/dns/RemoveDnsResponse.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/cleanup/event/failure/CleanupFailureEvent.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/cleanup/event/host/RemoveHostsRequest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/cleanup/event/host/RemoveHostsResponse.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/cleanup/event/roles/RemoveRolesRequest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/cleanup/event/roles/RemoveRolesResponse.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/cleanup/event/users/RemoveUsersRequest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/cleanup/event/users/RemoveUsersResponse.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/cleanup/event/vault/RemoveVaultEntriesRequest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/cleanup/event/vault/RemoveVaultEntriesResponse.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/diagnostics/DiagnosticsCollectionsState.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/downscale/DownscaleState.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/downscale/event/dnssoarecords/UpdateDnsSoaRecordsRequest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/downscale/event/removehosts/RemoveHostsFromOrchestrationRequest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/downscale/event/removeserver/RemoveServersRequest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/downscale/event/removeserver/RemoveServersResponse.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/provision/FreeIpaProvisionState.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/repair/changeprimarygw/ChangePrimaryGatewayState.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/upscale/UpscaleState.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/instance/reboot/RebootState.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/StackEvent.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/provision/StackProvisionState.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/start/StackStartState.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/stop/StackStopState.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/termination/StackTerminationState.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/states/SaltStates.java
  orchestrator-salt/src/test/java/com/sequenceiq/cloudbreak/orchestrator/salt/states/SaltStatesTest.java
Labels: aws_e2e_test

#10233 CB-11277 Allow to create new datahub, when the env is starting. If th…
  core/src/main/java/com/sequenceiq/cloudbreak/service/freeipa/FreeipaClientService.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/audit/flow/DeletionDatahubFlowOperationAuditEventNameConverter.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/service/DistroXService.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/service/DistroXServiceTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/audit/AuditGrpcServiceAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/audit/DatahubAuditGrpcServiceAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/audit/DatalakeAuditGrpcServiceAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/audit/EnvironmentAuditGrpcServiceAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/audit/FreeIpaAuditGrpcServiceAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/audit/OperationInfo.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIpaTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/DistroXClusterCreationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/MultiThreadTenantTest.java
Labels: aws_e2e_test

#10297 CB-11682 Remove internal actor from integration-test
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/client/FreeipaInternalCrnClient.java
  integration-test/docker-compose_template.yml
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/FreeIpaClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/FreeIpaTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeIpaSynchronizeAllUsersAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/config/server/FreeIpaServer.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIpaUserSyncTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/FreeIpaSyncTest.java
Labels: aws_e2e_test, real_ums_test

#10259 CB-11297. Enhance validations for diagnostics collection.
  common-model/src/main/java/com/sequenceiq/common/model/diagnostics/DiagnosticParameters.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/DataBusEndpointProvider.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/converter/DiagnosticsDataToParameterConverter.java
  common/src/main/java/com/sequenceiq/cloudbreak/validation/AbstractDiagnosticsCollectionValidator.java
  common/src/main/java/com/sequenceiq/cloudbreak/validation/MinAppVersionChecker.java
  common/src/test/java/com/sequenceiq/cloudbreak/telemetry/DataBusEndpointProviderTest.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/validation/AbstractCMDiagnosticsCollectionValidator.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/validation/diagnostics/DiagnosticsCollectionValidator.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/diagnostics/DiagnosticsService.java
  core/src/test/java/com/sequenceiq/cloudbreak/controller/validation/diagnostics/DiagnosticsCollectionValidatorTest.java
  datalake/src/main/java/com/sequenceiq/datalake/service/validation/diagnostics/DiagnosticsCollectionValidator.java
  datalake/src/test/java/com/sequenceiq/datalake/service/validation/diagnostics/DiagnosticsCollectionValidatorTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/diagnostics/DiagnosticsCollectionValidator.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/diagnostics/DiagnosticsService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/diagnostics/DiiagnosticsCollectionValidatorTest.java
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/settings.sls
  orchestrator-salt/src/main/resources/salt/errormessages.yaml
Labels: enhancement

#10300 CB-11697. Use Exception mapper for FlowsAlreadyRunningException (free…
  freeipa/src/main/java/com/sequenceiq/freeipa/controller/mapper/FlowsAlreadyRunningExceptionMapper.java
Labels: bug

#10311 CB-11716 Handle waiting errors in checkStatus with retries
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/WaitService.java
Labels: aws_e2e_test

#10309 CB-11715 Freeipa is missing in the real_um_tests. We have introduced …
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/config/server/CloudbreakServer.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/CreateDhWithDatahubCreator.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/EnvStopStartWithEnvAdmin.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/listfiltering/DataHubListFilteringTest.java
Labels: aws_e2e_test, real_ums_test

#10315 CB-11718 EnvAdmin without EnvCreator role cannot start env
  environment/src/main/java/com/sequenceiq/environment/environment/service/freeipa/FreeIpaService.java
  environment/src/test/java/com/sequenceiq/environment/environment/service/freeipa/FreeIpaServiceTest.java
Labels: real_ums_test

#10323 CB-11718 environment start should be called by another environment admin
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/EnvStopStartWithEnvAdmin.java
Labels: real_ums_test

#10325 Merge 2.40 to master
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/EnvStopStartWithEnvAdmin.java
Labels: real_ums_test

#10339 CB-11044 Add retry to Audit event check. When the API responses in re…
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/audit/AuditGrpcServiceAssertion.java
Labels: aws_e2e_test, real_ums_test

#10327 CB-11660 Log more info for Cloudformation stack when it's failing or …
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/client/AmazonCloudFormationClient.java
  cloud-aws/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/util/AwsCloudFormationErrorMessageProvider.java
  cloud-aws/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/util/AwsCloudFormationErrorMessageProviderTest.java
Labels: aws_e2e_test

#10338 CB-11417 Replace DefaultRestartAction for flows in cb core service
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/certrenew/ClusterCertificateRenewState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/certrotate/ClusterCertificatesRotationState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/config/update/PillarConfigUpdateState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/dr/backup/DatabaseBackupState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/dr/restore/DatabaseRestoreState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/upgrade/ClusterUpgradeState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/maintenance/MaintenanceModeValidationState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/salt/update/SaltUpdateState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/start/ClusterStartState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/stop/ClusterStopState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/termination/ClusterTerminationState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/userpasswd/ClusterCredentialChangeState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cmdiagnostics/CmDiagnosticsCollectionState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/DiagnosticsCollectionsState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/provision/config/ExternalDatabaseCreationState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/start/config/ExternalDatabaseStartState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/stop/config/ExternalDatabaseStopState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/terminate/config/ExternalDatabaseTerminationState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/restart/InitializeMDCContextRestartAction.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/restart/WaitForSyncRestartAction.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/image/update/StackImageUpdateState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/instance/termination/InstanceTerminationState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/start/StackStartState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/stop/StackStopState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/termination/StackTerminationState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/validate/cloud/config/CloudConfigValidationState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/validate/kerberosconfig/config/KerberosConfigValidationState.java
Labels: aws_e2e_test

#10355 CB-11571 - During downscale, if 0 candidates found, the flow still continues
  common/src/main/java/com/sequenceiq/cloudbreak/event/ResourceEvent.java
  common/src/main/resources/messages/messages.properties
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/downscale/ClusterDownscaleActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/downscale/ClusterDownscaleFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/downscale/ClusterDownscaleService.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/CollectDownscaleCandidatesHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/resource/CollectDownscaleCandidatesRequest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/downscale/ClusterDownscaleFlowConfigTest.java
Labels: aws_e2e_test
