Repository hortonworks/cloudbreak, pull requests merged in 2021-07, with the labels that each got.

#11003 CB-12835 Remove datalakeresource references in order to eliminate datalakeresource database table
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/projection/StackListItem.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/Stack.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/cluster/DatalakeResources.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/cluster/ServiceDescriptor.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/cluster/ServiceDescriptorDefinition.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/view/StackApiView.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/StackCreatorService.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/validation/datalake/DataLakeValidator.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/stack/StackListItemToStackApiViewConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/StackV4RequestToStackConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/cluster/ClusterBuilderService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/config/generator/OfflineStateGenerator.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/install/PrepareDatalakeResourceHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/StackRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/cluster/DatalakeResourcesRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/cluster/ServiceDescriptorRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/datalake/DatalakeResourcesService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/rdsconfig/RedbeamsDbCertificateProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/servicedescriptor/ServiceDescriptorService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/sharedservice/ClouderaManagerDatalakeConfigProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/sharedservice/DatalakeService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/sharedservice/RemoteDataContextWorkaroundService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/sharedservice/ServiceDescriptorDefinitionProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/sharedservice/SharedServiceConfigProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/StackService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/flow/TerminationService.java
  core/src/main/java/com/sequenceiq/cloudbreak/structuredevent/converter/StackToStackDetailsConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/util/UsageLoggingUtil.java
  core/src/main/resources/schema/app/20210612131901_CB-12835_remigrate_in_order_to_remove_datalakeresource_references.sql
  core/src/test/java/com/sequenceiq/cloudbreak/controller/StackCreatorServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/stack/StackToStackV4ResponseConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v2/StackToTemplatePreparationObjectConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v4/stacks/StackV4RequestToStackConverterTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunnerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/cluster/ClusterBuilderServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/rdsconfig/RedbeamsDbCertificateProviderTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/sharedservice/DatalakeServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/sharedservice/RemoteDataContextWorkaroundServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/sharedservice/SharedServiceConfigProviderTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/stack/StackServiceTest.java
Labels: aws_e2e_test

#10991 CB-13252 Create new L0 test for Datalake Backup
  datalake-api/src/main/java/com/sequenceiq/sdx/api/endpoint/SdxEndpoint.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/model/SdxBackupResponse.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/model/SdxBackupStatusResponse.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/model/SdxDatabaseBackupStatusResponse.java
  datalake-dr-connector/src/main/java/com/sequenceiq/cloudbreak/datalakedr/DatalakeDrClient.java
  datalake/src/main/java/com/sequenceiq/datalake/controller/sdx/SdxController.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/dr/SdxBackupRestoreService.java
  flow-api/src/main/java/com/sequenceiq/flow/api/model/FlowCheckResponse.java
  flow/src/main/java/com/sequenceiq/flow/service/FlowService.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxBackupAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/SdxTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/AbstractSdxTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/AbstractIntegrationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/SdxBackupTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/CloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/AwsCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/amazons3/AmazonS3Util.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/amazons3/action/S3ClientActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/amazons3/client/S3Client.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/AzureCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/azurecloudblob/AzureCloudBlobUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/azurecloudblob/action/AzureCloudBlobClientActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/gcp/GcpCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/gcp/GcpUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/gcp/action/GcpClientActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/FlowUtil.java
  integration-test/src/main/resources/testsuites/e2e/l0promotion/aws-sdx-backup-tests.yaml
Labels: L0 test, enhancement, raven

#11046 CB-6875 CM should give back services health for hosts and CB should use it to detect if a host is healthy or not
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerClusterStatusService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerClusterStatusServiceTest.java
  gradle.properties
Labels: real_ums_test

#11056 CB-13382 Fix CloudStorage Object validation
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/SdxBackupTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxRepairTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/CloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/AwsCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/amazons3/AmazonS3Util.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/amazons3/action/S3ClientActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/AzureCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/azurecloudblob/AzureCloudBlobUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/azurecloudblob/action/AzureCloudBlobClientActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/gcp/GcpCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/gcp/GcpUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/gcp/action/GcpClientActions.java
Labels: bug, raven, test

#11057 CB-13391. Fix circular dep for freeipa between flow and operation ser…
  freeipa/src/main/java/com/sequenceiq/freeipa/controller/OperationV1Controller.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/operation/FlowOperationService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/operation/OperationService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/operation/FlowOperationServiceTest.java
Labels: bug

#11072 Optimize cluster telemetry cleanup on termination.
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/ClusterService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/flow/ClusterTerminationService.java
Labels: aws_e2e_test

#11093 CB-13438 instance group converter fails in case of mock (at least for…
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/converter/InstanceGroupV1ToInstanceGroupV4Converter.java
Labels: real_ums_test

#11097 CB-13386 Redbeams getNamesByCrn: Parameter value element did not matc…
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/auth/MockUserManagementService.java
  redbeams/src/main/java/com/sequenceiq/redbeams/domain/RedbeamsResourceCrnAndNameView.java
  redbeams/src/main/java/com/sequenceiq/redbeams/repository/DatabaseConfigRepository.java
  redbeams/src/main/java/com/sequenceiq/redbeams/repository/DatabaseServerConfigRepository.java
  redbeams/src/main/java/com/sequenceiq/redbeams/service/dbconfig/DatabaseConfigService.java
  redbeams/src/main/java/com/sequenceiq/redbeams/service/dbserverconfig/DatabaseServerConfigService.java
Labels: real_ums_test

#11116 CB-13434 fix volume mount for AWS and Azure
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/CloudResource.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsMetadataCollector.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/CloudFormationStackUtil.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsContextServiceTest.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzureCloudResourceService.java
  cloud-template/src/main/java/com/sequenceiq/cloudbreak/cloud/template/context/VolumeMatcher.java
  cloud-template/src/test/java/com/sequenceiq/cloudbreak/cloud/template/context/VolumeMatcherTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/flow/MountDisks.java
Labels: aws_e2e_test

#11127 CB-13491. Include rotated CM server logs in diagnostics by default.
  core/src/main/resources/defaults/vm-logs.json
Labels: enhancement

#11140 CB-13058 modify e2e tests in order to support AWS_NATIVE with configuration (integrationtest.XXX.multiaz )
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/AbstractCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProviderProxy.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/azure/AzureCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/gcp/GcpCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/gcp/GcpProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/InstanceGroupTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/SubnetId.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/DistroXTestDtoBase.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/instancegroup/DistroXInstanceGroupTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/telemetry/TelemetryTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/CloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/AwsCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/amazonec2/AmazonEC2Util.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/amazonec2/action/EC2ClientActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/AzureCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/gcp/GcpCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/gcp/action/GcpClientActions.java
  integration-test/src/main/resources/testsuites/e2e/aws-e2e-tests-for-native.yaml
Labels: aws_native_e2e_test

#11124 CB-13322 Workaround for datalake backup L0 tests
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxBackupAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxRestoreAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxSyncAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/SdxTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/telemetry/TelemetryTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/SdxBackupRestoreTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/PreconditionSdxE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/amazons3/action/S3ClientActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/FlowUtil.java
Labels: L0 test, enhancement, raven

#11146 CB-13335 Datalake retry does not retry failed flows of stack
  common/src/main/java/com/sequenceiq/cloudbreak/event/ResourceEvent.java
  common/src/main/resources/messages/messages.properties
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/common/Status.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/endpoint/SdxEndpoint.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/model/SdxClusterStatusResponse.java
  datalake/src/main/java/com/sequenceiq/datalake/controller/sdx/SdxController.java
  datalake/src/main/java/com/sequenceiq/datalake/entity/DatalakeStatusEnum.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/SdxReactorFlowManager.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/cert/renew/CertRenewalActions.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/cert/renew/CertRenewalFlowConfig.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/cert/renew/SdxCertRenewalState.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/cert/renew/event/SdxCertRenewalEvent.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/cert/renew/event/SdxCertRenewalFailedEvent.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/cert/renew/event/SdxCertRenewalWaitEvent.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/cert/renew/event/SdxStartCertRenewalEvent.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/cert/renew/handler/SdxCertRenewWaitHandler.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/ProvisionerService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxRepairService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxRetryService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxUpgradeService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/cert/CertRenewalService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/cert/CertRotationService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/cert/CloudbreakPoller.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/cert/ClusterStatusCheckerForCertRotation.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/start/SdxStartService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/status/SdxStatusService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/stop/SdxStopService.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/ProvisionerServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxRepairServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/cert/CertRenewalServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/cert/CertRotationServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/cert/CloudbreakPollerTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/cert/ClusterStatusCheckerForCertRotationTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/start/SdxStartServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/stop/SdxStopServiceTest.java
Labels: aws_e2e_test, real_ums_test

#11157 CB-13559. Flow stats are persisted for operation type if the flow fails inside a flow ch…
  flow/src/main/java/com/sequenceiq/flow/core/Flow2Handler.java
Labels: bug

#11158 CB-13523. Upscale - resize failing with Orchestrator component error.
  orchestrator-salt/src/main/resources/salt-common/salt/nodestatus/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/nodestatus/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/telemetry/settings.sls
Labels: bug

#11163 CB-13434 Move fillDiscoveryFQDNForRepair to stackDownscale from clusterDownscale
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/ClusterRepairFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/DownscaleFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/event/StackDownscaleTriggerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/downscale/AbstractStackDownscaleAction.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/downscale/StackDownscaleService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/downscale/StackScalingFlowContext.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/upscale/AbstractStackUpscaleAction.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/CollectDownscaleCandidatesHandler.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/stack/downscale/StackDownscaleServiceTest.java
Labels: aws_e2e_test
