Repository hortonworks/cloudbreak, pull requests merged in 2022-08, with the labels that each got.

#13171 CB-17866 Reload systemd config files after changing unit files
  orchestrator-salt/src/main/resources/salt/salt/postgresql/init.sls
Labels: aws_e2e_test

#13121 CB-17851 Create possibility to run high node count E2E tests
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/DistroXTestDtoBase.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXBigScaleTest.java
  integration-test/src/main/resources/testsuites/e2e/distrox-bigscale-tests.yaml
Labels: test, raven, bigscale

#13173 CB-18028. Use resource crn and instance header for request signer.
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/template/cdp-request-signer.yaml.j2
Labels: enhancement

#13189 CB-18077. System metrics are not logged properly by Node status job.
  freeipa/src/main/java/com/sequenceiq/freeipa/nodestatus/NodeStatusJob.java
Labels: bug

#13208 CB-18115. Add cdp-doctor command for diagnostics to check DL/DH IP is…
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/template/cdp-doctor-commands.yaml.j2
Labels: enhancement

#13174 CB-11835 Initial API E2E and INT rewrite to avoid Mock IDBroker Mapping
  idbmms-connector/build.gradle
  idbmms-connector/src/main/java/com/sequenceiq/cloudbreak/idbmms/GrpcIdbmmsClient.java
  idbmms-connector/src/main/java/com/sequenceiq/cloudbreak/idbmms/IdbmmsClient.java
  integration-test/build.gradle
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/IdbmmsClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/idbmms/IdbmmsDeleteAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/idbmms/IdbmmsGetAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/idbmms/IdbmmsSetAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/IdbmmsTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProviderProxy.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/azure/AzureCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/azure/AzureProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/gcp/GcpCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/gcp/GcpProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/mock/MockCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/mock/MockProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/yarn/YarnCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/environment/EnvironmentTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/idbmms/IdbmmsTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/AbstractIntegrationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/ChangeImageCatalogTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/CreateDhWithDatahubCreator.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/DatalakeDatahubCreateAuthTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/EnvStopStartWithEnvAdmin.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/EnvironmentCreateTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/SdxEventControllerAuthTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXEncryptedVolumeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/environment/EnvironmentStopStartTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/environment/NewNetworkWithNoInternetEnvironmentTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/MonitoringTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/AbstractMockTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/DistroXClusterCreationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/EnvironmentChildTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/EnvironmentClusterTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/EnvironmentDatalakeClusterTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/EnvironmentEditTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/EnvironmentExperienceTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/EnvironmentStartStopTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/EnvironmentTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/FreeIpaAttachDetachChildEnvironmentTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/MultiThreadTenantTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/UsedImagesTest.java
  integration-test/src/main/resources/application.yml
Labels: enhancement, test

#13221 CB-18100: Reverts the recent SDX resize E2E test changes which are causing failures.
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxResizeTests.java
Labels: revert

#13225 CB-18158 Event history listing not working for older DLs with datahub…
  datalake/src/main/java/com/sequenceiq/datalake/service/SdxEventsService.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxEventsServiceTests.java
Labels: real_ums_test

#13216 CB-17348 Create e2e test for saltuser password rotation
  integration-test/build.gradle
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeipaRotateSaltPasswordAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxRotateSaltPasswordAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v1/distrox/DistroXRotateSaltPasswordAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/DistroXTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/FreeIpaTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/SdxTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/AbstractIntegrationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/saltpassword/RotateSaltPasswordE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/action/SshSaltPasswordActions.java
  integration-test/src/main/resources/testsuites/e2e/aws-e2e-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/salt-password-rotation-tests.yaml
Labels: aws_e2e_test

#13249 CB-18199. Enable CM Prometheus adapter in SaaS.
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerMgmtTelemetryService.java
Labels: enhancement

#13257 CB-18217 SDX E2E resource cleanup refactor
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/AbstractSdxTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxCustomTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxInternalTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxSaasTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxTestDto.java
Labels: bug, test, aws_e2e_test, raven

#13269 CB-18243. Monitoring UMS credential should be created if monitoring r…
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecorator.java
Labels: bug

#13282 CB-18210 Improve and introduce E2E tests for compute monitoring on FreeIpa, SDX and Distrox nodes
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxInternalTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/MonitoringTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/action/SshJClientActions.java
Labels: enhancement, test, raven

#13252 CB-18046 Introduce a command runner for Cloudbreak API Test project to multiple SSH
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/action/SshCommandRunnerActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/action/SshJClientActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/client/SshJClient.java
  integration-test/src/main/resources/commandrunner/qa-command-runner.py
  integration-test/src/main/resources/commandrunner/sample-command.json
Labels: enhancement, test, raven

#13317 CB-18324: Fix resize recovery e2e test by removing wait for backup state.
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxResizeRecoveryTests.java
Labels: test, aws_e2e_test

#13324 CB-18304 Create or append existing e2e tests for freeipa attach, detach recipes
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/freeipa/RecipeTestAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/recipe/RecipeTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaRecipeTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/SshJUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/action/SshJClientActions.java
  integration-test/src/main/resources/testsuites/e2e/aws-e2e-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/azure-e2e-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/freeipa-recipe-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/gcp-e2e-tests.yaml
Labels: enhancement, test, aws_e2e_test, raven

#13333 CB-17912. Collect salt process cpu and memory details (children as we…
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/scripts/logging-agent.sh.j2
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/scripts/salt-key.sh
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/scripts/salt.sh
Labels: enhancement
