Repository hortonworks/cloudbreak, pull requests merged in 2022-09, with the labels that each got.

#13280 CB-18121. Refactor salt pillar generation for telemetry related compo…
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/CdpAccessKeyType.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/CdpCredential.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/DataBusCredential.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/MonitoringCredential.java
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/Telemetry.java
  common-model/src/main/java/com/sequenceiq/common/model/diagnostics/DiagnosticParameters.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/TelemetryContextProvider.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/TelemetryPillarConfigGenerator.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/common/TelemetryCommonConfigService.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/context/DatabusContext.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/context/LogShipperContext.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/context/MeteringContext.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/context/MonitoringContext.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/context/NodeStatusContext.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/context/TelemetryContext.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/databus/DatabusConfigService.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigService.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/metering/MeteringConfigService.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/monitoring/MonitoringConfigService.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/monitoring/MonitoringConfigView.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/monitoring/MonitoringConfiguration.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/monitoring/MonitoringServiceType.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/nodestatus/NodeStatusConfigService.java
  common/src/main/resources/common-config.yml
  common/src/test/java/com/sequenceiq/cloudbreak/telemetry/common/TelemetryCommonConfigServiceTest.java
  common/src/test/java/com/sequenceiq/cloudbreak/telemetry/databus/DatabusConfigServiceTest.java
  common/src/test/java/com/sequenceiq/cloudbreak/telemetry/fluent/FluentConfigServiceTest.java
  common/src/test/java/com/sequenceiq/cloudbreak/telemetry/metering/MeteringConfigServiceTest.java
  common/src/test/java/com/sequenceiq/cloudbreak/telemetry/monitoring/MonitoringConfigServiceTest.java
  common/src/test/java/com/sequenceiq/cloudbreak/telemetry/nodestatus/NodeStatusConfigServiceTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunner.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecorator.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/handler/DiagnosticsEnsureMachineUserHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/telemetry/TelemetryService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunnerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecoratorTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/telemetry/TelemetryServiceTest.java
  environment/src/main/java/com/sequenceiq/environment/environment/v1/converter/TelemetryApiConverter.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/freeipa/diagnostics/handler/DiagnosticsEnsureMachineUserHandler.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/telemetry/TelemetryConfigService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/telemetry/TelemetryConfigServiceTest.java
  metrics-client/src/main/java/com/sequenceiq/cloudbreak/metrics/MetricsClient.java
  metrics-client/src/main/java/com/sequenceiq/cloudbreak/metrics/processor/MetricsProcessorConfiguration.java
  metrics-client/src/main/java/com/sequenceiq/cloudbreak/metrics/processor/MetricsRecordRequest.java
  metrics-client/src/main/java/com/sequenceiq/cloudbreak/metrics/processor/MetricsRecordWorker.java
  metrics-client/src/test/java/com/sequenceiq/cloudbreak/metrics/MetricsClientTest.java
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/template/support_bundle_databus.conf.j2
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/template/monitoring_credential.j2
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/template/prometheus.yml.j2
  telemetry-common/src/main/java/com/sequenceiq/cloudbreak/telemetry/orchestrator/TelemetrySaltPillarDecorator.java
  telemetry-common/src/test/java/com/sequenceiq/cloudbreak/telemetry/orchestrator/TelemetrySaltPillarDecoratorTest.java
Labels: enhancement, aws_e2e_test

#13360 CB-18400 QA Command Runner script improvements with command selector
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/action/SshCommandRunnerActions.java
  integration-test/src/main/resources/commandrunner/qa-command-runner.py
  integration-test/src/main/resources/commandrunner/sample-command.json
Labels: enhancement, test, raven

#13357 CB-18412. Use min_backoff and max_backoff values for remote writes by…
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/monitoring/MonitoringAgentConfiguration.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/monitoring/MonitoringConfigService.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/monitoring/MonitoringConfigView.java
  common/src/main/resources/common-config.yml
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/template/prometheus.yml.j2
Labels: enhancement

#13346 CB-18406: Optimize the permission validation on backup location
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/BackupOperationType.java
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/model/objectstorage/ObjectStorageValidateRequest.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsObjectStorageConnector.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/validator/AwsIDBrokerMappedRolePermissionValidator.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/validator/AwsIDBrokerObjectStorageValidator.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/validator/AwsDataAccessRolePermissionValidatorTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/validator/AwsRangerAuditRolePermissionValidatorTest.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzureObjectStorageConnector.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/validator/AzureIDBrokerObjectStorageValidator.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/AzureObjectStorageConnectorTest.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/validator/AzureIDBrokerObjectStorageValidatorTest.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/model/ModelDescriptions.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/model/SdxBackupLocationValidationRequest.java
  datalake/src/main/java/com/sequenceiq/datalake/controller/sdx/SdxController.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/StorageValidationService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/validation/cloudstorage/CloudStorageValidator.java
  datalake/src/test/java/com/sequenceiq/datalake/controller/sdx/SdxControllerTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/StorageValidationServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/validation/cloudstorage/CloudStorageValidatorTest.java
Labels: waiting-for-test

#13354 CB-18304 Create or append existing e2e tests for freeipa attach, detach recipes
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/freeipa/RecipeTestAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/azure/AzureCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/gcp/GcpCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/mock/MockCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/yarn/YarnCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/recipe/RecipeTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXEncryptedVolumeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaRecipeTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/SshJUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/action/SshJClientActions.java
  integration-test/src/main/resources/testsuites/e2e/aws-e2e-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/azure-e2e-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/freeipa-recipe-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/gcp-e2e-tests.yaml
Labels: enhancement, test, raven

#13388 CB-18505. Typo in databus pillar key name.
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/databus/DatabusConfigService.java
Labels: bug

#13395 CB-18514 Improve the E2E Stack Authentication for request parameters
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/azure/AzureCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/gcp/GcpCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/mock/MockCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/yarn/YarnCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxInternalTestDto.java
Labels: enhancement, test, aws_e2e_test, raven

#13393 CB-18248. Make sure to only set prometheus CM specific configs when t…
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerMgmtTelemetryService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerMgmtTelemetryServiceTest.java
Labels: enhancement

#13437 CB-18586. Setting access key type is missing for monitoring/databus
  freeipa/src/main/java/com/sequenceiq/freeipa/service/AltusMachineUserService.java
Labels: bug

#13439 CB-18588. Added compute monitoring remote write endpoint to network c…
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/DiagnosticsFlowService.java
  node-status-monitor-client/src/generated/main/java/com/cloudera/thunderhead/telemetry/nodestatus/NodeStatusProto.java
  node-status-monitor-client/src/main/proto/nodestatus.proto
Labels: enhancement

#13454 CB-18569 using new account for real ums tests, remove hardcoded accou…
  integration-test/scripts/fetch-secrets.sh
  integration-test/scripts/fetch-ums-docker.sh
  integration-test/scripts/fetch-ums-users.sh
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/CredentialCreateTest.java
  integration-test/src/main/resources/application.yml
Labels: real_ums_test

#13463 CB-18623. SMON monitoring should consider only telemetry object for m…
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerMgmtTelemetryService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerMgmtTelemetryServiceTest.java
Labels: bug

#13403 CB-18459 Create FreeIPA E2E test for pre-termination recipe
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProviderProxy.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/azure/AzureCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/gcp/GcpCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/mock/MockCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/yarn/YarnCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/DistroXTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/instancegroup/DistroXInstanceGroupTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/instancegroup/DistroXInstanceGroupsBuilder.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIpaTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/AbstractE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXAwsMigrationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXEncryptedVolumeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaRecipeTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxCloudStorageTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxRecipeTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/EnvironmentChildTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/FreeIpaCreationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/FreeIpaRecipeDetachTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/RecipeUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/amazons3/action/S3ClientActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/gcp/action/GcpClientActions.java
  integration-test/src/main/resources/recipes/e2e-pre-termination.sh
Labels: enhancement, test, aws_e2e_test, raven

#13485 CB-18681 E2E tests cannot introduce multiple recipes to SDX
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxTestDto.java
Labels: bug, test, raven

#13477 CB-18584 Integrate Salt highstate execution metrics collection into existing test cases
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/salt/SaltHighStateDurationAssertions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/log/Log.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXEncryptedVolumeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxRecipeTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/action/SshSaltExecutionMetricsActions.java
  integration-test/src/main/resources/salt/distrox_state_duration.json
  integration-test/src/main/resources/salt/freeipa_state_duration.json
  integration-test/src/main/resources/salt/sdx_state_duration.json
Labels: enhancement, test, aws_e2e_test, raven
