Repository hortonworks/cloudbreak, pull requests merged in 2022-01, with the labels that each got.

#11946 CB-15466 Adjustments to support Azure FreeIPA HA upgrade
  freeipa/src/main/java/com/sequenceiq/freeipa/repository/OperationRepository.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/operation/CleanupOperation.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/operation/OperationTimeoutService.java
  freeipa/src/main/resources/application.yml
  freeipa/src/main/resources/schema/app/20211214100402_CB-15466_cleanup_operation_indexes.sql
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/RunningParameter.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIpaOperationStatusTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaUpgradeTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/ResourceAwait.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/TimeoutChecker.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/WaitService.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/instance/InstanceAwait.java
Labels: aws_e2e_test

#12004 CB-15587 Cannot find attached volume Ids for FreeIPA
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/amazonec2/AmazonEC2Util.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/amazonec2/action/EC2ClientActions.java
Labels: bug, test, raven

#11963 CB-15396 Fix TagsUtil validations
  config/idea/inspections.xml
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/E2ETestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/MeasuredTestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/util/TagsUtil.java
  integration-test/src/test/java/com/sequenceiq/it/util/TagsUtilTest.java
Labels: bug, test, raven

#11896 CB-14926 [e2e] WaitObject: introduce ignoreFailedState -- phase II. o…
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/CloudbreakClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/EnvironmentClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/FreeIpaClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/MicroserviceClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/RedbeamsClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/SdxClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/UmsClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/cloudbreak/CloudbreakWaitObject.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/environment/EnvironmentWaitObject.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/freeipa/FreeIpaOperationWaitObject.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/freeipa/FreeIpaUserSyncWaitObject.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/freeipa/FreeIpaWaitObject.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/redbeams/RedbeamsWaitObject.java
Labels: in progress, aws_e2e_test, real_ums_test

#12017 CB-15572 Merge EnvironmentWithCustomerManagedKeyTests and the DistroXEncryptedVolumeTest into one single test case
  integration-test/docker-compose_template.yml
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/distrox/AwsAvailabilityZoneAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/distrox/DistroXExternalDatabaseAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/DistroXTestDtoBase.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/AbstractE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXCustomTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXEncryptedVolumeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXRepairTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXUpgradeTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/environment/AwsEnvironmentWithCustomerManagedKeyTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/environment/AzureEnvironmentWithCustomerManagedKeyTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/environment/AzureMarketplaceImageTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/hybrid/AwsYcloudHybridCloudTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/spot/AwsDistroXSpotInstanceTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/spot/AwsFreeIpaSpotInstanceTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/spot/AwsSdxSpotInstanceTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/action/SshEnaDriverCheckActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/instance/InstanceOperationChecker.java
  integration-test/src/main/resources/testsuites/e2e/aws-e2e-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/azure-e2e-tests.yaml
Labels: enhancement, test, aws_e2e_test, raven

#12089 CB-15712 Create separate cloud storage base location for every Azure E2E test
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/azure/AzureCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/gcp/GcpCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/mock/MockCloudProvider.java
Labels: bug, test, raven

#12073 CB-15688: [API E2E] Azure Customer Managed Key testWithEnvironmentResourceGroup creates resources as default settings
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzureEncryptionResources.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/azure/AzureCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/environment/EnvironmentTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/environment/AwsEnvironmentWithCustomerManagedKeyTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/environment/AzureEnvironmentWithCustomerManagedKeyTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/CloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/AwsCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/AzureCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/azurevm/action/AzureClientActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/gcp/GcpCloudFunctionality.java
Labels: bug, test

#12106 CB-15632 Mitigate FreeIPA System permission replication issue
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/flow/FreeIpaPermissionService.java
Labels: aws_e2e_test

#12112 CB-15761 Fix java.lang.StringIndexOutOfBoundsException at AzureCloudBlobClientActions.getContainerName
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/azurecloudblob/action/AzureCloudBlobClientActions.java
Labels: bug, test, raven

#12118 CB-15779 during start env service should check if there is ongoing us…
  environment/src/main/java/com/sequenceiq/environment/environment/service/freeipa/FreeIpaService.java
  environment/src/test/java/com/sequenceiq/environment/environment/service/freeipa/FreeIpaServiceTest.java
Labels: real_ums_test

#12097 CB-15688 Introduce new Single Resource Group E2E test case for Azure Customer Managed Key
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXEncryptedVolumeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/CloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/AwsCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/AzureCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/gcp/GcpCloudFunctionality.java
  integration-test/src/main/resources/testsuites/e2e/aws-distrox-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/aws-e2e-tests-for-native.yaml
  integration-test/src/main/resources/testsuites/e2e/aws-e2e-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/azure-e2e-tests.yaml
Labels: enhancement, test, aws_e2e_test, aws_native_e2e_test

#12117 CB-15781. Add cdp_resource_check.sh to monitoring salt state.
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/cron/cdp_resources_check
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/scripts/cdp_resources_check.sh
Labels: enhancement

#12133 CB-15782 Cleanup every resources in case of Jenkins Abort
  integration-test/src/main/java/com/sequenceiq/it/util/cleanup/CleanupUtil.java
Labels: enhancement, test, raven

#12155 CB-15837 Fix Azure encryption test single resource group test teardown
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/environment/AzureEnvironmentWithCustomerManagedKeyTests.java
Labels: bug, DO_NOT_MERGE, test, raven

#12159 CB-15843 aws tests are failing in pr time because cp missing. adding …
  integration-test/integcb/Profile_template
  integration-test/scripts/docker-compose.sh
Labels: aws_e2e_test
