Repository hortonworks/cloudbreak, pull requests merged in 2022-04, with the labels that each got.

#12573 CVE-2022-22965 quickfix
  common/src/main/java/com/sequenceiq/cloudbreak/common/controller/BinderControllerAdvice.java
Labels: aws_e2e_test, real_ums_test

#12550 CB-14416 Ensure Scaling never ends with StatusKind.PROGRESS Statuses
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/StackStatusFinalizerAbstractFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/ccm/upgrade/CcmUpgradeFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/certrenew/ClusterCertificateRenewFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/certrotate/ClusterCertificatesRotationFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/cmsync/CmSyncFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/config/update/PillarConfigUpdateFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/dr/backup/DatabaseBackupFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/dr/restore/DatabaseRestoreFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/recovery/bringup/DatalakeRecoveryBringupFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/upgrade/ClusterUpgradeFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/upgrade/validation/config/ClusterUpgradeValidationFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/downscale/ClusterDownscaleFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/maintenance/MaintenanceModeValidationFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/provision/ClusterCreationFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/repair/master/ha/ChangePrimaryGatewayFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/reset/ClusterResetFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/salt/update/SaltUpdateFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/services/restart/ClusterServicesRestartFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/start/ClusterStartFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/stop/ClusterStopFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/stopstartds/StopStartDownscaleFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/stopstartus/StopStartUpscaleFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/sync/ClusterSyncFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/termination/ClusterTerminationFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/upscale/ClusterUpscaleFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/userpasswd/ClusterCredentialChangeFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cmdiagnostics/config/CmDiagnosticsCollectionFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/diagnostics/config/DiagnosticsCollectionFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/provision/config/ExternalDatabaseCreationFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/start/config/ExternalDatabaseStartFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/stop/config/ExternalDatabaseStopFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/externaldatabase/terminate/config/ExternalDatabaseTerminationFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/downscale/StackDownscaleConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/image/update/StackImageUpdateFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/instance/termination/InstanceTerminationFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/migration/AwsVariantMigrationFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/provision/StackCreationFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/repair/ManualStackRepairTriggerFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/start/StackStartFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/stop/StackStopFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/sync/StackSyncFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/termination/StackTerminationFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/update/loadbalancer/StackLoadBalancerUpdateFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/upscale/StackUpscaleConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/validate/cloud/config/CloudConfigValidationFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/validate/kerberosconfig/config/KerberosConfigValidationFlowConfig.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/EnforceFlowFinalizer.java
Labels: aws_e2e_test

#12562 CB-16783 eliminate CVE-2022-22965 vulnerability
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/connector/resource/AzureStorageAccountBuilderServiceTest.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/upscale/AzureUpscaleServiceTest.java
  cloud-gcp/src/test/java/com/sequenceiq/cloudbreak/cloud/gcp/service/checker/AbstractGcpBaseResourceCheckerTest.java
  cloud-gcp/src/test/java/com/sequenceiq/cloudbreak/cloud/gcp/setup/GcpBucketRegisterServiceTest.java
  cloud-gcp/src/test/java/com/sequenceiq/cloudbreak/cloud/gcp/setup/GcpImageRegisterServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/start/SdxStartServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/stop/SdxStopServiceTest.java
  gradle.properties
  integration-test/build.gradle
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/mock/ImageCatalogMockServerSetup.java
Labels: aws_e2e_test, real_ums_test

#12554 CB-16707 SdxBackupRestoreTest waiting for flow timed out, test does not failed
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/gcp/GcpUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/FlowUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/instance/InstanceAwait.java
Labels: bug, enhancement, test, raven

#12636 CB-16846 DistroX resilient scaling test failed with wrong number of new instances
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/distrox/DistroxScaleThresholdAssertions.java
Labels: bug, test, raven

#12597 CB-16785. Databus connection check during diagnostics should always u…
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/filecollector/upload.sls
Labels: bug

#12635 CB-16851 CB should not find out role and resource role CRNs but query…
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/GrpcUmsClient.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/UmsClient.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/cache/UmsRolesCache.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/service/RoleCrnGenerator.java
  auth-connector/src/test/java/com/sequenceiq/cloudbreak/auth/altus/service/ResourceRoleCrnGeneratorTest.java
  auth-connector/src/test/java/com/sequenceiq/cloudbreak/auth/altus/service/RoleCrnGeneratorTest.java
  common/src/main/java/com/sequenceiq/cloudbreak/auth/crn/CrnResourceDescriptor.java
  common/src/main/java/com/sequenceiq/cloudbreak/auth/crn/RegionAwareCrnGenerator.java
  common/src/test/java/com/sequenceiq/cloudbreak/auth/crn/CrnTestUtil.java
  environment/src/test/java/com/sequenceiq/environment/service/integration/AuditCredentialAuthorizationIntegrationTest.java
  environment/src/test/java/com/sequenceiq/environment/service/integration/CredentialAuthorizationIntegrationTest.java
  environment/src/test/java/com/sequenceiq/environment/service/integration/EnvironmentServiceIntegrationTest.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/auth/MockUserManagementService.java
Labels: real_ums_test

#12571 CB-16780 Set back DistroX Stop Start then Scale test
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/DistroXClusterStopStartTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/DistroXStartStopTestParameters.java
Labels: enhancement, test, raven

#12648 CB-16887 virtual group rights can depend on entitlement
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementService.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/GrpcUmsClient.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/UmsVirtualGroupRight.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/VirtualGroupService.java
  auth-connector/src/test/java/com/sequenceiq/cloudbreak/auth/altus/VirtualGroupServiceTest.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerLdapService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerLdapServiceTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/StackToTemplatePreparationObjectConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunner.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/dr/RangerVirtualGroupService.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v2/StackToTemplatePreparationObjectConverterTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/user/SudoRuleService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/freeipa/user/SudoRuleServiceTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/BasicEnvironmentVirtualGroupTest.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/hbase/HbaseServiceConfigProvider.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/knox/KnoxGatewayConfigProvider.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/nifi/NifiConfigProvider.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/nifiregistry/NifiRegistryConfigProvider.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/ranger/RangerRoleConfigProvider.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/ranger/RangerUserSyncRoleConfigProvider.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/zeppelin/ZeppelinRoleConfigProvider.java
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/knox/KnoxGatewayConfigProviderTest.java
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/ranger/RangerRoleConfigProviderTest.java
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/ranger/RangerUserSyncRoleConfigProviderTest.java
Labels: real_ums_test

#12650 CB-16893. Prevent EntityNotFoundException when handling recipes.
  core/src/main/java/com/sequenceiq/cloudbreak/service/recipe/UpdateRecipeService.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/recipe/UpdateRecipeServiceTest.java
Labels: bug

#12666 CB-16759: Have resource authorization doable on detached DLs in order to enable recovery on detached DLs.
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxService.java
Labels: real_ums_test

#12659 CB-16891. Configure CM service monitor to send metrics to prometheus.
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterSecurityService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerMgmtSetupService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerMgmtTelemetryService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerSecurityService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerMgmtTelemetryServiceTest.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/monitoring/ClouderaManagerMonitoringConfiguration.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/monitoring/MonitoringConfigService.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/monitoring/MonitoringConfigView.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/monitoring/MonitoringConfiguration.java
  common/src/main/resources/common-config.yml
  common/src/test/java/com/sequenceiq/cloudbreak/telemetry/monitoring/MonitoringConfigServiceTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/StackV4RequestToStackConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/cluster/ClusterBuilderService.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/install/ClusterManagerSetupMonitoringHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/flow/telemetry/ClusterMonitoringEngine.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/cluster/flow/telemetry/ClusterMonitoringEngineTest.java
  orchestrator-api/src/main/java/com/sequenceiq/cloudbreak/orchestrator/host/TelemetryOrchestrator.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltTelemetryOrchestrator.java
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/template/prometheus.yml.j2
  orchestrator-salt/src/main/resources/salt/salt/monitoring/template/metrics-collector.yaml.j2
  orchestrator-salt/src/main/resources/salt/salt/top.sls
Labels: enhancement

#12688 CB-16945. Support https_proxy and no_proxy settings by cdp-vmagent
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/exporters.sls
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/scripts/noproxy_check.py
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/systemd/cdp-blackbox-exporter.service
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/systemd/cdp-vmagent.service.j2
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/template/blackbox.env.j2
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/template/prometheus.yml.j2
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/vmagent.sls
Labels: enhancement
