Repository hortonworks/cloudbreak, pull requests merged in 2022-11, with the labels that each got.

#13731 CB-19009 Make sure telemetry publisher can upload to cloud storage
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/environment/EnvironmentStopStartTests.java
Labels: enhancement, test, raven

#13740 CB-16767 Added request logging to SaltConnector before sending the r…
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/client/SaltConnector.java
Labels: DO_NOT_MERGE

#13762 CB-19522 [API E2E] Set the Upgrade/Recovery tests default "currentRuntimeVersion" to 7.2.7
  integration-test/src/main/resources/application.yml
Labels: enhancement, test, raven

#13736 CB-19063 tracing should be configurable in ums clients in order to avoid tracing to block ums related requests in tests
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/AuthorizationClient.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/PersonalResourceViewClient.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/UmsClient.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/config/UmsClientConfig.java
Labels: real_ums_test

#13775 [API E2E] Rewind the GCP Longrunning test suite for Master
  integration-test/src/main/resources/testsuites/e2e/gcp-longrunning-e2e-tests.yaml
Labels: enhancement, test, raven

#13817 CB-19692 Apply Security Groups properly in case of AWS_NATIVE
  cloud-aws-native/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNativeModel.java
  cloud-aws-native/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNativeModelBuilder.java
  cloud-aws-native/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/resource/instance/AwsNativeInstanceResourceBuilder.java
  cloud-aws-native/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/resource/instance/util/SecurityGroupBuilderUtil.java
  cloud-aws-native/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/resource/instance/AwsNativeInstanceResourceBuilderTest.java
  cloud-aws-native/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/resource/instance/util/SecurityGroupBuilderUtilTest.java
  common/src/main/java/com/sequenceiq/cloudbreak/util/SecurityGroupSeparator.java
Labels: forward_merge

#13780 CDPSDX-3767 Fix Temporary DB Backup Data Is Not Deleted When Backup Fails
  orchestrator-salt/src/main/resources/salt/salt/postgresql/disaster_recovery/scripts/backup_db.sh
Labels: bug

#13831 Merge 2.65 to master
  datalake-dr-connector/src/main/java/com/sequenceiq/cloudbreak/datalakedr/converter/GrpcStatusResponseToDatalakeBackupRestoreStatusResponseConverter.java
  datalake-dr-connector/src/main/java/com/sequenceiq/cloudbreak/datalakedr/converter/OperationEnum.java
  datalake-dr-connector/src/main/java/com/sequenceiq/cloudbreak/datalakedr/model/DatalakeBackupStatusResponse.java
  datalake-dr-connector/src/test/java/com/sequenceiq/cloudbreak/datalakedr/converter/GrpcStatusResponseToDatalakeBackupStatusResponseConverterTest.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/backup/DatalakeBackupActions.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/restore/DatalakeRestoreActions.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/validation/DatalakeBackupValidationActions.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/dr/SdxBackupRestoreService.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/adls/AdlsGen2ConfigProvider.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/core/CoreConfigProvider.java
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/hdfs/HdfsConfigProvider.java
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/CentralCmTemplateUpdaterTest.java
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/adls/AdlsGen2ConfigProviderTest.java
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/core/CoreConfigProviderTest.java
  template-manager-cmtemplate/src/test/java/com/sequenceiq/cloudbreak/cmtemplate/configproviders/hdfs/HdfsConfigProviderTest.java
Labels: forward_merge

#13840 Merge 265 to master
  cloud-api/src/main/java/com/sequenceiq/cloudbreak/cloud/ResourceConnector.java
  cloud-api/src/test/java/com/sequenceiq/cloudbreak/cloud/ResourceConnectorTest.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsRdsParameterGroupService.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsRdsTerminateService.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsResourceConnector.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/upgrade/AwsRdsUpgradeService.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/upgrade/AwsRdsUpgradeSteps.java
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/upgrade/operation/AwsRdsUpgradeOperations.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsRdsParameterGroupServiceTest.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/AwsRdsTerminateServiceTest.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/upgrade/AwsRdsUpgradeServiceTest.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/upgrade/AwsRdsUpgradeStepsTest.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/connector/resource/upgrade/operation/AwsRdsUpgradeOperationsTest.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/client/AmazonRdsClient.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/client/AmazonRdsClientTest.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/AzureResourceConnector.java
  cloud-azure/src/test/java/com/sequenceiq/cloudbreak/cloud/azure/AzureResourceConnectorTest.java
  cloud-mock/src/main/java/com/sequenceiq/cloudbreak/cloud/mock/MockResourceConnector.java
  cloud-template/src/main/java/com/sequenceiq/cloudbreak/cloud/template/AbstractResourceConnector.java
  cloud-yarn/src/main/java/com/sequenceiq/cloudbreak/cloud/yarn/YarnResourceConnector.java
  redbeams/src/main/java/com/sequenceiq/redbeams/flow/redbeams/upgrade/handler/UpgradeDatabaseServerHandler.java
  redbeams/src/test/java/com/sequenceiq/redbeams/flow/redbeams/upgrade/handler/UpgradeDatabaseServerHandlerTest.java
Labels: forward_merge
