Repository hortonworks/cloudbreak, pull requests merged in 2022-03, with the labels that each got.

#12325 CB-15293 E2E test for get-keytab for a service principal
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaUpgradeTests.java
Labels: test

#12363 CB-15947 enable authz by environment crn in datalake service
  datalake/src/main/java/com/sequenceiq/datalake/entity/SdxClusterView.java
  datalake/src/main/java/com/sequenceiq/datalake/repository/SdxClusterRepository.java
  datalake/src/main/java/com/sequenceiq/datalake/repository/SdxClusterViewRepository.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/EnvironmentService.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/EnvironmentServiceTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/ChangeImageCatalogTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/DataStewardTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/DatalakeDatahubCreateAuthTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/AuthorizationTestUtil.java
Labels: real_ums_test

#12351 CB-15947: Created a real UMS test for the SDX events API.
  datalake-api/src/main/java/com/sequenceiq/sdx/client/SdxClient.java
  datalake-api/src/main/java/com/sequenceiq/sdx/client/SdxServiceApiKeyEndpoints.java
  datalake-api/src/main/java/com/sequenceiq/sdx/client/SdxServiceCrnEndpoints.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/SdxClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxGetAuditsAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxGetDatalakeEventsZipAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/SdxTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/util/SdxEventTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/SdxEventControllerAuthTest.java
  integration-test/src/main/resources/testsuites/v4/mock/real-ums-mock-tests.yaml
Labels: real_ums_test

#12292 CB-15297 E2E test for DNS lookups
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaUpgradeTests.java
Labels: test, duck

#12371 CB-16328 authz framework should fail if there is no crn provider for …
  authorization-common/src/main/java/com/sequenceiq/authorization/service/EnvironmentBasedAuthorizationProvider.java
  authorization-common/src/main/java/com/sequenceiq/authorization/service/EnvironmentPropertyProvider.java
  authorization-common/src/test/java/com/sequenceiq/authorization/service/EnvironmentBasedAuthorizationProviderTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/environment/EnvironmentClientService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/EnvironmentService.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/StackService.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/ChangeImageCatalogTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/CreateDhWithDatahubCreator.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/DataStewardTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/EnvStopStartWithEnvAdmin.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/EnvironmentCreateTest.java
  redbeams/src/main/java/com/sequenceiq/redbeams/service/EnvironmentService.java
Labels: real_ums_test

#12350 CB-16131: Added proper error handling to SdxEventsService
  datalake/src/main/java/com/sequenceiq/datalake/service/SdxEventsService.java
Labels: real_ums_test

#12377 CB-15932 eliminate workaround from environment stop-start tests.
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/environment/EnvironmentStopStartTests.java
Labels: can_be_merged

#12404 CB-15455 ipa client should prefer the primary gateway
  core/src/main/java/com/sequenceiq/cloudbreak/service/freeipa/FreeIpaConfigProvider.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/freeipa/FreeIpaConfigProviderTest.java
  orchestrator-salt/src/main/resources/salt/salt/sssd/template/join_ipa.j2
Labels: aws_e2e_test

#12416 CB-15862 Revert UNHEALTHY instance check
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/instance/cloudbreak/CloudbreakInstanceWaitObject.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/instance/freeipa/FreeIpaInstanceWaitObject.java
Labels: bug, test, raven, revert

#12409 CB-16398 modify CloudProviderUpdateCheckHandler to get platform connector by considering the platform variant
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/upgrade/validation/handler/CloudProviderUpdateCheckHandler.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/upgrade/validation/handler/CloudProviderUpdateCheckHandlerTest.java
Labels: can_be_merged

#12399 CB-16388 RDSConfig calculation take long time, refactor the RdsConfig select by clusterId
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/view/RdsConfigWithoutCluster.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/StackCreatorService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunner.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/cluster/ClusterManagerUpscaleService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/config/update/PillarConfigUpdateService.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/RdsConfigWithoutClusterRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/GatewayConfigService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/TlsSecurityService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/cluster/ClusterDBValidationService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/rdsconfig/AbstractRdsConfigProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/rdsconfig/RdsConfigService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/rdsconfig/RdsConfigWithoutClusterService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/sharedservice/SharedServiceConfigProvider.java
  core/src/main/java/com/sequenceiq/cloudbreak/structuredevent/converter/StackToStackDetailsConverter.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunnerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/cluster/ClusterManagerUpscaleServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/cluster/ClusterDBValidationServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/rdsconfig/AbstractRdsConfigProviderTest.java
  template-manager-core/src/main/java/com/sequenceiq/cloudbreak/template/views/RdsView.java
  template-manager-core/src/test/java/com/sequenceiq/cloudbreak/template/views/RdsViewTest.java
Labels: aws_e2e_test

#12316 CB-16181 events of DL from CB is duplicated if same env used for seve…
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/events/EventV4Endpoint.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/doc/OperationDescriptions.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/AutoscaleV4Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/EventV4Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/StackRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/StackViewRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/StackService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/StackViewService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/flow/StackOperationService.java
  core/src/main/java/com/sequenceiq/cloudbreak/structuredevent/db/LegacyStructuredEventDBService.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/StackOperations.java
  datalake/src/main/java/com/sequenceiq/datalake/service/SdxEventsService.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxEventsServiceTests.java
  structuredevent-service-legacy/src/main/java/com/sequenceiq/cloudbreak/structuredevent/LegacyStructuredEventService.java
Labels: aws_e2e_test, real_ums_test

#12382 CB-16352 Restore the SdxBackupRestoreTest after fixing wrong http for Solr service port
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxBackupAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxBackupInternalAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxRestoreInternalAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxSyncAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxSyncInternalAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/SdxBackupRestoreTest.java
  integration-test/src/main/resources/testsuites/e2e/l0promotion/sdx-backup-tests.yaml
Labels: enhancement, test, raven

#12398 CB-13347 Increase sizelimit and timelimit for retrieving users and gr…
  freeipa-client/src/main/java/com/sequenceiq/freeipa/client/FreeIpaClient.java
  freeipa/src/main/java/com/sequenceiq/freeipa/client/FreeIpaClientBuilder.java
  freeipa/src/main/resources/freeipa-salt/salt/freeipa/common-install.sls
  freeipa/src/main/resources/freeipa-salt/salt/freeipa/init.sls
  freeipa/src/main/resources/freeipa-salt/salt/freeipa/scripts/freeipa_healthagent_setup.sh
  freeipa/src/main/resources/freeipa-salt/salt/freeipa/templates/initial-ldap-conf.ldif
Labels: aws_e2e_test

#12461 CB-16533 Add toString() to OrchestratorBootstrap implementations
  core/src/test/java/com/sequenceiq/cloudbreak/orchestrator/SimpleOrchestratorBootstrapRunnerTest.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/domain/Pillar.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/poller/PillarSave.java
  orchestrator-yarn/src/main/java/com/sequenceiq/cloudbreak/orchestrator/yarn/poller/YarnAppBootstrap.java
Labels: aws_e2e_test

#12460 CB-16534 Fix salt endpoint signature generation
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/client/SaltConnector.java
Labels: aws_e2e_test

#12484 CB-16555 instance status checker should never fail when status reason is not present
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/instance/cloudbreak/CloudbreakInstanceWaitObject.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/instance/freeipa/FreeIpaInstanceWaitObject.java
Labels: bug, test, aws_e2e_test, raven, aws_native_e2e_test

#12477 CB-16458 E2E tests for Resilient Scaling with percentage option
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v1/distrox/DistroXScaleAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/distrox/DistroxScaleThresholdAssertions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/DistroXTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/AbstractIntegrationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXResilientScaleTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXScaleTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXScaleTestParameters.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXStopStartScaleTest.java
  integration-test/src/main/resources/testsuites/e2e/distrox-resilientscale-tests.yaml
Labels: enhancement, test, raven

#12478 CB-16479 Move Tag Validation from TestContext Cleanup
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/E2ETestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/AbstractE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXEncryptedVolumeTest.java
Labels: bug, test, aws_e2e_test, raven, aws_native_e2e_test
