Repository hortonworks/cloudbreak, pull requests merged in 2022-06, with the labels that each got.

#12820 CB-17292 MachineUser not being initialized for Datahub clusters in pe…
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/service/RoleCrnGenerator.java
  auth-connector/src/test/java/com/sequenceiq/cloudbreak/auth/altus/service/RoleCrnGeneratorTest.java
  authorization-common/src/main/java/com/sequenceiq/authorization/service/OwnerAssignmentService.java
  autoscale/src/main/java/com/sequenceiq/periscope/service/AltusMachineUserService.java
  autoscale/src/test/java/com/sequenceiq/periscope/service/AltusMachineUserServiceTest.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentService.java
  environment/src/test/java/com/sequenceiq/environment/environment/service/EnvironmentServiceTest.java
Labels: real_ums_test

#12835 CB-17345 Fix the validation of CBD start with all the required containers as service sanity check
  integration-test/scripts/check-results.sh
  integration-test/scripts/docker-compose.sh
  integration-test/scripts/download-cbd.sh
Labels: bug, test, raven

#12839 CB-17044. Addendum - fix broken vmagent disk usage setting.
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/monitoring/MonitoringConfigView.java
Labels: bug

#12861 CB-17399. Create simple custom metrics by nodexporter textfiles.
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/exporters.sls
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/systemd/cdp-node-exporter.service.j2
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/textfiles.sls
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/textfiles/salt-key-check.sh
Labels: enhancement

#12860 CB-14321: Call the CM syncer before upscale
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/UpscaleFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/orchestration/CmSyncTriggerEvent.java
  integration-test/src/main/java/com/sequenceiq/it/util/cleanup/ParcelGeneratorUtil.java
Labels: aws_e2e_test

#12881 CB-17428. Cluster creation fails due to node_exporter.key generation …
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/scripts/cert-helper.sh
Labels: bug

#12886 CB-17423. Recipes are not re-uploaded on master repair
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/recipe/UploadUpscaleRecipesHandler.java
Labels: bug

#12868 CB-17184 Extend already existing FreeIPA provisioning testcase with recipes
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/datalake/RecipeTestAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/freeipa/RecipeTestAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/environment/EnvironmentStopStartTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/environment/NewNetworkWithNoInternetEnvironmentTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaUpgradeTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/DistroXRepairTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/InternalSdxSshAndCmAccessTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/InternalSdxRepairWithRecipeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/PreconditionSdxE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxRecipeTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxRecoveryTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxSecurityTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/EnvironmentTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/FreeIpaCreationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/RecipeClusterTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/RecipeUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/SshJUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/action/SshJClientActions.java
Labels: enhancement, test, can_be_merged, raven

#12875 CB-12878 EnvironmentCreator should be able to create and delete ProxyConfigurations
  authorization-common-api/src/main/java/com/sequenceiq/authorization/resource/AuthorizationResourceAction.java
  authorization-common-api/src/main/java/com/sequenceiq/authorization/resource/AuthorizationResourceType.java
  environment/src/main/java/com/sequenceiq/environment/authorization/ProxyFiltering.java
  environment/src/main/java/com/sequenceiq/environment/proxy/repository/ProxyConfigRepository.java
  environment/src/main/java/com/sequenceiq/environment/proxy/service/ProxyConfigService.java
  environment/src/main/java/com/sequenceiq/environment/proxy/v1/controller/ProxyController.java
  environment/src/test/java/com/sequenceiq/environment/proxy/v1/ProxyTestSource.java
  environment/src/test/java/com/sequenceiq/environment/proxy/v1/service/ProxyConfigServiceTest.java
  environment/src/test/java/com/sequenceiq/environment/service/integration/EnvironmentServiceIntegrationTest.java
  integration-test/README.md
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v4/proxy/ProxyConfigListAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/ProxyTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/proxy/ProxyTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/ums/UmsTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/ProxyTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/ProxyConfigTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/AuthorizationTestUtil.java
  integration-test/src/main/resources/testsuites/v4/mock/real-ums-mock-tests.yaml
Labels: real_ums_test

#12893 CB-16345: Fixed EventEndpoint Zip exception handling for Jersey client.
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/audits/AuditEventV4Endpoint.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/events/EventV4Endpoint.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/endpoint/SdxEventEndpoint.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/SdxEventControllerAuthTest.java
  structuredevent-api-cdp/src/main/java/com/sequenceiq/cloudbreak/structuredevent/rest/endpoint/CDPEventV1Endpoint.java
  structuredevent-api-cdp/src/main/java/com/sequenceiq/cloudbreak/structuredevent/rest/endpoint/CDPStructuredEventV1Endpoint.java
Labels: real_ums_test

#12869 CB-17419. Configure/start cdp-request-signer by salt (FreeIPA/DL/DH)
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/TelemetryUpgradeConfiguration.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/common/TelemetryCommonConfigService.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/common/TelemetryCommonConfigView.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/monitoring/MonitoringConfigService.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/monitoring/MonitoringConfigView.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/monitoring/MonitoringConfiguration.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/monitoring/RequestSignerConfigView.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/monitoring/RequestSignerConfiguration.java
  common/src/main/resources/common-config.yml
  common/src/test/java/com/sequenceiq/cloudbreak/telemetry/monitoring/MonitoringConfigServiceTest.java
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/cron/monitoring_cert_check
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/exporters.sls
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/init.sls
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/request-signer.sls
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/scripts/noproxy_check.py
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/systemd/cdp-request-signer.service.j2
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/systemd/cdp-vmagent.service.j2
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/template/blackbox_exporter-web-config.yml.j2
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/template/cdp-request-signer.yaml.j2
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/template/databus_credential.j2
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/template/exporter_pwd_file.j2
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/template/node_exporter-web-config.yml.j2
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/template/prometheus.yml.j2
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/template/remote_pwd_file.j2
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/template/request_signer_pwd_file.j2
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/vmagent.sls
  orchestrator-salt/src/main/resources/salt-common/salt/telemetry/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/telemetry/upgrade.sls
Labels: enhancement

#12912 CB-17440 Add InternalSdxRepairWithRecipeTest to the E2E suites
  integration-test/src/main/resources/testsuites/e2e/aws-e2e-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/azure-e2e-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/gcp-e2e-tests.yaml
Labels: test, raven

#12910 CB-17097 Create new test cases and upgrade test project for GOV Dev testing
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/AbstractCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProviderProxy.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/environment/EnvironmentTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIpaTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxCustomTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxInternalTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/AbstractIntegrationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXEncryptedVolumeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/gov/BasicDistroXTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/gov/BasicEnvironmentTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/gov/BasicFreeIpaTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/gov/BasicSdxTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/gov/GovUserKeys.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/gov/PreconditionGovTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/CloudbreakUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/cloudbreak/CloudbreakWaitObject.java
  integration-test/src/main/resources/application.yml
  integration-test/src/main/resources/testsuites/e2e/gov/aws-gov-tests.yaml
Labels: enhancement, test, aws_e2e_test, wolf, raven, real_ums_test

#12928 CB-17541. Metrics not published to central prometheus if request signe…
  common-model/src/main/java/com/sequenceiq/common/api/telemetry/model/Telemetry.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecorator.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/altus/AltusMachineUserService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/TelemetryDecoratorTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/telemetry/TelemetryConfigService.java
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/systemd/cdp-vmagent.service.j2
Labels: bug

#12938 CB-17440 Remove InternalSdxRepairWithRecipeTest from the GCP E2E suite
  integration-test/src/main/resources/testsuites/e2e/gcp-e2e-tests.yaml
Labels: bug, test, raven

#12946 CB-17558 testSDXMultiRepairIDBRokerAndMasterWithRecipeFile E2E test failed because DL was created from base image
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/AbstractCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProviderProxy.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/azure/AzureCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/gcp/GcpCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/mock/MockCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/yarn/YarnCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/InternalSdxRepairWithRecipeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/PreconditionSdxE2ETest.java
Labels: bug, test, raven

#12892 CB-17112: Added use of script for automatically verifying if Atlas is fully up to date to DL resize process.
  core/src/main/resources/defaults/vm-logs.json
  orchestrator-salt/src/main/resources/salt/pillar/atlas/check_atlas_updated.sls
  orchestrator-salt/src/main/resources/salt/pillar/top.sls
  orchestrator-salt/src/main/resources/salt/salt/atlas/check_atlas_updated.sls
  orchestrator-salt/src/main/resources/salt/salt/atlas/init.sls
  orchestrator-salt/src/main/resources/salt/salt/atlas/scripts/check_atlas_updated.sh
  orchestrator-salt/src/main/resources/salt/salt/top.sls
Labels: waiting-for-test

#12923 CDPSDX-3366: Added validation during Environment and SDX stop process so as to not perform stop during resize.
  datalake-api/src/main/java/com/sequenceiq/sdx/api/endpoint/SdxEndpoint.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/model/ModelDescriptions.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/model/SdxStopValidationResponse.java
  datalake/src/main/java/com/sequenceiq/datalake/controller/sdx/SdxController.java
  datalake/src/main/java/com/sequenceiq/datalake/service/resize/recovery/ResizeRecoveryService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/stop/SdxStopService.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/stop/SdxStopServiceTest.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentStopService.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/sdx/SdxService.java
  environment/src/test/java/com/sequenceiq/environment/environment/service/EnvironmentStopServiceTest.java
Labels: waiting-for-test

#12935 CB-17551 Deprecate initiatorusercrn field and do not use it
  datalake/src/main/java/com/sequenceiq/datalake/entity/SdxCluster.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/SdxEventParameterFactory.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/detach/SdxDetachActions.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/loadbalancer/dns/UpdateLoadBalancerDNSActions.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxNotificationService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/StackRequestManifester.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/attach/SdxAttachService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/cert/CertRenewalService.java
  datalake/src/main/resources/schema/app/20220623171204_CB-17551_Deprecate_initiatorusercrn.sql
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/CloudStorageManifesterTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/ProvisionerServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxRecoveryServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxRepairServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/SdxServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/attach/SdxAttachServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/cert/CertRenewalServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/flowcheck/CloudbreakFlowServiceTest.java
Labels: aws_e2e_test, real_ums_test
