Repository hortonworks/cloudbreak, pull requests merged in 2022-07, with the labels that each got.

#12970 CB-17596 Modify AWS E2E test cases for GOV Cloud testing
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/MeasuredTestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/environment/EnvironmentTestDto.java
Labels: enhancement, test, raven

#12981 CB-17467 Recipe crn should not have datahub word in it
  common/src/main/java/com/sequenceiq/cloudbreak/auth/crn/Crn.java
  common/src/main/java/com/sequenceiq/cloudbreak/auth/crn/CrnResourceDescriptor.java
  common/src/test/java/com/sequenceiq/cloudbreak/auth/crn/CrnTestUtil.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/recipe/RecipeServiceTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/AuthorizationTestUtil.java
Labels: real_ums_test

#13010 CB-17707 Remove stack entity from LoadBalancerUpdateRequest/Result
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/update/loadbalancer/StackLoadBalancerUpdateActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/stack/loadbalancer/CreateCloudLoadBalancersRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/stack/loadbalancer/CreateCloudLoadBalancersSuccess.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/stack/loadbalancer/CreateLoadBalancerEntityRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/stack/loadbalancer/CreateLoadBalancerEntitySuccess.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/stack/loadbalancer/LoadBalancerMetadataRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/stack/loadbalancer/RegisterPublicDnsRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/stack/loadbalancer/RegisterPublicDnsSuccess.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/stack/loadbalancer/handler/CreateCloudLoadBalancersHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/stack/loadbalancer/handler/CreateLoadBalancerEntityHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/stack/loadbalancer/handler/LoadBalancerMetadataHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/stack/loadbalancer/handler/RegisterPublicDnsHandler.java
Labels: aws_e2e_test, real_ums_test

#13024 CB-17696 AWS Native instance resource poller should return immediately when no identifier available from the provider side
  cloud-aws-native/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/resource/instance/AwsNativeInstanceResourceBuilder.java
  cloud-aws-native/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/resource/instance/AwsNativeInstanceResourceBuilderTest.java
  cloud-template/src/main/java/com/sequenceiq/cloudbreak/cloud/template/compute/ResourceCreationCallable.java
Labels: aws_native_e2e_test

#13045 CB-17634 add CM license from CM_LICENSE_FILE env variable for integration test container if it is not empty
  integration-test/docker-compose_template.yml
  integration-test/scripts/download-cbd.sh
Labels: enhancement, test, aws_native_e2e_test

#13044 CB-17615 Add sanity test for compute monitoring on FreeIpa, SDX and Distrox nodes
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CommonCloudProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/telemetry/TelemetryTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/MonitoringTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/SshJUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/action/SshJClientActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/client/SshJClient.java
  integration-test/src/main/resources/application.yml
  integration-test/src/main/resources/testsuites/e2e/l0promotion/common-monitoring-tests.yaml
Labels: enhancement, test, raven

#13065 CB-17785 allow AWS variant migration flow only from AWS to AWS_NATIVE platform variant
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/ClusterRepairFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/stack/migration/handler/service/SecurityGroupRecreatorService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/chain/ClusterRepairFlowEventChainFactoryTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/stack/migration/handler/service/SecurityGroupRecreatorServiceTest.java
Labels: aws_e2e_test

#13126 CB-17901. Labels for prometheus remote write needs to be ordered.
  metrics-client/src/main/java/com/sequenceiq/cloudbreak/metrics/MetricsClient.java
  metrics-client/src/test/java/com/sequenceiq/cloudbreak/metrics/MetricsClientTest.java
Labels: bug
