Repository hortonworks/cloudbreak, pull requests merged in 2022-12, with the labels that each got.

#13837 CB-19719 E2E test single resource group should not have cloud cost ignore
  integration-test/README.md
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/AbstractE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/azurevm/action/AzureClientActions.java
Labels: enhancement, test, raven

#13872 CB-19877 Sdx and DistroX Base Images tests are defining the latest base image as project's default for resource creation
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/azure/AzureCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/gcp/GcpCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/mock/MockCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/yarn/YarnCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXImagesTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxImagesTests.java
  integration-test/src/main/resources/testsuites/e2e/azure-e2e-tests.yaml
Labels: bug, test, raven

#13880 CB-19884 Introduce Telemetry for E2E createDefaultEnvironment method
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/AbstractE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaRebuildTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaRecipeTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaScalingTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaUpgradeTests.java
Labels: enhancement, test, raven

#13885 CB-19914 Increase the maxRetryCount for E2E tests to extend the Waiting Limit
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
Labels: enhancement, test, raven

#13679 CB-15764 Freeipa should implement ApplicationFlowInformation.handleFlowFail
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/CloudbreakFlowInformation.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/SdxFlowInformation.java
  freeipa-api/src/main/java/com/sequenceiq/freeipa/api/v1/freeipa/stack/model/common/Status.java
  freeipa-api/src/test/java/com/sequenceiq/freeipa/api/v1/freeipa/stack/model/common/StatusTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/FreeIpaFlowInformation.java
  freeipa/src/test/java/com/sequenceiq/freeipa/FreeIpaFlowInformationTest.java
  redbeams-api/src/main/java/com/sequenceiq/redbeams/api/model/common/Status.java
  redbeams/src/test/java/com/sequenceiq/redbeams/RedbeamsFlowInformationTest.java
Labels: hacktoberfest-accepted

#13923 CB-19889 Each test case should have own Cloud Storage Base Location
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/AbstractCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/azure/AzureCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/gcp/GcpCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/mock/MockCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/amazons3/action/S3ClientActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/amazons3/client/S3Client.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/azurecloudblob/action/AzureCloudBlobClientActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/gcp/action/GcpClientActions.java
Labels: enhancement, test, aws_e2e_test, raven

#13972 Merge 2.66 to master
  autoscale/src/main/java/com/sequenceiq/periscope/controller/AutoScaleClusterCommonService.java
  autoscale/src/main/java/com/sequenceiq/periscope/repository/ClusterPertainRepository.java
  autoscale/src/main/java/com/sequenceiq/periscope/service/ClusterService.java
  autoscale/src/test/java/com/sequenceiq/periscope/endpointtests/DistroXAutoScaleClusterV1EndpointTest.java
Labels: forward_merge

#13964 CB-20083 Removes no-ntp flag from ipa-replica-install
  freeipa/src/main/resources/freeipa-salt/salt/freeipa/scripts/freeipa_replica_install.sh
Labels: aws_e2e_test
