Repository hortonworks/cloudbreak, pull requests merged in 2022-05, with the labels that each got.

#12622 CB-16735 Real ums test to verify the execution of sudo commands
  integration-test/scripts/fetch-secrets.sh
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/ums/SetWorkloadPasswordAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/AbstractFreeIpaTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/AbstractTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/ums/UmsTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/EnvironmentPrivilegedUserTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/L0UserKeys.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/action/SshSudoCommandActions.java
  integration-test/src/main/resources/testsuites/e2e/l0promotion/instance-sudo-tests.yaml
Labels: real_ums_test

#12634 CB-16292 Bring your own DNS zone - e2e test
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/AbstractCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/AbstractCloudProviderAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProviderAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProviderAssertionProxy.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProviderProxy.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsCloudProviderAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/azure/AzureCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/azure/AzureCloudProviderAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/azure/AzureProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/gcp/GcpCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/gcp/GcpCloudProviderAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/mock/MockCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/mock/MockCloudProviderAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/yarn/YarnCloudProviderAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/environment/EnvironmentNetworkTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIpaTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXEncryptedVolumeTest.java
  integration-test/src/main/resources/application.yml
Labels: enhancement, test, aws_e2e_test, duck

#12710 CB-16989 Failed salt update may leave clusters in faulty state
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/request/cluster/ClusterV4Request.java
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/cluster/Cluster.java
  core-model/src/test/java/com/sequenceiq/cloudbreak/TestUtil.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/cli/ClusterToClusterV4RequestConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/converter/v4/stacks/cluster/ClusterV4RequestToClusterConverter.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/ClusterHostServiceRunner.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/converter/DistroXClusterToClusterConverter.java
  core/src/test/java/com/sequenceiq/cloudbreak/converter/v4/stacks/cli/ClusterToClusterV4RequestConverterTest.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/converter/DistroXClusterToClusterConverterTest.java
  orchestrator-salt/src/main/resources/salt/pillar/cloudera-manager/autotls.sls
  orchestrator-salt/src/main/resources/salt/pillar/cloudera-manager/csd.sls
  orchestrator-salt/src/main/resources/salt/pillar/cloudera-manager/settings.sls
  orchestrator-salt/src/main/resources/salt/pillar/datalake/init.sls
  orchestrator-salt/src/main/resources/salt/pillar/discovery/init.sls
  orchestrator-salt/src/main/resources/salt/pillar/gateway/init.sls
  orchestrator-salt/src/main/resources/salt/pillar/gateway/ldap.sls
  orchestrator-salt/src/main/resources/salt/pillar/jdbc/connectors.sls
  orchestrator-salt/src/main/resources/salt/pillar/kerberos/init.sls
  orchestrator-salt/src/main/resources/salt/pillar/kerberos/keytab.sls
  orchestrator-salt/src/main/resources/salt/pillar/metadata/init.sls
  orchestrator-salt/src/main/resources/salt/pillar/mount/disk.sls
  orchestrator-salt/src/main/resources/salt/pillar/mount/startup.sls
  orchestrator-salt/src/main/resources/salt/pillar/nodes/hostattrs.sls
  orchestrator-salt/src/main/resources/salt/pillar/nodes/hosts.sls
  orchestrator-salt/src/main/resources/salt/pillar/postgresql/postgre.sls
  orchestrator-salt/src/main/resources/salt/pillar/postgresql/root-certs.sls
  orchestrator-salt/src/main/resources/salt/pillar/recipes/init.sls
  orchestrator-salt/src/main/resources/salt/pillar/sssd/ad.sls
  orchestrator-salt/src/main/resources/salt/pillar/sssd/ipa.sls
  orchestrator-salt/src/main/resources/salt/pillar/top.sls
  orchestrator-salt/src/main/resources/salt/pillar/unbound/elimination.sls
  orchestrator-salt/src/main/resources/salt/pillar/unbound/forwarders.sls
  orchestrator-salt/src/main/resources/salt/salt/docker/init.sls
  orchestrator-salt/src/main/resources/salt/salt/top.sls
  template-manager-cmtemplate/src/main/java/com/sequenceiq/cloudbreak/cmtemplate/general/GeneralClusterConfigsProvider.java
  template-manager-core/src/main/java/com/sequenceiq/cloudbreak/template/model/GeneralClusterConfigs.java
  template-manager-core/src/main/java/com/sequenceiq/cloudbreak/template/views/GeneralClusterConfigsView.java
  template-manager-recipe/src/test/java/com/sequenceiq/cloudbreak/recipe/util/RecipeTestUtil.java
Labels: aws_e2e_test

#12706 CB-16956 Add assertion for metering Heartbeat generation in CB tests
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CommonCloudProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/AbstractIntegrationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/diagnostics/DiagnosticsTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXAwsMigrationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXImagesTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXRepairTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXScaleEdgeCasesTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/ephemeral/DistroXRepairTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/ephemeral/DistroXStopStartTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/ephemeral/DistroXUpgradeTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaUpgradeTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/DistroXRepairTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/EnvironmentPrivilegedUserTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/InternalSdxSshAndCmAccessTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/SdxBackupRestoreTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxRecoveryTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxSecurityTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/AbstractMockTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/DistroXClusterCreationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/DistroXRepairTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/DistroXUpgradeTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/clouderamanager/CMDownscaleWithHttp500ResponsesTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/clouderamanager/CMStartStopWithHttp500ResponsesTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/clouderamanager/CMUpscaleWithHttp500ResponsesTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/CloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/AwsCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/AzureCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/gcp/GcpCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/SshJUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/action/SshJClientActions.java
  integration-test/src/main/resources/application.yml
Labels: enhancement, aws_e2e_test, raven, real_ums_test, L0 test

#12732 CB-17045. Configure collector types for node-exporter.
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/monitoring/MonitoringConfigService.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/monitoring/MonitoringConfigView.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/monitoring/MonitoringConfiguration.java
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/monitoring/NodeExporterConfiguration.java
  common/src/main/resources/common-config.yml
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/exporters.sls
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/settings.sls
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/systemd/cdp-node-exporter.service.j2
  orchestrator-salt/src/main/resources/salt-common/salt/monitoring/template/prometheus.yml.j2
Labels: enhancement

#12620 CB-16009: Nightly e2e GCP tests should use encryption
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/AbstractCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProviderProxy.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/azure/AzureCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/gcp/GcpCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXEncryptedVolumeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/CloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/AwsCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/AzureCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/gcp/GcpCloudFunctionality.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/gcp/GcpUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/gcp/action/GcpClientActions.java
  integration-test/src/main/resources/testsuites/e2e/gcp-e2e-tests.yaml
Labels: enhancement, test, aws_e2e_test, bobcat

#12741 CB-17073 Set workload password and UMS validation fixes
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/GrpcUmsClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/UmsClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/ums/SetWorkloadPasswordAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/ums/ResourceRoleTestAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/ums/UserGroupTestAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/ums/VirtualGroupTestAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/log/Log.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/BasicEnvironmentVirtualGroupTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/DistroXRepairTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/EnvironmentPrivilegedUserTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/EnvironmentUtil.java
Labels: bug, can_be_merged, raven, real_ums_test, L0 test

#12790 CB-17214 Tag validation is failing in case of error during resource creation
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/AbstractE2ETest.java
Labels: bug, test, raven

#12715 CDPSDX-3537: remove invalid state update from database backup
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/backup/DatalakeBackupActions.java
Labels: in progress

#12740 CB-16391 do not use spring security context to get cloudbreakuser
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/security/authentication/AuthenticatedUserService.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/security/authentication/AuthenticationService.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/security/authentication/DisabledAuthenticationService.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/security/authentication/UmsAuthenticationService.java
  autoscale/src/main/java/com/sequenceiq/periscope/config/SecurityConfig.java
  autoscale/src/main/java/com/sequenceiq/periscope/filter/AuditFilter.java
  autoscale/src/main/java/com/sequenceiq/periscope/filter/CloudbreakUserConfiguratorFilter.java
  autoscale/src/test/java/com/sequenceiq/periscope/filter/AuditFilterTest.java
  cloud-consumption/src/main/java/com/sequenceiq/consumption/configuration/security/SecurityConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/conf/SecurityConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/filter/CloudbreakUserConfiguratorFilter.java
  core/src/main/java/com/sequenceiq/cloudbreak/filter/WorkspaceConfiguratorFilter.java
  core/src/test/java/com/sequenceiq/cloudbreak/filter/WorkspaceConfiguratorFilterTest.java
  datalake/src/main/java/com/sequenceiq/datalake/configuration/SecurityConfig.java
  environment/src/main/java/com/sequenceiq/environment/configuration/security/SecurityConfig.java
  freeipa/src/main/java/com/sequenceiq/freeipa/configuration/SecurityConfig.java
  mock-infrastructure/src/main/java/com/sequenceiq/mock/config/SecurityConfig.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/config/SecurityConfig.java
  redbeams/src/main/java/com/sequenceiq/redbeams/configuration/SecurityConfig.java
Labels: aws_e2e_test, real_ums_test
