Repository hortonworks/cloudbreak, pull requests merged in 2022-10, with the labels that each got.

#13508 CB-18678 GCP E2E DELETED_ON_PROVIDER is not available for resilient upscale tests
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/gcp/action/GcpClientActions.java
Labels: enhancement, test, raven

#13507 CB-18667 Save the Salt HighState Total Duration report as test artifact on Jenkins
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/salt/SaltHighStateDurationAssertions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/action/SshSaltExecutionMetricsActions.java
Labels: enhancement, test, raven

#13553 CB-18800 [API E2E] Unrecognized field at SaltFunctionReport exception
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/salt/SaltHighStateDurationAssertions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/salt/SaltFunctionReport.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/salt/SaltHighstateReport.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/salt/SaltStateReport.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/action/SshSaltExecutionMetricsActions.java
Labels: bug, test, aws_e2e_test, raven

#13568 CB-18850 adding vertical scale right to the ui right response
  authorization-common-api/src/main/java/com/sequenceiq/authorization/info/model/RightV4.java
Labels: hacktoberfest-accepted

#13570 CB-18803 upgrading prometheus java agent for fixing cves
  docker-autoscale/Dockerfile
  docker-autoscale/jmx_prometheus_javaagent-0.16.1.jar
  docker-cloudbreak/Dockerfile
  docker-cloudbreak/jmx_prometheus_javaagent-0.16.1.jar
  docker-consumption/Dockerfile
  docker-consumption/jmx_prometheus_javaagent-0.16.1.jar
  docker-datalake/Dockerfile
  docker-datalake/jmx_prometheus_javaagent-0.16.1.jar
  docker-environment/Dockerfile
  docker-environment/jmx_prometheus_javaagent-0.16.1.jar
  docker-freeipa/Dockerfile
  docker-freeipa/jmx_prometheus_javaagent-0.16.1.jar
  docker-redbeams/Dockerfile
  docker-redbeams/jmx_prometheus_javaagent-0.16.1.jar
Labels: hacktoberfest-accepted

#13527 CB-18626 Enable dedicated storage account for azure E2E with SINGLE_WITH_DEDICATED_STORAGE_ACCOUNT resource group usage
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/azure/AzureProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/environment/EnvironmentNetworkTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXEncryptedVolumeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/environment/AzureMarketplaceImageTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/azurevm/action/AzureClientActions.java
Labels: test, raven

#13567 CB-18847 [API E2E] GCP Storage and Compute client need to be updated based on latest changes
  integration-test/build.gradle
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/gcp/action/GcpClientActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/gcp/client/GcpClient.java
Labels: enhancement, test, raven

#13566 CB-18534 UpgradePreconditionService.getNotStoppedAttachedClusters() m…
  core-model/src/main/java/com/sequenceiq/cloudbreak/dto/StackDto.java
  core/src/main/java/com/sequenceiq/cloudbreak/job/StackStatusCheckerJob.java
  core/src/main/java/com/sequenceiq/cloudbreak/repository/StackDtoRepository.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/stack/StackDtoService.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/UpgradePreconditionService.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/StackUpgradeOperations.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/service/upgrade/DistroXUpgradeAvailabilityService.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/UpgradePreconditionServiceTest.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/StackUpgradeOperationsTest.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/service/upgrade/DistroXUpgradeAvailabilityServiceTest.java
Labels: hacktoberfest-accepted

#13590 CB-18889 Upgrade postgresql 42.3.2 to 42.3.7
  gradle.properties
Labels: hacktoberfest-accepted

#13591 CB-18892 Upgrade jackson-databind 2.13.0 to 2.13.4
  gradle.properties
Labels: hacktoberfest-accepted

#13596 CB-18896 Upgrade netty-codec-http 4.1.70.Final to 4.1.71.Final
  gradle.properties
Labels: hacktoberfest-accepted

#13599 CB-18898 Upgrade google-oauth-client 1.31.5 to 1.33.3
  cloud-gcp/build.gradle
Labels: hacktoberfest-accepted

#13614 CB-18920 [API E2E] GCP list objects validation is failing because of GCS object has 0 sub-objects!
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/gcp/action/GcpClientActions.java
Labels: bug, test, raven

#13630 CB-18883 DatalakeDatahubCreateAuthTest needs to be refactored because the current logic may hide the actual failure cause
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/authorization/DatalakeDatahubCreateAuthTest.java
Labels: bug, test, raven

#13595 CB-18914 update all logic for referring to ccmv2
  common/src/main/resources/messages/stack-status-messages.yaml
  common/src/test/java/com/sequenceiq/cloudbreak/message/StackStatusMessageTransformatorTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/ClusterBootstrapper.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/HostBootstrapApiCheckerTask.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/context/HostBootstrapApiContext.java
Labels: hacktoberfest-accepted

#13594 CB-18548 Trigger distrox runtime upgrade with rolling upgrade option
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterApi.java
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterModificationService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerUpgradeService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationServiceTest.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerUpgradeServiceTest.java
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/request/InternalUpgradeSettings.java
  core-api/src/main/java/com/sequenceiq/distrox/api/v1/distrox/endpoint/DistroXUpgradeV1Endpoint.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/cluster/ClusterManagerUpgradeManagementService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/cluster/ClusterManagerUpgradeService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/UpgradeDatalakeFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/UpgradeDistroxFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/upgrade/AbstractClusterUpgradeAction.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/upgrade/ClusterUpgradeActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/event/ClusterUpgradeTriggerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/event/DistroXUpgradeTriggerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/ReactorFlowManager.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/upgrade/ClusterManagerUpgradeRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/upgrade/ClusterUpgradeRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/upgrade/ClusterManagerUpgradeHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/upgrade/ClusterUpgradeHandler.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/controller/DistroXUpgradeV1Controller.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/service/upgrade/DistroXUpgradeService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/cluster/ClusterManagerUpgradeManagementServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/cluster/ClusterManagerUpgradeServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/ReactorFlowManagerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/chain/UpgradeDistroxFlowEventChainFactoryTest.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/StackUpgradeOperationsTest.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/service/upgrade/DistroXUpgradeServiceTest.java
  datalake/src/main/java/com/sequenceiq/datalake/service/upgrade/SdxRuntimeUpgradeService.java
Labels: hacktoberfest-accepted

#13592 CB-18900 Upgrade aws-java-sdk-s3 1.11.952 to 1.12.261
  gradle.properties
Labels: aws_e2e_test, hacktoberfest-accepted

#13627 CB-18934: Extend the disk space validation failure message with the available disk space
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/validation/DiskSpaceValidationService.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/validation/DiskSpaceValidationServiceTest.java
Labels: hacktoberfest-accepted

#13639 CB-17825: Extend Nifi working directory validation error message
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/validation/service/NifiUpgradeValidator.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/validation/service/NifiUpgradeValidatorTest.java
Labels: hacktoberfest-accepted

#13643 CB-18959 Configurable audit for Consumption and Redbeams services
  cloud-consumption/build.gradle
  cloud-consumption/src/main/java/com/sequenceiq/consumption/configuration/api/EndpointConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/EndpointConfig.java
  core/src/test/java/com/sequenceiq/cloudbreak/structuredevent/rest/StructuredEventFilterTest.java
  datalake/src/main/java/com/sequenceiq/datalake/configuration/EndpointConfig.java
  environment/src/main/java/com/sequenceiq/environment/configuration/api/EndpointConfig.java
  freeipa/src/main/java/com/sequenceiq/freeipa/configuration/EndpointConfig.java
  redbeams/build.gradle
  redbeams/src/main/java/com/sequenceiq/redbeams/configuration/DatabaseConfig.java
  redbeams/src/main/java/com/sequenceiq/redbeams/configuration/EndpointConfig.java
  redbeams/src/main/java/com/sequenceiq/redbeams/event/RedbeamsStructuredFlowEventFactory.java
  redbeams/src/main/resources/application.yml
  redbeams/src/main/resources/schema/app/20221013125607_CB-18959_include_structuredeven-service-cdp_in_the_redbeams_service.sql
  structuredevent-model/src/main/java/com/sequenceiq/cloudbreak/structuredevent/event/CloudbreakEventService.java
  structuredevent-model/src/main/java/com/sequenceiq/cloudbreak/structuredevent/event/cdp/redbeams/CDPRedbeamsStructuredFlowEvent.java
  structuredevent-model/src/main/java/com/sequenceiq/cloudbreak/structuredevent/event/cdp/redbeams/RedbeamsDetails.java
  structuredevent-model/src/main/java/com/sequenceiq/cloudbreak/structuredevent/filter/CDPJaxRsFilterPropertyKeys.java
Labels: hacktoberfest-accepted

#13616 CB-18885 [API E2E] Introduce new Monitoring L0 tests to the MOW-Dev Jenkins jobs
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/MonitoringTests.java
Labels: enhancement, test, raven

#13656 CB-18997 remove deprecation from Cloudbreak service in Crn as we need to have separate service for CB/Core for rest audit
  common/src/main/java/com/sequenceiq/cloudbreak/auth/crn/Crn.java
Labels: hacktoberfest-accepted

#13653 CB-18524 RedbeamsFlowInformation should implement handleFlowFail meth…
  redbeams-api/src/main/java/com/sequenceiq/redbeams/api/model/common/Status.java
  redbeams-api/src/test/java/com/sequenceiq/redbeams/api/model/common/StatusTest.java
  redbeams/src/main/java/com/sequenceiq/redbeams/RedbeamsFlowInformation.java
Labels: hacktoberfest-accepted

#13641 CB-18938: Data Lake rolling runtime upgrade
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/StackV4Endpoint.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/StackV4Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/ReactorFlowManager.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/UpgradeService.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/StackUpgradeOperations.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/ReactorFlowManagerTest.java
  core/src/test/java/com/sequenceiq/distrox/v1/distrox/StackUpgradeOperationsTest.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/model/ModelDescriptions.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/model/SdxUpgradeRequest.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/SdxReactorFlowManager.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/chain/DatalakeUpgradeFlowEventChainFactory.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/datalake/upgrade/DatalakeUpgradeActions.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/datalake/upgrade/event/DatalakeUpgradeFlowChainStartEvent.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/datalake/upgrade/event/DatalakeUpgradeStartEvent.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/SdxUpgradeService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/upgrade/SdxRuntimeUpgradeService.java
  datalake/src/test/java/com/sequenceiq/datalake/flow/SdxReactorFlowManagerTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/upgrade/SdxRuntimeUpgradeServiceTest.java
Labels: hacktoberfest-accepted

#13668 CB-19018 Stop the cluster even if CM stop failed
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/common/DetailedStackStatus.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/stop/ClusterStopActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/stop/ClusterStopService.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/cluster/stop/ClusterStopServiceTest.java
Labels: hacktoberfest-accepted

#13670 CB-18344: Extend nameserver ip validation with null check
  core/src/main/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/NameserverPillarDecorator.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/bootstrap/service/host/decorator/NameserverPillarDecoratorTest.java
Labels: hacktoberfest-accepted

#13665 CB-19007 Include conclusion checker into cluster stop flow
  core/src/main/java/com/sequenceiq/cloudbreak/conclusion/ConclusionChecker.java
  core/src/main/java/com/sequenceiq/cloudbreak/conclusion/ConclusionCheckerFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/conclusion/ConclusionCheckerService.java
  core/src/main/java/com/sequenceiq/cloudbreak/conclusion/ConclusionCheckerType.java
  core/src/main/java/com/sequenceiq/cloudbreak/conclusion/ConclusionResult.java
  core/src/main/java/com/sequenceiq/cloudbreak/conclusion/ConclusionStepNode.java
  core/src/main/java/com/sequenceiq/cloudbreak/conclusion/ConclusionStepNodeFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/conclusion/step/ConclusionMessage.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/stop/ClusterStopActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/ClusterStopFailedRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/ClusterDownscaleFailedConclusionHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/ClusterStopFailedHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/ClusterUpscaleFailedConclusionHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/upgrade/ClusterUpgradeFailedHandler.java
  core/src/test/java/com/sequenceiq/cloudbreak/conclusion/ConclusionCheckerServiceTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/ClusterStopFailedHandlerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/upgrade/ClusterUpgradeFailedHandlerTest.java
Labels: hacktoberfest-accepted

#13708 CB-18534 Do not fetch terminated cluster when checking for upgrade
  core/src/main/java/com/sequenceiq/cloudbreak/repository/StackDtoRepository.java
Labels: hacktoberfest-accepted

#13684 CB-19020 Freeipa pretermination recipe handler upload method doesn't …
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/termination/handler/ExecutePreTerminationRecipesHandler.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/stack/termination/handler/ExecutePreTerminationRecipesHandlerTest.java
Labels: hacktoberfest-accepted

#13608 CB-18838 Check readbeams server availablity in request time during DL…
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/response/database/DatabaseServerStatus.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/rds/RdsUpgradeService.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/service/upgrade/rds/DistroXRdsUpgradeService.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/rds/RdsUpgradeServiceTest.java
  datalake/src/main/java/com/sequenceiq/datalake/service/upgrade/database/DatabaseEngineVersionReaderService.java
  datalake/src/main/java/com/sequenceiq/datalake/service/upgrade/database/SdxDatabaseServerUpgradeAvailabilityChecker.java
  datalake/src/main/java/com/sequenceiq/datalake/service/upgrade/database/SdxDatabaseServerUpgradeService.java
  datalake/src/test/java/com/sequenceiq/datalake/service/upgrade/database/DatabaseEngineVersionReaderServiceTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/upgrade/database/SdxDatabaseServerUpgradeAvailabilityCheckerTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/upgrade/database/SdxDatabaseServerUpgradeServiceTest.java
  redbeams-api/src/main/java/com/sequenceiq/redbeams/api/model/common/Status.java
Labels: hacktoberfest-accepted

#13712 CB-19042 improve logging and sent parameters around Autoscale audit event sending
  autoscale/src/main/java/com/sequenceiq/periscope/filter/AuditFilter.java
  autoscale/src/main/java/com/sequenceiq/periscope/service/AuditService.java
  autoscale/src/test/java/com/sequenceiq/periscope/filter/AuditFilterTest.java
  autoscale/src/test/java/com/sequenceiq/periscope/service/AuditServiceTest.java
  ccm-connector/src/test/java/com/sequenceiq/cloudbreak/ccmimpl/ccmv2/CcmV2ManagementClientTest.java
  cloud-consumption/src/test/java/com/sequenceiq/consumption/service/DatahubServiceTest.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerDatabusServiceTest.java
  common/src/main/java/com/sequenceiq/cloudbreak/auth/ThreadBasedUserCrnProvider.java
  flow/src/test/java/com/sequenceiq/flow/core/AbstractActionTest.java
Labels: hacktoberfest-accepted
