Repository hortonworks/cloudbreak, pull requests merged in 2022-02, with the labels that each got.

#12156 CB-15837 Fix single resource group test teardown
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXEncryptedVolumeTest.java
Labels: bug, test, aws_e2e_test, raven

#12192 CB-15868 Fix volume device name generation on Azure
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/resource/AzureVolumeResourceBuilder.java
  cloud-azure/src/main/java/com/sequenceiq/cloudbreak/cloud/azure/resource/DeviceNameGenerator.java
Labels: DO_NOT_MERGE

#12176 CB-15294 Generate hostkeytab
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaUpgradeTests.java
Labels: test, duck

#12205 CB-15724 Set directory permission on volumes to 1777
  core/scripts/mount-ephemeral-recipe.sh
  orchestrator-salt/src/main/resources/salt/bootstrapnodes/mount-disks.sh
  orchestrator-salt/src/main/resources/salt/salt/disks/mount/scripts/mount-disks.j2
  orchestrator-salt/src/main/resources/salt/salt/disks/service/scripts/mount-instance-storage.j2
Labels: aws_e2e_test

#12153 CB-15582 Freeipa upscale/downscale e2e test
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/FreeIpaClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeIpaDownscaleAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/freeipa/FreeIpaUpscaleAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/FreeIpaTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/azure/AzureCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/EnvironmentAware.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIpaDownscaleTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIpaTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIpaUpscaleTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/freeipa/FreeIpaScalingTests.java
  integration-test/src/main/resources/testsuites/e2e/aws-e2e-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/azure-e2e-tests.yaml
  integration-test/src/main/resources/testsuites/e2e/gcp-e2e-tests.yaml
Labels: DO_NOT_MERGE

#12210 CB-15924 Adjust SdxRangerRazEnabled E2E tests to use prewarmed images
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxEnableRangerRazAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/SdxTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxRangerRazEnabledTests.java
Labels: bug, test, bobcat

#12285 CB-16122 move cloud config validation into he handler. We should use …
  core-model/src/main/java/com/sequenceiq/cloudbreak/domain/stack/instance/InstanceGroup.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/validate/cloud/CloudConfigValidationActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/validate/cloud/event/ValidateCloudConfigRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/validate/cloud/handler/ValidateCloudConfigHandler.java
Labels: aws_e2e_test

#12288 CB-16138 add ums grpc timeout
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/AuthorizationClient.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/GrpcUmsClient.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/PersonalResourceViewClient.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/UmsClient.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/config/UmsClientConfig.java
  auth-connector/src/test/java/com/sequenceiq/cloudbreak/auth/altus/GrpcUmsClientTest.java
  grpc-common/src/main/java/com/sequenceiq/cloudbreak/grpc/util/GrpcUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/UmsClient.java
Labels: real_ums_test

#12294 CB-16148. Node status responses are broken.
  autoscale/build.gradle
  cloud-mock/build.gradle
  core/build.gradle
  datalake/build.gradle
  freeipa/build.gradle
  gradle.properties
  integration-test/build.gradle
  mock-infrastructure/build.gradle
  node-status-monitor-client/build.gradle
  node-status-monitor-client/src/test/java/com/sequenceiq/node/health/client/CdpNodeStatusMonitorClientTest.java
  node-status-monitor-client/src/test/resources/responses/cm_metrics_report.json
  node-status-monitor-client/src/test/resources/responses/metering_report.json
  node-status-monitor-client/src/test/resources/responses/network_report.json
  node-status-monitor-client/src/test/resources/responses/salt_report.json
  node-status-monitor-client/src/test/resources/responses/services_report.json
  node-status-monitor-client/src/test/resources/responses/system_metrics_report.json
  redbeams/build.gradle
  secret-engine/build.gradle
  structuredevent-model/build.gradle
Labels: bug, aws_e2e_test

#12041 Cb 15528 - E2E test for upgrade with custom catalog on Data Hub cluster
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CommonClusterManagerProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXUpgradeTests.java
  integration-test/src/main/resources/application.yml
Labels: enhancement, test, duck, aws_native_e2e_test

#12298 CB-15919 Eliminate GetPlatformVMTypes request if it does not need. If…
  core/src/main/java/com/sequenceiq/cloudbreak/service/decorator/TemplateDecorator.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/decorator/TemplateDecoratorTest.java
Labels: aws_e2e_test

#12333 CB-16066 Upgrade related flows should be able to start while bind use…
  flow/src/main/java/com/sequenceiq/flow/core/Flow2Handler.java
  flow/src/main/java/com/sequenceiq/flow/domain/FlowLogIdWithTypeAndTimestamp.java
  flow/src/test/java/com/sequenceiq/flow/service/FlowNameFormatServiceTest.java
  flow/src/test/java/com/sequenceiq/flow/service/TestFlowView.java
  freeipa/build.gradle
  freeipa/src/main/java/com/sequenceiq/freeipa/FreeIpaFlowInformation.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/cloud/PlatformParameterService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/flow/FreeIpaFlowManager.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/flow/FreeIpaParallelFlowValidator.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/freeipa/user/PasswordService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/FreeIpaCreationService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/StackTemplateService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/freeipa/flow/FreeIpaParallelFlowValidatorTest.java
Labels: aws_e2e_test
