Repository hortonworks/cloudbreak, pull requests merged in 2023-02, with the labels that each got.

#14195 CB-20412 [API E2E GOV] FreeIpa deployment requests are only allowed with at least '2' instance(s) by group
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/environment/EnvironmentTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIpaTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/AbstractIntegrationTest.java
Labels: enhancement, test, raven

#14272 CB-20861 Update idbrokermappingmanagement PROTO
  idbmms-connector/src/generated/main/grpc/com/cloudera/thunderhead/service/idbrokermappingmanagement/IdBrokerMappingManagementGrpc.java
  idbmms-connector/src/generated/main/java/com/cloudera/thunderhead/service/idbrokermappingmanagement/IdBrokerMappingManagementProto.java
  idbmms-connector/src/main/proto/idbrokermappingmanagement.proto
Labels: enhancement, raven

#13719 CB-11835 Remove Mock IDBroker Mappings from API test project and E2E tests
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/StackRequestManifester.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/StackRequestManifesterTest.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/deletion/handler/IdBrokerMappingsDeleteHandler.java
  idbmms-connector/src/main/java/com/sequenceiq/cloudbreak/idbmms/GrpcIdbmmsClient.java
  idbmms-connector/src/main/java/com/sequenceiq/cloudbreak/idbmms/IdbmmsClient.java
  idbmms-connector/src/main/java/com/sequenceiq/cloudbreak/idbmms/config/IdbmmsChannelConfig.java
  idbmms-connector/src/main/java/com/sequenceiq/cloudbreak/idbmms/config/IdbmmsClientConfig.java
  idbmms-connector/src/test/java/com/sequenceiq/cloudbreak/idbmms/config/IdbmmsChannelConfigTest.java
  integration-test/build.gradle
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/idbmms/IdbmmsDeleteAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/idbmms/IdbmmsGetAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/idbmms/IdbmmsSetAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/IdbmmsTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProviderProxy.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/azure/AzureCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/azure/AzureProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/gcp/GcpCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/gcp/GcpProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/mock/MockCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/mock/MockProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/yarn/YarnCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/environment/EnvironmentTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/idbmms/IdbmmsTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/microservice/IdbmmsClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/AbstractE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXEncryptedVolumeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/environment/EnvironmentStopStartTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/environment/NewNetworkWithNoInternetEnvironmentTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/MonitoringTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/PreconditionSdxE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxRangerRazEnabledTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/DistroXClusterCreationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/EnvironmentDatalakeClusterTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/EnvironmentStartStopTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/UsedImagesTest.java
  integration-test/src/main/resources/application.yml
Labels: enhancement, test, raven

#14295 CB-20895 Workaround for Mapped Diagnostic Context issue with IDEA E2E test run
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/AbstractCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/AbstractMinimalTest.java
Labels: bug, test, raven

#14328 CB-20895 TestParameter import update
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/AbstractMinimalTest.java
Labels: bug, test, raven

#14336 Revert "CB-11835 Remove Mock IDBroker Mappings from API test project and E2E tests"
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/StackRequestManifester.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/StackRequestManifesterTest.java
  environment/src/main/java/com/sequenceiq/environment/environment/flow/deletion/handler/IdBrokerMappingsDeleteHandler.java
  idbmms-connector/src/main/java/com/sequenceiq/cloudbreak/idbmms/GrpcIdbmmsClient.java
  idbmms-connector/src/main/java/com/sequenceiq/cloudbreak/idbmms/IdbmmsClient.java
  idbmms-connector/src/main/java/com/sequenceiq/cloudbreak/idbmms/config/IdbmmsClientConfig.java
  idbmms-connector/src/main/java/com/sequenceiq/cloudbreak/idbmms/config/IdbmmsConfig.java
  idbmms-connector/src/test/java/com/sequenceiq/cloudbreak/idbmms/config/IdbmmsConfigTest.java
  integration-test/build.gradle
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/idbmms/IdbmmsDeleteAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/idbmms/IdbmmsGetAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/idbmms/IdbmmsSetAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/client/IdbmmsTestClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/CloudProviderProxy.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/aws/AwsProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/azure/AzureCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/azure/AzureProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/gcp/GcpCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/gcp/GcpProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/mock/MockCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/mock/MockProperties.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/v4/yarn/YarnCloudProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/environment/EnvironmentTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/idbmms/IdbmmsTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/microservice/IdbmmsClient.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/AbstractE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/DistroXEncryptedVolumeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/environment/EnvironmentStopStartTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/environment/NewNetworkWithNoInternetEnvironmentTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/MonitoringTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/PreconditionSdxE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxRangerRazEnabledTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/DistroXClusterCreationTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/EnvironmentDatalakeClusterTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/EnvironmentStartStopTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/mock/UsedImagesTest.java
  integration-test/src/main/resources/application.yml
Labels: revert, raven

#14319 CB-20884 add a skip window for core statuschecker to avoid CM related issues
  core/src/main/java/com/sequenceiq/cloudbreak/job/StackStatusCheckerJob.java
  core/src/test/java/com/sequenceiq/cloudbreak/job/StackStatusCheckerJobTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/job/StackStatusIntegrationTest.java
  environment/build.gradle
  flow/src/main/java/com/sequenceiq/flow/core/FlowLogService.java
  flow/src/main/java/com/sequenceiq/flow/repository/FlowLogRepository.java
  flow/src/main/java/com/sequenceiq/flow/service/flowlog/FlowLogDBService.java
  integration-test/scripts/config-ums.sh
  integration-test/scripts/create-cloudbreak-context.sh
Labels: real_ums_test

#14338 CB-20957 [API E2E] GOV E2E find MASTER InstanceIds is failing
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/FreeIpaInstanceUtil.java
Labels: bug, test, raven

#14339 CB-20958 [API E2E] GOV E2E Pre Termination test recipe is failing at Cloud Storage Base Location
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/RecipeUtil.java
Labels: bug, test, raven
