Repository hortonworks/cloudbreak, pull requests merged in 2023-07, with the labels that each got.

#15163 CB-22353 Introduce Kibana Query and S3 Cluster Logs URLs to the Jenkins TestNG Reports page
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/Clue.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/MeasuredTestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/distrox/DistroXTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/environment/EnvironmentTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/freeipa/FreeIpaTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxCustomTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxInternalTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/stack/StackTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ErrorLogMessageProvider.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/amazons3/action/S3ClientActions.java
Labels: enhancement, test, aws_e2e_test, raven

#15211 Revert "CB-21539 adding CM admin password rotation E2E to AWS suite"
  integration-test/src/main/resources/testsuites/e2e/aws-e2e-tests.yaml
Labels: bug, test

#15210 CB-22419 Unable to register GCP environment on the UI. We need to nul…
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/GcpPlatformResources.java
Labels: bug

#15219 CB-22390 Replace CCMv1 with CCMv2 in the L0 Promotion test cases
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/SdxWithCcmResizeRecoveryTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/SdxWithCcmResizeTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/EnvironmentUtil.java
  integration-test/src/main/resources/testsuites/e2e/l0promotion/ccm-sdx-tests.yaml
Labels: enhancement, test, raven

#15218 CB-22392 Improve AZURE and GCP get Cluster Logs URL methods
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/azurecloudblob/action/AzureCloudBlobClientActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/gcp/action/GcpClientActions.java
Labels: bug, test, raven

#15236 CB-22391 Replace AZURE direct URL access with 'az storage copy' commands for S3 cluster logs and format HTML view at the Jenkins TestNG test result overview
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ErrorLogMessageProvider.java
Labels: enhancement, test, raven
