Repository hortonworks/cloudbreak, pull requests merged in 2023-01, with the labels that each got.

#13971 CB-20109 Pass environment CRN for FreeIPA cluster proxy registration
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/ClusterProxyService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/stack/ClusterProxyServiceTest.java
Labels: DO_NOT_MERGE

#13959 CB-19570: Remove unused cluster start and restart CM command id polling.
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterApi.java
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterModificationService.java
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterSetupService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerRestartService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerSetupService.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationServiceTest.java
  cluster-cm/src/test/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerRestartServiceTest.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/services/restart/ClusterServicesRestartActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/services/restart/ClusterServicesRestartEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/services/restart/ClusterServicesRestartFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/services/restart/ClusterServicesRestartState.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/start/ClusterStartActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/start/ClusterStartEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/start/ClusterStartFlowConfig.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/start/ClusterStartState.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/ClusterStartPollingRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/ClusterStartPollingResult.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/ClusterStartResult.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/restart/ClusterServicesRestartPollingRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/restart/ClusterServicesRestartPollingResult.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/restart/ClusterServicesRestartResult.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/ClusterServicesRestartHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/ClusterStartHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/ClusterStartPollingHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/ClusterServicesRestartService.java
Labels: aws_e2e_test

#14084 CB-20304 GCP Sdx Backup and Restore is failing, hive_backup and ranger_backup is 0
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/amazons3/action/S3ClientActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/azure/azurecloudblob/action/AzureCloudBlobClientActions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/gcp/GcpUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/gcp/action/GcpClientActions.java
Labels: bug, test, raven

#14140 CB-20332 Remove bouncycastle as security provider
  autoscale/src/main/java/com/sequenceiq/periscope/PeriscopeApplication.java
  cloud-consumption/src/main/java/com/sequenceiq/consumption/ConsumptionApplication.java
  common/src/main/java/com/sequenceiq/cloudbreak/certificate/PkiUtil.java
  common/src/main/java/com/sequenceiq/cloudbreak/util/FipsOpenSSLLoaderUtil.java
  common/src/main/java/com/sequenceiq/cloudbreak/util/OpenSSLLoaderUtil.java
  core/src/main/java/com/sequenceiq/cloudbreak/CloudbreakApplication.java
  core/src/main/java/com/sequenceiq/cloudbreak/conf/AppConfig.java
  datalake/src/main/java/com/sequenceiq/datalake/DatalakeApplication.java
  docker-autoscale/Dockerfile
  docker-cloudbreak/Dockerfile
  docker-consumption/Dockerfile
  docker-datalake/Dockerfile
  docker-environment/Dockerfile
  docker-freeipa/Dockerfile
  docker-redbeams/Dockerfile
  environment/src/main/java/com/sequenceiq/environment/EnvironmentApplication.java
  freeipa-client/src/main/java/com/sequenceiq/freeipa/client/KeystoreUtils.java
  freeipa/src/main/java/com/sequenceiq/freeipa/FreeIpaApplication.java
  freeipa/src/main/java/com/sequenceiq/freeipa/client/FreeIpaClientBuilder.java
  redbeams/src/main/java/com/sequenceiq/redbeams/RedbeamsApplication.java
  redbeams/src/main/java/com/sequenceiq/redbeams/configuration/AppConfig.java
Labels: aws_e2e_test
