Repository hortonworks/cloudbreak, pull requests merged in 2023-03, with the labels that each got.

#14414 CB-21118 NPE in GcpAttachedDiskResourceBuilder
  cloud-gcp/src/main/java/com/sequenceiq/cloudbreak/cloud/gcp/compute/GcpAttachedDiskResourceBuilder.java
Labels: e2e-fix

#14418 CB-21126 - [E2E] Recovery test does not work with prod image catalog
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxUpgradeRecoveryTests.java
Labels: e2e-fix

#14420 CB-21131 vertical scaling test failing with unusable error message
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/environment/EnvironmentStopStartTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/aws/amazonec2/action/EC2ClientActions.java
Labels: e2e-fix

#14422 CB-21096 Avoid creating volumes for AWS when there is no non ephemera…
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/volume/AwsVolumeResourceBuilder.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/resource/volume/AwsVolumeResourceBuilderTest.java
Labels: aws_e2e_test

#14534 CB-21266 Fix NPE in EnvironmentBaseNetworkConverter
  environment/src/main/java/com/sequenceiq/environment/network/v1/converter/EnvironmentBaseNetworkConverter.java
Labels: forward_merge

#14544 CB-21290 Introduce skip logic for SafeLogic Validation in the E2E tests
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxDeleteAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxDeleteCustomAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxDeleteInternalAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/v1/distrox/DistroXDeleteAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/MeasuredTestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/AbstractE2ETest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/java/ForceJavaVersionE2ETest.java
Labels: bug, test, aws_e2e_test

#14571 RELENG-20767: Trying to fix CB gradle daemon crash
  gradle.properties
Labels: bug

#14528 CB-21327 Temporary data is not removed if restore fails and exits w…
  orchestrator-salt/src/main/resources/salt/salt/postgresql/disaster_recovery/scripts/backup_db.sh
  orchestrator-salt/src/main/resources/salt/salt/postgresql/disaster_recovery/scripts/restore_db.sh
Labels: bug

#14573 CB-21341: Add yarn-GATEWAY-BASE role to the coordinator node
  core/src/main/resources/defaults/blueprints/7.2.15/cdp-rt-data-mart.bp
  core/src/main/resources/defaults/blueprints/7.2.16/cdp-rt-data-mart-spark3.bp
  core/src/main/resources/defaults/blueprints/7.2.16/cdp-rt-data-mart.bp
  core/src/main/resources/defaults/blueprints/7.2.17/cdp-rt-data-mart-spark3.bp
  core/src/main/resources/defaults/blueprints/7.2.17/cdp-rt-data-mart.bp
Labels: bug
