Repository hortonworks/cloudbreak, pull requests merged in 2023-06, with the labels that each got.

#15010 CDPSDX-4157 Fixed "remote_admin is undefined" error on database backup
  orchestrator-salt/src/main/resources/salt/salt/postgresql/disaster_recovery/backup.sls
Labels: bug

#15062 DOCS-17232 modify <BACKUP_LOCATION_BASE> to to be more consistent on…
  cloud-aws-cloudformation/src/main/resources/definitions/aws-datalake-backup-policy.json
  cloud-aws-cloudformation/src/main/resources/definitions/aws-datalake-restore-policy.json
Labels: last_minute

#15080 CB-22006 Validate CCMv2 Server connectivity
  core/src/main/java/com/sequenceiq/cloudbreak/service/upgrade/validation/DiskSpaceValidationService.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/upgrade/validation/DiskSpaceValidationServiceTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/upgrade/ccm/CheckResult.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/upgrade/ccm/ConnectivityCheckResponse.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/upgrade/ccm/UpgradeCcmService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/flow/stack/upgrade/ccm/handler/UpgradeCcmCheckPrerequisitesHandler.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/orchestrator/OrchestratorParamsProvider.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/proxy/ModifyProxyConfigOrchestratorService.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/upgrade/ccm/UpgradeCcmOrchestratorService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/chain/UpgradeCcmFlowChainIntegrationTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/stack/upgrade/ccm/UpgradeCcmFlowIntegrationTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/stack/upgrade/ccm/UpgradeCcmServiceTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/flow/stack/upgrade/ccm/handler/UpgradeCcmCheckPrerequisitesHandlerTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/orchestrator/OrchestratorParamsProviderTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/proxy/ModifyProxyConfigOrchestratorServiceTest.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/upgrade/ccm/UpgradeCcmOrchestratorServiceTest.java
  orchestrator-api/src/main/java/com/sequenceiq/cloudbreak/orchestrator/host/HostOrchestrator.java
  orchestrator-api/src/main/java/com/sequenceiq/cloudbreak/orchestrator/host/OrchestratorRunParams.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestrator.java
Labels: last_minute

#14928 CB-21912 Remove all CCM upgrade-related entitlements
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementService.java
  auth-connector/src/main/java/com/sequenceiq/cloudbreak/auth/altus/model/Entitlement.java
  auth-connector/src/test/java/com/sequenceiq/cloudbreak/auth/altus/EntitlementServiceTest.java
  environment/src/main/java/com/sequenceiq/environment/environment/service/EnvironmentUpgradeCcmService.java
  environment/src/test/java/com/sequenceiq/environment/environment/service/EnvironmentUpgradeCcmServiceTest.java
  freeipa/src/main/java/com/sequenceiq/freeipa/service/stack/FreeIpaUpgradeCcmService.java
  freeipa/src/test/java/com/sequenceiq/freeipa/service/stack/FreeIpaUpgradeCcmServiceTest.java
  mock-thunderhead/src/main/java/com/sequenceiq/thunderhead/grpc/service/auth/MockUserManagementService.java
  mock-thunderhead/src/main/resources/application.yml
Labels: last_minute

#15106 CB-22251 CB core doesn't wait for FreeIPA cleanup
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/CleanupFreeIpaHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/freeipa/FreeIpaCleanupService.java
  core/src/test/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/CleanupFreeIpaHandlerTest.java
Labels: aws_e2e_test

#15114 CB-22274 adding additional validation for azure vertical scaling whic…
  environment-common/src/main/java/com/sequenceiq/cloudbreak/service/verticalscale/VerticalScaleInstanceProvider.java
  environment-common/src/test/java/com/sequenceiq/cloudbreak/service/verticalscale/VerticalScaleInstanceProviderTest.java
Labels: last_minute

#15129 CDPSDX-4175 Add "/backups" to both backup & restore location on RAZ r…
  datalake/src/main/java/com/sequenceiq/datalake/flow/SdxReactorFlowManager.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/backup/DatalakeBackupActions.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/restore/DatalakeRestoreActions.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/dr/SdxBackupRestoreService.java
  datalake/src/test/java/com/sequenceiq/datalake/flow/SdxReactorFlowManagerTest.java
Labels: bug
