Repository hortonworks/cloudbreak, pull requests merged in 2023-05, with the labels that each got.

#14752 CB-21551 API E2E Refactor the MOCK_UMS_PASSWORD with getWorkloadPassword and getWorkloadUserName in the test project
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/CloudbreakTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/datalake/RecipeTestAssertion.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/assertion/proxy/ProxyConfigCmAssertions.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/MeasuredTestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/context/TestContext.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/ephemeral/DistroXRepairTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/ephemeral/DistroXStopStartTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/distrox/ephemeral/DistroXUpgradeTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/environment/EnvironmentStopStartTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/hybrid/AwsYcloudHybridCloudTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/DistroXRepairTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/EnvironmentPrivilegedUserTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/InternalSdxSshAndCmAccessTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/InternalSdxRepairWithRecipeTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxRecipeTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/clouderamanager/ClouderaManagerUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/clouderamanager/action/ClouderaManagerClientActions.java
Labels: enhancement, test, real_ums_test, raven

#14836 Revert "CB-20813 Fix the double slashes issue for permission precheck failure message"
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/util/AwsIamService.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/util/AwsIamServiceTest.java
Labels: bug

#14843 CB-21778 Append "/backups" to backupLocation on Upgrade/Resize if RAZ…
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/backup/DatalakeBackupActions.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/dr/SdxBackupRestoreService.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/dr/SdxBackupRestoreServiceTest.java
Labels: bug

#14746 CB-18277 configure Java services to use PKCS11 with NSS DB in non-FIPS environments
  docker-autoscale/Dockerfile
  docker-autoscale/bootstrap/start_autoscale_app.sh
  docker-cloudbreak/Dockerfile
  docker-cloudbreak/bootstrap/start_cloudbreak_app.sh
  docker-consumption/Dockerfile
  docker-consumption/bootstrap/start_consumption_app.sh
  docker-datalake/Dockerfile
  docker-datalake/bootstrap/start_datalake_app.sh
  docker-environment/Dockerfile
  docker-environment/bootstrap/start_environment_app.sh
  docker-freeipa/Dockerfile
  docker-freeipa/bootstrap/start_freeipa_app.sh
  docker-redbeams/Dockerfile
  docker-redbeams/bootstrap/start_redbeams_app.sh
  integration-test/scripts/docker-compose.sh
  mock-infrastructure/src/main/resources/keystore/infrastructure-mock.pem
Labels: DO_NOT_MERGE

#14892 CB-21564 Set providerclass for keytool in setup-autotls
  orchestrator-salt/src/main/resources/salt/salt/cloudera/manager/scripts/setup-autotls.sh.j2
Labels: aws_e2e_test

#14854 CB-21803: Fixed failing enterprise e2e tests which require specific 7.2.17 image catalog.
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/HostGroupType.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/InstanceCountParameter.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/AbstractSdxTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/InstanceGroupTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxInternalTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/dto/sdx/SdxTestDto.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxRepairTests.java
  integration-test/src/main/resources/testsuites/e2e/sdx-repair-tests.yaml
Labels: enhancement, test, bat

#14883 CB-21815 Generate self signed certificate for freeipa-healthagent
  freeipa/src/main/resources/freeipa-salt/salt/freeipa/scripts/freeipa_healthagent_getcerts.sh
Labels: aws_e2e_test

#14939 CB-21938 [GOV-DEV E2E] BlueprintListAction is failing: Illegal base64 character 5c
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/actor/CloudbreakUserCache.java
Labels: bug, test, aws_e2e_test, real_ums_test, raven

#14958 CB-21984 do not create ApacheClient for every AWS client, instead use a…
  cloud-aws-cloudformation/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/AwsCloudFormationClient.java
  cloud-aws-cloudformation/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsValidatorsTest.java
  cloud-aws-common/build.gradle
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsClient.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsSessionCredentialClient.java
  cloud-aws-common/src/main/java/com/sequenceiq/cloudbreak/cloud/aws/common/client/AwsApacheClient.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsAuthenticatorTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsInstanceConnectorTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/AwsSessionCredentialClientTest.java
  cloud-aws-common/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/common/validator/AwsStorageValidatorsTest.java
  cloud-aws-native/src/test/java/com/sequenceiq/cloudbreak/cloud/aws/AwsNativeMetadataCollectorApiIntegrationTest.java
Labels: aws_e2e_test, aws_native_e2e_test

#14922 CB-21155: Added logging of stack status and status reason to instance wait object upon failure for E2E tests.
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/wait/service/instance/cloudbreak/CloudbreakInstanceWaitObject.java
Labels: enhancement, e2e-fix

#14953 CB-21906: Fixed failing E2E tests for EDL creation.
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/cloud/HostGroupType.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/sdx/SdxRepairTests.java
Labels: e2e-fix
