Repository hortonworks/cloudbreak, pull requests merged in 2023-04, with the labels that each got.

#14607 2.70 merge to master
  common/src/main/java/com/sequenceiq/cloudbreak/telemetry/TelemetryFeatureService.java
  common/src/test/java/com/sequenceiq/cloudbreak/telemetry/TelemetryFeatureServiceTest.java
Labels: forward_merge

#14594 CB-21316 Extend E2E test coverage with cdp-doctor network, fluentd an…
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/DistroXRepairTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/testcase/e2e/l0promotion/MonitoringTests.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/SshJUtil.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/util/ssh/action/SshJClientActions.java
Labels: enhancement, test, raven

#14626 CB-21386 Remove old Persicope Mock from the Cloudbreak project
  cloudera/docker_images.yaml
  mock/periscope/Dockerfile
  mock/periscope/Makefile
  mock/periscope/README.md
  mock/periscope/api/swagger.yaml
  mock/periscope/controllers/Health.js
  mock/periscope/controllers/HealthService.js
  mock/periscope/controllers/V1alerts.js
  mock/periscope/controllers/V1alertsService.js
  mock/periscope/controllers/V1clusters.js
  mock/periscope/controllers/V1clustersService.js
  mock/periscope/controllers/V1configurations.js
  mock/periscope/controllers/V1configurationsService.js
  mock/periscope/controllers/V1history.js
  mock/periscope/controllers/V1historyService.js
  mock/periscope/controllers/V1policies.js
  mock/periscope/controllers/V1policiesService.js
  mock/periscope/controllers/V2clusters.js
  mock/periscope/controllers/V2clustersService.js
  mock/periscope/deploy.sh
  mock/periscope/index.js
  mock/periscope/package.json
  mock/periscope/responses/alerts/metric-alerts.json
  mock/periscope/responses/alerts/qa-definitions.json
  mock/periscope/responses/alerts/test-alert.json
  mock/periscope/responses/alerts/time-alerts.json
  mock/periscope/responses/clusters/1.json
  mock/periscope/responses/clusters/2.json
  mock/periscope/responses/clusters/3.json
  mock/periscope/responses/clusters/4.json
  mock/periscope/responses/configurations/default-configuration.json
  mock/periscope/responses/policies/policies.json
  mock/periscope/responses/policies/test-policy.json
Labels: enhancement, test, aws_e2e_test, real_ums_test

#14527 CDPSDX-3995 Throw errors when jobs.lookup_jid returns empty response
  mock-infrastructure/src/main/java/com/sequenceiq/mock/salt/response/JobsLookupJidSaltResponse.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/poller/SaltJobIdTracker.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/states/SaltEmptyResponseException.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/states/SaltStateService.java
  orchestrator-salt/src/test/java/com/sequenceiq/cloudbreak/orchestrator/salt/states/SaltStateServiceTest.java
Labels: bug

#14612 CB-21382 Make retry number and timeout duration configurable for DB…
  core-api/src/main/java/com/sequenceiq/cloudbreak/api/endpoint/v4/stacks/StackV4Endpoint.java
  core/src/main/java/com/sequenceiq/cloudbreak/controller/v4/StackV4Controller.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/chain/BackupDatalakeDatabaseFlowEventChainFactory.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/dr/AbstractBackupRestoreActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/dr/BackupRestoreContext.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/dr/backup/DatabaseBackupActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/cluster/datalake/dr/restore/DatabaseRestoreActions.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/event/DatabaseBackupTriggerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/event/DatabaseRestoreTriggerEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/flow2/service/ReactorFlowManager.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/dr/BackupRestoreEvent.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/dr/backup/DatabaseBackupRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/api/event/cluster/dr/restore/DatabaseRestoreRequest.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/dr/backup/DatabaseBackupHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/dr/restore/DatabaseRestoreHandler.java
  core/src/main/java/com/sequenceiq/cloudbreak/service/DatabaseBackupRestoreService.java
  core/src/main/java/com/sequenceiq/distrox/v1/distrox/StackOperations.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/ReactorFlowManagerTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/core/flow2/chain/BackupDatalakeDatabaseFlowEventChainFactoryTest.java
  core/src/test/java/com/sequenceiq/cloudbreak/service/DatabaseBackupRestoreServiceTest.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/endpoint/SdxBackupEndpoint.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/endpoint/SdxRestoreEndpoint.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/model/ModelDescriptions.java
  datalake-api/src/main/java/com/sequenceiq/sdx/api/model/SdxDatabaseBackupRequest.java
  datalake/src/main/java/com/sequenceiq/datalake/controller/sdx/SdxBackupController.java
  datalake/src/main/java/com/sequenceiq/datalake/controller/sdx/SdxRestoreController.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/chain/DatalakeResizeFlowEventChainFactory.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/chain/DatalakeUpgradeFlowEventChainFactory.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/backup/DatalakeBackupActions.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/backup/event/DatalakeDatabaseBackupStartEvent.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/backup/event/DatalakeDatabaseBackupWaitRequest.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/backup/event/DatalakeFullBackupWaitRequest.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/backup/event/DatalakeTriggerBackupEvent.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/backup/handler/DatalakeDatabaseBackupWaitHandler.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/backup/handler/DatalakeFullBackupWaitHandler.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/restore/DatalakeRestoreActions.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/restore/event/DatalakeDatabaseRestoreStartEvent.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/restore/event/DatalakeDatabaseRestoreWaitRequest.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/restore/event/DatalakeFullRestoreWaitRequest.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/restore/event/DatalakeTriggerRestoreEvent.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/restore/handler/DatalakeDatabaseRestoreWaitHandler.java
  datalake/src/main/java/com/sequenceiq/datalake/flow/dr/restore/handler/DatalakeFullRestoreWaitHandler.java
  datalake/src/main/java/com/sequenceiq/datalake/service/sdx/dr/SdxBackupRestoreService.java
  datalake/src/test/java/com/sequenceiq/datalake/flow/dr/restore/DatalakeRestoreActionsTest.java
  datalake/src/test/java/com/sequenceiq/datalake/service/sdx/dr/SdxBackupRestoreServiceTest.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxBackupAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxBackupInternalAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxRestoreAction.java
  integration-test/src/main/java/com/sequenceiq/it/cloudbreak/action/sdx/SdxRestoreInternalAction.java
  orchestrator-api/src/main/java/com/sequenceiq/cloudbreak/orchestrator/host/HostOrchestrator.java
  orchestrator-salt/src/main/java/com/sequenceiq/cloudbreak/orchestrator/salt/SaltOrchestrator.java
Labels: bug

#14577 CDPD-43642, increase CM memory threshold on all host
  cluster-api/src/main/java/com/sequenceiq/cloudbreak/cluster/api/ClusterModificationService.java
  cluster-cm/src/main/java/com/sequenceiq/cloudbreak/cm/ClouderaManagerModificationService.java
  core/src/main/java/com/sequenceiq/cloudbreak/core/cluster/ClusterBuilderService.java
  core/src/test/java/com/sequenceiq/cloudbreak/reactor/handler/cluster/ClusterStartHandlerTest.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/saas/sdx/PaasSdxService.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/saas/sdx/SaasSdxService.java
  sdx-connector/src/main/java/com/sequenceiq/cloudbreak/saas/sdx/SdxService.java
Labels: DO_NOT_MERGE
